#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
# SETTLING_QUAD_GANTRY_LEVEL Setup 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#SETTLING_QUAD_GANTRY_LEVEL
[settling_quad_gantry_level]
# settling_quad_gantry_level can be found in file 'settling_quad_gantry_level.py' and uses the following item:
#    1. settling_probe which has one option parameter called 'settling_sample' and the code can be found in settling_probe.py file
#    2. settling_quad_gantry_level does not have any additional option parameters


