#.................................................................................................................
# PROBE_ACCURACY_LOOP - No additional options / Usage: NONE
#
# Continuously run PROBE_ACCURACY while:
#     - idling for START_IDLE_MINUTES
#     - heating the bed to BED_TEMP
#     - once at BED_TEMP, letting the bed soak for BED_SOAK_MINUTES
#     - with the bed still on, heating the extruder to EXTRUDER_TEMP
#     - once at EXTRUDER_TEMP, letting the extruder soak for EXTRUDER_SOAK_MINUTES
#     - turning off the heaters, and idling for END_IDLE_MINUTES
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
# variable_state
# variable_next_state
# variable_dwell_lift_z
# variable_start_idle_minutes
# variable_bed_temp 
# variable_bed_soak_minutes
# variable_extruder_temp
# variable_extruder_soak_minutes
# variable_end_idle_minutes
# variable_dwell_seconds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _GLOBAL_VARS
# PROBE_ACCURACY_SET_NEXT_STATE
# M140
# TURN_OFF_HEATERS
# ATTACH_PROBE_LOCK
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/KiloQubit/probe_accuracy
##      
#.................................................................................................................
# PROBE_ACCURACY_LOOP
[delayed_gcode probe_accuracy_loop]
gcode:
    {% set tmacro = printer['gcode_macro _GLOBAL_VARS'] %}

    {% if tmacro.state == 'start' %}
        { action_respond_info('TEST_PROBE_ACCURACY: START') }
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state VALUE='"start_idle"'
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=next_state VALUE='"start_idle_done"'
        UPDATE_DELAYED_GCODE ID=probe_accuracy_set_next_state DURATION={ tmacro.start_idle_minutes|int * 60 }

    {% elif tmacro.state == 'start_idle_done' %}
        {% if tmacro.bed_temp >= 0 %}
            M140 S{ tmacro.bed_temp }
            { action_respond_info('TEST_PROBE_ACCURACY: BED HEATING TO %s' % tmacro.bed_temp) }
            SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state VALUE='"bed_heating"'
        {% else %}
            # Skip heating and soaking the bed, go directly to bed_soaked state.
            SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state VALUE='"bed_soaked"'
        {% endif %}

    {% elif tmacro.state == 'bed_heating' %}
        {% if printer.heater_bed.temperature >= tmacro.bed_temp %}
            { action_respond_info('TEST_PROBE_ACCURACY: BED HEATED TO %s' % tmacro.bed_temp) }
            SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state VALUE='"bed_soaking"'
            SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=next_state VALUE='"bed_soaked"'
            UPDATE_DELAYED_GCODE ID=probe_accuracy_set_next_state DURATION={ tmacro.bed_soak_minutes|int * 60 }
        {% endif %}

    {% elif tmacro.state == 'bed_soaked' %}
        {% if tmacro.bed_temp >= 0 %}
            { action_respond_info('TEST_PROBE_ACCURACY: BED SOAKED') }
        {% endif %}
        {% if tmacro.extruder_temp >= 0 %}
            M104 S{ tmacro.extruder_temp }
            { action_respond_info('TEST_PROBE_ACCURACY: EXTRUDER HEATING TO %s' % tmacro.extruder_temp) }
            SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state VALUE='"extruder_heating"'
        {% else %}
            # Skip heating and soaking the extruder, go directly to extruder_soaked state.
            SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state VALUE='"extruder_soaked"'
        {% endif %}

    {% elif tmacro.state == 'extruder_heating' %}
        {% if printer.extruder.temperature >= tmacro.extruder_temp %}
            { action_respond_info('TEST_PROBE_ACCURACY: EXTRUDER HEATED TO %s' % tmacro.extruder_temp) }
            SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state VALUE='"extruder_soaking"'
            SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=next_state VALUE='"extruder_soaked"'
            UPDATE_DELAYED_GCODE ID=probe_accuracy_set_next_state DURATION={ tmacro.extruder_soak_minutes|int * 60 }
        {% endif %}

    {% elif tmacro.state == 'extruder_soaked' %}
        {% if tmacro.extruder_temp >= 0 %}
            { action_respond_info('TEST_PROBE_ACCURACY: EXTRUDER SOAKED') }
        {% endif %}
        TURN_OFF_HEATERS
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state VALUE='"end_idle"'
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=next_state VALUE='"done"'
        UPDATE_DELAYED_GCODE ID=probe_accuracy_set_next_state DURATION={ tmacro.end_idle_minutes|int * 60 }

    {% elif tmacro.state == 'done' %}
        { action_respond_info('TEST_PROBE_ACCURACY: DONE') }
        G90
        G1 Z30
        UPDATE_DELAYED_GCODE ID=probe_accuracy_loop DURATION=0

    {% endif %}

    {% if tmacro.state != 'done' %}
        M105
        ATTACH_PROBE_LOCK
        _PROBE_ACCURACY 
        {% if tmacro.dwell_lift_z >= 0 %}
            G1 Z{ tmacro.dwell_lift_z }
        {% endif %}
        M400
        UPDATE_DELAYED_GCODE ID=probe_accuracy_loop DURATION={ tmacro.dwell_seconds }
    {% endif %}
	