#.................................................................................................................
# _TEST_PROBE1 - required parameters: TEST_LOOP{loop_number}  / Usage: _TEST_PROBE1 TEST_LOOP={LOOP}
#
#   This macro continuously records the z-height during a heat-soak cycle. The findings are stored in the file: ~/probe_results.cfg via the [save_variables] function.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# the file: ~/probe_results.cfg via the [save_variables] function
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/INACTIVE/UTILITY-CHK_HEAT_EXPANSION.cfg
#      
#.................................................................................................................

[gcode_macro _TEST_PROBE1]
gcode:
    {% set LOOP = params.TEST_LOOP|float %}
    {% set PASS = printer.probe.last_z_result %}
    M118 Current Median is: {PASS}
    M118 Bed temp: {printer.heater_bed.temperature}
    M118 Time: {printer.toolhead.estimated_print_time}
    G0 Z25 F100
    G4 P2000
    SAVE_VARIABLE VARIABLE={LOOP} VALUE={printer.heater_bed.temperature},{PASS},{printer.toolhead.estimated_print_time}
    