#.................................................................................................................
# _TEST_PROBE0 - required parameters: TEST_LOOP{loop_number}  / Usage: _TEST_PROBE0 TEST_LOOP={LOOP}
#
#   This macro is the loop section for CHK_HEAT_EXPANSION macro.  This macro probes the bed 10 times and then calls the routine to save the findings.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_speed
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _TEST_PROBE1
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/INACTIVE/UTILITY-CHK_HEAT_EXPANSION.cfg
#                 https://www.klipper3d.org/G-Codes.html#probe
#.................................................................................................................

[gcode_macro _TEST_PROBE0]
description: Helper: CHK_HEAT_EXPANSION macro; probes the bed 10 times
gcode:
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set ZSpeed = user.speed.ZprobeSpeed|float %}
    {% set ZSamples = user.speed.ZprobeSamples|int %}
    {% set ZTolerance = user.speed.ZprobeTolerance|float %}
    {% set ZRetract = user.speed.ZprobeRetract|float %}
    {% set S_Retries = printer.configfile.config.probe.samples_tolerance_retries|int %}
    {% set LOOP = params.TEST_LOOP|float %}
    PROBE samples_result=median samples={ZSamples} speed={ZSpeed} samples_tolerance={ZTolerance} samples_tolerance_retries={S_Retries} sample_retract_dist={ZRetract}
    _TEST_PROBE1 TEST_LOOP={LOOP}
    