#.................................................................................................................
# CHK_HEAT_EXPANSION - No additional options / Usage: CHK_HEAT_EXPANSION
#
#   This macro continuously records the z-height during a heat-soak cycle. The first ten probe checks are performed
#   cold to establish a baseline, and then the bed will be heated with checks continuing. Findings are stored in the
#   file: ~/probe_results.cfg via the [save_variables] function.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_filament.profile.PostPrintCool
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# PARK_UpperRight
# CURRENT_HIGH
# ATTACH_PROBE_LOCK
# CURRENT_NORMAL
# M402
# G28
# G28 Z
# QUAD_GANTRY_LEVEL
# _COOL_WAIT
# M140
# M117
# TURN_OFF_HEATERS
# _TEST_PROBE0
# _USER_VARIABLE
# _CG28
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/INACTIVE/UTILITY-CHK_HEAT_EXPANSION.cfg
#      
#.................................................................................................................
[gcode_macro CHK_HEAT_EXPANSION]
description: Helper: CHK_HEAT_EXPANSION macro; continuously records the z-height during a heat-soak cycle
gcode:
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    BED_MESH_CLEAR
    CURRENT_HIGH
    _CG28
    #ATTACH_PROBE_LOCK
    QUAD_GANTRY_LEVEL HOME=False PARK=False
    #QUAD_GANTRY_LEVEL
    G28 Z
    G90
    {% set X_MID = printer.configfile.config.stepper_x.position_max|float / 2.0 %}
    {% set Y_MID = printer.configfile.config.stepper_y.position_max|float / 2.0 %}
    G0 X{X_MID} Y{Y_MID} F4000
    {% for LOOP in range(0, 9) %}
        M117 Testing... {i}.
        _TEST_PROBE0 TEST_LOOP={LOOP}
    {% endfor %}
    M140 S110
    {% for LOOP in range(10, 1000) %}
        M117 Testing... {i}.
        _TEST_PROBE0 TEST_LOOP={LOOP}
    {% endfor %}
    TURN_OFF_HEATERS
    CURRENT_NORMAL
    G90
    M402
    _COOL_WAIT MINUTES={user.filament.profile.PostPrintCool|float}
    PARK_UpperRight
    M18 X Y E
    
