#.................................................................................................................
# PROBE_ACCURACY_SET_NEXT_STATE- No additional options / Usage: NONE
#
# this macro updates the variable_state from gcode_macro _GLOBAL_VARS
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_state
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/KiloQubit/probe_accuracy
##      
#.................................................................................................................
#PROBE_ACCURACY_SET_NEXT_STATE
[delayed_gcode probe_accuracy_set_next_state]
gcode:
    {% set tmacro = printer['gcode_macro _GLOBAL_VARS'] %}
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state VALUE='"{ tmacro.next_state }"'
	