#.................................................................................................................
# PROBE_ACCURACY_SET_NEXT_STATE- No additional options / Usage: NONE
#
# this macro updates the variable_state from gcode_macro TEST_PROBE_ACCURACY
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro TEST_PROBE_ACCURACY]
#  variable_state
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# TEST_PROBE_ACCURACY
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/KiloQubit/probe_accuracy
##      
#.................................................................................................................
#PROBE_ACCURACY_SET_NEXT_STATE
[delayed_gcode probe_accuracy_set_next_state]
gcode:
    {% set tmacro = printer['gcode_macro TEST_PROBE_ACCURACY'] %}
    SET_GCODE_VARIABLE MACRO=TEST_PROBE_ACCURACY VARIABLE=state VALUE='"{ tmacro.next_state }"'
	