#
# URL: https://github.com/KiloQubit/probe_accuracy
#
[delayed_gcode probe_accuracy_set_next_state]
gcode:
    {% set tmacro = printer['gcode_macro TEST_PROBE_ACCURACY'] %}
    SET_GCODE_VARIABLE MACRO=TEST_PROBE_ACCURACY VARIABLE=state VALUE='"{ tmacro.next_state }"'
	