# _FAN_STOPPAGE_ROUTINE
[gcode_macro _FAN_STOPPAGE_ROUTINE]
gcode:
    M117 !!FAN BLOCKED!!
    M118 FAN STOPPAGE DETECTED. PAUSING...
    #LCDRGB R=1 G=0 B=0                           ; Turn LCD red
    SET_LED_EFFECT EFFECT=rainbow_barf910 STOP=1  ; turn of the LED_EFFECT
    SET_LED_EFFECT EFFECT=rainbow_barf1114 STOP=1 ; turn of the LED_EFFECT
    SET_LED_EFFECT EFFECT=rainbow_barf1516 STOP=1 ; turn of the LED_EFFECT
    SET_LOGO_LEDS_BY_NAME COLOR="RED"             ; Turn logo LEDs red
    PAUSE                                         ; My pause macro turns off the hotend. 