#.................................................................................................................
# _FAN_STOPPAGE_ROUTINE - No additional options / Usage: _FAN_STOPPAGE_ROUTINE
#
#   The Fans on the toolhead have been detected as no longer turning when they should be on, therefore
#   PAUSE the printer and set the RGB LEDs on the hotend LOGO to inidicated a FAN_STOPPAGE has occurred
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# M117
# PAUSE
# SET_LOGO_LEDS_BY_NAME
# SET_LOGO_LEDS_OFF
# SET_FAN_LEDS_OFF
# SET_NOZZLE_LEDS_BY_NAME
# SET_FAN_LEDS_BY_NAME
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/hotend_fan_monitoring.html#hotend-fan-rpm-monitoring
##      
#.................................................................................................................

# _FAN_STOPPAGE_ROUTINE
[gcode_macro _FAN_STOPPAGE_ROUTINE]
description: Helper: PAUSES the printer if a toolhead fan has FAILED!
gcode:
    _general_Debug msg="_FAN_STOPPAGE_ROUTINE - entering"           
    M117 !!FAN BLOCKED!!                                            
    M118 FAN STOPPAGE DETECTED. PAUSING...                          
    SET_LOGO_LEDS_OFF                                               ;Turn off logo LEDs
    SET_FAN_LEDS_OFF                                                ;Turn off fan LEDs
    SET_NOZZLE_LEDS_BY_NAME COLOR="OFF"                             ;Turn nozzle logo LEDs
    SET_LOGO_LEDS_BY_NAME COLOR="RED"                               ;Turn logo LEDs red
    SET_FAN_LEDS_BY_NAME COLOR="RED"                                ;Turn fan LEDs red
    SET_NOZZLE_LEDS_BY_NAME COLOR="RED"                             ;Turn nozzle LEDs red
    PAUSE                                                           ;My pause macro turns off the hotend fan. 
    _general_Debug msg="_FAN_STOPPAGE_ROUTINE - exiting"            