#.................................................................................................................
# _HOTEND_FAN_CHECK - Optional parameters: BED_TEMP / Usage: _HOTEND_FAN_CHECK
#
#   This macro checks to see if the hotend fan rpm is below 3500 which means the hotend fan has stalled.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
# variable_he_stop_count
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _FAN_STOPPAGE_ROUTINE
#.................................................................................................................
#.................................................................................................................
#
## URL Resources: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/hotend_fan_monitoring.html#hotend-fan-rpm-monitoring
##      
#.................................................................................................................

 # _HOTEND_FAN_CHECK
[gcode_macro _HOTEND_FAN_CHECK]
# Using Orion Fans OD4010-24HB01A (3-wire, 24V,GND, and Tach Sig)
# URL: https://www.digikey.com/en/products/detail/orion-fans/OD4010-24HB01A/2621114
# Speed 255 = a little over 8000 RPM
# 3500 = 43.75%
#variable_he_stop_count: 0
gcode:
    _general_Debug msg="_HOTEND_FAN_CHECK - entering"                                                                 ;if debug enabled display message
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set min_rpm = 3500|float %}
    {% set max_consecutive_stops = 3 %}
    {% set rpm = printer['heater_fan fan_hotend'].rpm|float %}
    {% set he_target = printer.extruder.target|float %}
    {% set he_temp = printer.extruder.temperature|float %}
    {% set fan_on_temp = printer.configfile.settings['heater_fan fan_hotend'].heater_temp|float %}
    {% set he_stop_count = global.he_stop_count|int %}
    {% if (he_target >= fan_on_temp) and (rpm < min_rpm) and (he_temp >= fan_on_temp) %}
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=he_stop_count VALUE={he_stop_count + 1}
        M118 WARNING: Hot End Fan stoppage detected ({he_stop_count+1}/{max_consecutive_stops}).
        M400
        {% if printer["gcode_macro _GLOBAL_VARS"].he_stop_count|int >= max_consecutive_stops-1 %}
            _FAN_STOPPAGE_ROUTINE
        {% endif %}
    {% else %}
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=he_stop_count VALUE=0
    {% endif %}
    _general_Debug msg="_HOTEND_FAN_CHECK - exiting"                                                                  ;if debug enabled display message
