#.................................................................................................................
# _PART_COOLING_FAN_CHECK - Optional parameters: BED_TEMP / Usage: _PART_COOLING_FAN_CHECK
#
#   This macro checks to see if the part cooling fan rpm is below 600 which means the part cooling fan has stalled.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
# variable_fancheckvars_part_cooling_fan_enabled
# variable_pc_stop_count
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _FAN_STOPPAGE_ROUTINE
# _GLOBAL_VARS
#
#.................................................................................................................
#.................................................................................................................
#
## URL Resources: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/hotend_fan_monitoring.html#hotend-fan-rpm-monitoring
##      
#.................................................................................................................
 # _PART_COOLING_FAN_CHECK
[gcode_macro _PART_COOLING_FAN_CHECK]
# if the the part fan has been enabled, and the hot_end_fan is running check to see if the Part coooling fan is still turning
# Model:MF50152VX-1L01C-Q99
# URL: https://www.ebay.com/itm/255029064666
# Size:50X50X15mm
# Voltage:DC 24V
# Current:max 81mA
# Watt:1.95W
# Rotation:6000+-10% RPM
# Air Flow:4.8CFM
# Noise:43.8dBA
# 4-wire lead
#
# 600 RPM = 10%
#
#variable_pc_stop_count: 0
gcode:
    _general_Debug msg="_PART_COOLING_FAN_CHECK - entering"                     ;if debug enabled display message
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set pc_stop_count = global.pc_stop_count|int %}
    {% set min_rpm = 600|float %}
    {% set max_consecutive_stops = 3 %}
    {% set rpm = printer.fan.rpm|float %}
	{% set he_target = printer.extruder.target|float %}
    {% set he_temp = printer.extruder.temperature|float %}
    {% set fan_on_temp = printer.configfile.settings['heater_fan fan_hotend'].heater_temp|float %}
    {% set pc_enabled = global.fancheckvars_part_cooling_fan_enabled|int %}	    
    {% if (he_target >= fan_on_temp) and (rpm < min_rpm) and (he_temp >= fan_on_temp) and (pc_enabled) %}
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=pc_stop_count VALUE={pc_stop_count + 1}
        M118 WARNING: Part Cooling Fan stoppage detected ({pc_stop_count+1}/{max_consecutive_stops}).
        M400
        {% if printer["gcode_macro  _GLOBAL_VARS"].pc_stop_count|int >= max_consecutive_stops-1 %}
            _FAN_STOPPAGE_ROUTINE
        {% endif %}
    {% else %}
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=pc_stop_count VALUE=0
    {% endif %}
       _general_Debug msg="_PART_COOLING_FAN_CHECK - exiting"                     ;if debug enabled display message
