#.................................................................................................................
# INFO_FAN_CHECK - No additional options / Usage: INFO_FAN_CHECK
#
#  displays the following information:
#      HotEnd Fan min_rpm = 3500;
#      HotEnd Fan current_rpm = %.2f;
#      HotEnd Fan max_consecutive_stops = 3;
#      HotEnd Fan stop_count = %d;
#      PartCooling Fan Enabled = %d;
#      PartCooling Fan min_rpm = 600;
#      PartCooling Fan current_rpm = %.2f;
#      PartCooling Fan max_consecutive_stops = 3;
#      PartCooling Fan stop_count = %d; 
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
# variable_fancheckvars.part_cooling_fan_enabled
# variable_fancheckvars.pc_stop_count
# variable_fancheckvars.he_stop_count
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _PART_COOLING_FAN_CHECK
# _HOTEND_FAN_CHECK
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/hotend_fan_monitoring.html#hotend-fan-rpm-monitoring
#      
#.................................................................................................................

# INFO_FAN_CHECK
[gcode_macro INFO_FAN_CHECK]
description: Helper: Display information about FAN_CHECK routines
gcode:
    _general_Debug msg="INFO_FAN_CHECK- entering"
   {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
   {% set he_rpm = printer['heater_fan fan_hotend'].rpm|float %}
   {% set he_stop_count = global.fancheckvars.he_stop_count|int %}
   {% set part_cooling_fan_enabled = global.fancheckvars.part_cooling_fan_enabled|int %}
   {% set pc_stop_count = global.fancheckvars.pc_stop_count|int %}
   {% set pc_rpm = printer.fan.rpm|float %}
   {% set string1 = "INFO_FAN_CHECK <++++" %}
   {% set string1 = string1 ~ "\nHotEnd Fan min_rpm = 3500;" %}
   {% set string1 = string1 ~ "\nHotEnd Fan current_rpm = %.2f;" %}
   {% set string1 = string1 ~ "\nHotEnd Fan max_consecutive_stops = 3;" %}
   {% set string1 = string1 ~ "\nHotEnd Fan stop_count = %d;" %}
   {% set string1 = string1 ~ "\nPartCooling Fan Enabled = %d;" %}
   {% set string1 = string1 ~ "\nPartCooling Fan min_rpm = 600;" %}
   {% set string1 = string1 ~ "\nPartCooling Fan current_rpm = %.2f;" %}
   {% set string1 = string1 ~ "\nPartCooling Fan max_consecutive_stops = 3;" %}
   {% set string1 = string1 ~ "\nPartCooling Fan stop_count = %d;" %}
   {% set string1 = string1 ~ "\nEnd of INFO_FAN_CHECK ++++>" %}
   {action_respond_info(string1 % (he_rpm, he_stop_count, part_cooling_fan_enabled, pc_rpm, pc_stop_count)) }
    _general_Debug msg="INFO_FAN_CHECK- exiting"