#.................................................................................................................
# VENT_INFO - No additional options / Usage: VENT_INFO
#
#  Run _VENT_INFO for the Mainsail/Fluidd UI
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _VENT_INFO
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#      
#.................................................................................................................

# VENT_INFO
[gcode_macro VENT_INFO]
description: Helper: Display information about Fan which acts as a VENT
gcode:
    _general_Debug msg="VENT_INFO- entering"
    _VENT_INFO
    _general_Debug msg="VENT_INFO- exiting"