#.................................................................................................................
# _BED_MESH_SAVE - No additional options / Usage: _BED_MESH_SAVE  
#
#  Save a bed mesh if needed 10 seconds after print ended
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_bed_mesh_store.save_at_end
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _PRINT_AR
# _GLOBAL_VARS
# 
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/bed_mesh.cfg#L128
#      
#.................................................................................................................

## add this to your PRINT_END to save a mesh if needed 10 seconds after print ended
## UPDATE_DELAYED_GCODE ID=_BED_MESH_SAVE DURATION=10

[delayed_gcode _BED_MESH_SAVE]
gcode:
  _Mag_Probe_Debug msg="_BED_MESH_SAVE - entering"
  {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
  {% if global.bed_mesh_store.save_at_end %}
    {action_respond_info("BED_MESH: Save Config!")}
    SAVE_CONFIG
  {% endif %}
  _Mag_Probe_Debug msg="_BED_MESH_SAVE - exiting"
