#.................................................................................................................
# BED_MESH_LOAD - required parameters: AUTO{true,false} 
#
#      / Usage: 
#              BED_MESH_LOAD           --> load an existing MESH
#              BED_MESH_LOAD AUTO=true --> load an existing MESH or generate a new one and prepare it to be saved after print end
#
#  Load an existing mesh or generate a new one
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# the file: /home/pi/klipper_config/.variables.stb via the [save_variables] function
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# BED_MESH_STORE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/bed_mesh.cfg#L109
#      
#.................................................................................................................

## use BED_MESH_LOAD           -> load an existing MESH
## use BED_MESH_LOAD AUTO=true -> load an existing MESH or generate a new one and prepare it to be saved after print end

[gcode_macro BED_MESH_LOAD]
description : Helper: Mag Probe; Load an existing mesh or generate a new one
gcode:
  _Mag_Probe_Debug msg="BED_MESH_LOAD - entering"
  {% set name = '' if printer.save_variables.variables.plates is not defined 
           else printer.save_variables.variables.plates.array[printer.save_variables.variables.plates.index].name + '-' %}
  {% set mesh_name = name + "Bed_Temp-" + printer.heater_bed.target|int|string + "C" %}
  {% if printer.configfile.config["bed_mesh " + mesh_name] is defined %}
    {action_respond_info("BED_MESH: \"%s\" loaded" % mesh_name)}
    BED_MESH_CLEAR
    BED_MESH_PROFILE LOAD={mesh_name}
  {% elif params.AUTO|default('false')|lower == 'true' %}
    {action_respond_info("BED_MESH: \"%s\" needs to be generated" % mesh_name)}
    BED_MESH_STORE SAVE=none PARK=false
  {% else %}
    {action_respond_info("BED_MESH: ERROR \"%s\" not defined" % mesh_name)}
  {% endif %}
  _Mag_Probe_Debug msg="BED_MESH_LOAD - exiting"
