#.................................................................................................................
# HOTMESH - Optional parameters: BED_TEMP, NAME -required parameters: PRINT_MIN, PRINT_MAX 
#
#   / Usage: HOTMESH PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX}, 
#            HOTMESH BED_TEMP=110 NAME=MESH110 PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX}
#
#   Perform a heat soak, followed by a bed mesh. If no BED_TEMP is specified, [defaultTempBed] will be used. If no
#   NAME is specified, [MeshToApply] name will be used.
#   -Optionally can specify Minutes to Soak, as SOAK=15
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_filament
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# STATUS_HEATING
# STATUS_HOMING
# STATUS_MESHING
# STATUS_READY
# G32
# PARK_UpperRight
# PARK_Center
# CURRENT_HIGH
# CURRENT_NORMAL
# Attach_Probe_Lock
# Dock_Probe_Unlock
# _HEAT_WAIT
# BED_MESH_CALIBRATE
# TURN_OFF_HEATERS
# M117
# M140
# M190
# G28
# G28 Z
# QUAD_GANTRY_LEVEL
# CLEAN_NOZZLE
# _USER_VARIABLE
# M141
#
#.................................................................................................................

[gcode_macro HOTMESH]
description: Helper: Performs a heat-soaked bed-mesh
gcode:
    _general_Debug msg="HOTMESH - entering"
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    CLEAR_PAUSE
    {% if printer.idle_timeout.state == "Printing" or printer.pause_resume.is_paused %}
        {action_respond_info("Cannot do that while printing")}
      {% else %}
        {% set MeshToApply = user.filament.profile.MeshToApply|default() %}
        {% set MeshName = params.NAME|default(MeshToApply) %}
        M118 Will be saving as {MeshName}
        {% if MeshName == "INSITU" or MeshToApply == "NONE" %}
            {action_respond_info("Mesh requires a proper name, specify via cli or change printer.cfg MeshToApply definition.")}
          {% else %}
            {% set defaultWN = user.filament.profile.defaultWarmNozzle|float %}
            {% set defaultTB = user.filament.profile.defaultTempBed|float %}
            {% set defaultENCLOSURE = user.filament.profile.defaultEnclosure|float %}
            {% set defaultSOAK = user.filament.profile.HotmeshSoakMinutes|float %}
            {% set BED_TEMP = params.BED_TEMP|default(defaultTB)|float %}
            {% set ENCLOSURE_TEMP = params.ENCLOSURE_TEMP|default(defaultENCLOSURE)|float %}
            {% set SOAK = params.SOAK|default(defaultSOAK)|float %}
			STATUS_HEATING
            M141 S{ENCLOSURE_TEMP}                                            ;set chamber temperature for Exhaust fan and Bed fans
            # Bring bed to full temperature, only warm hotend
            M140 S{BED_TEMP}
            M104 S{defaultWN} 
            G90 
            # Reset the G-Code Z offset
            SET_GCODE_OFFSET Z=0.0
            M117 Performing initial homing.
			STATUS_HOMING
            {% if user.filament.profile.QGLbeforeSoakMesh|default() == True %}
                G32
                # Move the nozzle
                PARK_Center
              {% else %}
                G28
                # Not moving the probe if QGL was not peroformed
            {% endif %}
            M117 Bringing bed to temperature.
            M190 S{BED_TEMP}
            _HEAT_WAIT MINUTES={SOAK} MSG="Pre BED_MESH_CALIBRATE Soaking..."
			STATUS_MESHING
            M117 Performing hot level.
            CURRENT_HIGH
            M400
            QUAD_GANTRY_LEVEL HOME=False PARK=False
            #QUAD_GANTRY_LEVEL ; this does a ATTACH_PROBE, QGL, DOCK_PROBE
            NOZZLECLEAN
            #CLEAN_NOZZLE
            #ATTACH_PROBE_LOCK
            G28 Z #rehome Z axis 
            #ATTACH_PROBE
            CALIBRATE_Z
            #CALIBRATE_Z_BASE #automatic Z offset, from klipper z calibration  
            #DOCK_PROBE
            M117 Performing heated bed mesh calibration.
            BED_MESH_PROFILE REMOVE={MeshName}
			BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX}
            BED_MESH_PROFILE SAVE={MeshName}
            BED_MESH_OUTPUT PGP=1
            M118 Bed mesh calibration completed.
            TURN_OFF_HEATERS
            CURRENT_NORMAL
            #DOCK_PROBE_UNLOCK
            PARK_UpperRight
            M18 X Y E
			STATUS_READY
            M117 Finished mesh, saved as {MeshName}.
            SAVE_CONFIG
        {% endif %}
    {% endif %}
    _general_Debug msg="HOTMESH - exiting"

