#  macro                             renamed existing to                  filename and location
# -------                           ---------------------                ------------------------
# BED_MESH_CALIBRATE	            BED_MESH_CALIBRATE_BASE	              ~/klipper_config/ACTIVE/MACRO/BED_MESH/BED_MESH_CALIBRATE.cfg
# CALIBRATE_Z	                    CALIBRATE_Z_BASE	                  ~/klipper_config/ACTIVE/MACRO/PROBE/CALIBRATE_Z.cfg
# CANCEL_PRINT	                    CANCEL_PRINT_BASE	                  ~/klipper_config/ACTIVE/MACRO/PRINT_HANDLING/CANCEL_PRINT.cfg
# G0	                            G0.1	                              ~/klipper_config/ACTIVE/MACRO/MAG_PROBE_MACROS/G0.cfg
# G1	                            G1.1	                              ~/klipper_config/ACTIVE/MACRO/MAG_PROBE_MACROS/G1.cfg
# G28 Z	                            [homing_override]axes: z	          ~/klipper_config/ACTIVE/MACRO/HOMING_OVERRIDE.cfg
# M106	                            M106.1	                              ~/klipper_config/ACTIVE/MACRO/FAN_CHECK/M106.cfg
# M107	                            M107.1	                              ~/klipper_config/ACTIVE/MACRO/FAN_CHECK/M107.cfg
# M115	                            M115.1	                              ~/klipper_config/ACTIVE/MACRO/M115.cfg
# M117	                            M117.1	                              ~/klipper_config/ACTIVE/MACRO/M117.cfg
# M140	                            M99140	                              ~/klipper_config/ACTIVE/MACRO/BEDFANS/M140.cfg
# M190	                            M99190	                              ~/klipper_config/ACTIVE/MACRO/BEDFANS/M190.cfg
# M204	                            M204.1	                              ~/klipper_config/ACTIVE/MACRO/M204.cfg
# Macro defined	                    [idle_timeout]	                      ~/klipper_config/ACTIVE/MACRO/IDLE_TIMEOUT.cfg
# PAUSE	                            PAUSE_BASE	                          ~/klipper_config/ACTIVE/MACRO/PRINT_HANDLING/PAUSE.cfg
# PROBE	                            PROBE_BASE	                          ~/klipper_config/ACTIVE/MACRO/MAG_PROBE_MACROS/PROBE.cfg
# PROBE_ACCURACY	                PROBE_ACCURACY_BASE	                  ~/klipper_config/ACTIVE/MACRO/MAG_PROBE_MACROS/PROBE_ACCURACY.cfg
# PROBE_CALIBRATE	                PROBE_CALIBRATE_BASE	              ~/klipper_config/ACTIVE/MACRO/KLICKY_PROBE_MACROS/PROBE_CALIBRATE.cfg
# QUAD_GANTRY_LEVEL	                QUAD_GANTRY_LEVEL_BASE	              ~/klipper_config/ACTIVE/MACRO/MAG_PROBE_MACROS/QUAD_GANTRY_LEVEL.cfg
# QUERY_PROBE	                    QUERY_PROBE_BASE	                  ~/klipper_config/ACTIVE/MACRO/MAG_PROBE_MACROS/QUERY_PROBE.cfg
#### RESTART                           RESTART_BASE                          ~/klipper_config/ACTIVE/MACRO/RESTART.cfg
# RESUME	                        RESUME_BASE	                          ~/klipper_config/ACTIVE/MACRO/PRINT_HANDLING/RESUME.cfg
# SET_FILAMENT_SENSOR	            SET_FILAMENT_SENSOR_BASE	          ~/klipper_config/ACTIVE/MACRO/FILAMENT_HANDLING/SET_FILAMENT_SENSOR.cfg
# SET_HEATER_TEMPERATURE	        _SET_HEATER_TEMPERATURE	              ~/klipper_config/ACTIVE/MACRO/BEDFANS/SET_HEATER_TEMPERATURE.cfg
# TURN_OFF_HEATERS	                _TURN_OFF_HEATERS	                  ~/klipper_config/ACTIVE/MACRO/BEDFANS/TURN_OFF_HEATERS.cfg 
#