#  macro                              renamed existing to                 filename and location
# -------                            ---------------------               ------------------------
#  RESUME                            RESUME_BASE                         ~/klipper_config/ACTIVE/MACRO/PRINT_HANDLING/RESUME.cfg
#  BED_MESH_CALIBRATE               _BED_MESH_CALIBRATE                  ~/klipper_config/ACTIVE/MACRO/BED_MESH_CALIBRATE.cfg
#  CANCEL_PRINT                      CANCEL_PRINT_BASE                   ~/klipper_config//ACTIVE/MACRO/PRINT_HANDLING/CANCEL_PRINT.cfg
#  M117                              M117.1                              ~/klipper_config/ACTIVE/MACRO/M117.cfg
#  M140                              M99140                              ~/klipper_config/ACTIVE/MACRO/BEDFANS/M140.cfg
#  M190                              M99190                              ~/klipper_config/ACTIVE/MACRO/BEDFANS/M190.cfg
#  PAUSE                             PAUSE_BASE                          ~/klipper_config//ACTIVE/MACRO/PRINT_HANDLING/PAUSE.cfg
#  PROBE_ACCURACY                   _PROBE_ACCURACY                      ~/klipper_config/ACTIVE/MACRO/PROBE/PROBE_ACCURACY (KLICKY-MACROs).cfg
#  PROBE_CALIBRATE                  _PROBE_CALIBRATE                     ~/klipper_config/ACTIVE/MACRO/PROBE/PROBE_CALIBRATE (KLICKY-MACROs).cfg
#  SET_HEATER_TEMPERATURE           _SET_HEATER_TEMPERATURE              ~/klipper_config/ACTIVE/MACRO/SET_HEATER_TEMPERATURE.cfg
#  TURN_OFF_HEATERS                 _TURN_OFF_HEATERS                    ~/klipper_config/ACTIVE/MACRO/TURN_OFF_HEATERS.cfg 
#  QUAD_GANTRY_LEVEL                _QUAD_GANTRY_LEVEL                   ~/klipper_config/ACTIVE/MACRO/KLICKY_PROBE_MACROS/QUAD-GANTRY-LEVEL.cfg
#  M106                             M106.1                               ~/klipper_config/ACTIVE/MACRO/FAN_CHECK/M106.cfg
#  M107                             M107.1                               ~/klipper_config/ACTIVE/MACRO/FAN_CHECK/M107.cfg
#