[delayed_gcode _update_leds_loop]
###############################################
#  Progress Bar LEDs Macros
###############################################
initial_duration: 5 
gcode:
    _general_Debug msg="_update_leds_loop - entering"
    _set_leds 
    UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=60
    _general_Debug msg="_update_leds_loop - exiting"

###############################################
#  SB LEDs Macros
###############################################
#[led_effect rainbow_barf910]
#autostart:                          true 
#[led_effect rainbow_barf1114]
#autostart:                          true 
#[led_effect rainbow_barf1516]
#autostart:                          true 
#[led_effect set_nozzle_leds]
#autostart:                          true 
#[led_effect set_fan_leds]
#autostart:                          true 
