[delayed_gcode boot_bedfans]
initial_duration: 0.5
gcode:
    _general_Debug msg=" boot_bedfans- entering"
    SET_GCODE_VARIABLE MACRO=bedfanvars VARIABLE=flag VALUE=0
    {% set chambertemp = printer["temperature_sensor J_Chamber_ZDragChain_PT100"].temperature|float %}
    SET_GCODE_VARIABLE MACRO=bedfanvars VARIABLE=lasttemp VALUE={0.0}
    {action_respond_info("++++++++++++++++++++++++") }
    {action_respond_info("Heater_threshold = %d;\nChamberTEMP_threshold = %.2f;\nFLAG = %d;\nLAST_CHAMBER_TEMP = %.2f;\ncurrent_CHAMBER_TEMP = %.2f;\nOFFSET = %d;" % (printer["gcode_macro bedfanvars"].threshold|int, printer['gcode_macro globalvariables'].defaultenclosure,  printer["gcode_macro bedfanvars"].flag|int, printer["gcode_macro bedfanvars"].lasttemp, chambertemp, printer["gcode_macro bedfanvars"].offset|int)) }
    {action_respond_info("++++++++++++++++++++++++") }
    {action_respond_info("                        ") }
    _general_Debug msg=" boot_bedfans- exiting"

#The bedfanloop runs every 8 seconds to check the chamber temperature after the heated bed has reached its target temperature, otherwise the bedfanloop is off
#[delayed_gcode bedfanloop]
#
