#.................................................................................................................
# PRERUN - No Optional parameters / Usage: None
#   This macro runs upon klipper startup / restart 1 second after Klipper enters the READY state.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro globalvariables]
# variable_nplimitaccel
# variable_nplimitdecel
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# TURN_OFF_HEATERS
# M117
# _CheckProbe
# FILAMENT_ABOUT
# IS_PROBE_ATTACHED_AT_BOOT
#
#.................................................................................................................

[delayed_gcode prerun]
initial_duration: 1
gcode:
    _general_Debug msg=" prerun- entering"
    {% set z_offset = printer.configfile.config["probe"]["z_offset"]|float %}
    {% set nozzle_diameter = printer.configfile.config["extruder"]["nozzle_diameter"]|float %}
    {% set pressure_advance = printer.configfile.config["extruder"]["pressure_advance"]|float %}
    {% set pressure_advance_smooth_time = printer.configfile.config["extruder"]["pressure_advance_smooth_time"]|float %}
    M117 Printer online.
    #start LED effects on boot
    TURN_OFF_HEATERS
    STOP_LED_EFFECTS
    SET_FAN_LEDS_ON
    SET_LOGO_LEDS_ON
    #SET_LED_EFFECT EFFECT=rainbow_barf910
    #SET_LED_EFFECT EFFECT=rainbow_barf1114
    #SET_LED_EFFECT EFFECT=rainbow_barf1516
    #SET_LED_EFFECT EFFECT=set_nozzle_led17
    #SET_LED_EFFECT EFFECT=set_nozzle_led18
	#STATUS_NOZZLE_OFF
    {% for s in range(0, 30) %}
        SET_LED LED=sb_leds INDEX=17 RED=1 GREEN=0 BLUE=1
		#STATUS_PRERUN17
        SET_LED LED=sb_leds INDEX=18 RED=.5 GREEN=.5 BLUE=.5
		#STATUS_PRERUN18
        G4 P100
        SET_LED LED=sb_leds INDEX=17 RED=.5 GREEN=.5 BLUE=.5
		#STATUS_PRERUN_MIDDLE17
        SET_LED LED=sb_leds INDEX=18 RED=1 GREEN=0 BLUE=1
		#STATUS_PRERUN_MIDDLE18
        G4 P50
    {% endfor %}
    _CheckProbe action=query
    IS_PROBE_ATTACHED_AT_BOOT
    SET_VELOCITY_LIMIT ACCEL={printer["gcode_macro globalvariables"].nplimitaccel|float} ACCEL_TO_DECEL={printer["gcode_macro globalvariables"].nplimitdecel|float}
    M118 Z-Offset is set at {z_offset}mm.
    M118 Nozzle diameter is set at {nozzle_diameter}mm.
    M118 Pressure Advance is set at {pressure_advance}.
    M118 Pressure advance Smooth Time is set at {pressure_advance_smooth_time}.
    FILAMENT_ABOUT
    SET_LED LED=sb_leds INDEX=17 RED=.2 GREEN=.5 BLUE=.2
    SET_LED LED=sb_leds INDEX=18 RED=.2 GREEN=.5 BLUE=.2
	#STATUS_PRERUN_DONE17
    #STATUS_PRERUN_DONE18
    #SET_LED_EFFECT EFFECT=set_nozzle_led17
    #SET_LED_EFFECT EFFECT=set_nozzle_led18
    _general_Debug msg=" prerun- exiting"
