#.................................................................................................................
# _BEDFANSSLOW - No additional options / Usage: _BEDFANSSLOW
#   runs the bed fans at a slow speed as specified by variable_slow in gcode_macro bedfansvars
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro bedfanvars]
#  variable_slow
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
##      https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#.................................................................................................................

[gcode_macro _BedFansSlow]
gcode:
	# Vars
    _general_Debug msg="_BedFansSlow - entering"
	{% set SLOW = printer["gcode_macro bedfanvars"].slow|float %}
	SET_FAN_SPEED FAN=Bedfan_Left SPEED={SLOW}
	SET_FAN_SPEED FAN=Bedfan_Right SPEED={SLOW}
    _general_Debug msg="_BedFansSlow - exiting"
