#.................................................................................................................
# _BEDFANSFASTPLUS_02 - No additional options / Usage: _BEDFANSFASTPLUS_02
#   runs the bed fans at a fast speed as specified by chamber_fast in gcode_macro bedfansvars
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# gcode_macro [bedfanvars]
#  variable_chamber_fast
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#.................................................................................................................

#.................................................................................................................
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
##      https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#.................................................................................................................

[gcode_macro _BedFansFastPlus_02]
gcode:
	# Vars
    _general_Debug msg="_BedFansFastPlus_02 - entering"
	{% set FAST02 = (printer["gcode_macro bedfanvars"].chamber_fast|float) %}
	SET_FAN_SPEED FAN=Bedfan_Left SPEED={FAST02}
	SET_FAN_SPEED FAN=Bedfan_Right SPEED={FAST02}
    _general_Debug msg="_BedFansFastPlus_02 - exiting"
