#.................................................................................................................
# _BEDFANSSLOW - No additional options / Usage: _BEDFANSSLOW
#
#   runs the bed fans at a slow speed as specified by variable_bedfanvars.slow in gcode_macro _USER_VARIABLE
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_bedfanvars
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
##      https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#.................................................................................................................

[gcode_macro _BedFansSlow]
gcode:
	# Vars
    _general_Debug msg="_BedFansSlow - entering"
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
	{% set SLOW = user.bedfanvars.slow|float %}
	SET_FAN_SPEED FAN=Bedfan_Left SPEED={SLOW}                             ;set fan speed
	SET_FAN_SPEED FAN=Bedfan_Right SPEED={SLOW}                            ;set fan speed
    _general_Debug msg="_BedFansSlow - exiting"
