#.................................................................................................................
# _BEDFANSOFF - No additional options / Usage: _BEDFANSOFF
#   turns off the bed fans
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
##      https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#.................................................................................................................


[gcode_macro _BedFansOff]
gcode:
    _general_Debug msg="_BedFansOff - entering"
	SET_FAN_SPEED FAN=Bedfan_Left SPEED=0                    ;set fan speed
	SET_FAN_SPEED FAN=Bedfan_Right SPEED=0                   ;set fan speed
    _general_Debug msg="_BedFansOff - exiting"
