#.................................................................................................................
# _BEDFANSFAST - No additional options / Usage: _BEDFANSFAST
#
#   This macro sets the speed of the BedFans to the speed dictated by the variable_bedfanvars.fast
#    in gcode_macro _USER_VARIABLE.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_bedfanvars.fast
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
##      https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#.................................................................................................................

[gcode_macro _BedFansFast]
description: Helper: Sets the speed of the BedFans to the speed dictated by the user.bedfanvars.fast
gcode:
	# Vars
    _general_Debug msg="_BedFansFast - entering"
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set FAST = user.bedfanvars.fast|float %}
	SET_FAN_SPEED FAN=Bedfan_Left SPEED={FAST}                         ;set fan speed
	SET_FAN_SPEED FAN=Bedfan_Right SPEED={FAST}                        ;set fan speed
    _general_Debug msg="_BedFansFast - exiting"
