#.................................................................................................................
# INFO_BEDFANS - No additional options / Usage: INFO_BEDFANS 
#
#  displays the following information:
#      Heater_threshold = %d;
#      ChamberTEMP_threshold = %.2f;
#      FLAG = %d;\nLAST_CHAMBER_TEMP = %.2f;
#      current_CHAMBER_TEMP = %.2f;
#      OFFSET = %d;
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro bedfanvars]
# variable_threshold: 110		         # If bed temp target is equal to or above this threshold, fans will be enabled. If temp is set to below this threshold, fans will be disabled.
# variable_offset: 4                     # Fan is off when chamber temp < (defaultenclosure-offset), if temp is falling.
# variable_flag: 0                       # Bed heater reached target temp if this value > 0, Valid value: 0 (boot state), 2 (Target heater temp reached), 3 (chamber temp falling), 4 (chamber temp above defaultEnclosure temp)
# variable_lasttemp: 0.0                 # previous chamber temperature reading
# variable_defaultEnclosure: 50 #40      # ENCLOSURE temperature if none is specified
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
#                 https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#      
#.................................................................................................................
[gcode_macro info_bedfans]
gcode:
    _general_Debug msg="info_bedfans - entering"
    {% set chambertemp = printer["temperature_sensor J_Chamber_ZDragChain_PT100"].temperature|float %}
    {% set threshold = printer["gcode_macro bedfanvars"].threshold|int %}
    {% set defaultenclosure = printer['gcode_macro globalvariables'].defaultenclosure %}
    {% set flag = printer["gcode_macro bedfanvars"].flag|int %}
    {% set lasttemp = printer["gcode_macro bedfanvars"].lasttemp %}
    {% set offset = printer["gcode_macro bedfanvars"].offset|int %}
    
    {% set string1 = "INFO_BEDFANS <+++++++++++++++++" %}
    {% set string1 = string1 ~ "\nHeater_threshold = %d;" %}
    {% set string1 = string1 ~ "\nChamberTEMP_threshold = %.2f;" %}
    {% set string1 = string1 ~ "\nFLAG = %d;" %}
    {% set string1 = string1 ~ "\nLAST_CHAMBER_TEMP = %.2f;" %}
    {% set string1 = string1 ~ "\ncurrent_CHAMBER_TEMP = %.2f;" %}
    {% set string1 = string1 ~ "\nOFFSET = %d;" %}
    {% set string1 = string1 ~ "\nEnd of INFO_BEDFANS +++++++++++++++++>" %}
    {action_respond_info(string1 % (threshold, defaultenclosure, flag, lasttemp, chambertemp, offset)) }    
    _general_Debug msg="info_bedfans - exiting"
