#.................................................................................................................
# INFO_BEDFANS - No additional options / Usage: INFO_BEDFANS 
#
#  displays the following information:
#      Heater_threshold = %d;
#      ChamberTEMP_threshold = %.2f;
#      FLAG = %d;
#      LAST_CHAMBER_TEMP = %.2f;
#      current_CHAMBER_TEMP = %.2f;
#      OFFSET = %d;
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_bedfanvars.threshold
# variable_filament.profile.defaultEnclosure
# variable_bedfanvars.offset
#
# [gcode_macro _GLOBAL_VARS]
# variable_bedfanvars.flag
# variable_bedfanvars.lasttemp
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
#                 https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#      
#.................................................................................................................
[gcode_macro info_bedfans]
description: Helper: Display information on Bed Fan variables
gcode:
    _general_Debug msg="info_bedfans - entering"
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set chambertemp = printer["temperature_sensor J_Chamber_ZDragChain_PT100"].temperature|float %}
    {% set threshold = user.bedfanvars.threshold|int %}
    {% set defaultenclosure = user.filament.profile.defaultEnclosure %}
    {% set flag = global.bedfanvar.flag|int %}
    {% set lasttemp = global.bedfanvars.lasttemp %}
    {% set offset = user.bedfanvars.offset|int %}
    
    {% set string1 = "INFO_BEDFANS <+++++++++++++++++" %}
    {% set string1 = string1 ~ "\nHeater_threshold = %d;" %}
    {% set string1 = string1 ~ "\nChamberTEMP_threshold = %.2f;" %}
    {% set string1 = string1 ~ "\nFLAG = %d;" %}
    {% set string1 = string1 ~ "\nLAST_CHAMBER_TEMP = %.2f;" %}
    {% set string1 = string1 ~ "\ncurrent_CHAMBER_TEMP = %.2f;" %}
    {% set string1 = string1 ~ "\nOFFSET = %d;" %}
    {% set string1 = string1 ~ "\nEnd of INFO_BEDFANS +++++++++++++++++>" %}
    {action_respond_info(string1 % (threshold, defaultenclosure, flag, lasttemp, chambertemp, offset)) }    
    _general_Debug msg="info_bedfans - exiting"
