#.................................................................................................................
# TURN_OFF_HEATERS - No additional options / Usage: TURN_OFF_HEATERS
#
#   overrides the Klipper command TURN_OFF_HEATERS and renames it to "_TURN_OFF_HEATERS".  This command will now turn off the Bed Fan Fans and turn
#   off all heaters.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_peripheral.vent.on_val
#  variable_hw.chamber.fan
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _BedFansOff
# _TURN_OFF_HEATERS
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
##      https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#.................................................................................................................

# Replaces TURN_OFF_HEATERS
[gcode_macro TURN_OFF_HEATERS]
description: Helper: BEDFAN macro; Turn off bed fans and turn off heaters
rename_existing: _TURN_OFF_HEATERS
gcode:
    _general_Debug msg="TURN_OFF_HEATERS- entering"
    {% set user       = printer['gcode_macro _USER_VARIABLE'] %}
    {% set vent_on    = user.peripheral.vent.on_val %}
    {% if user.hw.chamber.fan %} M141 S{vent_on} {% endif %}          ; vent chamber (setting fan to below ambient)
	_BedFansOff
	_TURN_OFF_HEATERS                                                 ;call Klipper's TURN_OFF_HEATERS that has been renamed
    _general_Debug msg="TURN_OFF_HEATERS- exiting"
