#.................................................................................................................
# TURN_OFF_HEATERS - No additional options / Usage: TURN_OFF_HEATERS
#   overrides the Klipper command TURN_OFF_HEATERS and renames it to "_TURN_OFF_HEATERS".  This command will now turn off the Bed Fan Fans and turn
#   off all heaters.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _BedFansOff
# _TURN_OFF_HEATERS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
##      https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#.................................................................................................................

# Replaces TURN_OFF_HEATERS
[gcode_macro TURN_OFF_HEATERS]
rename_existing: _TURN_OFF_HEATERS
gcode:
    _general_Debug msg="TURN_OFF_HEATERS- entering"
	_BedFansOff
	_TURN_OFF_HEATERS
    _general_Debug msg="TURN_OFF_HEATERS- exiting"
