#.................................................................................................................
# _STATUS_PRESETS - No additional options / Usage: _STATUS_PRESETS
#   variable definitions for WLED interface to light strips
#
# Keywords can be identified in M117 commands e.g. "Printing has been completed" == 'complete'
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/
#                 https://kno.wled.ge/ 
#                 https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/lights.cfg
#
#.................................................................................................................

#_STATUS_PRESETS
[gcode_macro _status_presets]
description: Maps keywords (case insensitive) in M117 commands to wled presets
variable_off: 2
variable_lookup: {
        'off': 2,         # equivalent to not set in WLED
        'ready': 9,       # if you see the word "ready" apply preset 9
        'busy':  4,       # if you see the word "busy" apply preset 4
        'heating': 11,    # if you see the word "heating" apply preset 11
        'leveling': 7,    # etc... add more states/presets to match your WLED setup
        'homing': 13,
        'cleaning': 5,
        'meshing': 8,
        'calibrating_z': 6,
        'printing': 14,
        'complete': 10,
        'cooling': 12
    }
gcode:
    # Do nothing