#.................................................................................................................
# PART_COOLING_FAN_VAR - No additional options / Usage: NONE
#
# This macro defines a variable for the FAN_CHECK macros
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/hotend_fan_monitoring.html#hotend-fan-rpm-monitoring
#      
#.................................................................................................................

# VARIABLES-PART_COOLING_FAN_VAR
[gcode_macro PART_COOLING_FAN_VAR]
variable_Part_Cooling_Fan_Enabled: 0			; Part cooling fan disabled = 0; Part cooling fan enaled=1
gcode:
    _general_Debug msg="PART_COOLING_FAN_VAR- entering"
    _general_Debug msg="PART_COOLING_FAN_VAR- exiting"