# Start 0.9 sec after startup. 
[delayed_gcode INIT_PART_COOLING_FAN_VAR]
initial_duration: 0.9
gcode:
    _general_Debug msg="INIT_PART_COOLING_FAN_VAR - exiting"
	SET_GCODE_VARIABLE MACRO=PART_COOLING_FAN_VAR VARIABLE=part_cooling_fan_enabled VALUE=0
    #SET_GCODE_VARIABLE MACRO=_HOTEND_FAN_CHECK VARIABLE=he_stop_count VALUE=0
    #SET_GCODE_VARIABLE MACRO=_PART_COOLING_FAN_CHECK VARIABLE=pc_stop_count VALUE=0
    _general_Debug msg="INIT_PART_COOLING_FAN_VAR - exiting"