#.................................................................................................................
# INIT_PART_COOLING_FAN_VAR - No additional options / Usage: NONE
#
# This macro starts automatically when the klipper boots up.  It starts 0.9 seconds after Klipper hits the ready state.
# This macro initializes the variable part_cooling_fan_enabled from PART_COOLING_FAN_VAR global variable section
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
#  _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/hotend_fan_monitoring.html#hotend-fan-rpm-monitoring
#      
#.................................................................................................................

# Start 0.9 sec after startup. 
[delayed_gcode INIT_PART_COOLING_FAN_VAR]
initial_duration: 0.9
gcode:
    _general_Debug msg="INIT_PART_COOLING_FAN_VAR - exiting"
	SET_GCODE_VARIABLE MACRO=PART_COOLING_FAN_VAR VARIABLE=part_cooling_fan_enabled VALUE=0
    _general_Debug msg="INIT_PART_COOLING_FAN_VAR - exiting"