#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
# ZERO_OVERSHOOT_HEATER_BED Setup 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

# Define the [zero_overshoot_heater_bed] section and define the option parameter 'no_overshoot' 
#  When option parmaeter no_overshoot is set to True then the printer will automatically change
#  the pid_Kp, pid_Ki, and pid_Kd classical values by the formula you specify to produce a better
#  PID Tune for the specified heater.  There are two heaters 'heater_bed' and 'extruder'
#
#  When the option parameter no_overshoot is set to False then the printer will NOT automatically 
#  adjust the pid_Kp, pid_Ki, and pid_Kd values and Classic PID control will be used.
#
# Kp_multiplier default value is 3.3333, Ki_multiplier default value is 3.3333 and Kd_multiplier
# default value is 0.8800
#
# The following formulas will be used:
# Kp = Kp_classic * Kp_multiplier
# Ki = Ki_classic * Ki_multiplier
# Kd = Kd_classic * Kd_multiplier
# NOTE: if you need to divide remember that 1/x = 1 * reciprocal of the number; 
# The reciprocal is simply: 1/number. reciprocal. To get the reciprocal of a number, we divide 1 by the number. Example: the reciprocal of 2 is ½
#
# So in the example below 3.3333 is really divide by 3, 
# Since the number will only be calculated to the first 3 significant digits only 4 decimal places are used
#
# NOTE2: for the no overshoot calculated value to be done automatically, you must have the following in you printer.cfg file
# or they can be commented out and located at bottom of the file in the 
#*# <---------------------- SAVE_CONFIG ----------------------> section.
# If these value are located in a seperate include file then the software will not know where to look to find the classic
# PID values for Kp, Ki and Kd.
# 
#control: pid                              # PID tuning
#pid_Kp: 41.201                            # Classic PID
#pid_Ki: 1.099                             # Classic PID
#pid_Kd: 386.261                           # Classic PID
#
#
#ZERO_OVERSHOOT_HEATER_BED
[zero_overshoot_heater_bed]
zero_overshoot: True
Kp_multiplier: 3.3333333333
Ki_multiplier: 3.3333333333
Kd_multiplier: 0.8800

