#.................................................................................................................
# INFO__USER_VARIABLE - required parameters: VAR{string} / Usage: INFO__USER_VARIABLE VAR='string'
#
# print out all values in [gcode_macro _USER_VARIABLE] space
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
                
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#      
#.................................................................................................................
[gcode_macro INFO__USER_VARIABLE]
description: Helper: print out all values in [gcode_macro _USER_VARIABLE] space or the speciifed parameter
gcode:
    _general_Debug msg="INFO__USER_VARIABLE - entering"
    
    {% set ns = namespace( flag = 0 ) %}
    {% set ns2 = namespace(flag = 0, loop_flag = 0 ) %}
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    
    {% set search_vars_search = True if params.VAR else False %}
    {% set search = params.VAR|default('')|string|lower %} 
    
    #{ action_respond_info("VAR = %s" % (params.VAR) ) }
    
    {% if '.' is in params.VAR %}
      {% set ns.flag = 1 %}
      {% set ns.search = search.split('.') %}
      {% set ns.length = (ns.search|length) - 1 %}
      #{ action_respond_info("ns.search[ns.length] = %s" % (ns.search[ns.length]) ) }
      {% set search = ns.search[ns.length] %}
    {% endif %}

    {% if search_vars_search == False %}
        # none of the params have been defined so print out all parameters 
        {% set print_printer_parameters = True %}
    {% else %}    
        {% set print_printer_parameters = False %}
    {% endif %}    
    
    {% if print_printer_parameters %}
        {% set ns.path = ["INFO__USER_VARIABLE <+++++++++++++++++", ''] %}
        { action_respond_info(ns.path|join) }
    {% endif %}
    
    {% for item in user|sort %}
        #{ action_respond_info("item = %s" % (item|string) ) }
        
        {% if ns.flag == 0 %}
            {% if ' ' in item %}
                {% set ns.path = ['user', "['%s']" % (item), ''] %}
            {% else %}
                {% set ns.path = ['user.', item, ''] %}   
            {% endif %} 
        

            {% if search in ns.path|lower %}
                {% set ns2.flag = 1%}
                { action_respond_info(ns.path|join) }
            {% endif %}
    
        
            {% set ns2.loop_flag = 0 %}
        
            {% 
                if (user[item] is not boolean)  
               and (user[item] is not float) 
               and (user[item] is not integer)  
               and (user[item] is not none)     
               and (user[item] is not undefined)
               and (user[item] is not callable)
               and (user[item] is not string)              
            %}
               {% set ns2.loop_flag = 1 %}
            {% endif %}
        
        
            {% if ns2.loop_flag %}
                {% if user[item].items()|sort %}
                    {% for childkey, child in user[item].items() recursive %}
                        {% set ns.path = ns.path[:loop.depth|int + 1] %}

                        {% if ' ' in childkey %}
                            {% set null = ns.path.append("['%s']" % (childkey)) %}
                        {% else %}
                            {% set null = ns.path.append(".%s" % (childkey)) %}
                        {% endif %} 
                  
                        {% if child is mapping  %}
                            { loop(child.items()|sort) }
                        {% else %}
                            {% if search in ns.path|lower %}
                                {% set ns2.flag = 1%}
                                { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                            {% endif %}
                        {% endif %} 
                    {% endfor %}
                {% endif %} 
            {% else %}
                {% if search in ns.path|lower %}
                    {% set ns2.flag = 1%}
                    { action_respond_info("%s : %s" % (ns.path|join, (user[item])|string)) }   
                {% endif %}
            {% endif %}
            
        {% else %} ## ns.flag == 1 =====================================
        
            {% if item == ns.search[(ns.length-ns.length)] %}
            
                {% if ' ' in item %}
                    {% set ns.path = ['user', "['%s']" % (item), ''] %}
                {% else %}
                    {% set ns.path = ['user.', item, ''] %}   
                {% endif %} 
        
                {% if search in ns.path|lower %}
                    {% set ns2.flag = 1%}
                    { action_respond_info(ns.path|join) }
                {% endif %}            
    
        
                {% set ns2.loop_flag = 0 %}
        
                {% 
                    if (user[item] is not boolean)  
                   and (user[item] is not float) 
                   and (user[item] is not integer)  
                   and (user[item] is not none)     
                   and (user[item] is not undefined)
                   and (user[item] is not callable) 
                %}
                   {% set ns2.loop_flag = 1 %}
                {% endif %}
        
        
                {% if ns2.loop_flag %}
                    {% if user[item].items()|sort %}
                        {% for childkey, child in user[item].items() recursive %}
                            {% set ns.path = ns.path[:loop.depth|int + 1] %}

                            {% if ' ' in childkey %}
                                 {% set null = ns.path.append("['%s']" % (childkey)) %}
                            {% else %}
                                {% set null = ns.path.append(".%s" % (childkey)) %}
                            {% endif %} 
                  
                            {% if child is mapping  %}
                                { loop(child.items()|sort) }
                            {% else %}
                                {% if search in ns.path|lower %}
                                    {% set ns2.flag = 1%}
                                    { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                                {% endif %}
                            {% endif %} 
                        {% endfor %}
                    {% endif %} 
                {% else %}
                    {% if search in ns.path|lower %}
                        {% set ns2.flag = 1%}
                        { action_respond_info("%s : %s" % (ns.path|join, (user[item])|string)) }   
                    {% endif %}
                {% endif %}
            {% else %}
               #do nothing
            {% endif %}
        {% endif %} 
    {% endfor %}   
    
    {% if print_printer_parameters %}    
        {% set ns.path = ["End of INFO__USER_VARIABLE +++++++++++++++++>", ''] %}
        { action_respond_info(ns.path|join) }
    {% endif %}
    
    {% if ns2.flag == 0 and not print_printer_parameters %}
         {action_respond_info("Nothing found for \"INFO__USER_VARIABLE %s\"" % rawparams)} 
    {% endif %}    
    
    _general_Debug msg="INFO__USER_VARIABLE - exiting"
