#.................................................................................................................
# _INIT - No additional options/ Usage: NONE
#    This macro runs upon klipper startup / restart 1 second after Klipper enters the READY state.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw
#  variable_homing
#  variable_z_hop
#  variable_speed
#  variable_probe
#  variable_park
#  variable_filament
#  variable_purge
#  variable_print_start
#  variable_unload_sd
#  variable_prime
#  variable_respond
#  variable_peripheral
#  variable_run
#
# [gcode_macro _GLOBAL_VARS]
# variable_bedfanvars
# variable_fancheckvars
# variable_sb_vars
# variable_wait_variable
# variable_state_fan_leds
# variable_state_logo_leds
# variable_state_bar_leds
# variable_state_nozzle_leds
# variable_current_state
# variable_progressbar_enabled
# variable_run
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
# _GLOBAL_VARS
# _CHECK_CONSITENT
# _EXECUTE_AT_INIT
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/printer.cfg#L129
##
#.................................................................................................................

[delayed_gcode _INIT]
#  macros that runs at klipper start
initial_duration: 1
gcode:
  _general_Debug msg="_INIT - entering"
  # _GLOBAL must be performed FIRST, followed by _USER_VARIABLE, if not the Z-AXIS will not home properly!!
  _GLOBAL_VARS
  _USER_VARIABLE
  _CHECK_CONSITENT
  _EXECUTE_AT_INIT
  _general_Debug msg="_INIT - exiting"