#.................................................................................................................
# STATUS_PART_READY  - No additional options / Usage: STATUS_PART_READY
#
#   set the Stealthburner leds to the STATUS_PART_READY LED_EFFECT
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro CURRENT_STATE_SB_LEDS_VARS]
#  variable_state_fan_leds
#  variable_state_logo_leds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_FAN_LEDS_OFF
# SET_LOGO_LEDS_OFF
# SET_FAN_LEDS_ON
# SET_LOGO_LEDS_ON
# CURRENT_STATE_SB_LEDS_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#STATUS_PART_READY # fhasing light green 
[gcode_macro status_part_ready]
gcode:
    _general_Debug msg="status_part_ready- entering"
    SET_FAN_LEDS_OFF
    SET_LOGO_LEDS_OFF
    SET_GCODE_VARIABLE MACRO=CURRENT_STATE_SB_LEDS_VARS VARIABLE=state_fan_leds VALUE='"sb_fan_part_ready"'
    SET_GCODE_VARIABLE MACRO=CURRENT_STATE_SB_LEDS_VARS VARIABLE=state_logo_leds VALUE='"sb_logo_part_ready"'
    SET_FAN_LEDS_ON
    SET_LOGO_LEDS_ON
    _general_Debug msg="status_part_ready- exiting"
