#.................................................................................................................
# STATUS_COOLING  - No additional options / Usage: STATUS_COOLING
#
#   set the Stealthburner leds to the STATUS_COOLING LED_EFFECT
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_state_fan_leds
#  variable_state_logo_leds
#  variable_state_bar_leds
#  variable_state_nozzle_leds
#  variable_progressbar_enabled
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_FAN_LEDS_OFF
# SET_LOGO_LEDS_OFF
# SET_FAN_LEDS_ON
# SET_LOGO_LEDS_ON
# _GLOBAL_VARS
# CHECK_PRINTER_STATE
# SET_BAR_LEDS_OFF
# SET_BAR_LEDS_ON
# M117
# SET_NOZZLE_LEDS_OFF
# SET_NOZZLE_LEDS_ON
# _CURRENT_STATE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources:  https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#STATUS_COOLING # scrolling Blue dot
[gcode_macro status_cooling]
gcode:
    _general_Debug msg="status_cooling- entering"
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    SET_FAN_LEDS_OFF
    SET_LOGO_LEDS_OFF
    SET_NOZZLE_LEDS_OFF
    # turn off the RGB WLED strips by sending the key off
    M117 off
    CHECK_PRINTER_STATE
    {% set progressbar_enabled = global.progressbar_enabled|int %} 
    {% if progressbar_enabled == 0 %}
        SET_BAR_LEDS_OFF
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state_bar_leds VALUE='"sb_bar_cooling"'
        _CURRENT_STATE
        SET_BAR_LEDS_ON
    {% endif %}
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state_fan_leds VALUE='"sb_fan_cooling"'
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state_logo_leds VALUE='"sb_logo_cooling"'
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state_nozzle_leds VALUE='"sb_nozzle_cooling"'
    _CURRENT_STATE
    SET_FAN_LEDS_ON
    SET_LOGO_LEDS_ON
    # turn on the RGB WLED strips by sending the key "cooling" for the strips to be set to the cooling preset
    M117 cooling
    SET_NOZZLE_LEDS_ON
    _general_Debug msg="status_cooling- exiting"
