#.................................................................................................................
# STATUS_OFF  - No additional options / Usage: STATUS_OFF
#
#   Turn off all LED_EFFECTs
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
### ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# STOP_LED_EFFECTS
# M117
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources:https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#STATUS_OFF
[gcode_macro status_off]
description: Helper: Turn Off all the Stealthburner leds 
gcode:
    _general_Debug msg="status_off- entering"
    STOP_LED_EFFECTS
    # turn off the RGB WLED strips by sending the key off
    M117 OFF
    SET_NOZZLE_LEDS_BY_NAME COLOR="OFF"
    # turn off all SB leds
    SET_LED LED="sb_leds" RED=0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
    _general_Debug msg="status_off- exiting"