#.................................................................................................................
# STATUS_CALIBRATING_Z  - No additional options / Usage: STATUS_CALIBRATING_Z
#
#   set the Stealthburner leds to the STATUS_CALIBRATING_Z LED_EFFECT
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_state_fan_leds
#  variable_state_logo_leds
#  variable_state_bar_leds
#  variable_state_nozzle_leds
#  variable_progressbar_enabled
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_FAN_LEDS_OFF
# SET_LOGO_LEDS_OFF
# SET_FAN_LEDS_ON
# SET_LOGO_LEDS_ON
# _GLOBAL_VARS
# CHECK_PRINTER_STATE
# SET_BAR_LEDS_OFF
# SET_BAR_LEDS_ON
# M117
# SET_NOZZLE_LEDS_OFF
# SET_NOZZLE_LEDS_ON
# _CURRENT_STATE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#STATUS_CALIBRATING_Z # flashing orange
[gcode_macro status_calibrating_z]
gcode:
    _general_Debug msg="status_calibrating_z- entering"
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    SET_FAN_LEDS_OFF
    SET_LOGO_LEDS_OFF
    SET_NOZZLE_LEDS_OFF
    # turn off the RGB WLED strips by sending the key off
    M117 off
    CHECK_PRINTER_STATE
    {% set progressbar_enabled = global.progressbar_enabled|int %} 
    {% if progressbar_enabled == 0 %}
        SET_BAR_LEDS_OFF
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state_bar_leds VALUE='"sb_bar_calibrating_z"'
        _CURRENT_STATE
        SET_BAR_LEDS_ON
    {% endif %}
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state_fan_leds VALUE='"sb_fan_calibrating_z"'
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state_logo_leds VALUE='"sb_logo_calibrating_z"'
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state_nozzle_leds VALUE='"sb_nozzle_calibrating_z"'
    _CURRENT_STATE
    SET_FAN_LEDS_ON
    SET_LOGO_LEDS_ON
    # turn on the RGB WLED strips by sending the key "calibrating_z" for the strips to be set to the calibrating_z preset
    M117 calibrating_z
    SET_NOZZLE_LEDS_ON
    _general_Debug msg="status_calibrating_z- exiting"
    
