#.................................................................................................................
# STATUS_MESHING  - No additional options / Usage: STATUS_MESHING
#
#   set the Stealthburner leds to the STATUS_MESHING LED_EFFECT
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro CURRENT_STATE_SB_LEDS_VARS]
#  variable_state_fan_leds
#  variable_state_logo_leds
#
# [gcode_macro _set_leds]
#  variable_progressbar_enabled
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_FAN_LEDS_OFF
# SET_LOGO_LEDS_OFF
# SET_FAN_LEDS_ON
# SET_LOGO_LEDS_ON
# CURRENT_STATE_SB_LEDS_VARS
# SET_NOZZLE_LEDS_BY_NAME
# CHECK_PRINTER_STATE
# SET_BAR_LEDS_OFF
# SET_BAR_LEDS_ON
# _set_leds
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources:https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#STATUS_MESHING# flashing yellow
[gcode_macro status_meshing]
gcode:
    _general_Debug msg="status_meshing- entering"
    SET_FAN_LEDS_OFF
    SET_LOGO_LEDS_OFF
    SET_NOZZLE_LEDS_BY_NAME COLOR="OFF"
    CHECK_PRINTER_STATE
    {% set progressbar_enabled = printer["gcode_macro _set_leds"].progressbar_enabled|int %} 
    {% if progressbar_enabled == 0 %}
        SET_BAR_LEDS_OFF
        SET_GCODE_VARIABLE MACRO=CURRENT_STATE_SB_LEDS_VARS VARIABLE=state_bar_leds VALUE='"sb_bar_meshing"'
        SET_BAR_LEDS_ON
    {% endif %}
    SET_GCODE_VARIABLE MACRO=CURRENT_STATE_SB_LEDS_VARS VARIABLE=state_fan_leds VALUE='"sb_fan_meshing"'
    SET_GCODE_VARIABLE MACRO=CURRENT_STATE_SB_LEDS_VARS VARIABLE=state_logo_leds VALUE='"sb_logo_meshing"'
    SET_FAN_LEDS_ON
    SET_LOGO_LEDS_ON
    SET_NOZZLE_LEDS_BY_NAME COLOR="YELLOW"
    _general_Debug msg="status_meshing- exiting"
