#.................................................................................................................
# STATUS_OFF  - No additional options / Usage: STATUS_OFF
#
#   Turn off all LED_EFFECTs
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro CURRENT_STATE_SB_LEDS_VARS]
#  variable_state_fan_leds
#  variable_state_logo_leds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# STOP_LED_EFFECTS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources:https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#STATUS_OFF
[gcode_macro status_off]
gcode:
    _general_Debug msg="status_off- entering"
    STOP_LED_EFFECTS
    SET_NOZZLE_LEDS_BY_NAME COLOR="OFF"
    _general_Debug msg="status_off- exiting"