#.................................................................................................................
# STATUS_AUTO_CALIBRATING_Z  - No additional options / Usage: STATUS_AUTO_CALIBRATING_Z
#
#   set the Stealthburner leds to the STATUS_AUTO_CALIBRATING_Z LED_EFFECT
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_current_led_state
#  variable_current_led_state.fan_leds
#  variable_current_led_state.logo_leds
#  variable_current_led_state.bar_leds
#  variable_current_led_state.nozzle_leds
#  variable_progressbar_enabled
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_FAN_LEDS_OFF
# SET_LOGO_LEDS_OFF
# SET_FAN_LEDS_ON
# SET_LOGO_LEDS_ON
# _GLOBAL_VARS
# CHECK_PRINTER_STATE
# SET_BAR_LEDS_OFF
# SET_BAR_LEDS_ON
# M117
# SET_NOZZLE_LEDS_OFF
# SET_NOZZLE_LEDS_ON
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#STATUS_AUTO_CALIBRATING_Z # flashing orange
[gcode_macro status_auto_calibrating_z]
description: Helper: set the Stealthburner leds to the STATUS_AUTO_CALIBRATING_Z LED_EFFECT
gcode:
    _general_Debug msg="status_auto_calibrating_z- entering"
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set current_led_state = global.current_led_state %}
    SET_FAN_LEDS_OFF
    SET_LOGO_LEDS_OFF
    SET_NOZZLE_LEDS_OFF
    # turn off the RGB WLED strips by sending the key off
    M117 off
    CHECK_PRINTER_STATE
    {% set progressbar_enabled = global.progressbar_enabled|int %} 
    {% if progressbar_enabled == 0 %}
        SET_BAR_LEDS_OFF
        {% set _dummy = current_led_state.update({'bar_leds':'sb_bar_calibrating_z'}) %}
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=current_led_state VALUE="{current_led_state}"
        SET_BAR_LEDS_ON
    {% endif %}
    {% set _dummy = current_led_state.update({'fan_leds':'sb_fan_calibrating_z'}) %}
    {% set _dummy = current_led_state.update({'logo_leds':'sb_logo_calibrating_z'}) %}
    {% set _dummy = current_led_state.update({'nozzle_leds':'sb_nozzle_calibrating_z'}) %}
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=current_led_state VALUE="{current_led_state}"    
    SET_FAN_LEDS_ON
    SET_LOGO_LEDS_ON
    # turn on the RGB WLED strips by sending the key "auto_calibrating_z" for the strips to be set to the auto_calibrating_z preset
    M117 auto_calibrating_z
    SET_NOZZLE_LEDS_ON
    _general_Debug msg="status_auto_calibrating_z- exiting"
    
