#.................................................................................................................
# STATUS_COOLING  - No additional options / Usage: STATUS_COOLING
#
#   set the Stealthburner leds to the STATUS_COOLING LED_EFFECT
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# STATUS_NOZZLE_OFF
# SET_LED_EFFECT
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/examples/Voron_Stealthburner/stealthburner_led_effects_barf_fan.cfg
#      
#.................................................................................................................

###############################################
#
#Macros for setting the status leds on the Voron StealthBurner toolhead (or for any neopixel-type leds).
#
###############################################
# Macros for setting the status leds on the Voron StealthBurner toolhead (or for any neopixel-type leds).
#
# You will need to configure a neopixel (or other addressable led, such as dotstar). See
# https://www.klipper3d.org/Config_Reference.html#neopixel for configuration details.

##########
# MACROS #
##########

# The following status macros are available (these go inside of your macros):
#
#    STATUS_READY
#	 STATUS_PART_READY
#    STATUS_OFF
#    STATUS_NOZZLE_OFF
#	 STATUS_LOGO_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_COOLING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
#    STATUS_PRERUN17
#    STATUS_PRERUN_MIDDLE17
#    STATUS_PRERUN_DONE17
#    STATUS_PRERUN18
#    STATUS_PRERUN_MIDDLE18
#    STATUS_PRERUN_DONE18
#    STATUS_PRINTING
#
# With additional macros for basic control:
#
#    SET_NOZZLE_LEDS_ON
#    SET_NOZZLE_LEDS_OFF
#    SET_LOGO_LEDS_ON
#    SET_LOGO_LEDS_OFF
#	 SET_FAN_LEDS_ON
#	 SET_FAN_LEDS_OFF
#
# Contributed by Voron discord users wile.e, Tetsunosuke, and etherwalker
# Modified to work with LED effects plugin by DarkNeutrino

##############
# The Macros #
##############

#STATUS_COOLING
[gcode_macro status_cooling]
gcode:
    _general_Debug msg="status_cooling- entering"
    STATUS_NOZZLE_OFF
    SET_LED_EFFECT EFFECT=sb_nozzle_cooling
    _general_Debug msg="status_cooling- exiting"
