#.................................................................................................................
# STATUS_READY  - No additional options / Usage: STATUS_READY
#
#   set the Stealthburner leds to the STATUS_READY LED_EFFECT (inital state - waiting for a file to print)
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro CURRENT_STATE_SB_LEDS_VARS]
#  variable_state_fan_leds
#  variable_state_logo_leds
#
# [gcode_macro _set_leds]
#  variable_progressbar_enabled
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_FAN_LEDS_OFF
# SET_LOGO_LEDS_OFF
# SET_FAN_LEDS_ON
# SET_LOGO_LEDS_ON
# CURRENT_STATE_SB_LEDS_VARS
# SET_NOZZLE_LEDS_BY_NAME
# CHECK_PRINTER_STATE
# SET_BAR_LEDS_OFF
# SET_BAR_LEDS_ON
# _set_leds
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#STATUS_READY fan - rainbow; logo red/blue/red
[gcode_macro status_ready]
gcode:
    _general_Debug msg="status_ready- entering"
    SET_FAN_LEDS_OFF
    SET_LOGO_LEDS_OFF
    SET_NOZZLE_LEDS_BY_NAME COLOR="OFF"
    # turn off the RGB WLED strips by sending the key off
    M117 off
    CHECK_PRINTER_STATE
    {% set progressbar_enabled = printer["gcode_macro _set_leds"].progressbar_enabled|int %} 
    {% if progressbar_enabled == 0 %}
        SET_BAR_LEDS_OFF
        SET_GCODE_VARIABLE MACRO=CURRENT_STATE_SB_LEDS_VARS VARIABLE=state_bar_leds VALUE='"set_bar_leds_rainbow"'
        SET_BAR_LEDS_ON
    {% endif %}
    SET_GCODE_VARIABLE MACRO=CURRENT_STATE_SB_LEDS_VARS VARIABLE=state_fan_leds VALUE='"set_fan_leds_rainbow"'
    SET_GCODE_VARIABLE MACRO=CURRENT_STATE_SB_LEDS_VARS VARIABLE=state_logo_leds VALUE='"set_logo_leds_rainbow_barf"'
    SET_FAN_LEDS_ON
    SET_LOGO_LEDS_ON
    # turn on the RGB WLED strips by sending the key "complete" for the strips to be set to the complete preset
    M117 complete
    SET_NOZZLE_LEDS_BY_NAME COLOR="STANDBY"
    _general_Debug msg="status_ready- exiting"
