#.................................................................................................................
# _UPDATE_LEDS_LOOP - No Optional parameters / Usage: None
#
#   This macro runs upon klipper startup / restart 5 seconds after Klipper enters the READY state and update
#   the progress bar every minute.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _set_leds
#
#.................................................................................................................

[delayed_gcode _update_leds_loop]
###############################################
#  Progress Bar LEDs Macros
###############################################
initial_duration: 5 
gcode:
    _general_Debug msg="_update_leds_loop - entering"
    CHECK_PRINTER_STATE
    _set_leds 
    UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=60
    _general_Debug msg="_update_leds_loop - exiting"

###############################################
#  SB LEDs Macros
###############################################
#[led_effect rainbow_barf910]
#autostart:                          true 
#[led_effect rainbow_barf1114]
#autostart:                          true 
#[led_effect rainbow_barf1516]
#autostart:                          true 
#[led_effect set_nozzle_leds]
#autostart:                          true 
#[led_effect set_fan_leds]
#autostart:                          true 
