#.................................................................................................................
# BOOT_STATE_SB_LEDS_VARS - No Optional parameters / Usage: None
#
#   This macro runs upon klipper startup / restart 0.1 seconds after Klipper enters the READY state
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro CURRENT_STATE_SB_LEDS_VARS]
#  variable_state_fan_leds
#  variable_state_logo_leds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#
#.................................................................................................................


[delayed_gcode BOOT_STATE_SB_LEDS_VARS]
initial_duration: 0.1
gcode:
    SET_GCODE_VARIABLE MACRO=CURRENT_STATE_SB_LEDS_VARS VARIABLE=state_fan_leds VALUE='"set_fan_leds_rainbow"'
    SET_GCODE_VARIABLE MACRO=CURRENT_STATE_SB_LEDS_VARS VARIABLE=state_logo_leds VALUE='"set_logo_leds_rainbow_barf"'