#.................................................................................................................
# _LAYER - optional parameters: TOTAL{total_layer_count} CURRENT{current_layer} RESPOND{0,1}
#
#   / Usage: 
#            _LAYER TOTAL=[total_layer_count] RESPOND=0
#            _LAYER CURRENT={layer_num+1}
#
#   Pass the current layer and the total amount of layers by your Slicer.
#
#.................................................................................................................

#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_respond.layer
#
# [gcode_macro _GLOBAL_VARS]
#  variable_layer
#  variable_layer.current
#  variable_layer.total
#
# the file: /home/pi/klipper_config/.variables.stb via the [save_variables] function
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/macro.cfg#L301
##      
#.................................................................................................................

## PrusaSlicer/SuperSlicer:
## Add at the start gcode section
## _LAYER TOTAL=[total_layer_count] RESPOND=0
##
## Add at the layer change gcode section
## _LAYER CURRENT={layer_num+1}

[gcode_macro _LAYER]
description: Helper: Pass the current layer and the total amount of layers by your Slicer.
gcode:
   _general_Debug msg="_LAYER - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
  {% set layer = global.layer %}
  
  {% set _dummy = layer.update({'total':params.TOTAL|int}) if ('TOTAL' in params and params.TOTAL|int > 0) %}
  {% set _dummy = layer.update({'current':params.CURRENT|default(0)|int}) %}
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=layer VALUE="{layer}"
  {% if params.RESPOND|default(user.respond.layer)|int == 1 %}
    {action_respond_info("Layer %s of %s" % (layer.current, layer.total))}
  {% endif %}
   _general_Debug msg="_LAYER - exiting"
