#.................................................................................................................
# _PRINT_START2 - No additional options / Usage: _PRINT_START2
#
#   Heat SOAK has occurred. This macro performs all needed moves prior to printing
#.................................................................................................................

#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
#[gcode_macro _WAIT_Variable]
#variable_ready  ; temperature you want the extruder at the ready state
#variable_temp   ; temperature you want the extruder to print at
#
# [filament_motion_sensor filament_sensor] -must be defined
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _WAIT_VARIABLE
# STATUS_LEVELING
# STATUS_HEATING
# _FILAMENT_READY
# STATUS_PRINTING
# G3201 
# M117
# CURRENT_HIGH
#.................................................................................................................

#.................................................................................................................
#
# My PRINT_START routine flows as follows: 
# PRINT_START.cfg:
#   if qglbeforesoakprint = true
#      G32 => Clears bed-mesh and performs G28, ATTACH_PROBE, QGL, DOCK_PROBE
#   else 
#	  G28
#	endif
#	_WAIT_Start MINUTES={SOAK}
#	
#_WAIT_Start.cfg:
#    WAIT_Delayed
#	PAUSE_BASE
#	
#PAUSE_BASE: captures the toolhead postion and pauses the print job.
#RESUME_BASE: moves the toolhead to the retrieved captured postion (stored by PAUSE_BASE) and reusmes the print job
#
#WAIT_Delayed.cfg:
#   if count > 0
#       _WAIT_Loop
#   if count == 0	
#       _PRINT_START2
#   endif
#   
#_PRINT_START2.cfg:
#    RESUME_BASE
#    G3201 -> Clears bed-mesh and performs G28, ATTACH_PROBE, QGL, DOCK_PROBE, CLEAN_NOZZLE, ATTACH_PROBE_LOCK, G28 Z, CALIBRATE_Z, applies bed-mesh, and DOCK_PROBE_UNLOCK
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-PRINT_HANDLING.cfg#L96
##      
#.................................................................................................................

#.................................................................................................................
[gcode_macro _PRINT_START2]
description: Part 2 - Performs all needed moves prior to printing
gcode:
    _general_Debug msg="_PRINT_START2 - entering"
    RESUME_BASE
    SET_NOZZLE_LEDS_OFF
    {% set EXTRUDER_READY = printer["gcode_macro _WAIT_Variable"].ready|int %}
    {% set EXTRUDER_TEMP = printer["gcode_macro _WAIT_Variable"].temp|int %}
    SET_LED LED=sb_leds INDEX=17 RED=.5 GREEN=0 BLUE=.5
    SET_LED LED=sb_leds INDEX=18 RED=.5 GREEN=0 BLUE=.5   
    M117 Performing hot level.
    CURRENT_HIGH
    M400                                                             ;Wait for current moves to finish
    M104 S{EXTRUDER_READY}                                           ;Set Extruder Temperature
    SET_NOZZLE_LEDS_OFF
    G3201 PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX}  ;Clears bed-mesh and performs G28 XYZ, ATTACH_PROBE_LOCK, QGL, CLEAN_NOZZLE, G28 Z, CALIBRATE_Z, applies bed-mesh, and DOCK_PROBE_UNLOCK
    M104 S{EXTRUDER_TEMP}                                            ;Set Extruder Temperature
    G1 X0 Y20 F4000
    G1 Z0.5
    M117 Bringing nozzle to temperature.
    SET_NOZZLE_LEDS_OFF
    SET_LED LED=sb_leds INDEX=18 RED=1 GREEN=0 BLUE=0
    SET_LED LED=sb_leds INDEX=17 RED=.5 GREEN=.5 BLUE=.5
	STATUS_HEATING
    M109 S{EXTRUDER_TEMP}                                            ;Set Extruder Temperature and Wait
    SET_NOZZLE_LEDS_OFF
    SET_LED LED=sb_leds INDEX=18 RED=1 GREEN=0 BLUE=0
    SET_LED LED=sb_leds INDEX=17 RED=1 GREEN=0 BLUE=0
	# enable the filament sensor
	SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1	
    _FILAMENT_READY                                                  ;Performs filament specific purgeline and readies for print
    M117 Commencing print.
    #M118 Commencing print.
    SET_NOZZLE_LEDS_OFF
    SET_LED LED=sb_leds INDEX=18 RED=.5 GREEN=.5 BLUE=.5
    SET_LED LED=sb_leds INDEX=17 RED=.5 GREEN=.5 BLUE=.5
    STATUS_PRINTING
    _general_Debug msg="_PRINT_START2 - exiting"

