#.................................................................................................................
# _START_PRINT_WAIT - No additional options / Usage: _START_PRINT_WAIT 
#
#   Description: This is a wait routine for the PRINT_START macro so that the user can exit the heat soak via the CANCEL_PRINT command
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw.display.ena
#  variable_var
#  variable_var.time.soak
#  variable_var.time.soak_extra
#
# [gcode_macro _GLOBAL_VARS]
# variable_state
# variable_execute
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# M117
# _CLEAR_DISPLAY
# _USER_VARIABLE
# _GLOBAL_VARS
# PRINT_START
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/macro.cfg#L201
##      
#.................................................................................................................

[delayed_gcode _START_PRINT_WAIT]
gcode:
   _general_Debug msg="_START_PRINT_WAIT - entering"
   
   # define a jinja2 template macro called print_time
  {% macro print_time(text, time) %} ; print remaining time
     M117 {'%s' % text} {(time|int // 60)}:{'%02d' % (time|int % 60)}
    {% if time|int % 2 == 0 %}
        SET_LED LED=sb_leds INDEX=17 RED=.5 GREEN=0 BLUE=0
        SET_LED LED=sb_leds INDEX=18 RED=0 GREEN=0 BLUE=.5
      {% else %}
        SET_LED LED=sb_leds INDEX=17 RED=0 GREEN=0 BLUE=.5
        SET_LED LED=sb_leds INDEX=18 RED=.5 GREEN=0 BLUE=0
    {% endif %}
  {% endmacro %}
  
  {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  
    STATUS_BUSY
    SET_NOZZLE_LEDS_OFF  
  
  {% if global.state == 'HeatSoak'%}
   { print_time("HEAT SOAK", user.var.time.soak) }
  {% elif global.state == 'ChamberSoak' %}
    { print_time("SOAK", user.var.time.soak_extra) }
  {% endif %}
  # Check CANCLE_PRINT was executed
  {% if global.execute|lower == 'false' %}
    PRINT_START  ; Junp back to PRINT_START
  {% else %} ; break loop and insure state is correct for the next print start
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=execute VALUE=False
    #SET_GCODE_VARIABLE MACRO=CANCEL_PRINT VARIABLE=execute VALUE=False
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=state VALUE='"Prepare"'
    #SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=state VALUE='"Prepare"'
    {% if user.hw.display.ena %} UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=1 {% endif %}
  {% endif %}  
   _general_Debug msg="_START_PRINT_WAIT - exiting"
