#.................................................................................................................
# CANCEL_PRINT - optional parameters: PARK{0,1} ERROR{0,1}
#
#  / Usage: 
#          CANCEL_PRINT
#          CANCEL_PRINT PARK=1
#          CANCEL_PRINT ERROR=1
#          CANCEL_PRINT PARK=1 ERROR=1
#
#   Cancel the actual running print
#
#.................................................................................................................

#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_peripheral.filter.run_after_print
# variable_peripheral.vent.on_val
# variable_peripheral.vent.run_after_print
# variable_filament.retract.end
# variable_filament.retract.cancel
# variable_speed.retract
# variable_park.park_at_cancel
# variable_park.pause.x
# variable_park.pause.y
# variable_hw.chamber.fan
# variable_hw.display.ena
# variable_hw.caselight.ena
# variable_hw.chamber.fan
# variable_hw.filter.ena
# variable_unload_sd
# variable_speed.NPLimitAccel
# variable_speed.NPLimitDecel
# variable_filament.profile.PostPrintParkCool
#
# [gcode_macro _GLOBAL_VARS]
#  variable_state
#  variable_execute
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _USER_VARIABLE
# _GLOBAL_VARS
# M117
# G1
# TURN_OFF_HEATERS
# _TOOLHEAD_PARK
# M141
# _ADD_PRINT_TIME
# _LCD_KNOB
# _SD_PRINT_STATS
# _CASELIGHT_OFF
# _DELAY_VENT_OFF
# _DELAY_FILTER_OFF
# _DELAY_SDCARD_RESET_FILE
# _CLEAR_DISPLAY
# STATUS_BUSY
# DISABLEFILAMENTSENSOR
# CURRENT_NORMAL
# SET_NOZZLE_LEDS_OFF
# _COOL_WAIT
# STATUS_READY
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/webclient.cfg#L19
##      
#.................................................................................................................
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  _general_Debug msg="CANCEL_PRINT - entering"
  {% set user       = printer['gcode_macro _USER_VARIABLE'] %}
  {% set global     = printer['gcode_macro _GLOBAL_VARS'] %}
  {% set filter_off = user.peripheral.filter.run_after_print %}
  {% set vent_on    = user.peripheral.vent.on_val %}
  {% set vent_off   = user.peripheral.vent.run_after_print %}
  {% set retract    = user.filament.retract.end if not printer.pause_resume.is_paused 
                 else user.filament.retract.cancel %}
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=execute VALUE=True
  #SET_GCODE_VARIABLE MACRO=CANCEL_PRINT VARIABLE=execute VALUE=True
  SET_NOZZLE_LEDS_OFF
  STATUS_BUSY
  SET_VELOCITY_LIMIT ACCEL={user.speed.NPLimitAccel|float} ACCEL_TO_DECEL={user.speed.NPLimitDecel|float}
  M118 Cancel
  CANCEL_PRINT_BASE
  {% if global.state == 'Prepare' %}
    {% if not printer.extruder.can_extrude %}
      {action_respond_info("Extruder Temp to low heat to %3.1fC" % printer.configfile.settings.extruder.min_extrude_temp)}
      M109 S{printer.configfile.settings.extruder.min_extrude_temp}
    {% endif %}
    M83
    G1 E-{retract} F{user.speed.retract}
  {% endif %}
  CLEAR_PAUSE
  DISABLEFILAMENTSENSOR
  TURN_OFF_HEATERS
  CURRENT_NORMAL
  {% if params.PARK|default(0)|int == 1 or (not printer.pause_resume.is_paused and user.park.park_at_cancel) %}
    _TOOLHEAD_PARK P={params.PARK|default(0)} X={user.park.pause.x} Y={user.park.pause.y}
  {% endif %}
  {% if user.hw.chamber.fan %} M141 S{vent_on} {% endif %} ; vent chamber (setting fan to below ambient)
  _ADD_PRINT_TIME
  {% if params.ERROR|default(0)|int == 1 %}
    {% if user.hw.display.ena %} _LCD_KNOB COLOR=RED BLINK=0.2 {% endif %}
    _SD_PRINT_STATS R='abort'
  {% else %}
   {% if user.hw.display.ena %} _LCD_KNOB COLOR=BLUE {% endif %}
    _SD_PRINT_STATS R='canceled'
  {% endif %}
  _SD_PRINTER_STATS
  {% if user.hw.caselight.ena %} _CASELIGHT_OFF {% endif %}
  {% if user.hw.chamber.fan %} UPDATE_DELAYED_GCODE ID=_DELAY_VENT_OFF DURATION={vent_off} {% endif %}
  {% if user.hw.filter.ena %} UPDATE_DELAYED_GCODE ID=_DELAY_FILTER_OFF DURATION={filter_off} {% endif %}
  {% if user.unload_sd %} UPDATE_DELAYED_GCODE ID=_DELAY_SDCARD_RESET_FILE DURATION=10 {% endif %}
  {% if user.hw.display.ena %} UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10  {% endif %}
  BED_MESH_CLEAR
  _COOL_WAIT MINUTES={user.filament.profile.PostPrintParkCool|float}
  SET_LED LED=sb_leds INDEX=17 RED=.2 GREEN=.5 BLUE=.2
  SET_LED LED=sb_leds INDEX=18 RED=.2 GREEN=.5 BLUE=.2
  STATUS_READY
  M118 Cancelled print, check nozzle clear.
  _general_Debug msg="CANCEL_PRINT - exiting"

    