#.................................................................................................................
# CANCEL_PRINT - No additional options / Usage: CANCEL_PRINT
#   Cancels the current print job on the printer
#.................................................................................................................

#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro globalvariables]
# variable_nplimitaccel
# variable_nplimitdecel
# variable_endretract
# variable_postprintparkcool
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# GLOBALVARIABLES
# _COOL_WAIT
# CURRENT_NORMAL
# PARK_UpperRight
# TURN_OFF_HEATERS
# STATUS_READY
# M117
# M106
# M107
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-PRINT_HANDLING.cfg#L210
##      
#.................................................................................................................
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    _general_Debug msg="CANCEL_PRINT - entering"
    SET_VELOCITY_LIMIT ACCEL={printer["gcode_macro globalvariables"].nplimitaccel|float} ACCEL_TO_DECEL={printer["gcode_macro globalvariables"].nplimitdecel|float}
    {% set EndRetract = printer["gcode_macro globalvariables"].endretract|float %}
    {% set Z_MAX = printer.configfile.config["stepper_z"]["position_max"]|float -1 %}
    {% set X_MAX = printer.configfile.config["stepper_x"]["position_max"]|float -1 %}
    {% set Z_POS = printer.toolhead.position.z + 10 %}
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-{EndRetract} F3600        ; retract filament
    CLEAR_PAUSE
    TURN_OFF_HEATERS
	SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
    CANCEL_PRINT_BASE
    CURRENT_NORMAL
    M106 S250                      ; turn on fan
    G90
    PARK_UpperRight
    M18 X Y E
    M107                           ; turn off fan
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    _COOL_WAIT MINUTES={printer["gcode_macro globalvariables"].postprintparkcool|float}
    #SET_LED LED=nozzle RED=.2 GREEN=.5 BLUE=.2
	STATUS_READY
    M117 Cancelled print, check nozzle clear.
    #M118 Cancelled print, check nozzle clear.
    _general_Debug msg="CANCEL_PRINT - exiting"

    