#.................................................................................................................
# CANCEL_PRINT_PREV - No additional options / Usage: CANCEL_PRINT_PREV
#
#   Cancels the current print job on the printer
#
#.................................................................................................................

#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_filament.profile.EndRetract
# variable_speed.NPLimitAccel
# variable_speed.NPLimitDecel
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _USER_VARIABLE
# _COOL_WAIT
# CURRENT_NORMAL
# PARK_UpperRight
# TURN_OFF_HEATERS
# STATUS_READY
# M117
# M106
# M107
# STATUS_BUSY
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-PRINT_HANDLING.cfg#L210
##      
#.................................................................................................................
[gcode_macro CANCEL_PRINT_PREV]
description: Helper: Cancel the actual running print
#rename_existing: CANCEL_PRINT_BASE
gcode:
    _general_Debug msg="CANCEL_PRINT_PREV - entering"
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    STATUS_BUSY
    SET_VELOCITY_LIMIT ACCEL={user.speed.NPLimitAccel|float} ACCEL_TO_DECEL={user.speed.NPLimitDecel|float}
    {% set EndRetract = user.filament.profile.EndRetract|float %}
    {% set Z_MAX = printer.configfile.config.stepper_z.position_max|float -1 %}
    {% set X_MAX = printer.configfile.config.stepper_x.position_max|float -1 %}
    {% set Z_POS = printer.toolhead.position.z + 10 %}
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-{EndRetract} F3600        ; retract filament
    CLEAR_PAUSE
    TURN_OFF_HEATERS
	SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
    CANCEL_PRINT_BASE
    CURRENT_NORMAL
    M106 S250                      ; turn on fan
    G90
    PARK_UpperRight
    M18 X Y E
    M107                           ; turn off fan
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    _COOL_WAIT MINUTES={user.filament.profile.PostPrintParkCool|float}
    SET_LED LED=sb_leds INDEX=17 RED=.2 GREEN=.5 BLUE=.2
    SET_LED LED=sb_leds INDEX=18 RED=.2 GREEN=.5 BLUE=.2
	STATUS_READY
    M117 Cancelled print, check nozzle clear.
    _general_Debug msg="CANCEL_PRINT_PREV - exiting"

    