#.................................................................................................................
# PAUSE_PREV - required parameters: X{pos},Y{pos},Z{pos},E{pos} / Usage: PAUSE_PREV X=0 Y=20 Z=10.0 E=1
#
#  Pause the actual running print and move the toolhead to X,Y,Z with E also set.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [filament_motion_sensor filament_sensor] - must be defined
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# STATUS_BUSY
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-PRINT_HANDLING.cfg#L155
##      
#.................................................................................................................
[gcode_macro PAUSE_PREV]
description: Helper: Pause the actual running print
#rename_existing: PAUSE_BASE
gcode:
    _general_Debug msg="PAUSE_PREV - entering"
    {% set x = params.X|default(0) %}        #edit to your park position
    {% set y = params.Y|default(20) %}       #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(1) %}        #edit to your retract length
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
      {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    PAUSE_BASE
	SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
        G1 E-{e} F2100
      {% else %}
        {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}    
        G1 Z{z_safe}
        G90
        G1 X{x} Y{y} F4000
    {% else %}
        {action_respond_info("Printer not homed")}
    {% endif %}
    STATUS_BUSY
    _general_Debug msg="PAUSE_PREV - exiting"
