#.................................................................................................................
# PRINT_END - No additional options / Usage: PRINT_END 
#
#   Description: This is the PRINT_END Macro; All commands after the print
#
#.................................................................................................................

#.................................................................................................................
#
# -SuperSlicer's end print gcode should contain the following:
#   Use PRINT_END for the slicer ending script
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_peripheral.filter.run_after_print
#  variable_peripheral.vent.on_val
#  variable_peripheral.vent.run_after_print
#  variable_filament.retract.end
#  variable_filament.profile.PostPrintCool
#  variable_speed.retract
#  variable_speed.travel
#  variable_park.pause.x
#  variable_park.pause.y
#  variable_hw.chamber.fan
#  variable_hw.display.ena
#  variable_hw.caselight.ena
#  variable_hw.chamber.fan
#  variable_hw.filter.ena
#  variable_hw.endstop_temp.ena
#  variable_unload_sd
#  variable_speed.NPLimitAccel
#  variable_speed.NPLimitDecel
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _USER_VARIABLE
# G1
# G0
# TURN_OFF_HEATERS
# M107
# M141
# _ADD_PRINT_TIME
# _SD_PRINT_STATS
# _LCD_KNOB
# _CASELIGHT_OFF
# _DELAY_VENT_OFF
# _DELAY_FILTER_OFF
# _DELAY_SDCARD_RESET_FILE
# _CLEAR_DISPLAY
# DISABLEFILAMENTSENSOR
# CURRENT_NORMAL
# _COOL_WAIT
# STATUS_READY
# SET_NOZZLE_LEDS_OFF
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/macro.cfg#L220
##      
#.................................................................................................................

[gcode_macro PRINT_END]
# Use PRINT_END for the slicer ending script
description: Helper: All commands after the print
gcode:
  _general_Debug msg="PRINT_END - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  SET_VELOCITY_LIMIT ACCEL={user.speed.NPLimitAccel|float} ACCEL_TO_DECEL={user.speed.NPLimitDecel|float}
  
  {% set filter_off = user.peripheral.filter.run_after_print %}
  {% set vent_on    = user.peripheral.vent.on_val %}
  {% set vent_off   = user.peripheral.vent.run_after_print %}
  # calculate save move
  {% set max = printer.toolhead.axis_maximum %}
  {% set act = printer.toolhead.position %}
  {% set safe = {'x': 20.0 if act.x|float < (max.x|float - 20.0) else -20.0,
                 'y': 20.0 if act.y|float < (max.y|float - 20.0) else -20.0,
                 'z':  2.0 if act.z|float < (max.z|float -  2.0) else (max.z|float - act.z|float)} %}
  M400                                                              ; wait for buffer to clear
  SAVE_GCODE_STATE NAME=STATE_PRINT_END
  G92 E0                                                            ; zero the extruder
  M83                                                               ; relative extrusion
  G1 E-{user.filament.retract.end} F{user.speed.retract}            ; retract filament
  G91                                                               ; relative positioning
  G0 X{safe.x} Y{safe.y} Z{safe.z} F{user.speed.travel}             ; move nozzle to remove stringing
  # disables the filament sensor
  DISABLEFILAMENTSENSOR
  TURN_OFF_HEATERS                                                  ; turn off heaters
  CURRENT_NORMAL
  M107                                                              ; turn off fan
  {% if user.hw.chamber.fan %} M141 S{vent_on} {% endif %}          ; vent chamber (setting fan to below ambient)
  G90                                                               ; absolute positioning
  M400                                                              ; wait for buffer to clear
  G0 X{user.park.pause.x} Y{user.park.pause.y} F{user.speed.travel} ; park nozzle at brush bin
  _ADD_PRINT_TIME
  _SD_PRINT_STATS R='done'
  _SD_PRINTER_STATS
  {% if user.hw.display.ena %} _LCD_KNOB COLOR=GREEN {% endif %}
  {% if user.hw.caselight.ena %} _CASELIGHT_OFF {% endif %}
  {% if user.hw.chamber.fan %} UPDATE_DELAYED_GCODE ID=_DELAY_VENT_OFF DURATION={vent_off} {% endif %}
  {% if user.hw.filter.ena %} UPDATE_DELAYED_GCODE ID=_DELAY_FILTER_OFF DURATION={filter_off} {% endif %}
  {% if user.hw.endstop_temp.ena %} 
    # to display the degree symbol, one has to use the HTML sequence "&ordm;"
    {action_respond_info("PRINT_END
                          BED temp: act %3.1f&ordm;C
                          Endstop temp: start %3.1f&ordm;C end %3.1f&ordm;C" % (printer['temperature_sensor bed'].temperature if 'temperature_sensor bed' in printer 
                                                               else printer.heater_bed.temperature, 
                                                                    printer['gcode_macro PRINT_START'].var.temp.endstop,
                                                                    printer['temperature_sensor endstop'].temperature))}
  {% endif %}
  {% if user.unload_sd in ['true', '1', 'True', true, 1, True] %} UPDATE_DELAYED_GCODE ID=_DELAY_SDCARD_RESET_FILE DURATION=10 {% endif %}
  UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10
  RESTORE_GCODE_STATE NAME=STATE_PRINT_END
  _COOL_WAIT MINUTES={user.filament.profile.PostPrintCool|float}
  M220 S100 ; set feedrate percentage back to default
  M221 S100 ; set speed percentage back to default
  SET_NOZZLE_LEDS_OFF
  SET_LED LED=sb_leds INDEX=17 RED=.2 GREEN=.5 BLUE=.2
  SET_LED LED=sb_leds INDEX=18 RED=.2 GREEN=.5 BLUE=.2
  STATUS_READY
  M118 Finished printing, check nozzle clear.
  _general_Debug msg="PRINT_END - exiting"
