#.................................................................................................................
# TOGGLE_LAYER_OUTPUT - No additional options / Usage: TOGGLE_LAYER_OUTPUT 
#
#   Enable/Disable Console output of _LAYER
#
#.................................................................................................................

#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_respond
#  variable_respond.layer
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/macro.cfg#L351
##      
#.................................................................................................................

[gcode_macro TOGGLE_LAYER_OUTPUT]
description: Helper: Enable/Disable Console output of _LAYER
gcode:
   _general_Debug msg="TOGGLE_LAYER_OUTPUT - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
   
  {% set respond = user.respond %}
  {% set _dummy = respond.update({'layer':1}) if respond.layer|int == 0 else respond.update({'layer':0}) %}
  SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=respond VALUE="{respond}"
   _general_Debug msg="TOGGLE_LAYER_OUTPUT - exiting"
