#####################################################################
#   Thermistor Definitions
# url: https://reprap.org/wiki/Thermistor#EPCOS_100K_Thermistor_.28B57560G104F.29
#####################################################################

[thermistor PartsBuilt-NTC3950-Bead_airtemp]
#PartsBuilt-NTC3950-Bead-Thermistor:
# URL: https://www.partsbuilt.com/ntc-3950-glass-bead-thermistor-1-meter-with-xh2-54/
temperature1: 26 ;//28
resistance1: 95672.881
temperature2: 56 ;//59
resistance2: 26474.732
temperature3: 86 ;//93
resistance3: 8506.278

[thermistor FYSETC-HT-NTC100K-3950]
# URL chart and where to buy: https://www.amazon.com/gp/product/B07D9LSKWK/
temperature1: 20
resistance1: 124973.4
temperature2: 80
resistance2: 12382.5
temperature3: 220
resistance3: 390.7

[thermistor FYSETC-HT-NTC100K-3950_airtemp]
# URL chart and where to buy: https://www.amazon.com/gp/product/B07D9LSKWK/
temperature1: 28 ;//25
resistance1: 95411.834
temperature2: 58 ;//61
resistance2: 22770.473
temperature3: 88 ;//95
resistance3: 7210.884

[thermistor Reprap-Thermistor-NTC-3950-100K]
# buy at https://www.makeralot.com/reprap-hotend-thermistor-ntc-3950-100k-with-1m-cable-p176/
# URL: https://github.com/Klipper3d/klipper/issues/4054#issuecomment-830721715
temperature1: 20
resistance1: 125245
temperature2: 80
resistance2: 12540
temperature3: 220
resistance3: 396

[thermistor gulfcoast-epcos-m3-hex-stud]
# GolfCoast uses NTC EPCOS B57560G104F 100k Thermistor
# URL: https://gulfcoast-robotics.com/products/epcos-m3-hex-stud-thermistor-for-universal-3d-printers?_pos=1&_sid=4d22f1378&_ss=r
temperature1: 25
resistance1: 100000
temperature2: 150
resistance2: 1655
temperature3: 250
resistance3: 227.8


[thermistor 100k3950_airtemp]
# URL: https://reprap.org/wiki/Thermistor#Calibrating_an_unknown_model_thermistor_with_a_Thermocouple_thermometer
# https://github.com/Klipper3d/klipper/issues/2300
# https://www.klipper3d.org/G-Codes.html?h=query_adc#query_adc
# https://www.klipper3d.org/Config_Reference.html?h=adc_temperature#adc_temperature
temperature1: 20
resistance1: 125245
temperature2: 50
resistance2: 35900
temperature3: 80
resistance3: 12933


[thermistor Trianglelab-NTC100K-B3950]
# URL : https://github.com/Klipper3d/klipper/issues/4054#issuecomment-869209660
temperature1: 25
resistance1: 103180
temperature2: 150
resistance2: 1366.2
temperature3: 250
resistance3: 168.6

[thermistor ATC-Semitec-104NT-4-R025H42G]
temperature1: 25
resistance1: 100000
temperature2: 160
resistance2: 1074
temperature3: 300
resistance3: 82.78

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[thermistor NTCALUG03-Mini-Lug]
temperature1: 0.0
resistance1: 32624.0
temperature2: 60.0
resistance2: 2483.8
temperature3: 125.0
resistance3: 336.75