#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
# EXTENDED_TEMPLATE Setup 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

# Define the [extended_template] section and define the option parameter 'path' points to 
#    the path of the filters_config.yaml file (any filename but it must have the .yml or .yaml extension)
#
#EXTENDED_TEMPLATE
[extended_template]
# extended_template is used to define the path to your custom python macros and the your custom jinja2 filter using the extend_macro Klipper extension
# URL Resource at : https://github.com/droans/klipper_extras/tree/7d43969ab87606d52cc9155d38bae48fab3d9452/extended_macro
path: /home/pi/klipper_config/ACTIVE/CONFIG/KLIPPER_FUNCTIONS/functions_and_filters_config.yaml
