#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
# EXTENDED_TEMPLATE Setup 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

# Define the [extended_template] section URL: https://github.com/droans/klipper_extras/tree/v0.2/extended_macro
#EXTENDED_TEMPLATE 

[extended_template]
# Extended_template is used to define the path to your Function Config
path: /home/pi/klipper_config/ACTIVE/CONFIG/KLIPPER_FUNCTIONS/function_config.yaml