#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  Fan Control 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

[fan]
# Print Cooling Fan - BTT EBB36V1.2 - FAN0
pin: EBBCan: PA0
max_power: 1.0
cycle_time: 0.02 # use 1.0 for fans that are not PWM fans
#   The amount of time (in seconds) for each PWM power cycle to the
#   fan. It is recommended this be 10 milliseconds or greater when
#   using software based PWM. The default is 0.010 seconds.
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10 #0.10
tachometer_pin: ^EBBCan: PB5

# [duplicate_pin_override]
# pins: EBBCan: PA1, EBBCan: PB7  
# #   A comma separated list of pins that may be used multiple times in
# #   a config file without normal error checks. This parameter must be
# #   provided.

[heater_fan fan_hotend]
# Hotend Fan - BTT EBB36V1.2 - FAN1
pin: EBBCan: PA1
max_power: 1.0
cycle_time:  0.08 # use 1.0 for fans that are not PWM fans
#   The amount of time (in seconds) for each PWM power cycle to the
#   fan. It is recommended this be 10 milliseconds or greater when
#   using software based PWM. The default is 0.010 seconds.
kick_start_time: 0.2
off_below: 0.10
heater: extruder
heater_temp: 40
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0 # 0.4
tachometer_pin: ^EBBCan: PB7  

# [fan_generic fan_hotend_dup]
# # Hotend Fan - BTT EBB36V1.2 - FAN1
# pin: EBBCan: PA1
# max_power: 1.0
# cycle_time:  0.08 # use 1.0 for fans that are not PWM fans
# #   The amount of time (in seconds) for each PWM power cycle to the
# #   fan. It is recommended this be 10 milliseconds or greater when
# #   using software based PWM. The default is 0.010 seconds.
# kick_start_time: 0.5
# off_below: 0.10
# tachometer_pin: ^EBBCan: PB7  

[temperature_fan Fan_EBB36_TH]
pin: EBBCan: PB9
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 1.0
kick_start_time:1.0
off_below: 0.1
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100
control: watermark
max_delta: 0.5
target_temp: 35
min_speed: 1.0
max_speed: 1.0
gcode_id: Fan_EBB36_TH

# #ALIASES-BOARD_PINS_TINYFAN
# [board_pins tinyfan]
# mcu: tinyfan
# aliases:

    # #FAN Ports:
    # FAN1_PWM=gpio0, FAN1_RPM=gpio7,
    # FAN2_PWM=gpio1, FAN2_RPM=gpio8,
    # FAN3_PWM=gpio2, FAN3_RPM=gpio9,
    # FAN4_PWM=gpio3, FAN4_RPM=gpio10,
	
	# #AUX Ports:
    # AUX1_PWM=gpio4, AUX1_RPM=gpio26,
    # AUX2_PWM=gpio5, AUX2_RPM=gpio27,
    # AUX3_PWM=gpio6, AUX3_RPM=gpio28,

    # #GPIO Header:
    # G1=gpio29, G2=gpio11, G3=gpio12,
    # G4=gpio13, G5=gpio14, G6=gpio15,
	
	# #Waveshare LED:
    # LED=gpio16

[temperature_fan Octopus_Driver_XYEZ_Fans]
pin: tinyfan: FAN3_PWM
tachometer_pin: ^tinyfan:FAN3_RPM
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.00004
hardware_pwm: true
off_below: 0.2
sensor_type: temperature_mcu
control: watermark
max_delta: 0.5
min_temp: 0
max_temp: 100
target_temp: 25.0
max_speed: 1.0
min_speed: 1.0
gcode_id: Octopus_Driver

## switching to a Chamber Temperature and Exhaust Fan setup! see [temperature_fan chamber]
# [heater_fan fan_exhaust]
# ##  Exhaust fan - FAN4
# pin: tinyfan: FAN4_PWM
# tachometer_pin: ^tinyfan:FAN4_RPM
# off_below: 0.1
# cycle_time: 0.00004 #0.00004
# hardware_pwm: true
# max_power: 1.0
# shutdown_speed: 0.0
# heater: heater_bed
# heater_temp: 40
# fan_speed: 0.5      # 50%, and coupled with the nevermore, this seems to add to negative air pressure in the chamber
# ## for info on negtive air pressure: https://voronregistry.com/mods/deprintinator-hepaexhaust
# ## I bought this to go with the Nevermore to get a HEPA filter:  https://3dthat.com/products/voron-exhaust-hepa-filter-high-temp-02174

# Chamber Temperature & Exhaust Fan:
# URL: https://github.com/VoronDesign/Voron-Documentation/blob/4a825a8704a3c8467606f58fb45ac4c377779842/community/howto/alchemyEngine/chamber_temperature_exhaust_fan.md
[temperature_fan chamber]
##  Exhaust fan - FAN4
pin: tinyfan: FAN4_PWM
tachometer_pin: ^tinyfan:FAN4_RPM
off_below: 0.1
cycle_time: 0.00004 
hardware_pwm: true
max_power: 1.0
shutdown_speed: 0.0
## PT100 4-wire chamber temperature sensor
## DIP switch settings, 1-2-3-4: OFF-OFF-ON-OFF
sensor_type:MAX31865
sensor_pin: EBBCan: PA4
# printer['mcu EBBCan'].mcu_constants.BUS_PINS_spi1 : PA6,PA7,PA5
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 4
spi_speed: 2000000
min_temp: 0
max_temp: 70
control: watermark
max_delta: 0.5
target_temp: 35
min_speed: 0.3
max_speed: 1.0
gcode_id: ChamberFan-ToolH

[controller_fan In-take_Right_Side_Controller]
###  Controller fan - TinyFan - FAN1
###  Out-take_Left_Side_Controller - TinyFan - FAN2 but not controlled by Klipper these fans are always ON when printer is ON
###  Since  Out-take_Left_Side_Controller FANS get their power from the TinyFAN PCB but are not controlled by Klipper they will
###  always be ON when the printer is powered up
pin: tinyfan:FAN1_PWM
tachometer_pin: ^tinyfan:FAN1_RPM
off_below: 0.2
fan_speed: 1.0
idle_speed: 1.0
cycle_time: 0.00004 #0.00004
hardware_pwm: true
heater: extruder, heater_bed
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3
idle_timeout: 1200

[temperature_fan Out-take_Left_Side_Controller]
###  temperature_fan - TinyFan - FAN2
pin: tinyfan:FAN2_PWM
tachometer_pin: ^tinyfan:FAN2_RPM
off_below: 0.4
cycle_time: 0.00004 #0.00004
hardware_pwm: true
sensor_type: temperature_host
#sensor_mcu: rpi
control: watermark
max_delta: 1.0
min_temp: 0
max_temp: 100
target_temp: 25.0
max_speed: 1.0
min_speed: 1.0
gcode_id: Out-take_Left

# [heater_fan Nevermore]
# ## Nevermore Fans - FAN0
# pin: PA8
# #cycle_time: 0.06    #For Sunon MF50152VX
# #cycle_time: 0.01    #For Delta BFB0524HH
# #cycle_time: 0.00004 #For 4-Wire Fans
# cycle_time: 1.0 # use 1.0 for fans that are not PWM fans
# #   The amount of time (in seconds) for each PWM power cycle to the
# #   fan. It is recommended this be 10 milliseconds or greater when
# #   using software based PWM. The default is 0.010 seconds.
# hardware_pwm: false
# off_below: 0.13
# heater: heater_bed
# kick_start_time: 1.0
# heater_temp: 50
# #heater_temp: 99     #Only for ABS Printing Temps
# fan_speed: 0.6      #At 100% you will get a runout error!

[fan_generic filter]
## Nevermore Fans - FAN0
pin: PA8
#cycle_time: 0.06    #For Sunon MF50152VX
#cycle_time: 0.01    #For Delta BFB0524HH
#cycle_time: 0.00004 #For 4-Wire Fans
cycle_time: 1.0 # use 1.0 for fans that are not PWM fans
#   The amount of time (in seconds) for each PWM power cycle to the
#   fan. It is recommended this be 10 milliseconds or greater when
#   using software based PWM. The default is 0.010 seconds.
max_power: 1.0
hardware_pwm: false
off_below: 0.10
kick_start_time: 0.5

[fan_generic Bedfan_Left]
## Bed Fan Mod - Left FAN - FAN1
##pin: multi_pin:BedFans_fans
pin: PE5
cycle_time: 1.0
off_below: 0.13
kick_start_time: 1.0

[fan_generic Bedfan_Right]
## Bed Fan Mod - Right FAN - FAN2
##pin: multi_pin:BedFans_fans
pin: PD12
cycle_time: 1.0
off_below: 0.13
kick_start_time: 1.0

