#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  heater_bed Setup        
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

[heater_bed]
## Kenoovo 280x280mm (600W) & Thermal Fuse (125c) URL: https://keenovo.store/products/keenovo-square-silicone-heater-3d-printer-build-plate-heatbed-heating-pad?variant=12592089268279
## Build plate is 10mm thick; Width 304.8mm (12 inches); Height: 304.8mm (12 inches)
## Heater Max = 30.48cm x 30.48cm = 929.0304 * 0.4Watts/cm2 = 371.61216, I own a 600Watt heater which means Max_Power = 371.61216 / 600 = 0.6193536 or 0.62
##  SSR Pin - BED_OUT
##  Thermistor - TB
heater_pin: PA1
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: keenovo #Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: 0 #-273.15
#max_temp: 120                                          #   <<<<<<<<<<<<<<<<<<<< overridden by FILAMENT_FilE.cfg  <<<
##control: pid                            # PID tuning  #   <<<<<<<<<<<<<<<<<<<< overridden by FILAMENT_FilE.cfg  <<<
##pid_Kp: 13.211                          # No Overshoot#   <<<<<<<<<<<<<<<<<<<< overridden by FILAMENT_FilE.cfg  <<<
##pid_Ki: 0.339                           # No Overshoot#   <<<<<<<<<<<<<<<<<<<< overridden by FILAMENT_FilE.cfg  <<<
##pid_Kd: 340.046                         # No Overshoot#   <<<<<<<<<<<<<<<<<<<< overridden by FILAMENT_FilE.cfg  <<<
##To calculate the "No Overshoot" PID from the "classic PID" parameters - 
##divide the recommended Kp by 3, 
##divide Ki by 3, and 
##multiply Kd by 0.88
#
## un-comment the next 4 lines when you want to do a PID Tune of the heater_bed.  comment out the same lines in the FILAMENT_FILE.cfg file.  
##This way Klipper will perform the SAVE_CONFIG without error.
#control: pid                          # PID tuning 
#pid_kp = 39.632                       # Classic PID
#pid_ki = 1.016                        # Classic PID
#pid_kd = 386.416                      # Classic PID
#
## comment out the pwm_cycle_time when you want to do a PID Tune of the heater_bed.
##This way Klipper will perform the SAVE_CONFIG without error.
pwm_cycle_time: 0.0166

