#####################################################################
#   LED Control
#####################################################################

# [board_pins tinyfan]
# mcu: tinyfan
# aliases:

    # #Waveshare LED:
    # LED=gpio16

[neopixel tinyfan]
pin: tinyfan:LED
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 1

[output_pin caselight]
## Chamber Lighting - HE1 Connector (White LEDs Only)
pin: PA3
pwm:true
shutdown_value: 0
value: 0.5
cycle_time: 0.01

