#.................................................................................................................
# EUCLID Probe (GANTRY MOUNTED) Klipper configurations, and settings
#
#
#
#                               X->--------------------------------- 
#                                  |X0 Y306   X150 Y306           *| Home Y/X (X306,Y306)            
#                                  |Dock(GM)  Dock Side            | 
#                                  |                               |X150       Y306
#                                  | X0 Y266                       |X0         Y306
#                                  | Dock Exit Position            |X150       Y306
#                                  |                               | 
#                                  |                               |X150       Y306
#                                  |                               |X0         Y306                  
#                                  |                               |X0         Y266 
#                                  |             Home              |
#                                  |            Z X150 Y150        |^
#                                  |                               ||
#                                  ---------------------------------Y
#                                               Front
#
#
#
#  ! ! ! Before wiring up to the the probe, please read the pertinent documentation here: http://euclidprobe.github.io/ ! ! !
#    ! ! ! Following probe wiring or macro modification, you must be ready to emergency stop the printer when testing ! ! !
#          When testing the probe, have at least 100mm space between probe and plate, use your finger to depress probe
#          switch, if it doesn't stop, hit emergency stop and verify setup.
#
#.................................................................................................................


#.................................................................................................................
[probe]
# Euclid_Probe
## Euclide Probe on Stop_7 of Octopus Pro Board
## see https://euclidprobe.github.io/03_btt.html#octopus-commissioning
pin: ^PG15
x_offset: 0.500
y_offset: 23.000
# z_offset: 8.06  # <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< overridden by main printer.cfg  <<<
speed: 10 #04.0
lift_speed: 10.0
samples: 3 ; For my bed meshes
##samples: 1 ; For Thermal Profiling tests
samples_result: median
sample_retract_dist: 1.5
samples_tolerance: 0.0125 ;for my bed meshes
##samples_tolerance: 0.05 ; For Thermal Profiling tests
samples_tolerance_retries: 10  #20


