#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  LED Control 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

[neopixel progress_bar_leds]
## Progress bar 
## using Adafuit's "Flexible Silicone Neon-like Skinny NeoPixel LED Strip - 96 LEDs per meter": https://www.adafruit.com/product/4310
## LED strip: Dimensions:12mm x 6mm; Side lighting only;
## Datasheet URL: https://cdn-shop.adafruit.com/product-files/4310/N006096YA3SF+%281%29.pdf
## 	Left-side : 5 (3-LEDs sections) = 15 LEDs
##	Right-side : 6 (3-LEDs sections) = 18 LEDs
##  Total LEDs = 33 LEDs
##
pin: PB0
##
## The pin connected to the neopixel. This parameter must be provided.
## Neopixel is Adafruit's name for a variety of digitally controlled LEDs. 
## They are also often named by their driver ICs, with WS2812B and SK6812 being the most common.
chain_count: 33 #33   #  <---------------------update this value
##   The number of Neopixel chips that are "daisy chained" to the
##   provided pin. The default is 1 (which indicates only a single
##   Neopixel is connected to the pin).
color_order: RGB
##   Set the pixel order required by the LED hardware (using a string
##   containing the letters R, G, B, W with W optional). Alternatively,
##   this may be a comma separated list of pixel orders - one for each
##   LED in the chain. Options are GRB, RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0
##   Sets the initial LED color of the Neopixel. Each value should be
##   between 0.0 and 1.0. The WHITE option is only available on RGBW
##   LEDs. The default for each color is 0.#

