# Klipper coonfig so I can define a Klipper device for moonraker
# see URL: https://moonraker.readthedocs.io/en/latest/configuration/#klipper-device-configuration
#
[output_pin reset_line_RP2040]
pin: rpi:gpiochip0/gpio5
value = 0
shutdown_value = 0
