#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  GCODE_SHELL_COMMAND Setup 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#
# The G-Code Shell Command Extension must be installed : https://github.com/th33xitus/kiauh/blob/master/docs/gcode_shell_command.md
# Here is the User Guide called "How to autocommit config changes to github?": https://github.com/th33xitus/kiauh/wiki/How-to-autocommit-config-changes-to-github%3F
#
#RUN_SHELL_COMMAND-BACKUP_TO_GITHUB
[gcode_shell_command backup_to_github]
command: sh /home/pi/git_backup.sh
timeout: 30.
verbose: True
