#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  GCODE_SHELL_COMMAND Setup 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

#
# The G-Code Shell Command Extension must be installed : https://github.com/th33xitus/kiauh/blob/master/docs/gcode_shell_command.md
# Here is the User Guide called "How to autocommit config changes to github?": https://github.com/th33xitus/kiauh/wiki/How-to-autocommit-config-changes-to-github%3F
#
#RUN_SHELL_COMMAND-JINJA2_FILTER_STRTODICT.cfg
[gcode_shell_command jinja2_filter_strtodict]
command: sh /home/pi/klipper_config/scripts/add_jinj2_custom_filter.sh
timeout: 30.
verbose: True
