[neopixel sb_leds]
pin: EBBCan:PD3
##
#   The pin connected to the neopixel. This parameter must be provided.
# Stealthburner LEDS with BARF LED as 1st LED (8 RGB Leds with two RGBW)
# Neopixel is Adafruit's name for a variety of digitally controlled LEDs. 
# They are also often named by their driver ICs, with WS2812B and SK6812 being the most common.
#chain_count: 10
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRBW,GRBW
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. Options are GRB, RGB, GRBW, or RGBW. The default is GRB.
##
## Stealthburner LEDS with Hartk1213's LED secondary board with 8 WS2812B GRB Leds (1 - 8) followed by
## BARF LEDs which has 8 WS2812B GRB leds (9 - 16) followed by two (2) WS2812B GRBW Leds (17, 18)
#chain_count: 2
chain_count: 18
##   The number of Neopixel chips that are "daisy chained" to the
##   provided pin. The default is 1 (which indicates only a single
##   Neopixel is connected to the pin).
color_order: GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRBW,GRBW
#color_order: GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB
#color_order: GRB,GRB
##   Set the pixel order required by the LED hardware (using a string
##   containing the letters R, G, B, W with W optional). Alternatively,
##   this may be a comma separated list of pixel orders - one for each
##   LED in the chain. Options are GRB, RGB, GRBW, or RGBW. The default is GRB.
##
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#