#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  Y Stepper Settings 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
## LDO-42STH48-2004MAH(VRN) [0.9 degree] URL: https://caribou3d.com/en/annex-k3/896-09-stepper-motor-ldo-42sth48-2004mahanxs80.html
##
[stepper_y]
# A Motor should go to the Right (just like X) on STEPPER_BUZZ STEPPER=stepper_y
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40 #GT2 Belt with 20tooth Pulley rotation_distance = <belt_pitch> * <number_of_teeth_on_pulley>= 2*20
microsteps: 32
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: 0
position_endstop: 306 #353  #    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  Y-Endstop Position  <<<
position_max: 306 #357
homing_speed: 25  #60  #Max 100
second_homing_speed: 10
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8 
sense_resistor: 0.110
stealthchop_threshold: 0