#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  Z Stepper Settings 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
## LDO-42STH48-2004AC(VRN) [1.8 degree] URL: https://github.com/LDOMotors/ldo-stepper-datasheets/blob/master/nema17(42mm_frame)/LDO-42STH48-2004AC%20RevA.pdf
#
[stepper_z]
# Z0 Stepper - Front Left, Connected to MOTOR_2, Endstop connected to DIAG_2
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40 #GT2 Belt with 20tooth Pulley rotation_distance = <belt_pitch> * <number_of_teeth_on_pulley>= 2*20
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper, set to 200 for 1.8 degree stepper
endstop_pin: PG10 #probe:z_virtual_endstop (use only when Euclid probe is used for sexbolt also)
##  (sexbolt) Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: 2.280   # <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< <Z-Endstop Position when using Sexbolt<<<
position_max: 260
position_min: -6.8 #-5
homing_speed: 8 #10
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.3 #0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
## LDO-42STH48-2004AC(VRN) [1.8 degree] URL: https://github.com/LDOMotors/ldo-stepper-datasheets/blob/master/nema17(42mm_frame)/LDO-42STH48-2004AC%20RevA.pdf
#
[stepper_z1]
# Z1 Stepper - Rear Left, Connected to MOTOR_3
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40 #GT2 Belt with 20tooth Pulley rotation_distance = <belt_pitch> * <number_of_teeth_on_pulley>= 2*20
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper, set to 200 for 1.8 degree stepper

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.3 #0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_6
## LDO-42STH48-2004AC(VRN) [1.8 degree] URL: https://github.com/LDOMotors/ldo-stepper-datasheets/blob/master/nema17(42mm_frame)/LDO-42STH48-2004AC%20RevA.pdf
#
[stepper_z2]
# Z2 Stepper - Rear Right, Connected to MOTOR_6
step_pin: PE2 #PF9
dir_pin: PE3 #PF10
enable_pin: !PD4 #!PG2
rotation_distance: 40 #GT2 Belt with 20tooth Pulley rotation_distance = <belt_pitch> * <number_of_teeth_on_pulley>= 2*20
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper, set to 200 for 1.8 degree stepper

[tmc2209 stepper_z2]
uart_pin: PE1 #PF2
interpolate: false
run_current: 0.3 #0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
## LDO-42STH48-2004AC(VRN) [1.8 degree] URL: https://github.com/LDOMotors/ldo-stepper-datasheets/blob/master/nema17(42mm_frame)/LDO-42STH48-2004AC%20RevA.pdf
#
[stepper_z3]
# Z3 Stepper - Front Right, Connected to MOTOR_5
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40 #GT2 Belt with 20tooth Pulley rotation_distance = <belt_pitch> * <number_of_teeth_on_pulley>= 2*20
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper, set to 200 for 1.8 degree stepper

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.3 #0.8
sense_resistor: 0.110
stealthchop_threshold: 0