#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  Additional Temperature Sensor 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

# [board_pins tinyfan]
# mcu: tinyfan
# aliases:

    # #FAN Ports:
    # FAN1_PWM=gpio0, FAN1_RPM=gpio7,
    # FAN2_PWM=gpio1, FAN2_RPM=gpio8,
    # FAN3_PWM=gpio2, FAN3_RPM=gpio9,
    # FAN4_PWM=gpio3, FAN4_RPM=gpio10,
	
	# #AUX Ports:
    # AUX1_PWM=gpio4, AUX1_RPM=gpio26,
    # AUX2_PWM=gpio5, AUX2_RPM=gpio27,
    # AUX3_PWM=gpio6, AUX3_RPM=gpio28,

    # #GPIO Header:
    # G1=gpio29, G2=gpio11, G3=gpio12,
    # G4=gpio13, G5=gpio14, G6=gpio15,
	
	# #Waveshare LED:
    # LED=gpio16

[temperature_sensor I_Bed_Temp2]
## Second Bed Plate Temperature Sensor - T1
sensor_type: gulfcoast-epcos-m3-hex-stud #EPCOS 100K B57560G104F 
sensor_pin: PF5
min_temp: 0 #-273.15 #-273.15
max_temp: 125
gcode_id: IBedT2

[temperature_sensor J_Chamber_ZDragChain_PT100]
## PT100 4-wire chamber temperature sensor
## DIP switch settings, 1-2-3-4: OFF-OFF-ON-OFF
## on PT1000/PT100 connector
# used by MACRO BEDFANLOOP in ~/klipper_config/ACTIVE/MACRO/BEDFANLOOP.cfg
sensor_type:MAX31865
sensor_pin: PF8
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 4
##spi_speed: 2000000
##spi_software_sclk_pin: PA5
##spi_software_mosi_pin: PA7
##spi_software_miso_pin: PA6
##tc_use_50Hz_filter: False
##tc_averaging_count: 1
min_temp: 0
max_temp: 480
gcode_id:ChambZdrag

# ## switching to a Chamber Temperature and Exhaust Fan setup! 
# ## see [temperature_fan chamber] in file ~/klipper_config/ACTIVE/CONFIG/FANS.cfg
#
# [temperature_sensor K_Chamber_Toolhead_PT100]
# ## PT100 4-wire chamber temperature sensor
# ## DIP switch settings, 1-2-3-4: OFF-OFF-ON-OFF
# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 4
# spi_speed: 2000000
# ##spi_software_sclk_pin: EBBCan: PA5
# ##spi_software_mosi_pin: EBBCan: PA7
# ##spi_software_miso_pin: EBBCan: PA6
# ##tc_use_50Hz_filter: False
# ##tc_averaging_count: 1
# min_temp: 0
# max_temp: 480
# gcode_id:ChamberToolH

[temperature_sensor L_X-Axis_Frame_Temp]
## Frame Thermal Compensation Temperature Sensor - T0
## Glass Thermistor: NTC 3950 100K ohm Thermistor
sensor_type:  PartsBuilt-NTC3950-Bead_airtemp #100k3950_airtemp #Generic 3950 #NTC 100K MGB18-104F39050L32 
sensor_pin: PF4
min_temp: 0
max_temp: 120
gcode_id:XFrame

[temperature_sensor M_Y-Axis_Frame_Temp]
## Frame Thermal Compensation Temperature Sensor - T2
## Glass Thermistor: NTC 3950 100K ohm Thermistor
sensor_type:  PartsBuilt-NTC3950-Bead_airtemp #100k3950_airtemp #Generic 3950 #NTC 100K MGB18-104F39050L32 
sensor_pin: PF6
min_temp: 0
max_temp: 120
gcode_id:YFrame

[temperature_sensor O_Electronic_Case_Temp]
## Electronic Case Temperature Sensor - AUX1
sensor_type: FYSETC-HT-NTC100K-3950_airtemp # Generic 3950 #FYSETC-HT-NTC100K-3950
sensor_pin: tinyfan: gpio26 #gpio26 #gpio4
pullup_resistor: 4700
min_temp: -200 #-273.15 #0
max_temp: 125
gcode_id:Case_Temp

[temperature_sensor P_External_Ambient_Temp]
## External_Ambient_Temp Temperature Sensor - AUX2
sensor_type: FYSETC-HT-NTC100K-3950_airtemp # Generic 3950 #FYSETC-HT-NTC100K-3950
sensor_pin: tinyfan: gpio27 #gpio27 #gpio5
pullup_resistor: 4700
min_temp: -200 #-273.15 #0
max_temp: 125
gcode_id:Extr_Air_Temp

[temperature_sensor Q_TinyFan]
sensor_type: temperature_mcu
sensor_mcu: tinyfan
min_temp: 0
max_temp: 125
gcode_id:TinyFanPCB
