#Z_THERMAL_ADJUST
#
# Based on the results of my THERMAL PROFILING (https://github.com/alchemyEngine/measure_thermal_behavior) of this printer I do not have a 
# temperature coefficient of expansion for this printer.  So leaving the temp_coeff at 0 just means that no thermal compensation will be 
# applied to this printer
# 
# The results from the THERMAL PROFILING of this printer are located in ~/klipper_config/Thermal_Profiling_Test_Results/11_27_2022/
#     and ~/klipper_config/Thermal_Profiling_Test_Results/11_27_2022/GadgetAngel#8701/2022-11-27_13-20-59/
#
[z_thermal_adjust]
### Frame Thermal Compensation Temperature Sensor - T3
### Glass Thermistor: NTC 3950 100K ohm Thermistor
temp_coeff: 0.0
##   The temperature coefficient of expansion, in mm/degC. For example, a
##   temp_coeff of 0.01 mm/degC will move the Z axis downwards by 0.01 mm for
##   every degree Celsius that the temperature sensor increases. Defaults to
##   0.0 mm/degC, which applies no adjustment.
smooth_time: 2.0
##   Smoothing window applied to the temperature sensor, in seconds. Can reduce
##   motor noise from excessive small corrections in response to sensor noise.
##   The default is 2.0 seconds.
z_adjust_off_above: 99999999.0
##   Disables adjustments above this Z height [mm]. The last computed correction
##   will remain applied until the toolhead moves below the specified Z height
##   again. The default is 99999999.0 mm (always on).
max_z_adjustment: 99999999.0
##   Maximum absolute adjustment that can be applied to the Z axis [mm]. The
##   default is 99999999.0 mm (unlimited).
sensor_type: Generic 3950 #PartsBuilt-NTC3950-Bead_airtemp #100k3950_airtemp #Generic 3950
sensor_pin: PF7
min_temp:0
max_temp:120
gcode_id:ZFrame