#.................................................................................................................
# _CASELIGHT_OFF- No additional options / Usage: _CASELIGHT_OFF 
#
#   Turn OFF the 24V white CASE Lights 
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/pushc6/VoronConfig/blob/main/config/lighting.cfg
#      
#.................................................................................................................

[gcode_macro _CASELIGHT_OFF]
description: Helper: Turn OFF the 24V white CASE Lights 
gcode:
   _general_Debug msg="_CASELIGHT_OFF - entering"
    SET_PIN PIN=caselight VALUE=0
   _general_Debug msg="_CASELIGHT_OFF - exiting"