#.................................................................................................................
# _DISABLE_PROGRESS_BAR - No additional options / Usage: _DISABLE_PROGRESS_BAR
#
#   Disable Progress bar so that the Progress bar LEDs can be used for another purpose
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_progressbar_enabled
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://www.reddit.com/r/VORONDesign/comments/ql1ia5/neopixel_progress_status_bar/
#      
#.................................................................................................................
[gcode_macro _DISABLE_PROGRESS_BAR]
description: Helper: Disable Progress bar so that the Progress bar LEDs can be used for another purpose
gcode:
    _general_Debug msg="_DISABLE_PROGRESS_BAR - entering"
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=progressbar_enabled VALUE=0
    _general_Debug msg="_DISABLE_PROGRESS_BAR - exiting"
