#.................................................................................................................
# _LIGHTS_FLICKER - required parameters: STRIP="Chamber_Lights" / Usage: _LIGHTS_FLICKER STRIP="Chamber_Lights"
#   set RGB Light Strip to _LIGHTS_FLICKER animation
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_WLED
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/
#                 https://kno.wled.ge/ 
#                 https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/lights.cfg
#
#.................................................................................................................

###############################
# TimBot99 neat "turn-on" macro
[gcode_macro _LIGHTS_FLICKER]
gcode:
   _general_Debug msg="_LIGHTS_FLICKER - entering"
    {% set LEDTimes = [10, 20, 20, 240, 20, 40, 20, 100, 20, 20, 20, 260, 80, 20, 240, 60, 160, 20, 240, 20, 1000, 20, 20, 40, 100, 20, 274, 340, 860, 20, 1400, 20, 60, 20] %}
    # Target colour is a warm white
    {% set R = 255/255 %}
    {% set G = 131/255 %}
    {% set B = 156/255 %}
    {% set STRIP = params.STRIP|default('Chamber_Lights')|string %}

    {% for toggletime in LEDTimes %}
      {% set ledTime = toggletime|string %}
      {% set loopCount = loop.index %}

      {% if loopCount is divisibleby 2 %} # If the loop index is divisible by 2 (first index is NOT so the LEd should turn ON)
        SET_WLED STRIP="Chamber_Lights" RED={R} GREEN={G} BLUE={B} TRANSMIT=1
        SET_WLED STRIP="Bottom_Lights" RED={R} GREEN={G} BLUE={B} TRANSMIT=1        
        G4 P{ledTime|int}
      {% else %}
        SET_WLED STRIP="Chamber_Lights" RED=0 GREEN=0 BLUE=0 TRANSMIT=1
        SET_WLED STRIP="Bottom_Lights" RED=0 GREEN=0 BLUE=0 TRANSMIT=1
        G4 P{ledTime|int}
      {% endif %}

    {% endfor %}
    # put the RGB WLED strips in the complete preset color template
    M117 Boot up is complete
   _general_Debug msg="_LIGHTS_FLICKER - exiting"