#.................................................................................................................
# _LIGHTS_READY - No additional options / Usage: _LIGHTS_READY
#   set all RGB lights to ready preset
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# LIGHTS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/
#                 https://kno.wled.ge/ 
#                 https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/lights.cfg
#
#.................................................................................................................

#_LIGHTS_READY
[delayed_gcode _lights_ready]
gcode:
   _general_Debug msg="_lights_ready - entering"
    LIGHTS STATUS=complete
   _general_Debug msg="_lights_ready - exiting"