#.................................................................................................................
# BOTTOM_LIGHTS_OFF - No additional options / Usage: BOTTOM_LIGHTS_OFF
#
#   Turn off the WLED server that controls the Bottom lights on the printer (Wire Cover and Electronic Case RGB Lights)
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# WLED_OFF
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/
#                 https://kno.wled.ge/ 
#      
#.................................................................................................................
[gcode_macro Bottom_Lights_OFF]
description: Helper:  Turn off the WLED server that controls the Bottom lights
gcode:
    _general_Debug msg="Bottom_Lights_OFF - entering"
    WLED_OFF STRIP=Bottom_Lights
    _general_Debug msg="Bottom_Lights_OFF - exiting"
  
  