#.................................................................................................................
# CASELIGHT_ON- No additional options / Usage: CASELIGHT_ON 
#
#   Turn ON the 24V white CASE Lights 
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_peripheral.caselight.on_val
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/pushc6/VoronConfig/blob/main/config/lighting.cfg
#      
#.................................................................................................................

[gcode_macro CASELIGHT_ON]
description: Helper: Turn ON the 24V white CASE Lights 
gcode:
   _general_Debug msg="CASELIGHT_ON - entering"
   {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    SET_PIN PIN=caselight VALUE={user.peripheral.caselight.on_val}
   _general_Debug msg="CASELIGHT_ON - exiting"