#.................................................................................................................
# CASELIGHT- No additional options / Usage: CASELIGHT
#
#   Toggle the 24V white CASE Lights 
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/caselight.cfg#L27
#      
#.................................................................................................................

[gcode_macro CASELIGHT]
description: Helper: Toggle the 24V white CASE Lights 
gcode:
   _general_Debug msg="CASELIGHT - entering"
  {% if printer['output_pin caselight'].value == 0 %}
      _CASELIGHT_ON 
  {% else %} 
      _CASELIGHT_OFF 
  {% endif %}
   _general_Debug msg="CASELIGHT - exiting"