#.................................................................................................................
# CHAMBER_LIGHTS_ON - No additional options / Usage: CHAMBER_LIGHTS_ON
#
#   Turn on the WLED server that controls the Chamber RGB lights on the printer
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# WLED_ON
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/
#                 https://kno.wled.ge/ 
#      
#.................................................................................................................
[gcode_macro Chamber_Lights_ON]
gcode:
  _general_Debug msg="Chamber_Lights_ON - entering"
  WLED_ON STRIP=Chamber_Lights 
  _general_Debug msg="Chamber_Lights_ON - exiting"