#.................................................................................................................
# CHECK_PRINTER_STATE  - No additional options / Usage: CHECK_PRINTER_STATE
#
#   check to see if we can use the progress bar to show the state of the machine
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _set_leds]
#  variable_progressbar_enabled
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _DISABLE_PROGRESS_BAR
# _ENABLE_PROGRESS_BAR
# _SET_LEDS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#CHECK_PRINTER_STATE
[gcode_macro check_printer_state]
gcode:
    _general_Debug msg="check_printer_state - entering"
    {% set progressbar_enabled = printer["gcode_macro _set_leds"].progressbar_enabled|int %} 
    {% if printer.extruder.target == 0 %} 
        _DISABLE_PROGRESS_BAR
    {% else %}
        # the extrude heater is on
        {% if printer.idle_timeout.state == "Printing" and progressbar_enabled == 0 %}
            _ENABLE_PROGRESS_BAR
            SET_BAR_LEDS_OFF  
        {% endif %}
    {% endif %}    
    _general_Debug msg="check_printer_state - exiting"