#.................................................................................................................
# DIM_LIGHTS - No additional options / Usage: DIM_LIGHTS
#
#   Set lights to a dim preset
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# LIGHTS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/
#                 https://kno.wled.ge/ 
#                 https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/lights.cfg
#
#.................................................................................................................
[gcode_macro DIM_LIGHTS]
description: Set lights to a dim preset
gcode:
   _general_Debug msg="DIM_LIGHTS - entering"
    LIGHTS PS=47
    SET_LED LED=sb_leds INDEX=17 WHITE=0.5
    SET_LED LED=sb_leds INDEX=18 WHITE=0.5
   _general_Debug msg="DIM_LIGHTS - exiting"