#.................................................................................................................
# INFO_STATE_LEDS - No additional options / Usage: INFO_STATE_LEDS 
#
#  displays the following information:
#     global.current_led_state.fan_leds = %s;
#     global.current_led_state.logo_leds = %s;
#     global.current_led_state.bar_leds = %s;
#     global.current_led_state.nozzle_leds = %s;
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_current_led_state.fan_leds
#  variable_current_led_state.logo_leds
#  variable_current_led_state.bar_leds
#  variable_current_led_state.nozzle_leds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
#                 https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#      
#.................................................................................................................
[gcode_macro INFO_STATE_LEDS]
description: Helper: compare the state of some of the variables in _GLOBAL_VARS to the state in the dictionary structure of _CURRENT_STATE.current_led_state
gcode:
    _general_Debug msg="INFO_STATE_LEDS - entering"
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    
    {% set string1 = "_INFO_STATE_LEDS <+++++++++++++++++" %}  
    {% set string1 = string1 ~ "\n global.current_led_state.fan_leds = %s;" %}
    {% set string1 = string1 ~ "\n global.current_led_state.logo_leds = %s;" %}
    {% set string1 = string1 ~ "\n global.current_led_state.bar_leds = %s;" %}
    {% set string1 = string1 ~ "\n global.current_led_state.nozzle_leds = %s;" %}
    {% set string1 = string1 ~ "\n End of _INFO_STATE_LEDS +++++++++++++++++>" %}
    {action_respond_info(string1 % (global.current_led_state.fan_leds, global.current_led_state.logo_leds, global.current_led_state.bar_leds, global.current_led_state.nozzle_leds)) }    
    _general_Debug msg="INFO_STATE_LEDS - exiting"
