#.................................................................................................................
# INFO_STATE_LEDS - No additional options / Usage: INFO_STATE_LEDS 
#
#  displays the following information:
#     global.state_fan_leds = %s;
#     global.state_logo_leds = %s;
#     global.state_bar_leds = %s;
#     global.state_nozzle_leds = %s;
#     cs.current_led_state.fan_leds = %s;
#     cs.current_led_state.logo_leds = %s;
#     cs.current_led_state.bar_leds = %s;
#     cs.current_led_state.nozzle_leds = %s;
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_state_fan_leds
#  variable_state_logo_leds
#  variable_state_bar_leds
#  variable_state_nozzle_leds
#
# [gcode_macro _CURRENT_STATE]
#  variable_current_led_state
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _CURRENT_STATE
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
#                 https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#      
#.................................................................................................................
[gcode_macro INFO_STATE_LEDS]
gcode:
    _general_Debug msg="INFO_STATE_LEDS - entering"
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set cs = printer['gcode_macro _CURRENT_STATE'] %}
    
    {% set state_fan_leds = global.state_fan_leds %}
    {% set state_logo_leds = global.state_logo_leds %}
    {% set state_bar_leds = global.state_bar_leds %}
    {% set state_nozzle_leds = global.state_nozzle_leds %}
    
    {% set current_state_fan_leds = cs.current_led_state.fan_leds %}
    {% set current_state_logo_leds = cs.current_led_state.logo_leds %}
    {% set current_state_bar_leds = cs.current_led_state.bar_leds %}
    {% set current_state_nozzle_leds = cs.current_led_state.nozzle_leds %}
    
    {% set string1 = "_INFO_STATE_LEDS <+++++++++++++++++" %}
    {% set string1 = string1 ~ "\n global.state_fan_leds = %s;" %}
    {% set string1 = string1 ~ "\n global.state_logo_leds = %s;" %}
    {% set string1 = string1 ~ "\n global.state_bar_leds = %s;" %}
    {% set string1 = string1 ~ "\n global.state_nozzle_leds = %s;" %}
    {% set string1 = string1 ~ "\n cs.current_led_state.fan_leds = %s;" %}
    {% set string1 = string1 ~ "\n cs.current_led_state.logo_leds = %s;" %}
    {% set string1 = string1 ~ "\n cs.current_led_state.bar_leds = %s;" %}
    {% set string1 = string1 ~ "\n cs.current_led_state.nozzle_leds = %s;" %}
    {% set string1 = string1 ~ "\n End of _INFO_STATE_LEDS +++++++++++++++++>" %}
    {action_respond_info(string1 % (state_fan_leds, state_logo_leds, state_bar_leds, state_nozzle_leds, current_state_fan_leds, current_state_logo_leds, current_state_bar_leds, current_state_nozzle_leds)) }    
    _general_Debug msg="INFO_STATE_LEDS - exiting"
