#.................................................................................................................
# LIGHTS_OFF - No additional options / Usage: LIGHTS_OFF
#   WLED lights and LCD lights off
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# WLED_OFF
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/
#                 https://kno.wled.ge/ 
#                 https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/lights.cfg
#
#.................................................................................................................
[gcode_macro LIGHTS_OFF]
description: WLED lights and LCD lights off
gcode:
   _general_Debug msg="DIM_LIGHTS - entering"
    WLED_OFF STRIP="Chamber_Lights"
    WLED_OFF STRIP="Bottom_Lights"
    #SET_LED LED=neo_sb WHITE=0
    #LCDRGB R=0 G=0 B=0
   _general_Debug msg="DIM_LIGHTS - exiting"