#.................................................................................................................
# LIGHTS - required parameters: R{0-255} G{0-255} B{0-255} B{0-255} / Usage: LIGHTS R=1 G=0 B=0 STRIP="Chamber_Lights" or 
#           LIGHTS STRIP="Chamber_Lights" PS=4 or e.g. LIGHTS STRIP="Chamber_Lights" STATUS=printing
#   Set WLED light strip a certain color or by a preset
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _status_presets]
#  variable_lookup
#  variable_off
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# LIGHTS_OFF
# WLED_ON
# SET_WLED
# 
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/
#                 https://kno.wled.ge/ 
#                 https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/lights.cfg
#
#.................................................................................................................
[gcode_macro LIGHTS]
description: Example LIGHTS R=1 G=0 B=0 or LIGHTS PS=4 or e.g. LIGHTS STATUS=printing
gcode:
   _general_Debug msg="LIGHTS - entering"
    {% set R = params.R|default(1)|float %}
    {% set G = params.G|default(1)|float %}
    {% set B = params.B|default(1)|float %}
    {% set W = params.W|default(0)|float %} 
    {% set STRIP = params.STRIP|default('Chamber_Lights')|string %}     
    {% set PS = params.PS|default(-1)|int %}
    {% set STATUS = params.STATUS|default('')|string %}
    
    # Identify a preset from the STATUS (overrides PS parameter)
    {% if STATUS != '' %}
        {% set PS = printer["gcode_macro _status_presets"].lookup[STATUS] %}
    {% endif %}
    
    # Turn lights off, to a preset or to a specific colour
    {% if PS == printer["gcode_macro _status_presets"].off %}
        LIGHTS_OFF
    {% elif PS >= 0 %}
        WLED_ON STRIP="Chamber_Lights" PRESET={PS}
        WLED_ON STRIP="Bottom_Lights" PRESET={PS}
    {% else %}
        SET_WLED STRIP="Chamber_Lights" RED={R} GREEN={G} BLUE={B} WHITE={W} TRANSMIT=1
        SET_WLED STRIP="Bottom_Lights" RED={R} GREEN={G} BLUE={B} WHITE={W} TRANSMIT=1
    {% endif %}
   _general_Debug msg="LIGHTS - exiting"