#.................................................................................................................
# LIGHTS_OFF - No additional options / Usage: LIGHTS_OFF
#
#   WLED lights off
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# CHAMBER_LIGHTS_OFF
# BOTTOM_LIGHTS_OFF
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/
#                 https://kno.wled.ge/ 
#                 https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/lights.cfg
#
#.................................................................................................................
[gcode_macro LIGHTS_OFF]
description: Helper: WLED lights off (CHAMBER_LIGHTS and BOTTOM_LIGHTS)
gcode:
   _general_Debug msg="DIM_LIGHTS - entering"
    CHAMBER_LIGHTS_OFF
    BOTTOM_LIGHTS_OFF
   _general_Debug msg="DIM_LIGHTS - exiting"