###############################################
#  Progress Bar LEDs Macros
###############################################
[gcode_macro progress_bar_leds_on]
gcode:
    _general_Debug msg="progress_bar_leds_on - entering"
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=1
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=2
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=3
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=4
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=5
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=6
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=7
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=8
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=9
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=10
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=11
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=12
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=13
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=14
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=15
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=16
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=17
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=18
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=19
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=20
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=21
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=21
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=23
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=24
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=25
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=26
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=27
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=28
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=29
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=30
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=31
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=32
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=1 index=33
    _general_Debug msg="progress_bar_leds_on - exiting"
