#.................................................................................................................
# PROGRESS_BAR_LEDS_ON - No additional options / Usage: PROGRESS_BAR_LEDS_ON
#
#   Turn on the progress bar leds
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://www.reddit.com/r/VORONDesign/comments/ql1ia5/neopixel_progress_status_bar/
#      
#.................................................................................................................

###############################################
#  Progress Bar LEDs Macros
###############################################
[gcode_macro progress_bar_leds_on]
gcode:
    _general_Debug msg="progress_bar_leds_on - entering"
    SET_BAR_LEDS_OFF
    {% for I in range(1,33, 3) %}
        SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index={I}
        SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index={I+1}
        SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index={I+2}
    {% endfor %}
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=1 index=33
    _general_Debug msg="progress_bar_leds_on - exiting"
