#.................................................................................................................
# RESETRGB - No additional options / Usage: RESETRGB
#   Default RGB for display and printer lights
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _LIGHTS_FLICKER
# DIM_LIGHTS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/
#                 https://kno.wled.ge/ 
#                 https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/lights.cfg
#      
#.................................................................................................................
[gcode_macro RESETRGB]
description: Default RGB for display and printer lights
gcode:
   _general_Debug msg="RESETRGB - entering"
    # Low power lights on (having issues with undervoltage)
    #DIM_LIGHTS
    # Do the fancy "on" animation
    _LIGHTS_FLICKER
    # Finally Turn on the sb lights
    # SET_LED LED=neo_sb WHITE=0.5
  _general_Debug msg="RESETRGB - exiting"