#.................................................................................................................
# SET_WLED - required parameters: STRIP{Chamber_Lights,Bottom_Lights} RED{0-255} GREEN{0-255} BLUE{0-255} WHITE{0-255} INDEX(0-101) TRANSMIT(0,1) / 
#             Usage: SET_WLED STRIP=Chamber_Lights RED=128 GREEN=128 BLUE=200 WHITE=0 INDEX=2 TRANSMIT=1
#
#   Change the WLED strip setting
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/#wled
#                 https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/wled.cfg#L57
#      
#.................................................................................................................

# URL: https://kno.wled.ge/interfaces/http-api/
# STRIP: string_name
# RED: 0 to 255
# GREEN: 0 to 255
# BLUE: 0 to 255
# WHITE: 0 to 255
# INDEX: 0 to 101
# TRANSMIT: 0,1 
# USE: SET_WLED STRIP=Chamber_Lights RED=128 GREEN=128 BLUE=200 WHITE=0 INDEX=2 TRANSMIT=1
#
[gcode_macro SET_WLED]
description: SET_LED like functionality for WLED, applies to all active segments
gcode:
    {% set strip = params.STRIP|default('lights')|string %}
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set index = params.INDEX|default(-1)|int %}
    {% set transmit = params.TRANSMIT|default(1)|int %}

    {action_call_remote_method("set_wled",
                               strip=strip,
                               red=red, green=green, blue=blue, white=white,
                               index=index, transmit=transmit)}