#.................................................................................................................
# WLED_ON - required parameters: STRIP{Chamber_Lights,Bottom_Lights} / Usage: WLED_ON STRIP=Chamber_Lights 
#
#   Turn on a WLED strip
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/#wled
#      
#.................................................................................................................

[gcode_macro WLED_ON]
# USE: WLED_ON STRIP=Chamber_Lights 
# USE2: WLED_ON STRIP=Bottom_Lights
description: Helper: Turn on the WLED strip using optional preset 
gcode:
  _general_Debug msg="WLED_ON - entering"
  {% set strip = params.STRIP|string %}
  {% set preset = params.PRESET|default(1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=True,
                             preset=preset)}
   _general_Debug msg="WLED_ON - exiting"
