#.................................................................................................................
# WLED_OFF - required parameters: STRIP{Chamber_Lights,Bottom_Lights} / Usage: WLED_CONTROL STRIP=Chamber_Lights 
#
#   Turn off a WLED strip
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/#wled
#      
#.................................................................................................................

[gcode_macro WLED_OFF]
# USE: WLED_OFF STRIP=Chamber_Lights 
# USE2: WLED_OFF STRIP=Bottom_Lights
description: Turn WLED strip off
gcode:
  _general_Debug msg="WLED_OFF- entering"
  {% set strip = params.STRIP|string %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=False)}
  _general_Debug msg="WLED_OFF- exiting" 
