[gcode_macro WLED_ON]
# USE: WLED_ON STRIP=Chamber_Lights 
# USE2: WLED_ON STRIP=Bottom_Lights
description: Turn WLED strip on using optional preset and resets led colors
gcode:
  _general_Debug msg="WLED_ON- entering"
  {% set strip = params.STRIP|string %}
  {% set preset = params.PRESET|default(1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=True,
                             preset=preset)}
   _general_Debug msg="WLED_ON- exiting"
