#.................................................................................................................
# WLED_CONTROL - required parameters: STRIP{Chamber_Lights,Bottom_Lights} BRIGHTNESS{0-255} INTENSITY{0-255} SPEED{0-255} / 
#             Usage: WLED_CONTROL STRIP=Chamber_Lights BRIGHTNESS=128 INTENSITY=128 SPEED=200
#
#   Change the WLED strip setting
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/#wled
#      
#.................................................................................................................

[gcode_macro WLED_CONTROL]
# URL: https://kno.wled.ge/interfaces/http-api/
# BRIGHTNESS 0-255
# INTENSITY 0-255
# SPEED 0-255
# USE: WLED_CONTROL STRIP=Chamber_Lights BRIGHTNESS=128 INTENSITY=128 SPEED=200
# USE2: WLED_CONTROL STRIP=Bottom_Lights BRIGHTNESS=128 INTENSITY=128 SPEED=200
description: Control effect values and brightness
gcode:
  _general_Debug msg="WLED_CONTROL- entering"
  {% set strip = params.STRIP|default('lights')|string %}
  {% set brightness = params.BRIGHTNESS|default(-1)|int %}
  {% set intensity = params.INTENSITY|default(-1)|int %}
  {% set speed = params.SPEED|default(-1)|int %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             brightness=brightness,
                             intensity=intensity,
                             speed=speed)}
  _general_Debug msg="WLED_CONTROL- exiting"
