#.................................................................................................................
# _EXECUTE_AT_INIT - No additional options/ Usage: NONE
#    This macro runs upon klipper startup / restart
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
# _MENU_LIMITS
# _RESTORE_FILAMENT_SENSOR
# _PRINT_AR
# _CHECK_FILTER
# _HEATER_ON
# _DISPLAY_INIT
# CHECK_ALL_FANS_LOOP
# RESETRGB
# DISABLEFILAMENTSENSOR
# prerun
# _update_leds_loop
# report_temperatures_loop
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/printer.cfg#L136
##
#.................................................................................................................

[gcode_macro _EXECUTE_AT_INIT]
description: Helper: Everything that should run at klipper start
gcode:
  _general_Debug msg="_EXECUTE_AT_INIT - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  #{% if 'gcode_macro _MENU_LIMITS' is in printer %} _MENU_LIMITS INDEX=4 {% endif %}
  ##{% if printer.save_variables.variables.filament_sensor %} _RESTORE_FILAMENT_SENSOR {% endif %}
  ##{% if user.hw.filter.ena %} _CHECK_FILTER {% endif %}
  #{% if user.hw.relay.ena %} _HEATER_ON {% endif %}
  #{% if user.hw.display.ena %} UPDATE_DELAYED_GCODE ID=_DISPLAY_INIT DURATION=2 {% endif %}
  
  UPDATE_DELAYED_GCODE ID=CHECK_ALL_FANS_LOOP DURATION=1
  RESETRGB
  DISABLEFILAMENTSENSOR
  UPDATE_DELAYED_GCODE ID=prerun DURATION=1
  UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=5
  UPDATE_DELAYED_GCODE ID=report_temperatures_loop DURATION=5
  _PRINT_AR T="Klipper INIT done"

  _general_Debug msg="_EXECUTE_AT_INIT - exiting"