#.................................................................................................................
# _WAIT_Loops - No additional options  / Usage: NONE
#
#   Total wait minutes is (duration * count) / 60 
#   This is a non blocking wait (for example to delay a macro)
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
# variable_wait_variable.count
# variable_wait_variable.duration
# 
#.................................................................................................................
# Required external macro(s) used by this macro.
#
#  _general_Debug
#  WAIT_Delayed
# _GLOBAL_VARS
# STATUS_BUSY
# SET_NOZZLE_LEDS_OFF
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-WAITING_PREPRINT_NONBLOCKING.cfg
#      
#.................................................................................................................

# MACRO-WAITING_PREPRINT_NONBLOCKING
# Total wait minutes is (duration * count) / 60 
[gcode_macro _WAIT_Loop]
description: Helper: a non blocking wait (this is the wait loop)
gcode:
     _general_Debug msg="_WAIT_Loop - entering"
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set count = global.wait_variable.count|float %}
    {% set duration =  global.wait_variable.duration|float %}
    # STATUS_BUSY
    # SET_NOZZLE_LEDS_OFF
    UPDATE_DELAYED_GCODE ID=WAIT_Delayed DURATION={duration}
    {% if  count % 2 == 0 %}
        SET_LED LED=sb_leds INDEX=17 RED=.5 GREEN=0 BLUE=0
        SET_LED LED=sb_leds INDEX=18 RED=0 GREEN=0 BLUE=.5
      {% else %}
        SET_LED LED=sb_leds INDEX=17 RED=0 GREEN=0 BLUE=.5
        SET_LED LED=sb_leds INDEX=18 RED=.5 GREEN=0 BLUE=0
    {% endif %}
     _general_Debug msg="_WAIT_Loop - exiting"
