#.................................................................................................................
# PLOT_GRAPH - No additional options / Usage: PLOT_GRAPH
#
#   Run plot_graph.sh BASH script
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
#  /home/pi/klipper_config/script/plot_graph.sh
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# gcode_shell_command
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/input_shaper.cfg#L145
#      
#.................................................................................................................
#PLOT_GRAPH
[gcode_shell_command plot_graph]
command: bash /home/pi/klipper_config/script/plot_graph.sh
timeout: 60.0
verbose: True