#.................................................................................................................
# RESONANCES_TEST - No additional options / Usage: RESONANCES_TEST
#
#   Run input shaper test
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw.chamber.fan
#  variable_hw.filter.ena
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# M141
# _SET_FILTER
# _PRINT_AR
# RUN_SHELL_COMMAND
# plot_graph
# M107
# _CG28
# TURN_OFF_HEATERS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/input_shaper.cfg#L77
#                 https://github.com/zellneralex/klipper_config/blob/master/input_shaper.cfg#L105
#      
#.................................................................................................................

#####################################################################
#  Macros
#####################################################################
# !!! This macro only works with the use of gcode_shell_command.py !!!
# you find both needed files at /klipper_config/script
#  - gcode_shell_command.py -> klipper add on file
#  - plot_graph.sh -> shell script that is executed
# 
# Setup:
#  - symlink or copy gcode_shell_command.py to /klipper/klippy/extra
#    e.g ln -s /home/pi/klipper_config/script/gcode_shell_command.py /home/pi/klipper/klippy/extras/gcode_shell_command.py
#  - klipper service restart
#
# Please inspect the shell script by yourself and use it at your own risk
# Functions:
#  - Generate folder if needed. Default path is IS_FOLDER=~/klipper_config/input_shaper
#  - Store a defined number of results for the RESONANCES_TEST/BELT_TEST. Default is STORE_RESULTS=5
#  - generate/store following files for RESONANCES_TEST:
#     - resonances_x_YYYYMMDD_HHMMSS.csv
#     - resonances_y_YYYYMMDD_HHMMSS.csv
#     - resonances_x_YYYYMMDD_HHMMSS.png
#     - resonances_y_YYYYMMDD_HHMMSS.png
#  - generate/store following files for BELT_TEST:
#     - raw_data_belt_a_YYYYMMDD_HHMMSS.csv
#     - raw_data_belt_b_YYYYMMDD_HHMMSS.csv
#     - resonances_belts_YYYYMMDD_HHMMSS.png
#  - remove files from /tmp
#####################################################################
[gcode_macro RESONANCES_TEST]
description: Helper: Run input shaper test
gcode:
  _general_Debug msg="RESONANCES_TEST - enter"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  _CG28                                                 ; home if needed
  TURN_OFF_HEATERS                                      ; turn off heaters
  M107                                                  ; turn off fan
  {% if user.hw.chamber.fan %} M141 {% endif %}         ; exhaust fan off
  {% if user.hw.filter.ena %} _SET_FILTER {% endif %}   ; filter off
  _PRINT_AR T="INPUT SHAPER: Noise values, check if sensor is installed"
  MEASURE_AXES_NOISE                                    ; get noise value in log
  _PRINT_AR T="INPUT SHAPER: Resonance Tests starting"
  _PRINT_AR T="INPUT SHAPER: Mesasure X axis"
  TEST_RESONANCES AXIS=X                                ; measure X
  _PRINT_AR T="INPUT SHAPER: Mesasure Y axis"
  TEST_RESONANCES AXIS=Y                                ; measure Y
  _PRINT_AR T="INPUT SHAPER: Resonance Tests done"
  _PRINT_AR T="INPUT SHAPER: Generate graph in backround"
  RUN_SHELL_COMMAND CMD=plot_graph PARAMS=SHAPER
  _general_Debug msg="RESONANCES_TEST - exit"