#.................................................................................................................
# Full credit to this macro belongs to 'Mental', this origin can be found at the following forum link:
#   https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/dump_parameters.cfg
#.................................................................................................................
# DUMP_PARAMETERS / Usage: DUMP_PARAMETERS
# Dump all Klipper parameters to terminal, helps find names and values of variables for use in macros
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# ---NONE---
#.................................................................................................................

###############################################################################
#          Dump Parameters
###############################################################################

[gcode_macro DUMP_PARAMETERS]
description: Dump all Klipper parameters to terminal, helps find names and values of variables for use in macros
gcode:
  {% set parameters = namespace(output = '') %}
  {% for name1 in printer %}
    {% for name2 in printer[name1] %}
      {% set donotwant = ['bed_mesh'] %}
      {% set donotwant1 = ['configfile'] %}
      {% if (name1 is not in donotwant) and (name1 is not in donotwant1) %}
      # printer['configfile'].config
        {% set param = "printer['%s'].%s = %s" % (name1, name2, printer[name1][name2]) %}
        {% set parameters.output = parameters.output +  param + "\n" %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {action_respond_info(parameters.output)}
