#.................................................................................................................
# Full credit to this macro belongs to 'Mental', this origin can be found at the following forum link:
#   https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/dump_parameters.cfg
#.................................................................................................................
# SEARCH_GCODE_ROUTINES / Usage: SEARCH_GCODE_ROUTINES NAME=m190
# Dump all Klipper parameters located in printer['configfile'].config to terminal, helps find names and values of variables for use in macros
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# ---NONE---
#.................................................................................................................

[gcode_macro SEARCH_GCODE_ROUTINES]
# This dumps all current Klipper variables to the g-code terminal.
# This helps to find Klipper system variables for use in macros. 
# A filter for both name and value can be applied.
#
# use : SEARCH_GCODE_ROUTINES NAME=m190
#
# if you want a list all your user_define G-Code macros just run the command without arguments: SEARCH_GCODE_ROUTINES
#
# URL: https://github.com/AndrewEllis93/Print-Tuning-Guide/blob/main/articles/useful_macros.md#dump-variables

#printer['configfile'].config = {'gcode_macro CURRENT_NORMAL': {'gcode': '\n_general_Debug msg="CURRENT_NORMAL - entering"}}
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    
    {% set out = [] %}
    {% set ns = namespace(num=0) %}
    {% set string3 = "gcode_macro " %}
    {% set string4 = "gcode" %}
    
    {% for key1 in printer %}
        {% for key2 in printer[key1] %}            
            {% if ( (key1|lower == 'configfile') and (key2|lower in ['config']) ) %}
                    {% if printer[key1][key2].items() %}
                        {% for key3, value3 in printer[key1][key2].items() %}
                            #comment : key3 = gcode_macro print_end; value3 = {'gcode': '\n_general_debug msg="
                            {% if string3 in key3 %}
                                    {% for key4, value4 in value3.items() %}
                                         # comment : key4 = gcode; value4={% set message = params.msg %}
                                        {% if ((string4 in key4) and ((filter_name|lower) in (value4|lower))) %}
                                              {% set ns.num = ns.num + 1 %}
                                             {% set dummy4 = out.append( "G-CODE_name[%d]: %s" % (ns.num, key3[12:]|upper) ) %}
                                        {% else %}
                                        {% endif %} 
                                    {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
           {% endif %}
        {% endfor %}
    {% endfor %}  
    {action_respond_info("Found %d occurrances of %s in user defined G-Code macros. The following list of G-Code macros contains the command:" % (ns.num, filter_name|upper) )}
    {action_respond_info(out|join("\n"))}


