#.................................................................................................................
# Settings for when using ADXL345 for resonance testing from BTT EBB26V1.2 Toolhead board
#
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  ADXL345 Resonance Testing Setup 
#                                  See file ~/klipper_config/ACTIVE/CONFIG/ADXL345_RESONANCE_TESTING/ADXL345.cfg
#                                  See file ~/klipper_config/ACTIVE/CONFIG/ADXL345_RESONANCE_TESTING/RESONANCE_TESTER.cfg
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#
# For Resonance Testing using BTT EBB36V1.2 to rPi via CAN bus cable.
# 
# rPi software setup:
#   https://www.klipper3d.org/Measuring_Resonances.html
#
#
# Open terminal,
# run CURRENT_HIGH, then G32, close doors, use masking tape if needed. Bring bed up to printing temp (110)
# and nozzle to 150. Once bed has reached temp, heat soak for 20 minutes.
# Perform SHAPER_CALIBRATE, and when done, SAVE_CONFIG to save found settings.

##[input_shaper]
##shaper_freq_x: 57.6
#   A frequency (in Hz) of the input shaper for X axis. This is
#   usually a resonance frequency of X axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for X axis.
##shaper_freq_y: 41.4
#   A frequency (in Hz) of the input shaper for Y axis. This is
#   usually a resonance frequency of Y axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for Y axis.
#shaper_type: mzv
#   A type of the input shaper to use for both X and Y axes. Supported
#   shapers are zv, mzv, zvd, ei, 2hump_ei, and 3hump_ei. The default
#   is mzv input shaper.
##shaper_type_x: zv
#   If shaper_type is not set, these two parameters can be used to
#   configure different input shapers for X and Y axes. The same
#   values are supported as for shaper_type parameter.
##shaper_type_y: mzv
#   If shaper_type is not set, these two parameters can be used to
#   configure different input shapers for X and Y axes. The same
#   values are supported as for shaper_type parameter.
#damping_ratio_x: 0.1
#damping_ratio_y: 0.1
#   Damping ratios of vibrations of X and Y axes used by input shapers
#   to improve vibration suppression. Default value is 0.1 which is a
#   good all-round value for most printers. In most circumstances this
#   parameter requires no tuning and should not be changed.