#.................................................................................................................
# Settings for when using ADXL345 for resonance testing from BTT EBB26V1.2 Toolhead board
#
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  ADXL345 Resonance Testing Setup 
#                                  See file ~/klipper_config/ACTIVE/CONFIG/ADXL345_RESONANCE_TESTING/ADXL345.cfg
#                                  See file ~/klipper_config/ACTIVE/CONFIG/ADXL345_RESONANCE_TESTING/RESONANCE_TESTER.cfg
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#
# For Resonance Testing using BTT EBB36V1.2 to rPi via CAN bus cable.
# 
# rPi software setup:
#   https://www.klipper3d.org/Measuring_Resonances.html
#
#
# Open terminal,
# run CURRENT_HIGH, then G32, close doors, use masking tape if needed. Bring bed up to printing temp (110)
# and nozzle to 150. Once bed has reached temp, heat soak for 20 minutes.
# Perform SHAPER_CALIBRATE, and when done, SAVE_CONFIG to save found settings.

#[input_shaper]
#shaper_freq_x: 57.6
#shaper_type_x: zv
#shaper_freq_y: 41.4
#shaper_type_y: mzv