#.................................................................................................................
# Settings for when using ADXL345 for resonance testing from BTT EBB26V1.2 Toolhead board
#
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  ADXL345 Resonance Testing Setup 
#                                  See file ~/klipper_config/ACTIVE/CONFIG/ADXL345_RESONANCE_TESTING/ADXL345.cfg
#                                  See file ~/klipper_config/ACTIVE/CONFIG/ADXL345_RESONANCE_TESTING/INPUT_SHAPER.cfg
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#
# For Resonance Testing using BTT EBB36V1.2 to rPi via CAN bus cable.
# 
# rPi software setup:
#   https://www.klipper3d.org/Measuring_Resonances.html
#
#
# Open terminal,
# run CURRENT_HIGH, then G32, close doors, use masking tape if needed. Bring bed up to printing temp (110)
# and nozzle to 150. Once bed has reached temp, heat soak for 20 minutes.
# Perform SHAPER_CALIBRATE, and when done, SAVE_CONFIG to save found settings.
 
#[resonance_tester]
#accel_chip: adxl345
#probe_points: 150, 150, 20