#.................................................................................................................
# _DO_ERROR_IF_PROBE_DEPLOYED - No additional options / Usage: _DO_ERROR_IF_PROBE_DEPLOYED
#
# Check to see if Euclid probe is where it is supposed to be. This routine is here because some people
# that write Euclid probe macros use this error checking routine.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-EUCLID(GM).cfg
#      
#.................................................................................................................

#.................................................................................................................
# Euclid probe safety checks block

#_DO_ERROR_IF_PROBE_DEPLOYED
[gcode_macro _do_error_if_probe_deployed]
description: Helper: Display error message if probe is not docked when it is supposed to be in its docked
gcode:
    {% if not printer.probe.last_query %}
        {action_raise_error("ERROR: Probe is still deployed, please remove and return to dock.")}
      {% else %}
        M118 Euclid probe has been stowed.  
    {% endif %}	
	