#.................................................................................................................
# Euclid probe safety checks block

#_DO_ERROR_IF_PROBE_DEPLOYED
[gcode_macro _do_error_if_probe_deployed]
gcode:
    {% if not printer.probe.last_query %}
        {action_raise_error("ERROR: Probe is still deployed, please remove and return to dock.")}
      {% else %}
        M118 Euclid probe has been stowed.  
    {% endif %}	
	