#.................................................................................................................
# _ERROR_IF_PROBE_DEPLOYED - No additional options / Usage: _ERROR_IF_PROBE_DEPLOYED
#
# Check to see if Euclid probe is where it is supposed to be. This routine is here because some people
# that write Euclid probe macros use this error checking routine.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _CheckProbe
# _do_error_if_probe_deployed
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-EUCLID(GM).cfg
#      
#.................................................................................................................

#.................................................................................................................
# Euclid probe safety checks block

#_ERROR_IF_PROBE_DEPLOYED
[gcode_macro _error_if_probe_deployed]
description: Helper: Euclid Probe safety, to Verify Euclid probe is docked
gcode:
    G4 P300
    _CheckProbe action=query
    _do_error_if_probe_deployed
	
	