#.................................................................................................................
# Euclid probe safety checks block

#_ERROR_IF_PROBE_NOT_DEPLOYED
[gcode_macro _error_if_probe_not_deployed]
gcode:
    G4 P300
    _CheckProbe action=query
    #QUERY_PROBE
    _do_error_if_probe_not_deployed
