#.................................................................................................................
# _PROBE_DEPLOY - No additional options / Usage: _PROBE_DEPLOY
#
# Euclid Probe Macro that attaches the probe or "deploys the probe"
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# ATTACH_PROBE_LOCK
# _error_if_probe_not_deployed
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-EUCLID(GM).cfg
#      
#.................................................................................................................

#.................................................................................................................
[gcode_macro _PROBE_DEPLOY]
description : Helper: Euclid Probe routine that Attaches the Euclid Probe
gcode:
    ATTACH_PROBE_LOCK
    _error_if_probe_not_deployed ; Verify probe attached
	