#.................................................................................................................
[gcode_macro _PROBE_STOW]
gcode:
    DOCK_PROBE_UNLOCK
    _error_if_probe_deployed ; Verify probe detached
	