#.................................................................................................................
[gcode_macro _PROBE_DEPLOY]
gcode:
    ATTACH_PROBE_LOCK
    _error_if_probe_not_deployed ; Verify probe attached
	