#.................................................................................................................
# _PROBE_STOW - No additional options / Usage: _PROBE_STOW
#
# Euclid Probe Macro that docks the probe or "stows the probe"
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# DOCK_PROBE
# _error_if_probe_deployed
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-EUCLID(GM).cfg
#      
#.................................................................................................................
#.................................................................................................................
[gcode_macro _PROBE_STOW]
description: Helper:  Euclid Probe routine that Docks the Euclid Probe
gcode:
    DOCK_PROBE
    _error_if_probe_deployed ; Verify probe docked
	