#.................................................................................................................
# CALIBRATE_Z - No additional options / Usage: CALIBRATE_Z
#
# rename CALIBRATE_Z to CALIBRATE_Z_BASE and add the Klicky Probe macros ATTACH_PROBE_LOCK and DOCK_PROBE_UNLOCK
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# ATTACH_PROBE_LOCK
# DOCK_PROBE_UNLOCK
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/protoloft/klipper_z_calibration
#                 https://gist.github.com/conlank/7904ba9529a27b03d707d3a6417877df
#      
#.................................................................................................................

[gcode_macro CALIBRATE_Z]
description: Use Klicky Probe macros around the calibrate_z macro
rename_existing: CALIBRATE_Z_BASE
gcode:
    STATUS_CALIBRATING_Z
    ATTACH_PROBE_LOCK
    CALIBRATE_Z_BASE {rawparams}
    DOCK_PROBE_UNLOCK
