#.................................................................................................................
# IS_PROBE_ATTACHED_AT_BOOT - No additional options / Usage: IS_PROBE_ATTACHED_AT_BOOT
#
# This checks the state of the Euclid probe on system boot and reports a message to the UI console.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _Probe_Variables]
#  variable_probe_attached
#  variable_probe_lock
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# QUERY_PROBE_OUTPUT
# MSG_PROBE_ATTACHED
# MSG_PROBE_DOCKED
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-PRERUN.cfg
#      
#.................................................................................................................

[gcode_macro IS_PROBE_ATTACHED_AT_BOOT]
gcode:
    {% set probe_attached = printer["gcode_macro _Probe_Variables"].probe_attached %}
    {% set probe_lock = printer["gcode_macro _Probe_Variables"].probe_lock %}
    #QUERY_PROBE_OUTPUT
    QUERY_PROBE
    {% if probe_attached and (not printer.probe.last_query) %} 
            MSG_PROBE_ATTACHED
    {% elif (not probe_attached) and  printer.probe.last_query %} 
            MSG_PROBE_DOCKED
    {% else %}
            M118 "Confilicting information about Probe location, run '_CheckProbe action=query' command"
    {% endif %}
    