[gcode_macro IS_PROBE_ATTACHED_AT_BOOT]
gcode:
    _CheckProbe action=query
    {% set probe_attached = printer["gcode_macro _Probe_Variables"].probe_attached %}
    {% set probe_lock = printer["gcode_macro _Probe_Variables"].probe_lock %}
    #QUERY_PROBE_OUTPUT
    {% if probe_attached %} 
            MSG_PROBE_ATTACHED
    {% else %} 
            MSG_PROBE_DOCKED
    {% endif %}
    