#.................................................................................................................
# IS_PROBE_ATTACHED_AT_BOOT - No additional options / Usage: IS_PROBE_ATTACHED_AT_BOOT
#
# This checks the state of the Euclid probe on system boot and reports a message to the UI console.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
#  _MAG_PROBE
# OUTPUT_PROBE_MESSAGE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-PRERUN.cfg
#      
#.................................................................................................................

[gcode_macro IS_PROBE_ATTACHED_AT_BOOT]
description: Helper: This checks the state of the Euclid probe on system boot and reports a message to the UI console
gcode:
    _MAG_PROBE ACTION=GET_STATUS RESPOND=0
    #QUERY_PROBE_OUTPUT
    OUTPUT_PROBE_MESSAGE

    