[gcode_macro MSG_PROBE_DOCKED]
gcode:
    #{% set probe_attached = printer["gcode_macro _Probe_Variables"].probe_attached %}
    #{% set probe_lock = printer["gcode_macro _Probe_Variables"].probe_lock %}
    #{% if not probe_attached %} 
         M118 "probe: TRIGGERED" = Euclid probe NOT attached (it is in the DOCK).
    #{% endif %}