#.................................................................................................................
# MSG_PROBE_DOCKED - No additional options / Usage: MSG_PROBE_DOCKED
#
# prints an message indicating the output of a QUERY_PROBE command when the Euclid probe is docked
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-PRERUN.cfg
#      
#.................................................................................................................

[gcode_macro MSG_PROBE_DOCKED]
description: Helper: Euclid Probe; prints an message indicating the output of a QUERY_PROBE command when the Euclid probe is docked
gcode:
    # Probe is showing 'TRIGGERED' or [printer.probe.last_query == True]; which means Euclid probe is in the DOCK!!
    M118 Euclid probe is in the DOCK!!
