#.................................................................................................................
# MSG_PROBE_ATTACHED - No additional options / Usage: MSG_PROBE_ATTACHED
#
# prints an message indicating the output of a QUERY_PROBE command when the Euclid probe is attached to the toolhead
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-PRERUN.cfg
#      
#.................................................................................................................

[gcode_macro MSG_PROBE_ATTACHED]
gcode:
        M118 "probe: open" = Euclid probe IS attached!!
