[gcode_macro MSG_PROBE_ATTACHED]
gcode:
    #{% set probe_attached = printer["gcode_macro _Probe_Variables"].probe_attached %}
    #{% set probe_lock = printer["gcode_macro _Probe_Variables"].probe_lock %}
    #{% if probe_attached %} 
        M118 "probe: open" = Euclid probe IS attached!!
    #{% endif %}    