#.................................................................................................................
# QUERY_PROBE_OUTPUT - No additional options / Usage: QUERY_PROBE_OUTPUT
#
#  displays the following information:
#      QUERY_PROBE = %s;
#      probe_attached = %s;
#      probe_lock = %s;
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _Probe_Variables]
# variable_probe_attached
# variable_probe_lock
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-PRERUN.cfg
#      
#.................................................................................................................

[gcode_macro QUERY_PROBE_OUTPUT]
gcode:
    {% set probe_attached = printer["gcode_macro _Probe_Variables"].probe_attached %}
    {% set probe_lock = printer["gcode_macro _Probe_Variables"].probe_lock %}
    QUERY_PROBE
    {% if printer.probe.last_query %}
        {% set string2 = "TRUE" %}
    {% else %}
        {% set string2 = "FALSE" %}
    {% endif %}
    {% set string1 = "QUERY_PROBE_OUTPUT =================>>>" %}
    {% set string1 = string1 ~ "\nQUERY_PROBE = %s;" %}
    {% set string1 = string1 ~ "\nprobe_attached = %s;" %}
    {% set string1 = string1 ~ "\nprobe_lock = %s;" %}
    {% set string1 = string1 ~ "\nQUERY_PROBE_OUTPUT =================<<<" %}
    { action_respond_info(string1 % (string2, probe_attached|string, probe_lock|string)) } 
    
