#.................................................................................................................
# QUERY_PROBE_OUTPUT - No additional options / Usage: QUERY_PROBE_OUTPUT
#
#  displays the following information:
#      QUERY_PROBE = %s;
#      user.mag_probe.state = %s;
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_mag_probe.state
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _USER_VARIABLE
# GET_PROBE_STATUS
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-PRERUN.cfg
#      
#.................................................................................................................

[gcode_macro QUERY_PROBE_OUTPUT]
description: Helper: Report the status of the probe (attached or docked)
gcode:    
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set mag_probe = user.mag_probe %} 
    GET_PROBE_STATUS
    {% if printer.probe.last_query  %}
        {% set string2 = " "~printer.probe.last_query~" ;True" %}
    {% elif (not printer.probe.last_query) %}
        {% set string2 = " "~printer.probe.last_query~" ;False" %}
    {% endif %}
    {% set string1 = "QUERY_PROBE_OUTPUT =================>>>" %}
    {% set string1 = string1 ~ "\nQUERY_PROBE = %s;" %}
    {% set string1 = string1 ~ "\nuser.mag_probe.state = %s;" %}
    {% set string1 = string1 ~ "\nQUERY_PROBE_OUTPUT =================<<<" %}
    { action_respond_info(string1 % (string2, user.mag_probe.state)) } 
    
