#.................................................................................................................
# ZDOWN - No additional options / Usage: ZDOWN
#
# Run ZDOWN (or the associated SET_GCODE_OFFSET command) as needed in the terminal window until you have perfected your squish. 
# Run GET_POSITION and look for “gcode base”. Note the Z value.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://docs.vorondesign.com/build/startup/#without-lcd-screen
#      
#.................................................................................................................


[gcode_macro ZDOWN]
gcode:
    _general_Debug msg="ZDOWN- entering"
    SET_GCODE_OFFSET Z_ADJUST=-0.01 MOVE=1
    _general_Debug msg="ZDOWN- exiting"
