# VARIABLES-PART_COOLING_FAN_VAR
[gcode_macro PART_COOLING_FAN_VAR]
variable_Part_Cooling_Fan_Enabled: 0			; Part cooling fan disabled = 0; Part cooling fan enaled=1
gcode:
    _general_Debug msg="PART_COOLING_FAN_VAR- entering"
    _general_Debug msg="PART_COOLING_FAN_VAR- exiting"