#.................................................................................................................
# _SB_VARS - No additional options / Usage: NONE
#
# This macro defines the variables for the Stealthburner LEDs
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/sttts/voron-klipper-config/blob/master/stealthburner_leds.cfg
#      
#.................................................................................................................

[gcode_macro _SB_VARS]
variable_colors: {
        'white': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 1.0},
        'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.5},
        'red': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
        'orange': {'r': 1.0, 'g': 0.25, 'b': 0.0, 'w': 0.0},
        'yellow': {'r': 1.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
        'green': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
        'blue': {'r': 0.0, 'g': 0.0, 'b': 1.0, 'w': 0.0},
        'purple': {'r': 0.5, 'g': 0.0, 'b': 1.0, 'w': 0.0},
        'pink': {'r': 1.0, 'g': 0.0, 'b': 0.5, 'w': 0.0},
        'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
     }
variable_fan_led_name:         "sb_leds" 
variable_fan_idx:              "1,2,3,4,5,6,7,8" 
variable_logo_led_name:         "sb_leds" 
variable_logo_idx:              "9,10,11,12,13,14,15,16" 
variable_nozzle_led_name:       "sb_leds"
variable_nozzle_idx:            "17,18"
gcode: