#.................................................................................................................
# CURRENT_STATE_SB_LEDS_VARS - No additional options / Usage: NONE
#
# This macro defines the variables for the Stealthburner LED_Effect macros
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# [delayed_gcode BOOT_STATE_SB_LEDS_VARS] - initializes the variables at boot up
#  variable_state_fan_leds
#  variable_state_logo_leds
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

[gcode_macro CURRENT_STATE_SB_LEDS_VARS]
variable_state_fan_leds: '"set_fan_leds_rainbow"'
variable_state_logo_leds: '"set_logo_leds_rainbow_barf"'
variable_state_bar_leds: '"set_bar_leds_progress"'
gcode: