#.................................................................................................................
# _GLOBAL_VARS - No additional options/ Usage: NONE
#    This macro holds all the global variables for this printer
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources:
#
#.................................................................................................................

[gcode_macro _GLOBAL_VARS]
description: Helper: Contains global defined printer variables
gcode:
_general_Debug msg="_GLOBAL_VARS - entering"

variable_bedfanvars: {}                           ;bedfanvars gloabal variables
variable_fancheckvars: {}                         ;fan check global variables
varaible_sb_vars: {}                              ;sb_vars global variables
variable_wait_variable: {}                        ;wait_variable global variables
variable_run: False                               ;used internal to detect that the _GLOBAL_VARS was executed
gcode:
  ##########################################################################
  ##                     start of gloabl defines                          ##
  ## do not touch these variable they are used internally by other macros ##
  ##########################################################################
  ##### WAIT_VARIABLE SECTION #####
  {% set global_wait_variable_count = 300 %}
  {% set global_wait_variable_duration = 2 %}
  {% set global_wait_variable_waiting = False %}
  {% set global_wait_variable_ready = 200 %}
  {% set global_wait_variable_temp = 250 %}
  ##### End of WAIT_VARIABLE SECTION #####
  ##### SB_VARS SECTION #####
  {% set global_sb_vars_colors =  {
                        'white': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 1.0},
                        'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.5},
                        'red': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
                        'orange': {'r': 1.0, 'g': 0.25, 'b': 0.0, 'w': 0.0},
                        'yellow': {'r': 1.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
                        'green': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w': 0.0},
                        'blue': {'r': 0.0, 'g': 0.0, 'b': 1.0, 'w': 0.0},
                        'purple': {'r': 0.5, 'g': 0.0, 'b': 1.0, 'w': 0.0},
                        'pink': {'r': 1.0, 'g': 0.0, 'b': 0.5, 'w': 0.0},
                        'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
                        'dimwhite': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.4}
                                  }
  %}
  # need double qoutes or I get an error : Unable to parse 'set_fan_leds_rainbow' as a literal, etc
  {% set global_sb_vars_current_state_fan_leds    = '"set_fan_leds_rainbow"' %}
  {% set global_sb_vars_current_state_logo_leds   = '"set_logo_leds_rainbow_barf"' %}
  {% set global_sb_vars_current_state_bar_leds    = '"set_bar_leds_progress"' %}
  {% set global_sb_vars_current_state_nozzle_leds = '"set_nozzle_leds_white"' %}
  ##### End of SB_VARS SECTION #####
  ##### BEDFANVARS SECTION #####
  {% set global_bedfanvars_flag = 0 %}            ; Bed heater reached target temp if this value > 0, Valid value: 0 (boot state), 2 (Target heater temp reached), 3 (chamber temp falling), 4 (chamber temp above defaultEnclosure temp)
  {% set global_bedfanvars_lasttemp = 0.0 %}      ; previous chamber temperature reading
  ##### End of BEDFANVARS SECTION #####
  ##### FANCHECKVARS SECTION #####
  {% set global_fancheckvars_Part_Cooling_Fan_Enabled = 0 %}     ; Part cooling fan disabled = 0; Part cooling fan enaled=1
  ##### End of FANCHECKVARS SECTION #####

  ###################################################################
  ##                      end of global defines                      ##
  ###################################################################

  # prepare dictonaries
  {% set wait_variable_dic = {
                              'count'     : global_wait_variable_count,
                              'duration'  : global_wait_variable_duration,
                              'waiting'   : global_wait_variable_waiting,
                              'ready'     : global_wait_variable_ready,
                              'temp'      : global_wait_variable_temp
                             }
  %}
  {% set bedfanvars_dic = {'flag'          : global_bedfanvars_flag,
                           'lasttemp'      : global_bedfanvars_lasttemp
                          }
  %}
  {% set fancheckvars_dic = {'Part_Cooling_Fan_Enabled'  : global_fancheckvars_Part_Cooling_Fan_Enabled,
                             ''            :,
                            }
  %}
  {% set sb_vars_dic = {'colors'     : {
                                        'white'     : global_sb_vars_colors.white,
                                        'standby'   : global_sb_vars_colors.standby,
                                        'red'       : global_sb_vars_colors.red,
                                        'orange'    : global_sb_vars_colors.orange,
                                        'yellow'    : global_sb_vars_colors.yellow,
                                        'green'     : global_sb_vars_colors.green,
                                        'blue'      : global_sb_vars_colors.blue,
                                        'purple'    : global_sb_vars_colors.purple,
                                        'pink'      : global_sb_vars_colors.pink,
                                        'off'       : global_sb_vars_colors.off,
                                        'dimwhite'  : global_sb_vars_colors.dimwhite
                                       }
                        'current_state' :  {
                                            'fan_leds'     : global_sb_vars_current_state_fan_leds,
                                            'logo_leds'    : global_sb_vars_current_state_logo_leds,
                                            'bar_leds'     : global_sb_vars_current_state_bar_leds,
                                            'nozzle_leds'  : global_sb_vars_current_state_nozzle_leds
                                           }
                       }
  %}
  # store results in variable
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=bedfanvars VALUE="{bedfanvars_dic}"
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=fancheckvars VALUE="{fancheckvars_dic}"
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=sb_vars VALUE="{sb_vars_dic}"
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=wait_variable VALUE="{wait_variable_dic}"
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=run VALUE=True
  _general_Debug msg="_GLOBAL_VARS - exiting"