#.................................................................................................................
# CHECK_ALL_FANS_LOOP - No additional options / Usage: NONE
#
# This macro starts automatically when the klipper boots up.  It starts 0.8 seconds after Klipper hits the ready state.
# This macro checks to see if the Hotend fan or the Part Cooling fan have stalled.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
#  _general_Debug
#  _HOTEND_FAN_CHECK
#  _PART_COOLING_FAN_CHECK   
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/hotend_fan_monitoring.html#hotend-fan-rpm-monitoring
#      
#.................................................................................................................


#CHECK_ALL_FANS
# Courtesy of alch3my#9819
# Monitors hotend fan RPM (must be 3-wire fan configured with tachometer_pin) 
# and runs _FAN_STOPPAGE_ROUTINE in the event of a hotend fan failure.

# Start 0.8 sec after startup. 
[delayed_gcode CHECK_ALL_FANS_LOOP]
#initial_duration: 0.8
gcode:
    _general_Debug msg="CHECK_ALL_FANS_LOOP - entering"
    UPDATE_DELAYED_GCODE ID=CHECK_ALL_FANS_LOOP DURATION=3   ; Invoke self (loop) every 3 seconds.
    _HOTEND_FAN_CHECK                                        ; Run hotend fan check routine
    _PART_COOLING_FAN_CHECK                                  ; Run Part Cooling fan check routine if Part Cooling fan is enabled - just check to see if fan is not stopped
    _general_Debug msg="CHECK_ALL_FANS_LOOP - exiting"
