#.................................................................................................................
# RESETRGB_ONSTARTUP - No Optional parameters / Usage: None
#
#   This macro runs upon klipper startup / restart 10 seconds after Klipper enters the READY state
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# RESETRGB
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/
#                 https://kno.wled.ge/ 
#                 https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/lights.cfg
#      
#.................................................................................................................
# Set LCD RGB at startup
[delayed_gcode RESETRGB_ONSTARTUP]
initial_duration: 0.8
gcode:
   _general_Debug msg="RESETRGB_ONSTARTUP - entering"
    # The long delay it to ensure that moonraker has time to register the set_wled remote command
    RESETRGB
   _general_Debug msg="RESETRGB_ONSTARTUP - exiting"