#----------------------------------------------------- ABS04 ----------------------------------------------------


#[probe]
#---------------------------------------------------- Z-OFFSET ---------------------------------------------------
## if z_offset is commented out here look for it in printer.cfg file
#
#z_offset = 4.755                       # Z-Offset / First Layer (larger number = closer to bed surface)

[extruder]
#---------------------------------------------------- EXTRUDER ---------------------------------------------------
nozzle_diameter: 0.4                   # Nozzle Diameter
filament_diameter: 1.750
pressure_advance: 0.055                # Pressure Advance
pressure_advance_smooth_time: 0.030    # Pressure Advance Smooth-Time
min_extrude_temp: 170                  # Minimum extruding temperature
## comment out the next 4 lines when you want to do a PID Tune of the Hotend.  un-comment the same lines in the printer.cfg file.
## This way Klipper will perform the SAVE_CONFIG without error.
##control: pid                            # PID tuning
##pid_kp = 39.548                         # PID tuning
##pid_ki = 5.610                          # PID tuning
##pid_kd = 69.703                         # PID tuning

# make sure to enable fw retraction in slicer.
[firmware_retraction]
retract_length: 0.75                   # The length of filament (in mm) to retract (G10) / unretract (G11)
retract_speed: 50                      # The speed of retraction, in mm/s. The default is 20 mm/s
unretract_extra_length: 0              # The length (in mm) of *additional* filament to add when unretracting
unretract_speed: 30                    # The speed of unretraction, in mm/s. The default is 10 mm/s

[heater_bed]
#------------------------------------------------------ BED -----------------------------------------------------
max_temp: 120                          # Maximum allowed bed temperature
## comment out the next 4 lines when you want to do a PID Tune of the heater_bed.  un-comment the same lines in the printer.cfg file.
## This way Klipper will perform the SAVE_CONFIG without error.
# control: pid                            # PID tuning
# pid_Kp: ( 41.201 / 3.0 )                # No Overshoot
# pid_Ki: ( 1.099 / 3.0 )                 # No Overshoot
# pid_Kd: ( 386.261 * 0.88 )              # No Overshoot

#
##To calculate the "No Overshoot" PID from the "classic PID" parameters -
##divide the recommended Kp by 3,
##divide Ki by 3, and
##multiply Kd by 0.88
##pid_kp = 39.632                       # Classic PID
##pid_ki = 1.016                        # Classic PID
##pid_kd = 386.416                      # Classic PID
