#----------------------------------------------------- PETG04 ----------------------------------------------------
# !!! Basic Template - Needs Work !!!

[probe]
#---------------------------------------------------- Z-OFFSET ---------------------------------------------------
z_offset: 7.96                         # Z-Offset / First Layer (larger number = closer to bed surface)

[extruder]
#---------------------------------------------------- EXTRUDER ---------------------------------------------------
nozzle_diameter: 0.4                   # Nozzle Diameter
pressure_advance: 0.055                # Pressure Advance
pressure_advance_smooth_time: 0.030    # Pressure Advance Smooth-Time
min_extrude_temp: 170                  # Minimum extruding temperature
control: pid                           # PID tuning
pid_kp: 31.793                         # PID tuning
pid_ki: 1.696                          # PID tuning
pid_kd: 149.030                        # PID tuning

# make sure to enable fw retraction in slicer.
[firmware_retraction]
retract_length: 1.5                    # The length of filament (in mm) to retract (G10) / unretract (G11)
retract_speed: 30                      # The speed of retraction, in mm/s. The default is 20 mm/s
unretract_extra_length: 0              # The length (in mm) of *additional* filament to add when unretracting
unretract_speed: 30                    # The speed of unretraction, in mm/s. The default is 10 mm/s

[heater_bed]
#------------------------------------------------------ BED -----------------------------------------------------
max_temp: 100                          # Maximum allowed bed temperature
control: pid                           # PID tuning
pid_Kp=15.59                           # No Overshoot
pid_Ki=0.426                           # No Overshoot
pid_Kd=376.72                          # No Overshoot
#To calculate the "No Overshoot" PID from the "classic PID" parameters - divide the recommended Kp by 3, divide Ki by 3, and multiply Kd by 0.88 .
#pid_Kp=46.786                         # Classic PID
#pid_Ki=1.278                          # Classic PID
#pid_Kd=428.091                        # Classic PID
