#.................................................................................................................
# _POWER_OFF_ESP2 - No additional options / Usage: _POWER_OFF_ESP2
#
#   Turn off the Tasmoto smart plug 
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/#tasmota-configuration
#      
#.................................................................................................................
[gcode_macro _POWER_OFF_ESP2]
gcode:
  _general_Debug msg="_POWER_OFF_ESP2 - entering"
  {action_call_remote_method("set_device_power",
                             device="tasmota_plug_ESP2",
                             state="off")}
  _general_Debug msg="_POWER_OFF_ESP2 - exiting"
                             