#.................................................................................................................
# BED_PID - Optional parameters: BED_TEMP / Usage: BED_PID, BED_PID BED_TEMP=110 FAN_SPEED=60
#
#   It performs bed PID tune. If no parameters are specified, BED_TEMP will be [defaultTempBed]
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_filament.profile.defaultTempBed
# variable_park.mid.x
# variable_park.mid.y
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# G32
# M117
# CURRENT_NORMAL
# PARK_UpperRight
# _COOL_WAIT
# STATUS_READY
# TURN_OFF_HEATERS
# _USER_VARIABLE
#
#.................................................................................................................
#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-BED_PID_TUNE.cfg
##      
#.................................................................................................................

[gcode_macro BED_PID]
# Usage: BED_PID BED_TEMP=110 FAN_SPEED=40
# Fan speed, from 0 to 255. S255 provides 100% duty cycle; S128 produces 50%
description: Helper: Performs BED PID tune
gcode:
    _general_Debug msg="_BED_PID - entering"                                ;if debug enabled display message
    {% if printer.idle_timeout.state == "Printing" or printer.pause_resume.is_paused %}
        {action_respond_info("Cannot do that while printing")}
    {% else %}
        {% set user = printer['gcode_macro _USER_VARIABLE'] %}
        {% set defaultTB = user.filament.profile.defaultTempBed|float %}
        {% set BED_TEMP = params.BED_TEMP|default(defaultTB)|float %}
        {% set FAN_SPEED = params.FAN_SPEED|default(0.40)|float %}
        {% set X_MID =  user.park.mid.x|float %}
        {% set Y_MID =  user.park.mid.y|float %}
        G90                                                                 ;Absolute Positioning
        M117 Performing initial homing.                                     
        G32                                                                 ;Clears bed-mesh and performs G28, ATTACH_PROBE, QGL, DOCK_PROBE
        G1 Z5 Y{Y_MID} X{X_MID} F4000                                       ;move to center of bed
        SET_FAN_SPEED FAN=Bedfan_Left SPEED={FAN_SPEED}                     ;set Fan speed for bedfans fan
        SET_FAN_SPEED FAN=Bedfan_Right SPEED={FAN_SPEED}                    ;set Fan speed for bedfans fan
        M117 Starting PID calibration.                                      
        PID_CALIBRATE HEATER=heater_bed TARGET={BED_TEMP}                   ;PID tune the heater_bed
        M117 Finished PID calibration.                                      
        TURN_OFF_HEATERS                                                    ;Turn off all heaters
        CURRENT_NORMAL                                                      ;call Macro CURRENT_NORMAL
        PARK_UpperRight                                                     ;Parks nozzle at top front-right
        M18 X Y E                                                           ;Disable Stepper motor
        _COOL_WAIT MINUTES=1                                                ;Cooling cycle waiting routine
		STATUS_READY                                                        ;SB LED status
        SAVE_CONFIG                                                         ;save results of PID tune back in printer.cfg file
    {% endif %}
   _general_Debug msg="_BED_PID - exiting"                                  ;if debug enabled display message

