#.................................................................................................................
# NZL_PID - Optional parameters: BED_TEMP, NZL_TEMP / Usage: NZL_PID, NZL_PID NZL_TEMP=240 BED_TEMP=110
#   It performs bed heat soak and then nozzle PID tune. If no parameters are specified, BED_TEMP will be
#   [defaultTempBed], and NZL_TEMP will be [defaultTempNozzle].
# Usage: NZL_PID BED_TEMP=95 NZL_TEMP=238
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
#[gcode_macro globalvariables]
#variable_defaultTempBed: 110           # The default Bed temperature if none is specified
#variable_defaultTempNozzle: 240        # The default Nozzle Extruding temperature if none is specified
#variable_PostPrintParkCool: 2          # Once parks, minutes of cooling
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# STATUS_HOMING
# STATUS_BUSY
# STATUS_READY
# _COOL_WAIT
# _HEAT_WAIT
# PARK_UpperRight
# M117
# TURN_OFF_HEATERS
# G32
# M190
# M106
# GLOBALVARIABLES
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-NZL_PID_TUNE.cfg
#      
#.................................................................................................................
[gcode_macro NZL_PID]
# Usage: NZL_PID BED_TEMP=110 NZL_TEMP=245 FAN_SPEED=85 SOAK_MINUTES=10
# Fan speed, from 0 to 255. S255 provides 100% duty cycle; S128 produces 50%.
description: Performs nozzle PID tune
gcode:
    _general_Debug msg="NZL_PID - entering"                                                       ;if debug enabled display message
    {% if printer.idle_timeout.state == "Printing" or printer.pause_resume.is_paused %}
        {action_respond_info("Cannot do that while printing")}
      {% else %}
        {% set defaultTN = printer["gcode_macro globalvariables"].defaulttempnozzle|float %}
        {% set defaultTB = printer["gcode_macro globalvariables"].defaulttempbed|float %}
        {% set FAN_SPEED = params.FAN_SPEED|default(64)|float %}
        {% set SOAK_MINUTES = params.SOAK_MINUTES|default(12)|float %}
        {% set BED_TEMP = params.BED_TEMP|default(defaultTB)|float %}
        {% set NZL_TEMP = params.NZL_TEMP|default(defaultTN)|float %}
        {% set X_MID = printer.configfile.config["stepper_x"]["position_max"]|float / 2.0 %}
        {% set Y_MID = printer.configfile.config["stepper_y"]["position_max"]|float / 2.0 %}
        G90                                                                                       ;Absolute Positioning
        M117 Performing initial homing.                                                           
        G32                                                                                       ;Clears bed-mesh and performs G28, ATTACH_PROBE, QGL, DOCK_PROBE
        G1 Z5 Y{Y_MID} X{X_MID} F4000                                                             ;move to center of bed
        M117 Bringing bed to temperature.                                                         
        M190 S{BED_TEMP}                                                                          ;Wait for bed temp within 5 degrees
        _HEAT_WAIT MINUTES={SOAK_MINUTES} MSG="Pre NZL_PID Soaking..."                            ;Heating cycle waiting routine
        SET_LED LED=sb_leds INDEX=17 RED=.5 GREEN=.5 BLUE=0
        SET_LED LED=sb_leds INDEX=18 RED=.5 GREEN=.5 BLUE=0
        M106 S{FAN_SPEED}                                                                         ;Part Cooling Fan On and start monitoring the tach signal
        M117 Starting PID calibration.                                                            
        PID_CALIBRATE HEATER=extruder TARGET={NZL_TEMP}                                           ;PID tune the extruder
        M117 Finished PID calibration.                                                            
        TURN_OFF_HEATERS                                                                          ;Turn off all heaters
        G90                                                                                       ;Absolute Positioning
        PARK_UpperRight                                                                           ;Parks nozzle at top front-right
        M18 X Y E                                                                                 ;Disable Stepper motor
        SET_LED LED=sb_leds INDEX=17 RED=.2 GREEN=.5 BLUE=.2
        SET_LED LED=sb_leds INDEX=18 RED=.2 GREEN=.5 BLUE=.2
        _COOL_WAIT MINUTES={printer["gcode_macro globalvariables"].postprintparkcool|float}       ;Cooling cycle waiting routine
        STATUS_READY                                                                              ;SB LED status
		SAVE_CONFIG
    {% endif %}
    _general_Debug msg="NZL_PID - exiting"                                                        ;if debug enabled display message
