#.................................................................................................................
# REPORT_ZERO_OVERSHOOT - No additional options / Usage: REPORT_ZERO_OVERSHOOT
#
# Report the ['zero_overshoot heater_bed'].zero_overshoot confifile setting and 
# ['zero_overshoot extruder'].zero_overshoot configfile setting in an integer format
# instead of a boolean format
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#      
#.................................................................................................................

[gcode_macro REPORT_ZERO_OVERSHOOT]
description: Helper: Report zero_overshoot parameter for heater_bed and extruder heater
gcode:
    _general_Debug msg="REPORT_ZERO_OVERSHOOT - entering"                                
    {% if printer.configfile.config['zero_overshoot heater_bed'].zero_overshoot|string in ['True','true'] %}
        {% set defaultOverShoot_hb = 1 %}
    {% endif %}
    {action_respond_info("defaultOverShoot_hb for heater_bed = %s;" % defaultOverShoot_hb)}
    {% if printer.configfile.config['zero_overshoot extruder'].zero_overshoot |string in ['True','true'] %}
        {% set defaultOverShoot_e = 1 %}
    {% endif %}
    {action_respond_info("defaultOverShoot_e for extruder = %s;" % defaultOverShoot_e)}
    {% if 
         printer.configfile.config['zero_overshoot heater_bed'].zero_overshoot|string in ['True','true']  or
         printer.configfile.config['zero_overshoot extruder'].zero_overshoot |string in ['True','true']
    %}
        # if the Zero_Overshoot is installed and turn on then run the new command
        HEATERS_STATUS
    {% endif %}
   _general_Debug msg="REPORT_ZERO_OVERSHOOT - exiting"                                  

