############### Config options ##################
## URL: https://voronregistry.com/mods/ellis-bedfans
##      https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#.................................................................................................................
#
# delayed_gcode boot_bedfans that run 30 milli-seconds after klipper hits ready state
#  boot_bedfans just initializes two vairablse to zero in gcode_macro bedfanvars
#  1. variable_flag: 0
#  2. variable_lasttemp: 0.0   
#.................................................................................................................

[gcode_macro bedfanvars]
variable_threshold: 110		 # If bed temp target is equal to or above this threshold, fans will be enabled. If temp is set to below this threshold, fans will be disabled.
variable_fast: 0.4 	    	 # Fan speed once bed temp is reached  
variable_slow: 0.2		     # Fan speed while bed is heating
variable_offset: 4           # Fan is off when chamber temp < (defaultenclosure-offset), if temp is falling.
variable_chamber_fast: 0.60  # fan speed to use when trying to keep chamber enclosure at defaultEnclosure temperature (set point chamber temperature)
variable_flag: 0             # Bed heater reached target temp if this value > 0, Valid value: 0 (boot state), 2 (Target heater temp reached), 3 (chamber temp falling), 4 (chamber temp above defaultEnclosure temp)
variable_lasttemp: 0.0       # previous chamber temperature reading
gcode:
    _general_Debug msg="bedfanvars- entering"
    _general_Debug msg="bedfanvars- exiting"
