[gcode_macro _WAIT_Variable]
variable_count: 300
variable_duration: 2
variable_waiting: False
variable_ready: 200
variable_temp: 250
# Total wait minutes is (duration * count) / 60 
gcode:
    _general_Debug msg="_WAIT_Variable- entering"
    _general_Debug msg="_WAIT_Variable- exiting"