#.................................................................................................................
# PROBE_ACCURACY - required parameters: DOCK{0,1} / Usage: PROBE_ACCURACY DOCK=0; PROBE_ACCURACY DOCK=1   ; use DOCK=0 to omit the probe docking
#
#  Probe Z-height accuracy at current XY position and dock/undock MagProbe
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw.mag_probe.ena
#  variable_z_hop
#  variable_speed.z_hop
#  variable_speed.travel
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _USER_VARIABLE
# ATTACH_PROBE
# DETACH_PROBE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L216
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#.................................................................................................................

[gcode_macro PROBE_ACCURACY]
description : Helper: Mag Probe; Probe Z-height accuracy at current XY position and dock/undock MagProbe
rename_existing: PROBE_ACCURACY_BASE
gcode:
  _Mag_Probe_Debug msg="PROBE_ACCURACY - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  # as we need to return to the position with the probe we need to be at least at z_hop
  {% if user.hw.mag_probe.ena and printer.gcode_move.gcode_position.z < user.z_hop %}
    {action_respond_info("PROBE_ACCURACY: High must be above %.2f" % user.z_hop)}
    G90 ; absolute positioning
    G0 Z{user.z_hop} F{user.speed.z_hop} ; move head up
    {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
  {% endif %}
  {% if user.hw.mag_probe.ena in ['true', '1', 'True', true, 1, True] %}
    SAVE_GCODE_STATE NAME=STATE_PROBE_ACCURACY
    ATTACH_PROBE
    RESTORE_GCODE_STATE NAME=STATE_PROBE_ACCURACY MOVE=1 MOVE_SPEED={(user.speed.travel|float / 60)}
  {% endif %}
  # {%  if user.use_default_probe %}
  PROBE_ACCURACY_BASE {rawparams}
  # {% else %}
      # EXT_PROBE_ACCURACY {rawparams}
  # {% endif %}
  {% if user.hw.mag_probe.ena in ['true', '1', 'True', true, 1, True] and params.DOCK|default(1)|int == 1 %} ; use DOCK=0 to omit the probe docking
    DETACH_PROBE
    RESTORE_GCODE_STATE NAME=STATE_PROBE_ACCURACY MOVE=1 MOVE_SPEED={(user.speed.travel|float / 60)}
  {% endif %}
  _Mag_Probe_Debug msg="PROBE_ACCURACY - exiting"
