#.................................................................................................................
# Z_OFFSET_APPLY_PROBE - No additional options / Usage: Z_OFFSET_APPLY_PROBE
#
#  Adjust the probe's z_offset and save it
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_use_default_probe
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources:       
#
#.................................................................................................................

[gcode_macro Z_OFFSET_APPLY_PROBE]
description : Helper: Mag Probe; Adjust the probe's z_offset
rename_existing: Z_OFFSET_APPLY_PROBE_BASE
gcode:
  _Mag_Probe_Debug msg="Z_OFFSET_APPLY_PROBE - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  # {% if user.use_default_probe %}
   Z_OFFSET_APPLY_PROBE
  # {% else %}
      # EXT_Z_OFFSET_APPLY_PROBE
  # {% endif %}
  _Mag_Probe_Debug msg="Z_OFFSET_APPLY_PROBE - exiting"
