#.................................................................................................................
# _CHECKPROBE - No additional options / Usage: _CHECKPROBE
#
# Check to see if probe is where it is supposed to be after
# attaching/docking maneuver and set homing error or shutdown
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

# Check to see if probe is where it is supposed to be after
# attaching/docking maneuver and set homing error or shutdown
[gcode_macro _CheckProbe]
description: Helper: Check to see if probe is where it is supposed to be after attaching/docking maneuver and set homing error or shutdown
gcode:
    Query_Probe
    _SetProbeState action={ params.ACTION }
    