#.................................................................................................................
# _DeployKlickyDock - No additional options / Usage: _DeployKlickyDock
#
# Deploys Klicky servo-controlled dock
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_klicky.enable_dock_servo
# variable_klicky.servo_delay
# variable_klicky.servo_name
# variable_klicky.servo_deploy
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _KlickyDebug
# _DeployDock
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

###################
# Klicky Dock Servo Deploy

[gcode_macro _DeployKlickyDock]
description: Helper: Deploys Klicky servo-controlled dock
gcode:
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set enable_dock_servo = user.klicky.enable_dock_servo|default(False) %}
    {% set servo_delay = user.klicky.servo_delay|default(1000) %}
    {% set servo_name = user.klicky.servo_name %}
    {% set servo_deploy = user.klicky.servo_deploy|default(360) %}

    #wait for all the moves to complete
    M400
    {% if enable_dock_servo != False %}
        _KlickyDebug msg="_DeployKlickyDock Klicky servo configuration enabled"
        {% if servo_deploy == 360 %}
            { action_raise_error("Klicky: servo active on klicky-variables, but no servo deploy angle specified") }
        {% endif %}
        _KlickyDebug msg="_DeployKlickyDock SET_SERVO SERVO={servo_name|string} ANGLE={servo_deploy|int}"
        SET_SERVO SERVO={servo_name|string} ANGLE={servo_deploy|int}
        M400
        G4 P{servo_delay|int}
        _KlickyDebug msg="_DeployKlickyDock SET_SERVO SERVO={servo_name|string} WIDTH=0"
        SET_SERVO SERVO={servo_name|string} WIDTH=0
    {% elif printer["gcode_macro _DeployDock"] is defined %}
        _KlickyDebug msg="_DeployKlickyDock calling _DeployDock"
        _DeployDock
    {% endif %}
