#.................................................................................................................
# _HOMING_VARIABLES - required parameters: RESET / Usage: _HOMING_VARIABLES RESET=1 
#
#  Reset the variable probe_lock of the macro _GLOBAL_VARS to the RESET value
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
# variable_probe_variables
# variable_probe_variables.probe_lock
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

[gcode_macro _Homing_Variables]
description: Helper: Klicky Probe, set _GLOBAL_VARS variable probe_lock to False
gcode:
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set probe_variables = global.probe_variables %}
    
    {% set reset  = params.RESET|default(0) %}
    {% if reset %}
        {% set _dummy = probe_variables.update({'probe_lock':False}) %}        
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=probe_variables VALUE="{probe_variables}"    
    {% endif %}