#.................................................................................................................
# _HOME_Z - No additional options / Usage: _HOME_Z
#
#  Home Z Routine
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
# variable_z_endstop_x
# variable_z_endstop_y
#
# [gcode_macro _USER_VARIABLE]
# variable_klicky.safe_z
# variable_klicky.travel_speed
# variable_klicky.z_drop_speed
# variable_klicky.verbose
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _entry_point
# _KlickyDebug
# _exit_point
# _GLOBAL_VARS
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

# Home Z Routine
[gcode_macro _Home_Z]
gcode:
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set z_endstop_x = global.z_endstop_x %}
    {% set z_endstop_y = global.z_endstop_y %}
    {% set safe_z = user.klicky.safe_z|float %}
    {% set travel_feedrate = user.klicky.travel_speed * 60 %}    
    {% set z_drop_feedrate = user.klicky.z_drop_speed * 60 %}
    {% set verbose = user.klicky.verbose %}

    _entry_point function=Home_Z

    # if x and y are not homed yet, raise error
    {% if not 'xy' in printer.toolhead.homed_axes %}
        { action_raise_error("Must Home X and Y Axis First!") }
    {% else %}
        _KlickyDebug msg="_Home_Z XY Axis homed"
        {% if not 'z' in printer.toolhead.homed_axes %}
            {% if verbose %}
                { action_respond_info("Resetting Z position to zero") }
            {% endif %}
             _KlickyDebug msg="_Home_Z Z not homed, setting position as X=Y=Z=0"
            SET_KINEMATIC_POSITION Z=0
        {% endif %}

        # Move tool to safe homing position and home Z axis
        # location of z endstop
        _KlickyDebug msg="_Home_Z moving to Z endstop position G0 X{z_endstop_x} Y{z_endstop_y} F{travel_feedrate}"
        G0 X{z_endstop_x} Y{z_endstop_y} F{travel_feedrate}
        _KlickyDebug msg="_Home_Z Homing Z G28 Z"
        G28 Z0
        _KlickyDebug msg="_Home_Z toolhead too low, raising it to {safe_z}mm from {printer.toolhead.position.z}mm"
        G0 Z{safe_z} F{z_drop_feedrate}
    {% endif %}

    _exit_point function=Home_Z
    
