#.................................................................................................................
# _KLICKY_STATUS_MESHING - No additional options / Usage: _KLICKY_STATUS_MESHING 
#
#  This enables stealthburner-led STATUS_MESHING macro to be used in klicky macros if they exist.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _KlickyDebug
# STATUS_MESHING
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

#################
# Status LEDs 
# This enables stealthburner-led status macros to be used in klicky macros if they exist. 
# https://github.com/VoronDesign/Voron-Afterburner/blob/sb-beta/Klipper_Macros/stealthburner_leds.cfg
[gcode_macro _klicky_status_meshing]
gcode:
    {% if printer['gcode_macro status_meshing'] is defined %}
        _KlickyDebug msg="_klicky_status_meshing activating the LED STATUS_MESHING"
        STATUS_MESHING
    {% endif %}
    