#.................................................................................................................
# _KLICKYDEBUG  - required parameters: MSG{text message} / Usage: _KLICKYDEBUG
#
#  if the klicky.debug in the the global variables _USER_VARIABLE is true then print out the text message
#  located in MSG parameter to the UI console window.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_klicky.debug
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

[gcode_macro _KlickyDebug]
description : Helper: Klicky Probe; If this call which contains a message on the name of the current routine is placed at the beginning and ending of the current klicky probe routine then this can be used to determine where an error occurred (which Klikcy probe routine the error occurred in) if _USER_VARIABLE klicky.debug is set to True
gcode:
    {% set message  = params.MSG %}
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set debug = user.klicky.debug|default(False) %}

    {% if debug %}
        { action_respond_info(message) }
    {% endif %}