#.................................................................................................................
# _KLICKYDEBUG  - required parameters: MSG{text message} / Usage: _KLICKYDEBUG
#
#  if the variable_debug in the the global variables _User_Variables is true then print out the text message
#  located in MSG parameter to the UI console window.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _User_Variables]
#  variable_debug
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

[gcode_macro _KlickyDebug]
gcode:
    {% set message  = params.MSG %}
    {% set debug = printer["gcode_macro _User_Variables"].debug|default(False) %}

    {% if debug %}
        { action_respond_info(message) }
    {% endif %}