#################
# Status LEDs 
# This enables stealthburner-led status macros to be used in klicky macros if they exist. 
# https://github.com/VoronDesign/Voron-Afterburner/blob/sb-beta/Klipper_Macros/stealthburner_leds.cfg
[gcode_macro _klicky_status_cleaning]
gcode:
    {% if printer['gcode_macro status_cleaning'] is defined %}
        _KlickyDebug msg="_klicky_status_cleaning activating the LED STATUS_CLEANING"
        STATUS_CLEANING
    {% endif %}
    