#.................................................................................................................
# _PARK_TOOLHEAD - No additional options / Usage: _PARK_TOOLHEAD
#
#  Park the Toolhead
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#   variable_klicky.park_toolhead
#   variable_klicky.parkposition_x
#   variable_klicky.parkposition_y
#   variable_klicky.parkposition_z
#   variable_klicky.travel_speed
#   variable_klicky.verbose
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _entry_point
# _KlickyDebug
# _exit_point
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

# Park Toolhead Routine
[gcode_macro _Park_Toolhead]
gcode:
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set park_toolhead = user.klicky.park_toolhead %}
    {% set parkposition_x = user.klicky.parkposition_x %}
    {% set parkposition_y = user.klicky.parkposition_y %}
    {% set parkposition_z = user.klicky.parkposition_z %}
    {% set travel_feedrate = user.klicky.travel_speed * 60 %}
    {% set verbose = user.klicky.verbose %}

    _entry_point function=Park_Toolhead

    {% if park_toolhead and 'xyz' in printer.toolhead.homed_axes %}
        {% if verbose %}
            { action_respond_info("Parking Toolhead") }
        {% endif %}
        {% if parkposition_z == -128 %}
            _KlickyDebug msg="_Park_Toolhead moving to G0 X{parkposition_x} Y{parkposition_y} F{travel_feedrate}"
            G0 X{parkposition_x} Y{parkposition_} F{travel_feedrate}

        {% else %}

            _KlickyDebug msg="_Park_Toolhead moving to G0 X{parkposition_x} Y{parkposition_y} Z{parkposition_z} F{travel_feedrate}"
            G0 X{parkposition_x} Y{parkposition_y} Z{parkposition_z} F{travel_feedrate}

        {% endif %}

    {% endif %}
    _exit_point function=Park_Toolhead