#.................................................................................................................
# _PROBE_UNLOCK - No additional options / Usage: _PROBE_UNLOCK
#
#  Unlocks Klicky Probe state
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_probe_lock
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _KlickyDebug
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

##############
# Unlock Probe
[gcode_macro _Probe_Unlock]
description: Unlocks Klicky Probe state
gcode:
    _KlickyDebug msg="_Probe_Lock setting probe_lock variable to False"
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=probe_lock VALUE={ False }