#.................................................................................................................
# _PROBE_UNLOCK - No additional options / Usage: _PROBE_UNLOCK
#
#  Unlocks Klicky Probe state
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_probe_variables
#  variable_probe_variables.probe_lock
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _KlickyDebug
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

##############
# Unlock Probe
[gcode_macro _Probe_Unlock]
description: Helper: Klicky Probe; Unlocks Klicky Probe state
gcode:
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set probe_variables = global.probe_variables %}
    
    _KlickyDebug msg="_Probe_Lock setting probe_lock variable to False"
    {% set _dummy = probe_variables.update({'probe_lock':False}) %}        
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=probe_variables VALUE="{probe_variables}"    