#.................................................................................................................
# PROBE_ACCURACY - required parameters: back{1} / Usage: PROBE_ACCURACY
#
#     Rename PROBE_ACCURACY to _PROBE_ACCURACY so we can ensure that the user is not going to probe the bed outside the bed size and 
#     this macro adds the ability to automatically attach and dock the probe.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_klicky.safe_z
#  variable_klicky.z_drop_speed
#  variable_klicky.max_bed_x
#  variable_klicky.max_bed_y
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _KlickyDebug
# _entry_point
# _CheckProbe
# Attach_Probe
# Dock_Probe
# _exit_point
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

################
# Probe Accuracy
[gcode_macro PROBE_ACCURACY]
rename_existing: _PROBE_ACCURACY
description:Probe Z-height accuracy at current XY position with klicky automount
gcode:
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set safe_z = user.klicky.safe_z|float %}
    {% set z_drop_feedrate = user.klicky.z_drop_speed * 60 %}
    {% set max_x = user.klicky.max_bed_x|float %}
    {% set max_y = user.klicky.max_bed_y|float %}
    {% set probe_offset_x = printer.configfile.config.probe.x_offset|float %}
    {% set probe_offset_y = printer.configfile.config.probe.y_offset|float %}

    {% if not 'xyz' in printer.toolhead.homed_axes %}
        { action_raise_error("Must Home X, Y and Z Axis First!") }
    {% endif %}
    _KlickyDebug msg="probe_accuracy Axis homed"
    _KlickyDebug msg="probe_accuracy Variables max_x={max_x},max_y={max_y},probe_offset_x={probe_offset_x},probe_offset_y={probe_offset_y}"

    _entry_point function=PROBE_ACCURACY

    # Protect against PROBE_ACCURACY performed from outside the bed
    {% if printer.gcode_move.position.y > (max_y - probe_offset_y)
          or printer.gcode_move.position.y < - probe_offset_y
          or printer.gcode_move.position.x > (max_x - probe_offset_x)
          or printer.gcode_move.position.x < - probe_offset_x %}
      { action_raise_error("Must perform PROBE_ACCURACY with the probe above the BED, check klicky_variables bed size!") }
    {% endif%}

    _CheckProbe action=query
    Attach_Probe back=1

    _KlickyDebug msg="probe_accuracy calling klipper probe accuracy"
    _PROBE_ACCURACY {% for p in params
            %}{'%s=%s ' % (p, params[p])}{%
           endfor %}

    Dock_Probe back=1

    _exit_point function=PROBE_ACCURACY move=1
