#.................................................................................................................
# QUAD_GANTRY_LEVEL - No additional options / Usage: QUAD_GANTRY_LEVEL
#
#  Conform a moving, twistable gantry to the shape of a stationary bed with klicky automount
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_klicky.verbose
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# Dock_Probe
# _CheckProbe
# Attach_Probe
# _KLICKY_STATUS_LEVELING
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

###################
# Quad Gantry Level
[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
description: Conform a moving, twistable gantry to the shape of a stationary bed with klicky automount
gcode:
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set V = user.klicky.verbose %}
    {% if V %}
        { action_respond_info("QG Level") }
    {% endif %}

    _CheckProbe action=query
	G90
    Attach_Probe
    _KLICKY_STATUS_LEVELING

    _QUAD_GANTRY_LEVEL {% for p in params
            %}{'%s=%s ' % (p, params[p])}{%
            endfor %}
    Dock_Probe