# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
canbus_uuid: befe3bd16119

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_6
##  Heater - HE0
##  Thermistor - T0
## E motor for Stealthburner: LDO-36STH20-1004AHG(XH) [1.8degree] URL: https://cdn.shopify.com/s/files/1/0887/0138/files/HT-LDO-36STH20-1004AHGXH-RevA_1.pdf?v=1642628306
#
[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork1 (BMG Gear Ratio)
##  Use 50:10 for Clockwork2
##  Use 80:20 for M4, M3.1
#gear_ratio: 50:17               #BMG Gear Ratio for CW1
gear_ratio: 50:10               #BMG Gear Ratio for CW2
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400 #    #    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< overridden by FILAMENT file.cfg  <<<
filament_diameter: 1.750
heater_pin: EBBCan: PB13
## I own a BTT EBB36 V1.2
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
#   One of "EPCOS 100K B57560G104F", "ATC Semitec 104GT-2",
#   "ATC Semitec 104NT-4-R025H42G", "Generic 3950",
#   "Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
#   "SliceEngineering 450", or "TDK NTCG104LH104JT1"
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan: PA3
min_temp: 10 #-273.15
max_temp: 270
max_power: 1.0
#min_extrude_temp: 170 #    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< overridden by main printer.cfg  <<<
control: pid #watermark #pid #<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< overridden by main printer.cfg  <<<
pid_kp = 26.213 #    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< overridden by main printer.cfg  <<<
pid_ki = 1.304 #    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< overridden by main printer.cfg  <<<
pid_kd = 131.721#    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< overridden by main printer.cfg  <<<
##  Try to keep pressure_advance below 1.0
#pressure_advance: 0.05 #   #    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< overridden by main printer.cfg  <<<
#pressure_advance: 0.055
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040 #    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< overridden by main printer.cfg  <<<
#pressure_advance_smooth_time: 0.030

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: EBBCan: PA15
interpolate: false
run_current: 0.55
#run_current: 0.650
sense_resistor: 0.110
stealthchop_threshold: 0
#stealthchop_threshold: 999999

#####################################################################
#   Additional Temperature Sensor
#####################################################################

[temperature_sensor Chamber_Toolhead_PT100]
## PT100 4-wire chamber temperature sensor
## DIP switch settings, 1-2-3-4: OFF-OFF-ON-OFF
sensor_type:MAX31865
sensor_pin: EBBCan: PA4
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 4
spi_speed: 2000000
##spi_software_sclk_pin: EBBCan: PA5
##spi_software_mosi_pin: EBBCan: PA7
##spi_software_miso_pin: EBBCan: PA6
##tc_use_50Hz_filter: False
##tc_averaging_count: 1
min_temp: 0
max_temp: 480
#gcode_id: Chamber_ToolH_PT100
##   The id to use when reporting the temperature in the M105 command.
##   This parameter must be provided.


#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Part Cooling Fan - FAN0
pin: EBBCan: PA0
max_power: 1.0
cycle_time: 0.06 # use 1.0 for fans that are not PWM fans
#   The amount of time (in seconds) for each PWM power cycle to the
#   fan. It is recommended this be 10 milliseconds or greater when
#   using software based PWM. The default is 0.010 seconds.
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: EBBCan: PA1
max_power: 1.0
cycle_time:  0.06 # use 1.0 for fans that are not PWM fans
#   The amount of time (in seconds) for each PWM power cycle to the
#   fan. It is recommended this be 10 milliseconds or greater when
#   using software based PWM. The default is 0.010 seconds.
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0

[controller_fan canbus_fan]
##  EBB36 Fan - BlTouch header or PROBE header
pin: EBBCan: PB9
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.06 # use 1.0 for fans that are not PWM fans
#   The amount of time (in seconds) for each PWM power cycle to the
#   fan. It is recommended this be 10 milliseconds or greater when
#   using software based PWM. The default is 0.010 seconds.
kick_start_time: 0.5
heater: heater_bed, extruder
fan_speed: 1.00

[neopixel sb_leds]
pin: EBBCan:PD3
##
#   The pin connected to the neopixel. This parameter must be provided.
# Stealthburner LEDS with BARF LED as 1st LED (8 RGB Leds with two RGBW)
# Neopixel is Adafruit's name for a variety of digitally controlled LEDs. 
# They are also often named by their driver ICs, with WS2812B and SK6812 being the most common.
#chain_count: 10
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRBW,GRBW
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. Options are GRB, RGB, GRBW, or RGBW. The default is GRB.
##
## Stealthburner LEDS with Hartk1213's LED secondary board with 8 WS2812B GRB Leds (1 - 8) followed by
## BARF LEDs which has 8 WS2812B GRB leds (9 - 16) followed by two (2) WS2812B GRBW Leds (17, 18)
chain_count: 18
##   The number of Neopixel chips that are "daisy chained" to the
##   provided pin. The default is 1 (which indicates only a single
##   Neopixel is connected to the pin).
color_order: GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRBW,GRBW
##   Set the pixel order required by the LED hardware (using a string
##   containing the letters R, G, B, W with W optional). Alternatively,
##   this may be a comma separated list of pixel orders - one for each
##   LED in the chain. Options are GRB, RGB, GRBW, or RGBW. The default is GRB.
##
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#

[gcode_macro SB_leds_OFF]
gcode:
    # sb_leds (17-18) nozzle
    # sb_leds (9-16) logo
    # sb_leds (1-8) fan
    #SET_LED LED=my_sb_leds RED=0 GREEN=0 BLUE=0 TRANSMIT=1 
    STOP_LED_EFFECTS

[delayed_gcode my_delayed_gcode]
gcode:
    SB_leds_OFF
#   A list of G-Code commands to execute when the delay duration has
#   elapsed. G-Code templates are supported. This parameter must be
#   provided.
initial_duration: 1.5
#   The duration of the initial delay (in seconds). If set to a
#   non-zero value the delayed_gcode will execute the specified number
#   of seconds after the printer enters the "ready" state. This can be
#   useful for initialization procedures or a repeating delayed_gcode.
#   If set to 0 the delayed_gcode will not execute on startup.
#   Default is 0.

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3
