## Install Rapberry Pi as seondary MCU
## URL: https://www.klipper3d.org/RPi_microcontroller.html#install-the-rc-script

[mcu rpi]
serial: /tmp/klipper_host_mcu


#[output_pin reset_line_RP2040]
#pin: rpi:gpio5
#value = 0
#shutdown_value = 0
## You can also write the pin in extended form by specifying
## the reference gpiochip.
##pin: rpi:gpiochip0/gpio5

#[gcode_macro OFF_RP2040]
#gcode:  
#    SET_PIN PIN=reset_line_RP2040 VALUE=1


#[gcode_macro ON_RP2040]
#gcode:  
#    SET_PIN PIN=reset_line_RP2040 VALUE=0


#[gcode_macro DO_NOTHING]
#gcode:
#    {% set x = 0 %}
#    #{ action_respond_info(printer.print_stats.state) }

#[gcode_macro RESET_RP2040]
#gcode:
#  OFF_RP2040
#  G4 P800
#  ON_RP2040

##[delayed_gcode REBOOT_RESET_RP2040]
## Run a loop every second to check if the printer is idle
##initial_duration: 1.
##gcode:
##    RESET_RP2040
	
#[delayed_gcode event_loop_RP2040]
## Run a loop every second to check if the printer is idle
#initial_duration: 1.
#gcode:
#    check_state DEBUG=0
#    UPDATE_DELAYED_GCODE ID=event_loop_RP2040 DURATION=1

#[gcode_macro SET_CS_TO_1]
## This will start to check the state of the printer and toggle the RESET button on the RP2040
## use this inside the PRINT_END macro
#gcode:
#  SET_GCODE_VARIABLE MACRO=CONFIGS VARIABLE=cs VALUE=1

#[gcode_macro SET_CS_TO_0]
## This will disable the checking of the state of the printer and Stop toggling the RESET button on the RP2040
## use this inside the PRINT_START macro
#gcode:
#  SET_GCODE_VARIABLE MACRO=CONFIGS VARIABLE=cs VALUE=0


#[gcode_macro check_state]
## Adds check_state macro that can be called manually or on a schedule
#gcode:
    ## Log to the console if human is manually calling `check_status`
    ## Dont log to the console if the event_loop is calling since it will clutter up console
#    {% set debug = params.DEBUG|default(1)|int %}
#    {% set enable = printer["gcode_macro CONFIGS"].cs %}
#    {% if debug == 1 %}
        ## Print out the state ('cancelled', 'standby', 'printing', 'paused', 'error')
#        { action_respond_info(printer.print_stats.state) }
#    {% endif %}

    ## RESET RP2040 if the printer is in standby (not busy)
    ## Note: 'cancelled' will stay 'cancelled' until a human clicks 'clear print' in the fluidd/mainsail gui
#	{% if enable == 1 %}
#    {% if printer.print_stats.state == "printing" %}
#    {% if printer.print_stats.state == "paused" %}
#    {% if printer.print_stats.state == "cancelled" %}
#    {% if printer.print_stats.state == "error" %}
#        DO_NOTHING
#    {% else %}
#        RESET_RP2040
#    {% endif %}
#	{% endif %}
#	{% endif %}
#	{% endif %}
#	{% endif %}

