#.................................................................................................................
# _UNLOCK - No additional options/ Usage: NONE
#    This macro stops the SET_GCODE_VARIABLE macro from doing a recursive call to itself
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources:
#
#.................................................................................................................

[gcode_macro _UNLOCK]
description: Helper: 
gcode:
    SET_GCODE_VARIABLE MACRO=_LOCK VARIABLE=lock_flag VALUE=False