#.................................................................................................................
# _WAIT_2_SECS - No additional options/ Usage: _WAIT_2_SECS
#   Waits for the 2 secounds to pass
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ----NONE----
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# M117
# _general_Debug
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-WAITING_ROUTINES.cfg
#                 https://reprap.org/wiki/G-code
#      
#.................................................................................................................

#.................................................................................................................
[gcode_macro _WAIT_2_SECS]
description: wait for 2 seconds
gcode:
    _general_Debug msg="_WAIT_2_SECS - enter"
    {% set MSG = "waiting..." %}
    {% for i in range(0, 1) %}
        M117 {MSG} 
        {% for s in range(0, 1) %}
            SET_LED LED=sb_leds INDEX=17 RED=0 GREEN=0 BLUE=0
            SET_LED LED=sb_leds INDEX=18 RED=0 GREEN=0 BLUE=.5
            G4 P250                                            ;wait 0.25 seconds
            SET_LED LED=sb_leds INDEX=17 RED=0 GREEN=0 BLUE=.5
            SET_LED LED=sb_leds INDEX=18 RED=0 GREEN=0 BLUE=0
            G4 P250                                            ;wait 0.25 seconds
        {% endfor %}
    {% endfor %}
    _general_Debug msg="_WAIT_2_SECS - exit"

