#.................................................................................................................
# BOOT - No additional options / Usage: BOOT
#
#   Turn on power supplies after Klipper boots up.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/web_api/#set-device-state
##      
#.................................................................................................................

[gcode_macro BOOT]
gcode:
   _general_Debug msg="BOOT - entering"
  #_POWER_ON_EMPTY_PSU
  _POWER_ON_ESP_PSU
  _POWER_ON_ESP2
  _POWER_ON_IR_PSU
  _POWER_ON_RGB_PSU
  _POWER_ON_RGB2  
  _general_Debug msg="BOOT - exiting"
                             