#.................................................................................................................
# Settings for when using ADXL345 for resonance testing from BTT EBB26V1.2 Toolhead board
#
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#  ADXL345 Resonance Testing Setup
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
#
# For Resonance Testing using BTT EBB36V1.2 to rPi via CAN bus cable.
# 
# rPi software setup:
#   https://www.klipper3d.org/Measuring_Resonances.html
#
#
# Open terminal,
# run CURRENT_HIGH, then G32, close doors, use masking tape if needed. Bring bed up to printing temp (110)
# and nozzle to 150. Once bed has reached temp, heat soak for 20 minutes.
# Perform SHAPER_CALIBRATE, and when done, SAVE_CONFIG to save found settings.
 
[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z
 
#[resonance_tester]
#accel_chip: adxl345
#probe_points: 150, 150, 20

#[input_shaper]
#shaper_freq_x: 57.6
#shaper_type_x: zv
#shaper_freq_y: 41.4
#shaper_type_y: mzv