[display_template led_position]
text:
    {% set x_pos = printer.toolhead.position.x %}
    {% set y_pos = printer.toolhead.position.y %}
    {% set z_pos = printer.toolhead.position.z %}

    #{% set x_travel = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set x_travel = ((printer.configfile.config["stepper_x"]["position_max"]|float) - (printer.configfile.config["stepper_x"]["position_min"]|float)) %}
    #{% set y_travel = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set y_travel = ((printer.configfile.config["stepper_y"]["position_max"]|float) - (printer.configfile.config["stepper_y"]["position_min"]|float)) %}
    #{% set z_travel = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set z_travel = ((printer.configfile.config["stepper_z"]["position_max"]|float) - (printer.configfile.config["stepper_z"]["position_min"]|float)) %}

    {% set red = x_pos / x_travel %}
    {% set green = y_pos / y_travel %}
    {% set blue = z_pos / z_travel %}

    {red}, {green}, {blue}, 0.0


    
    

