[gcode_macro DUMP_GCODE_ROUTINES]
# This dumps all current Klipper variables to the g-code terminal.
# This helps to find Klipper system variables for use in macros. 
# A filter for both name and value can be applied.
#
# use : DUMP_GCODE_ROUTINES NAME=m190
#
# URL: https://github.com/AndrewEllis93/Print-Tuning-Guide/blob/main/articles/useful_macros.md#dump-variables

#printer['configfile'].config = {'gcode_macro CURRENT_NORMAL': {'gcode': '\n_general_Debug msg="CURRENT_NORMAL - entering"}}
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    
    {% set out = [] %}
    {% set string1 = "'gcode_macro " %}
    
    {% for key1 in printer %}
        {% for key2 in printer[key1] %}            
            {% if ( (key1|lower == 'configfile') and (key2|lower in ['config']) ) %}
                {% set temp = printer[key1][key2]|string|lower %}
                {% if ((filter_name|lower in temp) and (string1|lower in temp)) %}
                #{% if ((filter_name|lower in printer[key1][key2]|string|lower) and (string1|lower in printer[key1][key2]|string|lower)) %}
                #{% if ((filter_name|lower in printer[key1][key2]|string|lower) ) %}
                    {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
                {% endif %}
           {% else %}
           {% endif %}
        {% endfor %}
    {% endfor %}
    
    
    {action_respond_info("Results of DUMP_GCODE_ROUTINES: ")}
    {action_respond_info(out|join("\n"))}
