#.................................................................................................................
# INFO_LOCK - No additional options / Usage: INFO_LOCK
#
#  displays the following information:
#      Heater_threshold = %d;
#      ChamberTEMP_threshold = %.2f;
#      FLAG = %d;
#      LAST_CHAMBER_TEMP = %.2f;
#      current_CHAMBER_TEMP = %.2f;
#      OFFSET = %d;
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_bedfanvars
# variable_filament
#
# [gcode_macro _GLOBAL_VARS]
# variable_bedfanvars
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
#                 https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#      
#.................................................................................................................
#INFO_LOCK
[gcode_macro info_lock]
gcode:
    _general_Debug msg="info_lock - entering"
    {% set lock = printer['gcode_macro _LOCK'] %}
    {% set lock_flag = lock.lock_flag|string %}
    {% set string1 = "INFO_LOCK <+++++++++++++++++" %}
    {% set string1 = string1 ~ "\nlock_flag = %s;" %}
    {% set string1 = string1 ~ "\nEnd of INFO_LOCK +++++++++++++++++>" %}
    {action_respond_info(string1 % (lock_flag)) }    
    _general_Debug msg="info_lock - exiting"
