[gcode_macro toolhead_position_vars]
variable_red: 0.6		 # red value
variable_green: 0.0 	 # green value
variable_blue: 0.0		 # blue
gcode:

[delayed_gcode toolhead_color_position]
#initial_duration: 0.1
gcode:
	# Va
    {% set x_pos = printer.toolhead.position.x %}
    {% set y_pos = printer.toolhead.position.y %}
    {% set z_pos = printer.toolhead.position.z %}

    #{% set x_travel = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set x_travel = ((printer.configfile.config["stepper_x"]["position_max"]|float) - (printer.configfile.config["stepper_x"]["position_min"]|float)) %}
    #{% set y_travel = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set y_travel = ((printer.configfile.config["stepper_y"]["position_max"]|float) - (printer.configfile.config["stepper_y"]["position_min"]|float)) %}
    #{% set z_travel = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set z_travel = ((printer.configfile.config["stepper_z"]["position_max"]|float) - (printer.configfile.config["stepper_z"]["position_min"]|float)) %}

    {% set RED = x_pos / x_travel %}
    {% set GREEN = y_pos / y_travel %}
    {% set BLUE = z_pos / z_travel %}

    SET_GCODE_VARIABLE MACRO=toolhead_position_vars VARIABLE=red VALUE={RED}
    SET_GCODE_VARIABLE MACRO=toolhead_position_vars VARIABLE=green VALUE={GREEN}
    SET_GCODE_VARIABLE MACRO=toolhead_position_vars VARIABLE=blue VALUE={BLUE}

    #{action_respond_info("toolhead_position: ++++\nRED = %.2f\nGREEN = %.2f\nBLUE = %.2f" % (RED, GREEN, BLUE)) }

    #UPDATE_DELAYED_GCODE ID=toolhead_color_position DURATION=0.3

[delayed_gcode toolhead_color_applied]
#initial_duration: 0.1
gcode:
    {% set RED = printer["gcode_macro toolhead_position_vars"].red %}
    {% set GREEN = printer["gcode_macro toolhead_position_vars"].green%}
    {% set BLUE = printer["gcode_macro toolhead_position_vars"].blue %}
    SET_LED LED=sb_leds RED={RED} GREEN={GREEN} BLUE={BLUE}

    #{action_respond_info("toolhead_color_applied: ++++\nRED = %.2f\nGREEN = %.2f\nBLUE = %.2f" % (RED, GREEN, BLUE)) }

    #UPDATE_DELAYED_GCODE ID=toolhead_color_applied DURATION=0.1

