#.................................................................................................................
# PRERUN - No Optional parameters / Usage: None
#   This macro runs upon klipper startup / restart.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# ---NONE---
#.................................................................................................................

[delayed_gcode boot_bedfans]
initial_duration: 0.5
gcode:
    SET_GCODE_VARIABLE MACRO=bedfanvars VARIABLE=flag VALUE=0
    {% set chambertemp = printer["temperature_sensor J_Chamber_ZDragChain_PT100"].temperature|float %}
    SET_GCODE_VARIABLE MACRO=bedfanvars VARIABLE=lasttemp VALUE={0.0}
    {action_respond_info("++++++++++++++++++++++++") }
    {action_respond_info("Heater_threshold = %d;\nChamberTEMP_threshold = %.2f;\nFLAG = %d;\nLAST_CHAMBER_TEMP = %.2f;\ncurrent_CHAMBER_TEMP = %.2f;\nOFFSET = %d;" % (printer["gcode_macro bedfanvars"].threshold|int, printer['gcode_macro globalvariables'].defaultenclosure,  printer["gcode_macro bedfanvars"].flag|int, printer["gcode_macro bedfanvars"].lasttemp, chambertemp, printer["gcode_macro bedfanvars"].offset|int)) }
    {action_respond_info("++++++++++++++++++++++++") }
    {action_respond_info("                        ") }

#The bedfanloop runs every 8 seconds to check the chamber temperature after the heated bed has reached its target temperature, otherwise the bedfanloop is off
#[delayed_gcode bedfanloop]
#

[delayed_gcode DISABLEFILAMENTSENSOR]   
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0

[delayed_gcode prerun]
initial_duration: 1
gcode:
    {% set z_offset = printer.configfile.config["probe"]["z_offset"]|float %}
    {% set nozzle_diameter = printer.configfile.config["extruder"]["nozzle_diameter"]|float %}
    {% set pressure_advance = printer.configfile.config["extruder"]["pressure_advance"]|float %}
    {% set pressure_advance_smooth_time = printer.configfile.config["extruder"]["pressure_advance_smooth_time"]|float %}
    QUERY_PROBE
    M117 Printer online.
	status_nozzle_off
    {% for s in range(0, 30) %}
        ##SET_LED LED=nozzle INDEX=1 RED=1 GREEN=0 BLUE=1
		STATUS_PRERUN17
        ##SET_LED LED=nozzle INDEX=2 RED=.5 GREEN=.5 BLUE=.5
		STATUS_PRERUN18
        G4 P100
        ##SET_LED LED=nozzle INDEX=1 RED=.5 GREEN=.5 BLUE=.5
		STATUS_PRERUN_MIDDLE17
        ##SET_LED LED=nozzle INDEX=2 RED=1 GREEN=0 BLUE=1
		STATUS_PRERUN_MIDDLE18
        G4 P50
    {% endfor %}
    M118 "probe: TRIGGERED" = Euclid probe NOT attached.
    SET_VELOCITY_LIMIT ACCEL={printer["gcode_macro globalvariables"].nplimitaccel|float} ACCEL_TO_DECEL={printer["gcode_macro globalvariables"].nplimitdecel|float}
    M118 Z-Offset is set at {z_offset}mm.
    M118 Nozzle diameter is set at {nozzle_diameter}mm.
    M118 Pressure Advance is set at {pressure_advance}.
    M118 Pressure advance Smooth Time is set at {pressure_advance_smooth_time}.
    FILAMENT_ABOUT
    ##SET_LED LED=nozzle RED=.2 GREEN=.5 BLUE=.2
	STATUS_PRERUN_DONE17
    STATUS_PRERUN_DONE18

[delayed_gcode _update_leds_loop]
###############################################
#  Progress Bar LEDs Macros
###############################################
initial_duration: 5 
gcode:
    _set_leds 
    UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=60

###############################################
#  SB LEDs Macros
###############################################
#[led_effect rainbow_barf910]
#autostart:                          true 
#[led_effect rainbow_barf1114]
#autostart:                          true 
#[led_effect rainbow_barf1516]
#autostart:                          true 
#[led_effect set_nozzle_leds]
#autostart:                          true 
#[led_effect set_fan_leds]
#autostart:                          true 
