###############################################
#  Progress Bar LEDs Macros
###############################################
[gcode_macro _set_leds]
gcode:
    {% if printer.extruder.target == 0 %} 
        # the extrude heater is off 
        #progress_bar_leds_on
    {% else %}
        # the extrude heater is on
        {% if printer.idle_timeout.state == "Printing" %}
            # we are printing 
            # progress is in the display_status object 
            {% set perc = printer.display_status.progress %} 
            # set this to how many leds you have for your bar 
            {% set numleds = 33 %}    #  <---------------------update this value
            {% set last = (perc|float * numleds|float)|int %}
            {% for n in range(numleds) %} 
                {% if n < last %} 
                    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index={ n + 1|int }
                {% else %} 
                    SET_LED LED=progress_bar_leds RED=0.3 GREEN=0.3 BLUE=0.3 TRANSMIT=0 index={ n + 1|int }
                {% endif %}
            {% endfor %}
            # now actually transmit it
            SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=1 INDEX={ last + 1|int }
        {% endif %}
    {% endif %}
	
[gcode_macro progress_bar_leds_on]
gcode:
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=1
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=2
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=3
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=4
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=5
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=6
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=7
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=8
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=9
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=10
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=11
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=12
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=13
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=14
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=15
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=16
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=17
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=18
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=19
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=20
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=21
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=21
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=23
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=24
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=25
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=26
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=27
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=28
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index=29
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=30
    SET_LED LED=progress_bar_leds RED=1 GREEN=0 BLUE=0 TRANSMIT=0 index=31
    SET_LED LED=progress_bar_leds RED=0 GREEN=1 BLUE=0 TRANSMIT=0 index=32
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=1 index=33
   
[gcode_macro progress_bar_leds_off]
gcode:
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=0 

