#.................................................................................................................
# REPEAT_MSG - required parameters: MSG{'string'} 
#
#   / Usage: 
#           REPEAT_MSG MSG='text'                                                      
#
#   repeat a message twice in one string seperated by a space and send to console and Klipper screen
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/droans/klipper_extras/blob/v0.2/extended_macro/example/klipper_functions.cfg#L5
##      
#.................................................................................................................


[extended_macro REPEAT_MSG]
gcode:
   _general_Debug msg="REPEAT_MSG - entering"
    {% set rpt = params.MSG %}
    M118 {repeater(rpt)}
   _general_Debug msg="REPEAT_MSG - exiting"
 