#.................................................................................................................
# SET_GCODE_VARIABLE - No additional options / Usage: SET_GCODE_VARIABLE
#
# This macro will redirect SET_GCODE_VARIABLE commands so that _GLOBAL_VARS2 will be automatically 
# be called if SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS is called
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _GLOBAL_VARS2
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://www.klipper3d.org/Config_Reference.html?h=m118#respond
#   https://github.com/richardjm/voronpi-klipper-backup/blob/master/macros.d/lights.cfg
#      
#.................................................................................................................

[gcode_macro SET_GCODE_VARIABLE]
description: Display Message to Klipper Screen Status line
rename_existing: SET_GCODE_VARIABLE_BASE
gcode:
    _general_Debug msg="SET_GCODE_VARIABLE - entering"
    {% set text = [" "] %}
    {% set ns = namespace(_GLOBAL_VARS_flag=false, state_fan_leds_flag=false, state_logo_leds_flag=false, state_bar_leds_flag=false, state_nozzle_leds_flag=false) %}
    # URL about jinja2 namespace : https://serverascode.com/2018/03/15/jinja2-namespaces.html
    
    {% set lock = printer['gcode_macro _LOCK'] %}
    {% if lock.lock_flag %}
        SET_GCODE_VARIABLE_BASE {rawparams}
    {% else %}
        {% for p in params %}
            {% if p == 'MACRO' and params[p] == '_GLOBAL_VARS' %}
                 {% set ns._GLOBAL_VARS_flag = true %}
            {% elif p == 'VARIABLE' and params[p] == 'state_fan_leds' %}
                 {% set ns.state_fan_leds_flag = true %}
            {% elif p == 'VARIABLE' and params[p] == 'state_logo_leds' %}
                {% set ns.state_logo_leds_flag = true %}
            {% elif p == 'VARIABLE' and params[p] == 'state_bar_leds' %}
                {% set ns.state_bar_leds_flag = true %}
            {% elif p == 'VARIABLE' and params[p] == 'state_nozzle_leds' %}  
                {% set ns.state_nozzle_leds_flag = true %}  
            {% endif %} 
        
            #{action_respond_info('%s=%s ' % (p, params[p]))}
        {% endfor %}

        {% if ns._GLOBAL_VARS_flag  %}
            {% if ns.state_fan_leds_flag %}
                {% set _dummy = text.append("SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS") %} 
                {% set _dummy = text.append(" VARIABLE=state_fan_leds") %} 
                {action_respond_info(text|join(" has been detected calling _GLOBAL_VARS2 Macro automatically\n"))}
                _LOCK
                SET_GCODE_VARIABLE_BASE {rawparams}
                _UNLOCK
                _GLOBAL_VARS2
            {% elif ns.state_logo_leds_flag  %}
                {% set _dummy = text.append("SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS") %} 
                {% set _dummy = text.append(" VARIABLE=state_logo_leds") %} 
                {action_respond_info(text|join(" has been detected calling _GLOBAL_VARS2 Macro automatically\n"))}
                _LOCK
                SET_GCODE_VARIABLE_BASE {rawparams}
                _UNLOCK
                _GLOBAL_VARS2
            {% elif ns.state_bar_leds_flag  %}
                {% set _dummy = text.append("SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS") %} 
                {% set _dummy = text.append(" VARIABLE=state_bar_leds") %}                 
                {action_respond_info(text|join(" has been detected calling _GLOBAL_VARS2 Macro automatically\n"))}
                _LOCK
                SET_GCODE_VARIABLE_BASE {rawparams}
                _UNLOCK
                _GLOBAL_VARS2
            {% elif ns.state_nozzle_leds_flag %}
                {% set _dummy = text.append("SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS") %} 
                {% set _dummy = text.append(" VARIABLE=state_nozzle_leds") %}
                {action_respond_info(text|join(" has been detected calling _GLOBAL_VARS2 Macro automatically\n"))}
                _LOCK
                SET_GCODE_VARIABLE_BASE {rawparams}
                _UNLOCK
                _GLOBAL_VARS2
            {% endif %}
        {% endif %}

    {% endif %}  
    {% set ns._GLOBAL_VARS_flag = false %}
    {% set ns.state_fan_leds_flag = false %}
    {% set ns.state_logo_leds_flag = false %}
    {% set ns.state_bar_leds_flag = false %}
    {% set ns.state_nozzle_leds_flag = false %}     
  _general_Debug msg="SET_GCODE_VARIABLE - exiting"
  