#.................................................................................................................
# _CHECK_FILTER - No additional options / Usage: _CHECK_FILTER
#
#   Print filter exchange warning
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw.filter.ena
#  variable_hw.display.ena
#
# the file: /home/pi/klipper_config/.variables.stb via the [save_variables] function
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/printtime.cfg#L71
##      
#.................................................................................................................

[gcode_macro _CHECK_FILTER]
description: Helper: Print filter exchange warning
gcode:
  _general_Debug msg="_CHECK_FILTER - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% if user.hw.filter.ena and 
        printer.save_variables.variables.print_stats %}
    {% set Fh = (printer.save_variables.variables.print_stats.time.filter / 3600)|int %}
    {% if Fh >= user.peripheral.filter.warning %}
      M117 Change Filter!
      {action_respond_info("Change Filter material at Micro!")}
      {% if user.hw.display.ena %} UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10 {% endif %}
    {% endif %}
  {% endif %}  
  _general_Debug msg="_CHECK_FILTER - exiting"
                             