#.................................................................................................................
# _DISPLAY_PRINT_TIME - optional parameters: SECONDS{int_number_representing_seconds}; PREFIX{'string'} 
#
#    / Usage: 
#            _DISPLAY_PRINT_TIME                                --> prints out time.total from print_stats saved in /home/pi/klipper_config/.variables.stb file
#            _DISPLAY_PRINT_TIME SECONDS=3600                   --> converts 3600seconds to hours: minutes: seconds
#            _DISPLAY_PRINT_TIME SECONDS=3600 PREFIX='Total'    --> converts 3600seconds to Total: hours: minutes: seconds
#
#   Print actual stored print time or convert seconds to h:m:s
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw.display.ena
#
# the file: /home/pi/klipper_config/.variables.stb via the [save_variables] function
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _CLEAR_DISPLAY
# M117
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/printtime.cfg#L25
##      
#.................................................................................................................


[gcode_macro _DISPLAY_PRINT_TIME]
description: Helper: Print actual stored print time or convert seconds to h:m:s
gcode:
  _general_Debug msg="_DISPLAY_PRINT_TIME - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
 
  {% set totaltime = params.SECONDS|int if 'SECONDS' in params|upper  
                else printer.save_variables.variables.print_stats.time.total %}
  {% set prefix = params.PREFIX|default('Total') %}
  {% set h,m,s = (totaltime / 3600)|int, ((totaltime / 60) % 60)|int, (totaltime % 60)|int %}
  {action_respond_info("Print time %s %d:%02d:%02d" % (prefix,h,m,s))}
  M117 {prefix} {h}:{'%02d' % m}:{'%02d' % s}
  {% if user.hw.display.ena %} UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10 {% endif %}
  _general_Debug msg="_DISPLAY_PRINT_TIME - exiting"
                             