#.................................................................................................................
#_SD_PRINTER_STATS - optional parameters: R{'string'} 
#
#  / Usage: 
#          _SD_PRINTER_STATS
#          _SD_PRINTER_STATS
#
#   Print statistic of printer (prints out time.service, time.total, time.filter and total filament from print_stats)
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
#
# the file: /home/pi/klipper_config/.variables.stb via the [save_variables] function
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _CHECK_FILTER
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/printtime.cfg#L53
#      
#.................................................................................................................

 ## used at PRINT_END and CANCEL_PRINT
 
[gcode_macro _SD_PRINTER_STATS]
description: Helper: Print statistic of printer
gcode:
  _general_Debug msg="_SD_PRINTER_STATS - entering"
  {% set ST = printer.save_variables.variables.print_stats.time.service %}
  {% set Sh,Sm,Ss = (ST / 3600)|int, ((ST / 60) % 60)|int, (ST % 60)|int %}
  {% set TT = printer.save_variables.variables.print_stats.time.total %}
  {% set Th,Tm,Ts = (TT / 3600)|int, ((TT / 60) % 60)|int, (TT % 60)|int %}
  {% set FT = printer.save_variables.variables.print_stats.time.filter %}
  {% set Fh,Fm,Fs = (FT / 3600)|int, ((FT / 60) % 60)|int, (FT % 60)|int %}
  {% set Fil = printer.save_variables.variables.print_stats.filament|float / 1000.0 %}
  {action_respond_info("Printer Statistics:
                        Total Print Time: %d:%02d:%02d
                        Total Filament used: %.4fm
                        Filter use time: %d:%02d:%02d
                        Time since last Service: %d:%02d:%02d" %
  (Th, Tm, Ts, Fil, Fh, Fm, Fs, Sh, Sm, Ss))}
  _CHECK_FILTER
  _general_Debug msg="_SD_PRINTER_STATS - exiting"
                             