#.................................................................................................................
# RST_FILTER - No additional options / Usage: RST_FILTER
#
#   Reset Nevermore interval time
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# the file: /home/pi/klipper_config/.variables.stb via the [save_variables] function
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/printtime.cfg#L84
#     
#.................................................................................................................

[gcode_macro RST_FILTER]
description: Helper: Reset Nevermore interval time
gcode:
  _general_Debug msg="RST_FILTER - entering"
  {% if printer.save_variables.variables.print_stats %}
    {% set print_stats = printer.save_variables.variables.print_stats %}
    {% set _dummy = print_stats.time.update({'filter': 0}) %}
    SAVE_VARIABLE VARIABLE=print_stats VALUE="{print_stats}"
    {action_respond_info("Flter used time reseted to zero")}
  {% endif %}
  _general_Debug msg="RST_FILTER - exiting"
                             