#.................................................................................................................
# RST_SERVICE - No additional options / Usage: RST_SERVICE
#
#   Reset Service interval time
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# the file: /home/pi/klipper_config/.variables.stb via the [save_variables] function
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/printtime.cfg#L94
#     
#.................................................................................................................

[gcode_macro RST_SERVICE]
description: Reset Service interval time
gcode:
  _general_Debug msg="RST_SERVICE - entering"
  {% if printer.save_variables.variables.print_stats %}
    {% set print_stats = printer.save_variables.variables.print_stats %}
    {% set _dummy = print_stats.time.update({'service': 0}) %}
    SAVE_VARIABLE VARIABLE=print_stats VALUE="{print_stats}"
    {action_respond_info("Time since last service reseted to zero")}
  {% endif %}
  _general_Debug msg="RST_SERVICE - exiting"
                             