#.................................................................................................................
# _SET_LEDS - No additional options / Usage: _SET_LEDS
#
#   display the progress of the print file by using the Progress Bar
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://www.reddit.com/r/VORONDesign/comments/ql1ia5/neopixel_progress_status_bar/
#      
#.................................................................................................................
[gcode_macro _set_leds]
description: Helper: show the progress of the print job on the progress bar
gcode:
    _general_Debug msg="_set_led - entering"
    {% if printer.extruder.target == 0 %} 
        # the extrude heater is off 
    {% else %}
        # the extrude heater is on
        {% if printer.idle_timeout.state == "Printing" and progressbar_enabled == 1 %}
            # we are printing 
            # progress is in the display_status object 
            {% set perc = printer.display_status.progress %} 
            # set this to how many leds you have for your bar 
            {% set numleds = printer.configfile.config["neopixel progress_bar_leds"].chain_count|int %}    #  <---------------------update this value
            {% set last = (perc|float * numleds|float)|int %}
            {% for n in range(numleds) %} 
                {% if n < last %} 
                    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=0 index={ n + 1|int }
                {% else %} 
                    SET_LED LED=progress_bar_leds RED=0.3 GREEN=0.3 BLUE=0.3 TRANSMIT=0 index={ n + 1|int }
                {% endif %}
            {% endfor %}
            # now actually transmit it
            SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=1 TRANSMIT=1 INDEX={ last + 1|int }
        {% endif %}
    {% endif %}
     _general_Debug msg="_set_led - exiting"
