#.................................................................................................................
#  _SET_NOZZLE_LEDS - required parameters: R{%} G{%} B{%} W{%}/ Usage:  _SET_NOZZLE_LEDS R=1 B=0 G=0 W=0
#
#   set the Stealthburner NOZZLE leds to Red Green Blue White Values
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_sb_vars.nozzle_led_name
#  variable_sb_vars.nozzle_idx
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _SET_SB_LEDS
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/sttts/voron-klipper-config/blob/master/stealthburner_leds.cfg
#      
#.................................................................................................................

#  _SET_NOZZLE_LEDS R=1 B=0 G=0 W=0
[gcode_macro _SET_NOZZLE_LEDS]
description: Helper: Sets the color of the stealthburner NOZZLE leds
gcode:
    _general_Debug msg="_SET_NOZZLE_LEDS - entering"

    {% set r = params.R|default(0)|float %}
    {% set g = params.G|default(0)|float %}
    {% set b = params.B|default(0)|float %}
    {% set w = params.W|default(0)|float %}
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set led = user.sb_vars.nozzle_led_name %}
    {% set idx = user.sb_vars.nozzle_idx %}
    
    _SET_SB_LEDS LED={led} R={r} G={g} B={b} W={w} IDX="{idx}"
    _general_Debug msg="_SET_NOZZLE_LEDS - exiting"
    