#.................................................................................................................
#  _SET_BAR_LEDS - required parameters: R{%} G{%} B{%} W{%}/ Usage:  _SET_BAR_LEDS R=1 B=0 G=0 W=0
#   set the Stealthburner NOZZLE leds to Red Green Blue White Values
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _SB_VARS]
#  variable_nozzle_led_name
#  variable_nozzle_idx
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _SET_SB_LEDS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/sttts/voron-klipper-config/blob/master/stealthburner_leds.cfg
#      
#.................................................................................................................

#  _SET_BAR_LEDS R=1 B=0 G=0 W=0
[gcode_macro _SET_BAR_LEDS]
gcode:
    _general_Debug msg="_SET_BAR_LEDS - entering"

    {% set r = params.R|default(0)|float %}
    {% set g = params.G|default(0)|float %}
    {% set b = params.B|default(0)|float %}
    {% set w = params.W|default(0)|float %}
    {% set led = printer["gcode_macro _SB_VARS"].bar_led_name %}
    {% set idx = printer["gcode_macro _SB_VARS"].bar_idx %}
    
    _SET_SB_LEDS LED={led} R={r} G={g} B={b} W={w} IDX="{idx}"
    _general_Debug msg="_SET_BAR_LEDS - exiting"
    