#.................................................................................................................
# SET_NOZZLE_LEDS_ON  - No additional options / Usage: SET_NOZZLE_LEDS_ON
#
#   set the Stealthburner nozzle leds on by turning on the LED_EFFECT
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _CURRENT_STATE]
#  variable_current_led_state
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_LED_EFFECT
# _CURRENT_STATE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#SET_NOZZLE_LEDS_ON
[gcode_macro SET_NOZZLE_LEDS_ON]
gcode:
   _general_Debug msg="SET_NOZZLE_LEDS_ON - entering"
   {% set cs = printer['gcode_macro _CURRENT_STATE'] %}
   {% set nozzle_effect = cs.current_led_state.nozzle_leds %}
   SET_LED_EFFECT EFFECT={nozzle_effect}
   _general_Debug msg="SET_NOZZLE_LEDS_ON - exiting"

