#.................................................................................................................
# SET_LOGO_RAINBOW_LEDS_OFF  - No additional options / Usage: SET_LOGO_RAINBOW_LEDS_OFF
#
#   set the Stealthburner LOGO leds off by turning off the LED_EFFECT
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_LED_EFFECT
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#.................................................................................................................

#SET_LOGO_RAINBOW_LEDS_OFF
[gcode_macro SET_LOGO_RAINBOW_LEDS_OFF]
description: Helper: Turn off the Stealthburner LOGO leds effect called "set_logo_leds_rainbow_barf" by using the SET_LED_EFFECT call
gcode:
    _general_Debug msg="SET_LOGO_RAINBOW_LEDS_OFF - entering"
    SET_LED_EFFECT EFFECT=set_logo_leds_rainbow_barf STOP=1
    _general_Debug msg="SET_LOGO_RAINBOW_LEDS_OFF - exiting"