###############################################
#
#Macros for setting the status leds on the Voron StealthBurner toolhead (or for any neopixel-type leds).
#
###############################################
# Macros for setting the status leds on the Voron StealthBurner toolhead (or for any neopixel-type leds).
#
# You will need to configure a neopixel (or other addressable led, such as dotstar). See
# https://www.klipper3d.org/Config_Reference.html#neopixel for configuration details.

##########
# MACROS #
##########

# The following status macros are available (these go inside of your macros):
#
#    STATUS_READY
#	 STATUS_PART_READY
#    STATUS_OFF
#    STATUS_NOZZLE_OFF
#	 STATUS_LOGO_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_COOLING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
#    STATUS_PRERUN17
#    STATUS_PRERUN_MIDDLE17
#    STATUS_PRERUN_DONE17
#    STATUS_PRERUN18
#    STATUS_PRERUN_MIDDLE18
#    STATUS_PRERUN_DONE18
#    STATUS_PRINTING
#
# With additional macros for basic control:
#
#    SET_NOZZLE_LEDS_ON
#    SET_NOZZLE_LEDS_OFF
#    SET_LOGO_LEDS_ON
#    SET_LOGO_LEDS_OFF
#	 SET_FAN_LEDS_ON
#	 SET_FAN_LEDS_OFF
#
# Contributed by Voron discord users wile.e, Tetsunosuke, and etherwalker
# Modified to work with LED effects plugin by DarkNeutrino

##############
# The Macros #
##############

#SET_LOGO_LEDS_ON
[gcode_macro set_logo_leds_on]
gcode:
   _general_Debug msg="set_logo_leds_on - entering"
    #SET_LED_EFFECT EFFECT=set_logo_leds
   _general_Debug msg="set_logo_leds_on - exiting"
