#.................................................................................................................
# SSET_LOGO_LEDS_ON  - No additional options / Usage: SET_LOGO_LEDS_ON
#
#   set the Stealthburner LOGO leds on by turning on the LED_EFFECT
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro CURRENT_STATE_SB_LEDS_VARS]
#  variable_state_logo_leds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_LED_EFFECT
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#SET_LOGO_LEDS_ON
[gcode_macro SET_LOGO_LEDS_ON]
gcode:
    _general_Debug msg="SET_LOGO_LEDS_ON - entering"
    {% set logo_effect = printer['gcode_macro CURRENT_STATE_SB_LEDS_VARS'].state_logo_leds %}
    SET_LED_EFFECT EFFECT={logo_effect}
    _general_Debug msg="SET_LOGO_LEDS_ON - exiting"
    