#.................................................................................................................
# SET_BAR_LEDS_OFF  - No additional options / Usage: SET_BAR_LEDS_OFF
#
#   set the Stealthburner bae leds off by turning off the LED_EFFECT
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_state_bar_leds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_LED_EFFECT
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#SET_BAR_LEDS_OFF
[gcode_macro set_bar_leds_off]
gcode:
    _general_Debug msg="set_bar_leds_off - entering"
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set bar_effect = global.state_bar_leds %}
    SET_LED_EFFECT EFFECT={bar_effect} STOP=1
    _general_Debug msg="set_bar_leds_off - exiting"