#.................................................................................................................
# SET_BAR_LEDS_ON  - No additional options / Usage: SET_BAR_LEDS_ON
#
#   set the Stealthburner bar leds on by turning on the LED_EFFECT
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro CURRENT_STATE_SB_LEDS_VARS]
#  variable_state_bar_leds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_LED_EFFECT
# CURRENT_STATE_SB_LEDS_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#SET_BAR_LEDS_ON
[gcode_macro set_bar_leds_on]
gcode:
   _general_Debug msg="sset_bar_leds_on - entering"
    {% set bar_effect = printer['gcode_macro CURRENT_STATE_SB_LEDS_VARS'].state_bar_leds %}
   SET_LED_EFFECT EFFECT={bar_effect}
   _general_Debug msg="set_bar_leds_on - exiting"

