#.................................................................................................................
# SET_NOZZLE_LEDS_OFF  - No additional options / Usage: SET_NOZZLE_LEDS_OFF
#
#   set the Stealthburner NOZZLE leds off by turning off the LED_EFFECT
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro CURRENT_STATE_SB_LEDS_VARS]
#  variable_state_nozzle_leds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_LED_EFFECT
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#.................................................................................................................

#SET_NOZZLE_LEDS_OFF
[gcode_macro SET_NOZZLE_LEDS_OFF]
gcode:
    _general_Debug msg="SET_NOZZLE_LEDS_OFF - entering"
    {% set nozzle_effect = printer['gcode_macro CURRENT_STATE_SB_LEDS_VARS'].state_nozzle_leds %}
    SET_LED_EFFECT EFFECT={nozzle_effect} STOP=1
    _general_Debug msg="SET_NOZZLE_LEDS_OFF - exiting"