#.................................................................................................................
# SET_FAN_LEDS_BY_NAME - required parameters: COLOR{white,red,orange,yellow,green,blue,purple,pink,off}
#
#             / Usage: SET_FAN_LEDS_BY_NAME COLOR="BLUE"
#   set the Stealthburner LOGO leds to color by using the name of the color
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_sb_vars
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _SET_FAN_LEDS
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/sttts/voron-klipper-config/blob/master/stealthburner_leds.cfg
#      
#.................................................................................................................

# SET_FAN_LEDS_BY_NAME COLOR="WHITE"
[gcode_macro SET_FAN_LEDS_BY_NAME]
gcode:
    _general_Debug msg="SET_FAN_LEDS_BY_NAME - entering"
    {% set color_name = params.COLOR %}
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set color = global.sb_vars.colors[color_name|lower] %}

    _SET_FAN_LEDS R={color.r} G={color.g} B={color.b} W={color.w}
    _general_Debug msg="SET_FAN_LEDS_BY_NAME - exiting"
