#.................................................................................................................
# SET_FAN_LEDS_ON  - No additional options / Usage: SET_FAN_LEDS_ON
#
#   set the Stealthburner fan leds on by turning on the LED_EFFECT
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_current_led_state.fan_leds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_LED_EFFECT
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#      
#.................................................................................................................

#SET_FAN_LEDS_ON
[gcode_macro set_fan_leds_on]
description: Helper: Turn on the stealthburner fan leds by using the SET_LED_EFFECT call
gcode:
   _general_Debug msg="set_fan_leds_on - entering"
   {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
   {% set fan_effect = global.current_led_state.fan_leds %}
   SET_LED_EFFECT EFFECT={fan_effect}
   _general_Debug msg="set_fan_leds_on - exiting"

