#.................................................................................................................
# SET_LOGO_LEDS_OFF  - No additional options / Usage: SET_LOGO_LEDS_OFF
#
#   set the Stealthburner LOGO leds off by turning off the LED_EFFECT
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_current_led_state.logo_leds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# SET_LED_EFFECT
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/julianschill/klipper-led_effect/blob/master/docs/LED_Effect.md
#.................................................................................................................

#SET_LOGO_LEDS_OFF
[gcode_macro SET_LOGO_LEDS_OFF]
description: Helper: Turn off the stealthburner LOGO leds by using the SET_LED_EFFECT call
gcode:
    _general_Debug msg="set_logo_leds_off - entering"
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set logo_effect = global.current_led_state.logo_leds %}
    SET_LED_EFFECT EFFECT={logo_effect} STOP=1
    _general_Debug msg="set_logo_leds_off - exiting"