#.................................................................................................................
# _SET_Z_CURRENT - optional parameters: VAL{'CONFIG','HOME'}; RESPOND{0,1) 
#
#    / Usage: 
#            _SET_Z_CURRENT
#            _SET_Z_CURRENT VAL=HOME
#            _SET_Z_CURRENT VAL=HOME RESPOND=1
#
#   Sets the stepper-motors to the currents defined in the variable block.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_homing.z_current
#  variable_respond.z_current
#
# [gcode_macro _GLOBAL_VARS]
#  variable__set_z_current
#  variable__set_z_current.last_val
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _GLOBAL_VARS
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/homing.cfg#L72
#      
#.................................................................................................................

[gcode_macro _SET_Z_CURRENT]
# my stepper motors are:
#
# Z motors (4): LDO-42STH48-2004AC(VRN) [1.8 degree] URL: https://github.com/LDOMotors/ldo-stepper-datasheets/blob/master/nema17(42mm_frame)/LDO-42STH48-2004AC%20RevA.pdf
# 
# Current ratings for Z motors: 2 Amps
#
description: Helper: Set Z-drive motor current
gcode:
   _general_Debug msg="_SET_Z_CURRENT - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
  {% set _set_z_current = global._set_z_current %}
  
  {% set val = params.VAL|default('CONFIG') %}
  {% set z_run = user.homing.z_current       if val == 'HOME'
            else printer.configfile.settings['tmc2209 stepper_z'].run_current if 'tmc2209 stepper_z' in printer.configfile.settings
            else printer.configfile.settings['tmc5160 stepper_z'].run_current if 'tmc5160 stepper_z' in printer.configfile.settings %}
  {% if val != _set_z_current.last_val %}
    {% set _dummy = _set_z_current.update({'last_val': val }) %}        
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=_set_z_current VALUE="{_set_z_current}"  
    #SET_GCODE_VARIABLE MACRO=_SET_Z_CURRENT VARIABLE=last_val VALUE='"{val}"'
    {% if params.RESPOND|default(user.respond.z_current)|int == 1 %}
      {action_respond_info("Home&Probe: RunCur %.2fA rms" % z_run|float)}
    {% endif %}
    SET_TMC_CURRENT STEPPER=stepper_z  CURRENT={z_run}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={z_run}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={z_run}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={z_run}
    M400
  {% endif %}
  _general_Debug msg="_SET_Z_CURRENT - exiting"
