#.................................................................................................................
# CURRENT_HIGH - No Optional parameters / Usage: CURRENT_HIGH
#   Sets the stepper-motors to the currents defined in the variable block.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
#[gcode_macro globalvariables]
#variable_PrintCurrentXY: 1.1           # Steppermotor current to be used while printing
#variable_PrintCurrentZ: 0.8            # Steppermotor current to be used while printing
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# M117
# GLOBALVARIABLES
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-CURRENT_CONTROL.cfg
#      
#.................................................................................................................

[gcode_macro CURRENT_HIGH]
# Setting are for Moons' MS17HD6P420I-04, Rated current @ 2A, Maximum current in RMS = 1.4
# but also consider stepper driver and cooling
# my stepper motors are:
#
# "B" or X motors: LDO-42STH48-2004MAH(VRN) [0.9 degree] URL: https://caribou3d.com/en/annex-k3/896-09-stepper-motor-ldo-42sth48-2004mahanxs80.html
# "A" or Y motors: LDO-42STH48-2004MAH(VRN) [0.9 degree] URL: https://caribou3d.com/en/annex-k3/896-09-stepper-motor-ldo-42sth48-2004mahanxs80.html
# Z motors (4): LDO-42STH48-2004AC(VRN) [1.8 degree] URL: https://github.com/LDOMotors/ldo-stepper-datasheets/blob/master/nema17(42mm_frame)/LDO-42STH48-2004AC%20RevA.pdf
# 
# Currnet ratings for "B" or X motor: 2 Amps
# Current ratings for "A" or Y motor: 2 Amps
# Current ratings for Z motors: 2 Amps
# Since my motors match the Moons' motor's Rated current I will leave this the same found at
#       https://github.com/nionio6915/Euclid_Probe/blob/main/Firmware_Examples/Klipper/user_contrib/voron/Voron2.4_rkolbi.cfg
#
description: Raises stepper current for printing routine
gcode:
    _general_Debug msg="CURRENT_HIGH - entering"
    M117 Increased motor currents.
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer["gcode_macro globalvariables"].printcurrentxy|float}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer["gcode_macro globalvariables"].printcurrentxy|float}
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={printer["gcode_macro globalvariables"].printcurrentz|float}
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={printer["gcode_macro globalvariables"].printcurrentz|float}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={printer["gcode_macro globalvariables"].printcurrentz|float}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={printer["gcode_macro globalvariables"].printcurrentz|float}
    _general_Debug msg="CURRENT_HIGH - exiting"
