[gcode_macro globalvariables]
#-------------------------------------------- NON-PRINT ACCEL LIMITS ---------------------------------------------
variable_NPLimitAccel: 3000 #3500      # Accel velocity limit
variable_NPLimitDecel: 1500            # Decel velocity limit

#-------------------------------------------- NON-PRINT TRAVEL SPEED ---------------------------------------------
variable_travel_speed: 200             # how fast all other travel moves will be performed when running macros

#-------------------------------------------- DEBUG Messages -----------------------------------------------------
variable_debug: False                  # Enable Debug output

#------------------------------------------- PRINTING MOTOR CURRENTS --------------------------------------------- 
variable_PrintCurrentXY: 1.1           # Steppermotor current to be used while printing
variable_PrintCurrentZ: 0.8            # Steppermotor current to be used while printing

#--------------------------------------------------- PARKING ------------------------------------------------------
variable_ParkHeightPercentage: 0.50    # The percentage of Z height to park the nozzle, expressed as 0.2 to 1.0
                                       # If the printed object is taller then the expressed Z-axis percent height,
                                       # the toolhead will then park 10mm above the object.  
              
#------------------------------------------------ ADXL HeatSoak ---------------------------------------------------
variable_ADXLsoakMinutes: 30           # Minutes to heat-soak prior to ADXL measurements

gcode:
    _general_Debug msg="globalvariables- entering"
    M118 Happy Printing!
    _general_Debug msg="globalvariables- exiting"
