#.................................................................................................................
# delayed_park_dict - No additional options / Usage: NONE
#
#   Parks nozzle at x y z using a feedrate of f ater 10 seconds that Klipper reaches the ready state
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _CG28
# G0
# str_to_dict a call to the python function string_to_dict() as either a function call or as a jinj2 custom filter
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/park_macro.cfg#L1
#                 https://github.com/droans/klipper_extras/tree/v0.2/extended_macro     
#.................................................................................................................

[delayed_j2filter delayed_park_dict]
initial_duration = 10
gcode:
    _general_Debug msg="delayed_park_dict - entering"
   {% set position = '{"x": 150.0, "y": 20.0, "z": 50.0, "f": 4000.0}' %}
   #{% set position = "{'x': 250, 'y': 50, 'z': 70, 'f': 4000.0}" %}
   _CG28                 ; home if not already homed
   G90                   ; absolute positioning
   G0 X{(str_to_dict(position)).x} Y{(str_to_dict(position)).y} Z{(str_to_dict(position)).z} F{(str_to_dict(position)).f}
   #G0 X{position.x} Y{position.y} Z{position.z} F{position.f}
   {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
   _general_Debug msg="delayed_park_dict - exiting"
 