#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
# J2FILTER_TEMPLATE Setup 
#-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

# Define the [j2filter_template] section and define the option parameter 'path' points to 
#    the path of the filters_config.yaml file (any filename but it must have the .yml or .yaml extension)
#
#J2FILTER_TEMPLATE
[j2filter_template]
# j2filter_template is used to define the path to your custom JINJA2 Filters 
path: /home/pi/klipper_config/ACTIVE/CONFIG/KLIPPER_FILTERS/filters_config.yaml
jinja2_function: True
jinja2_filter: True 