#.................................................................................................................
# PARK_DICT - optional parameters: DICT{'string_in_pyhon_dict_format'} LIT{'string_in_pyhon_dict_format'}
#
#   / Usage:
#
#   PARK_DICT DICT='{"x": 150.0, "y": 20.0, "z": 50.0, "f": 4000.0}'  ---> this is typed in at the Mainsail UI console window
#   PARK_DICT DICT='{"x": 250.0, "y": 50.0, "z": 70.0, "f": 4000.0}'  
#   PARK_DICT DICT="{'x': 150.0, 'y': 20.0, 'z': 50.0, 'f': 4000.0}"  
#   PARK_DICT DICT='{"x": 250, "y": 50, "z": 70, "f": 4000}'  
#   PARK_DICT DICT="{'x': 150, 'y': 20, 'z': 50, 'f': 4000}"        
#   PARK_DICT LIT='{"x": 150.0, "y": 20.0, "z": 50.0, "f": 4000.0}'  ---> this is a string passed to the rountine 
#   PARK_DICT LIT='{"x": 250.0, "y": 50.0, "z": 70.0, "f": 4000.0}'  
#   PARK_DICT LIT="{'x': 150.0, 'y': 20.0, 'z': 50.0, 'f': 4000.0}"  
#   PARK_DICT LIT='{"x": 250, "y": 50, "z": 70, "f": 4000}'  
#   PARK_DICT LIT="{'x': 150, 'y': 20, 'z': 50, 'f': 4000}"                                              
#
#   Parks nozzle at x y z using a feedrate of f
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _CG28
# G0
# str_to_dict a call to the python function string_to_dict()
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/park_macro.cfg#L1
#                 https://github.com/droans/klipper_extras/tree/v0.2/extended_macro
##      
#.................................................................................................................

[j2filter_macro PARK_DICT]
description: Helper: Park head depending on variable DICT parameter which is a python dictionary variable 
gcode:
   _general_Debug msg="PARK_DICT - entering"
   {% if params.DICT %}
       {% set position = params.DICT %}
       _CG28                 ; home if not already homed
       G90                   ; absolute positioning
       G0 X{(str_to_dict(position)).x} Y{(str_to_dict(position)).y} Z{(str_to_dict(position)).z} F{(str_to_dict(position)).f}
       {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
   {% elif params.LIT %}
       {% set position = params.LIT %}
       {% set position = position|str_to_dict %}
       _CG28                 ; home if not already homed
       G90                   ; absolute positioning
       G0 X{position.x} Y{position.y} Z{position.z} F{position.f}
       {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
   {% endif %}
   _general_Debug msg="PARK_DICT - exiting"
 