#.................................................................................................................
# _WAIT_Start - required parameters: MINUTES / Usage: _WAIT_Start MINUTES=0.16
#
#   Total wait minutes is (MINUTES * 60) / duration
#   This is a non blocking wait (for example for use in heat soak)
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
# variable_wait_variable
# variable_wait_variable.duration
# variable_wait_variable.waiting
# variable_wait_variable.count
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
#  _general_Debug
#  WAIT_Delayed
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-WAITING_PREPRINT_NONBLOCKING.cfg
#      
#.................................................................................................................

[gcode_macro _WAIT_Start]
description: Helper: a non blocking wait (this kicks off the wait loop)
gcode:
     _general_Debug msg="_WAIT_Start - entering"
    {% set MINUTES = params.MINUTES|default(0.5)|float %}
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set wait_variable = global.wait_variable %}
    {% set duration = global.wait_variable.duration|float %}
    {% set count = (MINUTES * 60) / duration %}
    {% set _dummy = wait_variable.update({'waiting':True}) %}
    {% set _dummy = wait_variable.update({'count':count}) %}
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=wait_variable VALUE="{wait_variable}"    
    UPDATE_DELAYED_GCODE ID=WAIT_Delayed DURATION={duration}
    _general_Debug msg="_WAIT_Start - exiting"
     
