#.................................................................................................................
# WAIT_Quit - No additional options / Usage: WAIT_Quit
#
#   Total wait minutes is (MINUTES * 60) / duration has been reached so stop the loop and reset the count to 0
#   This is a non blocking wait 
#
# uses this call "WAIT_Quit" to exit the wait loop before it reaches the end normally!
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
# variable_wait_variable
# variable_wait_variable.waiting
# variable_wait_variable.count
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
#  _general_Debug
#  WAIT_Delayed
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-WAITING_PREPRINT_NONBLOCKING.cfg
#      
#.................................................................................................................



[gcode_macro WAIT_Quit]
description: Helper: this macro allows the user to externally EXIT the non-blocking wait loop before it reaches the its normal end
gcode:
    _general_Debug msg="WAIT_Quit- entering"
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set wait_variable = global.wait_variable %}
    {% if global.wait_variable.waiting %}
        M118 STOPPING LOOP, SETTING COUNT TO 0
        {% set _dummy = wait_variable.update({'count':0.0}) %}
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=wait_variable VALUE="{wait_variable}"            
        UPDATE_DELAYED_GCODE ID=WAIT_Delayed DURATION=1
      {% else %}
        M118 Not in waiting state, nothing to do.
    {% endif %}
    _general_Debug msg="WAIT_Quit- exiting"
