#.................................................................................................................
# _HEAT_WAIT - Optional parameters: MINUTES,MSG / Usage: _HEAT_WAIT, _HEAT_WAIT MINUTES=15, ,_HEAT_WAIT MINUTES=15 MSG="Warming..."
#   Waits for the passed minutes, or 10 minutes if no MINUTES=XX is passed. This wait macro DOES NOT CONTROL the part cooling fan.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ----NONE----
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# M117 
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-WAITING_ROUTINES.cfg
#                 https://reprap.org/wiki/G-code
#      
#.................................................................................................................

[gcode_macro _HEAT_WAIT]
description: Heating cycle waiting routine
gcode:
    _general_Debug msg="_HEAT_WAIT - entering"
    {% set MINUTES = params.MINUTES|default(10)|int %}
    {% set MSG = params.MSG|default("Warming...")|string %}
    STATUS_HEATING
    {% for i in range(0, MINUTES) %}
        M117 {MSG} {MINUTES-i} minute remaining.
        {% for s in range(0, 60) %}
            SET_LED LED=sb_leds INDEX=17 RED=.5 GREEN=0 BLUE=0
            SET_LED LED=sb_leds INDEX=18 RED=0 GREEN=0 BLUE=.5
            G4 P500                                            ;wait 0.5 seconds
            SET_LED LED=sb_leds INDEX=17 RED=0 GREEN=0 BLUE=.5
            SET_LED LED=sb_leds INDEX=18 RED=.5 GREEN=0 BLUE=0
            G4 P500                                            ;wait 0.5 seconds
        {% endfor %}
    {% endfor %}
    _general_Debug msg="_HEAT_WAIT - exiting"

    