#.................................................................................................................
# _CHECK_STATE - No additional options / Usage: _CHECK_STATE 
#
#  Perform MagProbe error check
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable__check_state.error_id
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L83
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#.................................................................................................................

[gcode_macro _CHECK_STATE]
description : Helper: Mag Probe; Perform MagProbe error check
gcode:
  _Mag_Probe_Debug msg="_CHECK_STATE - entering"
  {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    
  {% set txt = "Please execute QUERY_PROBE first"                      if global._check_state.error_id == 1
          else "Call ID invalid or does not match QUERY_PROBE call ID" if global._check_state.error_id == 2
          else "action not defined"                                    if global._check_state.error_id == 3
          else "docking failed"                                        if global._check_state.error_id == 4
          else "attaching failed"                                      if global._check_state.error_id == 5 %}
  {% if global._check_state.error_id != 0 %} {action_raise_error("MagProbe: ERROR, %s" % txt)} {% endif %}

  _Mag_Probe_Debug msg="_CHECK_STATE - exiting"
