#.................................................................................................................
# _DOCK_EUCLID_PROBE  - No additional options / Usage:  _DOCK_EUCLID_PROBE
#
#  Dock Euclid MagProbe
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_speed.z_hop
#  variable_probe.store.x
#  variable_probe.store.y
#  variable_speed.travel
#  variable_z_hop
#  variable_probe.dock.x
#  variable_speed.dock
#  variable_probe.dock.y
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _USER_VARIABLE
# _MAGPROBE_STATUS_READY
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L125
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#
# Euclid Probe Gantry mount: https://github.com/nionio6915/Euclid_Probe/blob/main/stls/Voron/VoronGantryMountRev2_Short.stl
#
#.................................................................................................................

## used probe: klicky probe
## the probe is fixed to the Gantry
##
##  Gantry (0,306)
##  =======
##  | dock|   x position: probe.store
##  |  arm|
##
##     x position: probe.dock
##
## Attach:
## 1) Prepare      : move toolhead next to of dock arm (left or right depending on mouting position)
## 2) Dock Probe   : move toolhead in X direction on the dock
## 3) Finish       : slide toolhead from holder (X direction)
##
## Detach:
## 1) Prepare              : move toolhead next to of dock arm (left or right depending on mouting position)
## 2) Dock Probe           : move toolhead in X direction on the dock
## 3) UnDock Probe Finish  : deattach toolhead from probe by moving in Y direction

[gcode_macro _DOCK_EUCLID_PROBE]
description : Helper: Mag Probe; Dock Euclid MagProbe
gcode:
  _Mag_Probe_Debug msg="_DOCK_EUCLID_PROBE - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% set move_z = [user.z_hop, printer.toolhead.position.z]|max %}     ; calc movement high
  G90                                                                  ; absolute positioning
  G0 Z{move_z} F{user.speed.z_hop}                                     ; move head up
  ## dock.x = 0
  ## dock.y = 306-20 = 286
  ## store.x = 0+50 = 50
  ## store.y = 306
  G0 X{user.probe.store.x} Y{user.probe.store.y} F{user.speed.travel}  ; step 1 G0 X50 Y306
  G0 X{user.probe.dock.x} F{user.speed.dock}                           ; step 2 G0 X0
  G0 Y{user.probe.dock.y} F{user.speed.dock}                           ; step 3 G0 Y286
  {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
  _MAGPROBE_STATUS_READY
  _Mag_Probe_Debug msg="_DOCK_EUCLID_PROBE - exiting"
