#.................................................................................................................
# _DOCK_PROBE  - No additional options / Usage:  _DOCK_PROBE
#
#  Dock the correct MagProbe
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw.mag_probe.ena
#  variable_hw.mag_probe.klicky
#  variable_hw.mag_probe.euclid
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L125
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#.................................................................................................................


[gcode_macro _DOCK_PROBE]
description : Helper: Mag Probe; Dock the correct MagProbe
gcode:
  _Mag_Probe_Debug msg="_DOCK_PROBE - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% if user.hw.mag_probe.ena %}
      {% if user.hw.mag_probe.klicky %} _DOCK_KLICKY_PROBE {% endif %}
      {% if user.hw.mag_probe.euclid %} _DOCK_EUCLID_PROBE {% endif %}
  {% endif %}
  _Mag_Probe_Debug msg="_DOCK_PROBE - exiting"
