#.................................................................................................................
# _MAGPROBE_STATUS_HOMING - No additional options / Usage: _MAGPROBE_STATUS_HOMING 
#
#  This enables stealthburner-led STATUS_HOMING macro to be used in MagProbe macros if they exist.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# STATUS_HOMING
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

#################
# Status LEDs 
# This enables stealthburner-led status macros to be used in MagProbe macros if they exist. 
# https://github.com/VoronDesign/Voron-Afterburner/blob/sb-beta/Klipper_Macros/stealthburner_leds.cfg

[gcode_macro _magprobe_status_homing]
description: Helper: Mag Probe, enable STATUS_HOMING LED state
gcode:
    {% if printer['gcode_macro status_homing'] is defined %}
        _Mag_Probe_Debug msg="_magprobe_status_homing activating the LED STATUS_HOMING"
        STATUS_HOMING
    {% endif %}
