#.................................................................................................................
# _MAG_PROBE - optional parameters:RESPOND{0,1}; required parameters: ACTION{'attach','dock','get_status','check_dock','check_attach'} 
#
#          / Usage:
#                   _MAG_PROBE ACTION='attach'
#                   _MAG_PROBE ACTION='attach' RESPOND=0
#                   _MAG_PROBE ACTION='attach' RESPOND=1
#                   _MAG_PROBE ACTION='dock'
#                   _MAG_PROBE ACTION='dock' RESPOND=0
#                   _MAG_PROBE ACTION='dock' RESPOND=1
#                   _MAG_PROBE ACTION='get_status'
#                   _MAG_PROBE ACTION='get_status' RESPOND=0
#                   _MAG_PROBE ACTION='get_status' RESPOND=1
#                   _MAG_PROBE ACTION='check_dock'
#                   _MAG_PROBE ACTION='check_dock' RESPOND=0
#                   _MAG_PROBE ACTION='check_dock' RESPOND=1
#                   _MAG_PROBE ACTION='check_attach'
#                   _MAG_PROBE ACTION='check_attach' RESPOND=0
#                   _MAG_PROBE ACTION='check_attach' RESPOND=1
#
#  Query MagProbe state and request action
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable__mag_probe
#  variable__mag_probe.id
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# QUERY_PROBE
# _PROBE_ACTION
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L37
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#.................................................................................................................

[gcode_macro _MAG_PROBE]
description : Helper: Mag Probe; Query MagProbe state and request action
# QUERY_PROBE must run direct before _PROBE_ACTION
# that relation is insured by the caller id
gcode:
  _Mag_Probe_Debug msg="_MAG_PROBE - entering"
  {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
  {% set _mag_probe = global._mag_probe %}
  {% set id = _mag_probe.id %}
  
  {% set id = 1 if id == 0 else id + 1 %} ; generate an id not equal to 0
  QUERY_PROBE ID={id}
  _PROBE_ACTION ACTION={params.ACTION} ID={id} {"RESPOND=" + params.RESPOND if params.RESPOND is defined else ""}
  
  {% set _dummy = _mag_probe.update({'id':id}) %}      
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=_mag_probe VALUE="{_mag_probe}"  
  _Mag_Probe_Debug msg="_MAG_PROBE - exiting"
