#.................................................................................................................
# ATTACH_PROBE - No additional options / Usage: ATTACH_PROBE
#
#  ATTACH MAG PROBE
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L6
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#.................................................................................................................

[gcode_macro ATTACH_PROBE]
description : Helper: Mag Probe; Attaching the MagProbe if not already attached
gcode:
  _Mag_Probe_Debug msg="ATTACH_PROBE - entering"
  _MAG_PROBE ACTION=ATTACH
  _MAG_PROBE ACTION=CHECK_ATTACH
  _Mag_Probe_Debug msg="ATTACH_PROBE - exiting"
