#.................................................................................................................
# CHECK_QGL - No additional options / Usage: CHECK_QGL
#
#  Run after QUAD_GANTRY_LEVEL to insure it passes
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw.mag_probe.ena
#  variable_z_hop
#  variable_speed.z_hop
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _USER_VARIABLE
# CANCEL_PRINT
# DETACH_PROBE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/probe_qgl.cfg#L104
#      
#.................................................................................................................

[gcode_macro CHECK_QGL]
description : Helper: Mag Probe; Run after QUAD_GANTRY_LEVEL to insure it passes
gcode:
  _Mag_Probe_Debug msg="CHECK_QGL - entering"
  {% set user        = printer['gcode_macro _USER_VARIABLE'] %}
  {% set probe_state = user.mag_probe.state|default('unknown')|lower %} ; get probe state
  {% set probe_ok    = False if user.hw.mag_probe.ena and (probe_state == 'error' or probe_state == 'unknown')
                  else True %}  
  {% if not printer.quad_gantry_level.applied or not probe_ok %} ; check QGL and probe status
    {action_respond_info("QGL CHECK: Fail therefore cancel the print")}
    PAUSE_BASE
    G90
    G0 Z{user.z_hop} F{user.speed.z_hop}                                 ; move nozzle to z high first
    {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
    {% if user.hw.mag_probe.ena %} DETACH_PROBE {% endif %}
    CANCEL_PRINT PARK=1 ERROR=1
  {% else %}
    {action_respond_info("QGL CHECK: Pass")}
  {% endif %}
  _Mag_Probe_Debug msg="CHECK_QGL - exiting"
