#.................................................................................................................
# DETACH_PROBE - No additional options / Usage: DETACH_PROBE
#
#  DOCK MAG PROBE
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L12
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#.................................................................................................................

[gcode_macro DETACH_PROBE]
description : Helper: Mag Probe; Dock the MagProbe if not already docked
gcode:
  _Mag_Probe_Debug msg="DETACH_PROBE - entering"
  _MAG_PROBE ACTION=DOCK
  _MAG_PROBE ACTION=CHECK_DOCK
  _Mag_Probe_Debug msg="DETACH_PROBE - exiting"
