#.................................................................................................................
# DOCK_PROBE - No additional options / Usage: DOCK_PROBE
#
#  DOCK MAG PROBE
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# DETACH_PROBE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#      
#.................................................................................................................

[gcode_macro DOCK_PROBE]
description : Helper: Mag Probe; Dock the MagProbe by calling DETACH_PROBE macro
gcode:
  _Mag_Probe_Debug msg="DOCK_PROBE - entering"
  DETACH_PROBE
  _Mag_Probe_Debug msg="DOCK_PROBE - exiting"
