#.................................................................................................................
# G1 - required parameters: FORCE / Usage: G1 params FORCE 
#
#  Move gcode that prevents moves lower than the limit when probe attached
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_mag_probe.state
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _Z_MOVE_CHECK
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L171
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#.................................................................................................................

#####################################################################
#
# If your probe needs a Z move for attach/detach use either
#   G0 .... FORCE
#   G1 .... FORCE
#
#####################################################################
[gcode_macro G1]
description : Helper: Mag Probe; Move gcode that prevents moves lower than the limit when probe attached
rename_existing: G1.1
gcode:
  _Mag_Probe_Debug msg="G1 - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  
  {% if params.FORCE is defined or user.mag_probe.state == 'docked' %}
    G1.1 {rawparams}
  {% else %}
    {% set param = [] %} 
    {% for key in params %} ; get gcode input parameters
      {% set _dummy = param.append(key + "=" + params[key]) if key is not in ['G', 'FORCE'] %}
    {% endfor %}
    _Z_MOVE_CHECK CALLER=G1 {param|join(" ")}
  {% endif %}
  _Mag_Probe_Debug msg="G1 - exiting"
