#.................................................................................................................
# GET_PROBE_STATUS - No additional options / Usage: GET_PROBE_STATUS
#
#  Prints the current MagProbe state, valid probe states are UNKNOWN, ATTACHED and DOCKED
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _MAG_PROBE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L18
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#.................................................................................................................

[gcode_macro GET_PROBE_STATUS]
description : Helper: Mag Probe; Prints the current MagProbe state, valid probe states are UNKNOWN, ATTACHED and DOCKED
gcode:
  _Mag_Probe_Debug msg="DETACH_PROBE - entering"
  _MAG_PROBE ACTION=GET_STATUS RESPOND=1
  _Mag_Probe_Debug msg="DETACH_PROBE - exiting"
