#.................................................................................................................
# INFO_MAG_PROBE - No additional options / Usage: INFO_MAG_PROBE 
#
#  displays the following information:
#     mag_probe.state = %s;
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _MAG_PROBE]
#  variable_state
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _MAG_PROBE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#                 
#.................................................................................................................
[gcode_macro INFO_MAG_PROBE]
description: Helper: Display the global variable in _MAG_PROBE macro called state
gcode:
    _general_Debug msg="INFO_MAG_PROBE - entering"
    {% set mag_probe = printer['gcode_macro _MAG_PROBE'] %}
    
    {% set string1 = "INFO_MAG_PROBE <+++++++++++++++++" %}  
    {% set string1 = string1 ~ "\n mag_probe.state = %s;" %}
    {% set string1 = string1 ~ "\n End of INFO_MAG_PROBE +++++++++++++++++>" %}
    {action_respond_info(string1 % (mag_probe.state)) }    
    _general_Debug msg="INFO_MAG_PROBE - exiting"
