#.................................................................................................................
# PROBE_CALIBRATE - No additional options / Usage: PROBE_CALIBRATE 
#
#  Calibrate the probe's z_offset and undock MagProbe
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw.mag_probe.ena
#  variable_z_hop
#  variable_speed.z_hop
#  variable_speed.travel
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _USER_VARIABLE
# ATTACH_PROBE
# DETACH_PROBE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L264
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#.................................................................................................................

#####################################################################
#
#        !!! Caution !!!
#
# PROBE_CALIBRATE will attach the probe run the probe sequence and 
# than detach the probe. After that use the normal paper test to find 
# the right height. Use ACCEPT or ABORT as usual.
#
#####################################################################

[gcode_macro PROBE_CALIBRATE]
description : Helper: Mag Probe; Calibrate the probe's z_offset and undock MagProbe
rename_existing: PROBE_CALIBRATE_BASE
gcode:
  _Mag_Probe_Debug msg="PROBE_CALIBRATE - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  # as we need to return to the position with the probe we need to be at least at z_hop
  {% if user.hw.mag_probe.ena == 'true' and printer.gcode_move.gcode_position.z < user.z_hop %}
    {action_respond_info("PROBE_ACCURACY: High must be above %.2f" % user.z_hop)}
    G90 ; absolute positioning
    G0 Z{user.z_hop} F{user.speed.z_hop} ; move head up
    {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
  {% endif %}
  {% if user.hw.mag_probe.ena == 'true' %}
    SAVE_GCODE_STATE NAME=STATE_PROBE_CALIBRATE_ATTACH
    ATTACH_PROBE
    RESTORE_GCODE_STATE NAME=STATE_PROBE_CALIBRATE_ATTACH MOVE=1 MOVE_SPEED={(user.speed.travel|float / 60)}
  {% endif %}
  PROBE_CALIBRATE_BASE {rawparams}
  {% if user.hw.mag_probe.ena == 'true' %}
    SAVE_GCODE_STATE NAME=STATE_PROBE_CALIBRATE_DETACH
    DETACH_PROBE
    RESTORE_GCODE_STATE NAME=STATE_PROBE_CALIBRATE_DETACH MOVE=1 MOVE_SPEED={(user.speed.travel|float / 60)}
  {% endif %}
  _Mag_Probe_Debug msg="PROBE_CALIBRATE - exiting"
