#.................................................................................................................
# QUAD_GANTRY_LEVEL - required parameters: HOME{true,false} PARK{true,false} 
#
#        / Usage: 
#                QUAD_GANTRY_LEVEL
#                QUAD_GANTRY_LEVEL HOME=true --> (home G28 Z after QGL is performed)
#                QUAD_GANTRY_LEVEL HOME=false --> (do not perform a G28 Z after QGL is performed)
#                QUAD_GANTRY_LEVEL PARK=true --> (Park the toolhead after QGL is performed)
#                QUAD_GANTRY_LEVEL PARK=true --> (do not Park the toolhead after QGL is performed)
#                QUAD_GANTRY_LEVEL HOME=true PARK=true --> (home G28 Z after QGL is performed then park the toolhead)
#
#  Conform a moving, twistable gantry to the shape of a stationary bed
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw.mag_probe.ena
#  variable_z_hop
#  variable_speed.z_hop
#  variable_speed.travel
#  variable_park.bed.x
#  variable_park.bed.y
#  variable_park.bed.z
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _USER_VARIABLE
# ATTACH_PROBE
# _SET_Z_CURRENT
# DETACH_PROBE
# _MAGPROBE_STATUS_LEVELING
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/probe_qgl.cfg#L81
#      
#.................................................................................................................

[gcode_macro QUAD_GANTRY_LEVEL]
description : Helper: Mag Probe; Conform a moving, twistable gantry to the shape of a stationary bed
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
  _Mag_Probe_Debug msg="QUAD_GANTRY_LEVEL - entering"
  {% set user   = printer['gcode_macro _USER_VARIABLE'] %}
  {% set move_z = [user.z_hop, printer.toolhead.position.z]|max %} ; calc movement high
  _SET_Z_CURRENT VAL=HOME
  {% if "xyz" not in printer.toolhead.homed_axes %} G28 {% endif %}
  {% if user.hw.mag_probe.ena %}
    G90
    G0 Z{move_z} F{user.speed.z_hop} ; move head up to insure Probe is not triggered in error case
    ATTACH_PROBE 
  {% endif %}
  {% if user.hw.mag_probe.ena %}
      _MAGPROBE_STATUS_LEVELING
  {% endif %}
  QUAD_GANTRY_LEVEL_BASE {rawparams}
  {% if user.hw.mag_probe.ena %} DETACH_PROBE {% endif %}
   {% if params.HOME|default('true')|lower == 'true' %} G28 Z {% endif %}
  _SET_Z_CURRENT
  {% if params.PARK|default('true')|lower == 'true' %}
    G90
    G0 X{user.park.bed.x} Y{user.park.bed.y} Z{user.park.bed.z} F{user.speed.travel}
  {% endif %}
  {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
  _Mag_Probe_Debug msg="QUAD_GANTRY_LEVEL - exiting"
