#.................................................................................................................
# QUERY_PROBE - required parameters: ID{0,1} / Usage: QUERY_PROBE ID=0; QUERY_PROBE ID=1; call id 0 means invalid
#
#  Return the status of the z-probe and store ID
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable_query_probe
#  variable_query_probe.id
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L208
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#.................................................................................................................

[gcode_macro QUERY_PROBE]
description : Helper: Mag Probe; Return the status of the z-probe and store ID
rename_existing: QUERY_PROBE_BASE
gcode:
  _Mag_Probe_Debug msg="QUERY_PROBE - entering"
 {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
 {% set query_probe = global.query_probe %}
  
  QUERY_PROBE_BASE
  
  {% set _dummy = query_probe.update({'id': params.ID|default(0) }) %}      ; call id 0 means invalid  
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=query_probe VALUE="{query_probe}"
  _Mag_Probe_Debug msg="QUERY_PROBE - exiting"
