#.................................................................................................................
# SET_PROBE_STATUS - required parameters: STATE{'unknown','attached','docked'} 
#
#          / Usage: SET_PROBE_STATUS STATE='unknown'
#                   SET_PROBE_STATUS STATE='attached'
#                   SET_PROBE_STATUS STATE='docked'
#
#  Manually specify MagProbe status, valid probe states are UNKNOWN, ATTACHED and DOCKED
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
#  variable__probe_action
#  variable__probe_action.man_state
#
# [gcode_macro _USER_VARIABLE]
#  variable_mag_probe
#  variable_mag_probe.state
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _GLOBAL_VARS
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/magprobe.cfg#L23
#      
## Used the same names as in <https://github.com/KevinOConnor/klipper/pull/4328>
## to make the switch easier after the PR is merged
#
#.................................................................................................................

[gcode_macro SET_PROBE_STATUS]
description : Helper: Mag Probe; Manually specify MagProbe status, valid probe states are UNKNOWN, ATTACHED and DOCKED
gcode:
  _Mag_Probe_Debug msg="SET_PROBE_STATUS - entering"
  {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% set _probe_action = global._probe_action %}
  {% set mag_probe = user.mag_probe %}
  
  {% if not params.STATE or params.STATE|lower is not in ['unknown','attached','docked'] %}
    {action_raise_error("Invalid probe state: %s. Valid probe states are [UNKNOWN, ATTACHED, DOCKED]" % params.STATE|default('none')|upper)}
  {% endif %}
  
  {% set _dummy = _probe_action.update({'man_state': params.STATE|lower }) %} 
  SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=_probe_action VALUE="{_probe_action}"  
  
  {% set _dummy = mag_probe.update({'state': params.STATE|lower }) %}  
  SET_GCODE_VARIABLE MACRO=_USER_VARIABLE VARIABLE=mag_probe VALUE="{mag_probe}"
  _Mag_Probe_Debug msg="SET_PROBE_STATUS - exiting"
