#.................................................................................................................
# _BEDFANSFAST - No additional options / Usage: _BEDFANSFAST
#   This macro sets the speed of the BedFans to the speed dictated by the variable fast
#    in gcode_macro bedfanvars.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro bedfanvars]
#  variable_fast
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
##      https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#.................................................................................................................

[gcode_macro _BedFansFast]
gcode:
	# Vars
    _general_Debug msg="_BedFansFast - entering"
	{% set FAST = printer["gcode_macro bedfanvars"].fast|float %}
	SET_FAN_SPEED FAN=Bedfan_Left SPEED={FAST}
	SET_FAN_SPEED FAN=Bedfan_Right SPEED={FAST}
    _general_Debug msg="_BedFansFast - exiting"
