#.................................................................................................................
# _CG28 - No additional options / Usage: _CG28
#
#   Conditional G28 (home if not already homed)
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# STATUS_HOMING
# G28 (now controlled by [homing_override)
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/homing.cfg#L67
#      
#.................................................................................................................

[gcode_macro _CG28]
description: Helper: Conditional G28 (home if not already homed)
gcode:
    _general_Debug msg="_CG28 - enter"
    {% if "xyz" not in printer.toolhead.homed_axes %}
        STATUS_HOMING
        G28
    {% endif %}
    _general_Debug msg="_CG28 - exit"