#.................................................................................................................
# _CLEAR_DISPLAY - No additional options / Usage: _CLEAR_DISPLAY
#
#  Clear LCD display output after Duration in seconds
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE] 
#  variable_hw.display.ena
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# M117
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/basic_macro.cfg#L12
#   
#      
#.................................................................................................................

##  Clear display output after Duration in seconds
##  Use: UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=1

[delayed_gcode _CLEAR_DISPLAY]
gcode:
  _general_Debug msg="_CLEAR_DISPLAY - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}  
  {% if user.hw.display.ena %} M117 {% endif %}
  _general_Debug msg="_CLEAR_DISPLAY - exiting"
  