#.................................................................................................................
# _DELAY_SDCARD_RESET_FILE - No additional options / Usage: _DELAY_SDCARD_RESET_FILE
#
#  Reset SD File after Print_END or CANCEL_PRINT
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/basic_macro.cfg#L18
#   
#.................................................................................................................

## Reset SD File after Print_END or CANCEL_PRINT
## This will avoid the reprint option in Mainsail after a print is done

[delayed_gcode _DELAY_SDCARD_RESET_FILE]
gcode:
  _general_Debug msg="_DELAY_SDCARD_RESET_FILE - entering"
  SDCARD_RESET_FILE
  _general_Debug msg="_DELAY_SDCARD_RESET_FILE - exiting"
  