#.................................................................................................................
# _DELAY_FILTER_OFF - No additional options / Usage: _DELAY_FILTER_OFF   
#              
#   Turn off Nevermore fan and display a message to UI console
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _SET_FILTER
# _FILTER_INFO
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/fan.cfg#L132
#      
#.................................................................................................................

[delayed_gcode _DELAY_FILTER_OFF]
gcode:
  _general_Debug msg="_DELAY_FILTER_OFF - entering"
  {% if printer.print_stats.state|lower != "paused" and printer.print_stats.state|lower != "printing" %}
    _SET_FILTER
    _FILTER_INFO
  {% endif %}
  _general_Debug msg="_DELAY_FILTER_OFF - exiting"
