#.................................................................................................................
# _DELAY_VENT_OFF - No additional options / Usage: _DELAY_VENT_OFF
#              
#   Turn off Chamber fan
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _VENT_INFO
# M141
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/fan.cfg#L151
#      
#.................................................................................................................

[delayed_gcode _DELAY_VENT_OFF]
gcode:
  _general_Debug msg="_DELAY_VENT_OFF - entering"
  {% if printer.print_stats.state|lower != "paused" and printer.print_stats.state|lower != "printing" %}
    M141
    _VENT_INFO
  {% endif %}
  _general_Debug msg="_DELAY_VENT_OFF - exiting"
