#.................................................................................................................
# Euclid probe safety checks block

#_DO_ERROR_IF_PROBE_NOT_DEPLOYED
[gcode_macro _do_error_if_probe_not_deployed]
gcode:
    {% if printer.probe.last_query %}
        {action_raise_error("ERROR: Probe unsuccessfully deployed, please check printer.")}
      {% else %}
        M118 Euclid probe has been attached.
    {% endif %}
	