#.................................................................................................................
# _FILAMENT_READY - No additional options / Usage: _FILAMENT_READY
#
#   Performs filament specific purgeline and readies for print
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_filament
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/FILAMENTS/ABS04.cfg#L77
##      
#.................................................................................................................
[gcode_macro _FILAMENT_READY]
description: Performs filament specific purgeline and readies for print
gcode:
  _general_Debug msg="_FILAMENT_READY - entering"
    {% set user         = printer['gcode_macro _USER_VARIABLE'] %}
    {% set NZLD         = printer.configfile.config.extruder.nozzle_diameter|float %}
    {% set purgeRetract = user.filament.profile.purgeRetract|float %}
    SET_VELOCITY_LIMIT ACCEL={user.filament.profile.LimitAccel|float} ACCEL_TO_DECEL={user.filament.profile.LimitDecel|float}
    # Purge line start
    G1 X0 Y19.8 Z0.3 F1500.0
    G1 E{(12.5 * NZLD)} F3600
    M400
    G1 X0 Y0 Z0.3 F1500.0
    G1 X130 Y0.0 Z0.3 F1500.0 E{(37.5 * NZLD)}
    G1 X130 Y0.3 Z0.3 F5000.0
    G1 X010 Y0.3 Z0.3 F1500.0 E{(75.0 * NZLD)}
    M400
    G92 E0
    # Purge line completed, now retract as defined
    G1 E-{purgeRetract} F3000
    G1 Z5.0 F3000
    G1 Y10 F4000
  _general_Debug msg="_FILAMENT_READY - exiting"