#.................................................................................................................
# _FILTER_ON - No additional options / Usage: _FILTER_ON                 
#
#   Nevermore on
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_peripheral.filter.on_val
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _SET_FILTER
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/fan.cfg#L122
#      
#.................................................................................................................

[gcode_macro _FILTER_ON]
description: Helper: Nevermore on
gcode:
    _general_Debug msg="_FILTER_ON - entering"
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    _SET_FILTER S={user.peripheral.filter.on_val}
    _general_Debug msg="_FILTER_ON - exiting"
