#.................................................................................................................
# _FILTER_INFO - No additional options / Usage: _FILTER_INFO
#              
#   Print Nevermore speed
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [fan_generic filter] must be defined in printer.cfg
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/fan.cfg#L165
#      
#.................................................................................................................

[gcode_macro _FILTER_INFO]
description: Helper: Print Nevermore speed
gcode:
  _general_Debug msg="_FILTER_INFO - entering"
  {action_respond_info("Filter fan %s" % 'on' if printer['fan_generic filter'].speed|float > 0.0 else 'off')}
  _general_Debug msg="_FILTER_INFO - exiting"
