#.................................................................................................................
# _GENERAL_ENTRY_POINT -required parameters: FUNCTION / Usage: _GENERAL_ENTRY_POINT FUNCTION="name_of_function"
#
#   Save GCODE state by automatically concatinging the string "pre_" before the FUNCTION name
#   and change to absolute positioning
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#      
#.................................................................................................................
[gcode_macro _general_entry_point]
gcode:
    {% set function  = 'pre_' ~ params.FUNCTION %}
    SAVE_GCODE_STATE NAME={function}
    # all the macros initially assume absolute positioning
    G90
