#.................................................................................................................
# _GENERAL_DEBUG - required parameters: MSG / Usage: _GENERAL_DEBUG MSG="string"
#   If debug enabled, write a string out.
#
#  Examples: 
# _general_Debug msg="_klicky_status_busy activating the LED STATUS_BUSY"
# _general_Debug msg="FLAG = {FLAG};\nLAST_CHAMBERTEMP = {LAST_CHAMBERTEMP};\nCURRENT_CHAMBERTEMP = {CURRENT_CHAMBERTEMP;"
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro globalvariables]
#  variable_debug
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# ---NONE---
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#      
#.................................................................................................................

[gcode_macro _general_Debug]
gcode:
    {% set message  = params.MSG %}
    {% set debug = printer["gcode_macro globalvariables"].debug|default(False) %}
    
    {% if debug %}
        { action_respond_info(message) }
    {% endif %}    
