#.................................................................................................................
# _GENERAL_EXIT_POINT -required parameters: FUNCTION / Usage: _GENERAL_EXIT_POINT FUNCTION="name_of_function"
#
#   Restore GCODE state by automatically concatinging the string "pre_" before the FUNCTION name
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#      
#.................................................................................................................

#_GENERAL_EXIT_POINT
[gcode_macro _general_exit_point]
gcode:
    {% set function  = 'pre_' ~ params.FUNCTION %}
    RESTORE_GCODE_STATE NAME={function} 
