#.................................................................................................................
# _PRINT_AR - optional parameters: SHOW_LCD=(true,false) T=('string')
#
#    / Usage: _PRINT_AR SHOW_LCD=True T="QGL forced by PRINT_START" or _PRINT_AR T="QGL forced by PRINT_START"
#             If SHOW_LCD=True, write a string out to the LCD display. If SHOW_LCD=False, write a string out to the Klipper screen.
#
#  Examples: 
# _PRINT_AR SHOW_LCD=True T="QGL forced by PRINT_START"
# _PRINT_AR T="QGL forced by PRINT_START"
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
## ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/basic_macro.cfg#L32
#      
#.................................................................................................................

[gcode_macro _PRINT_AR]
##  action_respond_info will be always executed at the beginning of an macro evaluation.
##  Use _PRINT_AR if you need the order of several console outputs in the order given by the macro
##  Use: _PRINT_AR T="QGL forced by PRINT_START"
description: Helper: Action response
gcode:
  {% if params.SHOW_LCD|default('false') == 'true' %} M117 {params.T} {% endif %}
  {action_respond_info(params.T)} 
