#.................................................................................................................
# -SuperSlicer's start print gcode should contain the following:  
#   PRINT_START PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX}
#
#   Example: PRINT_START PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX}
# -SuperSlicer's end print gcode should contain the following:
#   Use PRINT_END for the slicer ending script
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
#[gcode_macro _WAIT_Variable]
#variable_ready  ; temperature you want the extruder at the ready state
#variable_temp   ; temperature you want the extruder to print at
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# STATUS_LEVELING
# STATUS_HEATING
# _FILAMENT_READY
# STATUS_PRINTING
# G3201 
# M117
# CURRENT_HIGH
#.................................................................................................................

[gcode_macro _PRINT_START2]
description: Part 2 - Performs all needed moves prior to printing
gcode:
    _general_Debug msg="_PRINT_START2 - entering"
    RESUME_BASE
    {% set EXTRUDER_READY = printer["gcode_macro _WAIT_Variable"].ready|int %}
    {% set EXTRUDER_TEMP = printer["gcode_macro _WAIT_Variable"].temp|int %}
    #SET_LED LED=nozzle RED=.5 GREEN=0 BLUE=.5
	STATUS_LEVELING
    M117 Performing hot level.
    CURRENT_HIGH
    M400                                                             ;Wait for current moves to finish
    M104 S{EXTRUDER_READY}                                           ;Set Extruder Temperature
    G3201 PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX}  ;Clears bed-mesh and performs G28 XYZ, ATTACH_PROBE_LOCK, QGL, CLEAN_NOZZLE, G28 Z, CALIBRATE_Z, applies bed-mesh, and DOCK_PROBE_UNLOCK
    M104 S{EXTRUDER_TEMP}                                            ;Set Extruder Temperature
    G1 X0 Y20 F4000
    G1 Z0.5
    M117 Bringing nozzle to temperature.
    #SET_LED LED=nozzle INDEX=2 RED=1 GREEN=0 BLUE=0
    #SET_LED LED=nozzle INDEX=1 RED=.5 GREEN=.5 BLUE=.5
	STATUS_HEATING
    M109 S{EXTRUDER_TEMP}                                            ;Set Extruder Temperature and Wait
    #SET_LED LED=nozzle RED=1 GREEN=0 BLUE=0
	# enable the filament sensor
	SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1	
    _FILAMENT_READY                                                  ;Performs filament specific purgeline and readies for print
    M117 Commencing print.
    #M118 Commencing print.
    #SET_LED LED=nozzle RED=.5 GREEN=.5 BLUE=.5
	STATUS_PRINTING
    _general_Debug msg="_PRINT_START2 - exiting"

