#.................................................................................................................
# _SET_FILTER - optional parameters: S{0 to 255} 
#
#   / Usage: 
#           _SET_FILTER                 --> same as _SET_FILTER S0 which turns off the Nevermore filter fans
#           _SET_FILTER S128
#           _SET_FILTER S0
#           _SET_FILTER S255
#
#   Set Nevermore filter speed
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/fan.cfg#L118
#      
#.................................................................................................................

[gcode_macro _SET_FILTER]
description: Helper: Set Nevermore filter speed
gcode:
    _general_Debug msg="_SET_FILTER - entering"
    SET_FAN_SPEED FAN=filter SPEED={params.S|default(0)}
    _general_Debug msg="_SET_FILTER - exiting"
