#.................................................................................................................
# _SET_ACC - required parameters: VAL{'CONFIG','HOME'}; RESPOND{0,1} 
#
#   / Usage: 
#            _SET_ACC
#            _SET_ACC VAL='HOME'
#            _SET_ACC VAL='HOME' RESPOND=1
#
#  Set accel and accel_to_decel value
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_homing.accel
#  variable_respond.acc
#
# [gcode_macro _GLOBAL_VARS]
#  variable__set_acc
#  variable__set_acc.last_val
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
# _GLOBAL_VARS

#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/homing.cfg#L92
#      
#.................................................................................................................

#.................................................................................................................    
[gcode_macro _SET_ACC]
description: Helper: Set accel and accel_to_decel value
gcode:
    _general_Debug msg="_SET_ACC - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
  {% set _set_acc = global._set_acc %}
  {% set val = params.VAL|default('CONFIG') %}
  {% set accel = user.homing.accel  if val == 'HOME'
            else printer.configfile.settings.printer.max_accel %}
  {% set accel_to_decel = user.homing.accel|int / 2 if val == 'HOME'
                     else printer.configfile.settings.printer.max_accel_to_decel %}
  {% if val != _set_acc.last_val %}
    {% set _dummy = _set_acc.update({'last_val': val }) %}        
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=_set_acc VALUE="{_set_acc}"
    #SET_GCODE_VARIABLE MACRO=_SET_ACC VARIABLE=last_val VALUE='"{val}"'
    {% if params.RESPOND|default(user.respond.acc)|int == 1 %}
      {action_respond_info("Home&Probe: ACCEL: %d ACCEL_TO_DECEL: %d" % (accel|int, accel_to_decel|int))}
    {% endif %}
    SET_VELOCITY_LIMIT ACCEL={accel} ACCEL_TO_DECEL={accel_to_decel}
  {% endif %}
    _general_Debug msg="_SET_ACC - exiting"
