#.................................................................................................................
# _VENT_INFO - No additional options / Usage: _VENT_INFO
#              
#   Print chamber fan temperature
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [temperature_fan chamber] must be defined in printer.cfg
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/fan.cfg#L158
#      
#.................................................................................................................

[gcode_macro _VENT_INFO]
description: Helper: Print chamber fan temperature
gcode:
  _general_Debug msg="_VENT_INFO - entering"
  {% set txt = "off" if printer['temperature_fan chamber'].target == 0 
          else "target temp: %2dC" % printer['temperature_fan chamber'].target %}
  {action_respond_info("Chamber fan %s" % txt)}
  _general_Debug msg="_VENT_INFO - exiting"
