#.................................................................................................................
# ADD_STRTODICT_FILTER - No additional options / Usage: ADD_STRTODICT_FILTER
#
#   Runs the gcode_shell_command extension to execute a remote script located on the Raspberry pi that add a jinj2 custom filter to the klipper jinja2 template
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_shell_command jinja2_filter_strtodict]
# command: sh /home/pi/klipper_config/scripts/add_jinj2_custom_filter.sh
# timeout: 30.
# verbose: True
#
# need ~/klipper/strtodict_filter.py file
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/th33xitus/kiauh/wiki/How-to-autocommit-config-changes-to-github%3F
#                 The G-Code Shell Command Extension must be installed : https://github.com/th33xitus/kiauh/blob/master/docs/gcode_shell_command.md
##      
#.................................................................................................................

#ADD_STRTODICT_FILTER
[gcode_macro ADD_STRTODICT_FILTER]
description: Helper: run a shell script to add a jinj2 custom filter
gcode:
    RUN_SHELL_COMMAND CMD=jinja2_filter_strtodict
    