#.................................................................................................................
# DIRECT_MOVE - optional parameters: X{X_POS_float} Y{Y_POS_float} Z{Z_POS_float} E{E_POS_float} F{Feed_rate_per_minute} 
#
#  / Usage: 
#          DIRECT_MOVE X20
#          DIRECT_MOVE Y20
#          DIRECT_MOVE Z20
#          DIRECT_MOVE E20
#          DIRECT_MOVE X20 F1500
#          DIRECT_MOVE Y20 F1500
#          DIRECT_MOVE Z20 F1500
#          DIRECT_MOVE E20 F1500
#
#  Move toolhead to specified position via G0 command
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/basic_macro.cfg#L22
#   
#.................................................................................................................

[gcode_macro DIRECT_MOVE]
description: Helper: Move toolhead to specified position via G0 command
gcode:
  _general_Debug msg="DIRECT_MOVE - entering"
  {% set out_param = ["G0"] %}
  {% set _dummy = out_param.append("X%s" % params.X) if params.X %}
  {% set _dummy = out_param.append("Y%s" % params.Y) if params.Y %}
  {% set _dummy = out_param.append("Z%s" % params.Z) if params.Z %}
  {% set _dummy = out_param.append("E%s" % params.E) if params.E %}
  {% set _dummy = out_param.append("F%s" % params.F) if params.F %}
  {out_param|join(" ")}
  _general_Debug msg="DIRECT_MOVE - exiting"
  