#.................................................................................................................
# EXAMPLE -required parameters: FUNCTION / Usage: EXAMPLE FUNCTION=help
#
#   Check to see what the ~ operator does in JINJA2 template engine.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://jinja.palletsprojects.com/en/2.10.x/templates/#math
#                 https://documentation.bloomreach.com/engagement/docs/jinja-syntax
#      
#.................................................................................................................
[gcode_macro example]
# example FUNCTION=help
# produces :
#  "example macro: funtion = pre_help"
description: Helper: an example macro
gcode:
    {% set function  = 'pre_' ~ params.FUNCTION %}
    {action_respond_info("example macro: funtion = %s" % function)}
    