#.................................................................................................................
# FAKE_POSITION - No additional options / Usage: FAKE_POSITION
#
#   Allows the printer to move the toolhead without homing first!  BUT, you must do a FIRMWARE_RESTART so
#   that the Kinematic's system will know the printers limits.  
#
#  WARNING: using this macro will allow the toolhead to crash into the BED!  Use this macro only to perform
#  manual maneuvers so that you can find positions of things on the printer.  Never, NEVER execute an automatic macro
#  after executing this macro. After you have done performing the manual moves execute a FIRMWARE_RESTART!
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://www.klipper3d.org/G-Codes.html?h=set_kinematic_position#set_kinematic_position
#      
#.................................................................................................................

#[force_move] can be found in ~/klipper_config/ACTIVE/CONFIG/FORCE_MOVE section (KLICKY-MACROs).cfg

#.................................................................................................................    
[gcode_macro FAKE_POSITION]
gcode:
    _general_Debug msg="FAKE_POSITION - entering"
    SET_KINEMATIC_POSITION X=30 Y=30 Z=30
    _general_Debug msg="FAKE_POSITION - exiting"
