#.................................................................................................................
# FILAMENT_ABOUT - No additional options / Usage: FILAMENT_ABOUT
#
#   Reports the loaded filament profile
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_filament
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/FILAMENTS/ABS04.cfg#L3
##      
#.................................................................................................................
[gcode_macro FILAMENT_ABOUT]
description: Reports the loaded filament profile
gcode:
  _general_Debug msg="FILAMENT_ABOUT - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% if user.filament.profile.name == "ABS" %}
      M117 Loaded filament profile ABS04 (Generic ABS / 0.4mm Nozzle)
  {% elif user.filament.profile.name == "PETG" %}
      M117 Loaded filament profile PETG04 (Generic PETG / 0.4mm Nozzle)
  {% else %}
     # #do nothing
  {% endif %}
  _general_Debug msg="FILAMENT_ABOUT - exiting"