#.................................................................................................................
# G32 - No additional options / Usage: G32
#
#  Clears bed-mesh and performs G28, ATTACH_PROBE, QGL, DOCK_PROBE
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_hw.display.ena
# variable_var.redo_qgl
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# QUAD_GANTRY_LEVEL
# _PRINT_AR
# _CG28
# _CLEAR_DISPLAY
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/blob/main/Klipper_macros/klicky-macros.cfg#L538
#      
#.................................................................................................................

#.................................................................................................................    
[gcode_macro G32]
description: Helper: Clears bed-mesh and performs G28, ATTACH_PROBE, QGL, DOCK_PROBE
gcode:
    _general_Debug msg="G32 - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  
  {% if user.hw.display.ena %}
      _PRINT_AR T="Home & QGL" SHOW_LCD=true
  {% else %}
      _PRINT_AR T="Home & QGL" 
  {% endif %}
  BED_MESH_CLEAR
  _CG28
  SET_GCODE_OFFSET Z=0 MOVE=1
  {% if user.var.redo_qgl in ['true', '1', 'True', true, 1, True] %}
    _PRINT_AR T="QGL forced by PRINT_START or user.var.redo_qgl being set to True"
    QUAD_GANTRY_LEVEL PARK=false HOME=false
  {% elif printer.quad_gantry_level.applied in ['false', '0', 'False', false, 0, False] %} %} 
    _PRINT_AR T="QGL not executed yet"
    QUAD_GANTRY_LEVEL PARK=false HOME=false
  {% endif %}
  {% if user.hw.display.ena %} UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=1 {% endif %}
    _general_Debug msg="G32 - exiting"
