#.................................................................................................................
# G32 - No additional options / Usage: G32
#
#  Clears bed-mesh and performs G28, ATTACH_PROBE, QGL, DOCK_PROBE
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# QUAD_GANTRY_LEVEL
# G28
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/blob/main/Klipper_macros/klicky-macros.cfg#L538
#      
#.................................................................................................................

#.................................................................................................................    
[gcode_macro G32]
description: Clears bed-mesh and performs G28, ATTACH_PROBE, QGL, DOCK_PROBE
gcode:
    _general_Debug msg="G32 - entering"
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL ; this does a ATTACH_PROBE, QGL, DOCK_PROBE
    _general_Debug msg="G32 - exiting"
