#.................................................................................................................
# G34 - No additional options / Usage: G34
#
#  Reset bed mesh, offset and execute QGL
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_hw.display.ena
# variable_var.redo_qgl
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _PRINT_AR
# QUAD_GANTRY_LEVEL
# _USER_VARIABLE
# _CLEAR_DISPLAY
# _CG28
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/macro.cfg#L266
#      
#.................................................................................................................

#.................................................................................................................    
[gcode_macro G34]
description: Helper Reset bed mesh, offset and execute QGL
gcode:
  _general_Debug msg="G34 - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  
  {% if user.hw.display.ena %}
      _PRINT_AR T="Home & QGL" SHOW_LCD=true
  {% else %}
      _PRINT_AR T="Home & QGL" 
  {% endif %}
  BED_MESH_CLEAR
  _CG28
  SET_GCODE_OFFSET Z=0 MOVE=1
  {% if user.var.redo_qgl|lower == 'true' %}
    _PRINT_AR T="QGL forced by PRINT_START"
    QUAD_GANTRY_LEVEL PARK=false HOME=false
  {% elif printer.quad_gantry_level.applied|lower == 'false' %} %} 
    _PRINT_AR T="QGL not executed yet"
    QUAD_GANTRY_LEVEL PARK=false HOME=false
  {% endif %}
  {% if user.hw.display.ena %} UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=1 {% endif %}
  _general_Debug msg="G34 - exiting"
