#.................................................................................................................
# GITHUB_BACKUP - No additional options / Usage: GITHUB_BACKUP
#   Runs the gcode_shell_command extension to execute a remote script located on the Raspberry pi that backups the klipper_config directory to GitHub
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_shell_command backup_to_github]
# gcode:
#    RUN_SHELL_COMMAND CMD=backup_to_github
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/th33xitus/kiauh/wiki/How-to-autocommit-config-changes-to-github%3F
#                 The G-Code Shell Command Extension must be installed : https://github.com/th33xitus/kiauh/blob/master/docs/gcode_shell_command.md
##      
#.................................................................................................................

#GITHUB_BACKUP
[gcode_macro GITHUB_BACKUP]
gcode:
    RUN_SHELL_COMMAND CMD=backup_to_github
    