#.................................................................................................................
# homing_override - optional parameters: in params {X,Y,Z} / Usage: NONE
#
#  Homing override for Z axis
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_hw.mag_probe.ena
# variable_homing.z_endstop.hop
# variable_speed.z_hop
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
# _USER_VARIABLE
# ATTACH_PROBE
# DETACH_PROBE
# G0
# _SET_ACC
# _MAG_PROBE
# _HOME_Z
# _MAGPROBE_STATUS_HOMING
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/homing.cfg#L4
#      
#.................................................................................................................
[homing_override]
axes: z
set_position_z: 0
gcode:
   _Mag_Probe_Debug msg="[homing_override] - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  
  {% if user.hw.mag_probe.ena %} _MAGPROBE_STATUS_HOMING {% endif %} 
  
  {% set home_x, home_y, home_z = False, False, False %} ; define what axes need to be homed
  {% if params.X is not defined and params.Y is not defined and params.Z is not defined %} ; G28
    {% set home_x, home_y, home_z = True, True, True %}
  {% else %}
    {% if params.X is defined %}{% set home_x = True %}{% endif %}
    {% if params.Y is defined %}{% set home_y = True %}{% endif %}
    {% if params.Z is defined %}
      {% if 'x' not in printer.toolhead.homed_axes %}{% set home_x = True %}{% endif %} ; check if homed
      {% if 'y' not in printer.toolhead.homed_axes %}{% set home_y = True %}{% endif %} ; check if homed
      {% set home_z = True %}
    {% endif %}
  {% endif %}
  {% if user.hw.mag_probe.ena %} _MAG_PROBE ACTION=GET_STATUS RESPOND=0 {% endif %} ; generate probe state
  _SET_ACC VAL=HOME                                   ; reduce accel and accel_to_decel
  G0 Z{user.homing.z_endstop.hop} F{user.speed.z_hop} ; lift nozzle
  {% if home_x %} G28 X   {% endif %}                 ; home X
  {% if home_y %} G28 Y   {% endif %}                 ; home Y
  {% if home_z %} _HOME_Z {% endif %}                 ; home Z
  _SET_ACC                                            ; set accel and accel_to_decel back to cfg value
  {% if user.hw.mag_probe.ena %} _MAGPROBE_STATUS_READY {% endif %} 
  _Mag_Probe_Debug msg="[homing_override] - exiting"