#.................................................................................................................
# LOG_INFO - required parameters: MESSAGE(text_string) / Usage: LOG_INFO MESSAGE="Commencing undock routine"
#
#   Send a message to the UI console
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/pushc6/VoronConfig/blob/main/config/macros.cfg
##      
#.................................................................................................................
[gcode_macro LOG_INFO]
description: Send a message to the Klipper screen and the UI console
gcode:
  _general_Debug msg="LOG_INFO - entering"
  {action_respond_info(params.MESSAGE)}
  _general_Debug msg="LOG_INFO - exiting"