#.................................................................................................................
# MOVE_BED_CENTER - No additional options / Usage: MOVE_BED_CENTER
#
#   Move the toolhead to the center of the bed
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _CG28
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#      
#.................................................................................................................
[gcode_macro move_bed_center]
description: Helper: move toolhead to center of the bed
gcode:
     _general_Debug msg="move_bed_center - entering"
    {action_respond_info("INSIDE: move_bed_center")}
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set X_MID = printer.configfile.config.stepper_x.position_max|float / 2.0 %}
    {% set X_PROBEOFFSET = printer.configfile.config.probe.x_offset|float %}
    {% set Y_MID = printer.configfile.config.stepper_y.position_max|float / 2.0 %}
    {% set Y_PROBEOFFSET = printer.configfile.config.probe.y_offset|float %}
    # {% if user.respond.perform_G28_and_qgl_at_boot %}
       _CG28                                                               ; Try to home if not already homed
       G90
       G0 X{(X_MID - X_PROBEOFFSET)} Y{(Y_MID - Y_PROBEOFFSET)} Z20 F4000
    # {% endif %}
    _general_Debug msg="move_bed_center -exiting"
