###############################################
#  Progress Bar LEDs Macros
###############################################
[gcode_macro progress_bar_leds_off]
gcode:
    _general_Debug msg="progress_bar_leds_off - entering"
    SET_LED LED=progress_bar_leds RED=0 GREEN=0 BLUE=0 
    _general_Debug msg="progress_bar_leds_off - exiting"
