#.................................................................................................................
# REBOOT - No additional options / Usage: REBOOT
#
#   reboots the raspberry pi for this printer that is running Klipper
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/#reboot-shutdown-from-klipper
##      
#.................................................................................................................

[gcode_macro REBOOT]
gcode:
  _general_Debug msg="REBOOT - entering"
  # this next command reboots the raspberry Pi
  {action_call_remote_method("reboot_machine")}
  _general_Debug msg="REBOOT - exiting"
                             