#.................................................................................................................
# REPORT_TEMP - No additional options  / Usage: REPORT_TEMP
#
#   Report the temperature for the Chamber temperature to the UI console every 2 seconds.  
#   This macro also starts up automatically 2 seconds after Klipper enter the READY state.
#
# This can be canceled with the following gcode command:
#       UPDATE_DELAYED_GCODE ID=report_temp DURATION=0
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [temperature_sensor J_Chamber_ZDragChain_PT100] - must be defined
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
##      
#.................................................................................................................
#[delayed_gcode report_temp]
#initial_duration: 2.
#gcode:
#  {action_respond_info("report_temp: Chamber temp: %.1f" % (printer["temperature_sensor J_Chamber_ZDragChain_PT100"].temperature))}
#  UPDATE_DELAYED_GCODE ID=report_temp DURATION=2