#[delayed_gcode report_temp]
##  This can be canceled with the following gcode:
##       UPDATE_DELAYED_GCODE ID=report_temp DURATION=0
#initial_duration: 2.
#gcode:
#  {action_respond_info("report_temp: ebb36 temp: %.1f" % (printer["temperature_sensor J_Chamber_ZDragChain_PT100"].temperature))}
#  UPDATE_DELAYED_GCODE ID=report_temp DURATION=2