#.................................................................................................................
# SHUTDOWN - No additional options / Usage: SHUTDOWN
#
#   Shuts down the raspberry pi for this printer that is running Klipper
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/#reboot-shutdown-from-klipper
##      
#.................................................................................................................

[gcode_macro SHUTDOWN]
gcode:
   _general_Debug msg="SHUTDOWN - entering"
  # turn off all the lights
  LIGHTS_OFF                                          ;turn off WLED lights - lights controlled by WLED servers (ESP32 chips)
  PROGRESS_BAR_LEDS_OFF                               ;turn off progress bar lights - lights controlled by Octopus Pro board's RGB port
  CASELIGHT_OFF                                       ;turn off 24V White lights - lights controlled by Octopus Pro board's HE1 port
  STATUS_OFF                                          ;turn off Stealthburner LEDs - lights controlled by EBB36 board
  # turn off the power supplies 
  #_POWER_OFF_EMPTY_PSU
  _POWER_OFF_ESP_PSU
  _POWER_OFF_ESP2
  _POWER_OFF_IR_PSU
  _POWER_OFF_RGB_PSU
  _POWER_OFF_RGB2
  # this next command shuts down the raspberry Pi
  {action_call_remote_method("shutdown_machine")}
  _general_Debug msg="SHUTDOWN - exiting"
                             