#.................................................................................................................
# SHUTDOWN - No additional options / Usage: SHUTDOWN
#
#   Shuts down the raspberry pi for this printer that is running Klipper
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_park.bed.x
# variable_park.bed.y
# variable_park.bed.z
# variable_speed.travel
# variable_respond.maintaince_on_toolhead
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _WAIT_Start
# _CG28
# G0
# STATUS_BUSY
# SET_NOZZLE_LEDS_OFF
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://moonraker.readthedocs.io/en/latest/configuration/#reboot-shutdown-from-klipper
##      
#.................................................................................................................

[gcode_macro SHUTDOWN]
description: Helper: turn off all the lights (WLED strips and progres_bar LEDs and 24V LED lights and stealthburner LEDs)
gcode:
   _general_Debug msg="SHUTDOWN - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% if user.respond.maintaince_on_toolhead %}
      _CG28 ; home if not already homed
      G90   ; absolute positioning
      G0 X{user.park.bed.x} Y{user.park.bed.y} Z{user.park.bed.z} F{user.speed.travel}
  {% endif %}
  STATUS_BUSY
  SET_NOZZLE_LEDS_OFF
  # turn off all the lights but after the 10 second wait (the turn off is done inside the WAIT_Delayed macro; 
  # The WAIT_Delayed macro is called by _WAIT_Start macro
  _WAIT_Start MINUTES=0.17                            ;wait 10 seconds
  M400
  _general_Debug msg="SHUTDOWN - exiting"
                             