#.................................................................................................................
# TEST_BOOLEAN - required parameters: HOME{True,False}
#
#        / Usage: 
#                TEST_BOOLEAN
#                TEST_BOOLEAN HOME=True --> (home G28 Z after QGL is performed)
#                TEST_BOOLEAN HOME=False --> (do not perform a G28 Z after QGL is performed)
#
#  Test to see how macro pass boolean values
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _Mag_Probe_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#      
#.................................................................................................................

[gcode_macro TEST_BOOLEAN]
description : Helper: Test to see how macro pass boolean values
gcode:
  _Mag_Probe_Debug msg="TEST_BOOLEAN - entering"
  {% set HOME = params.HOME|default(false) in ['true', '1', 'True', true, 1, True] %}
  
  {action_respond_info("HOME = %s;" % HOME)}
  
  {% if HOME in ['true', '1', 'True', true, 1, True] %} 
  #{% if HOME in ['false', '0', 'False', false, 0, False] %} 
     G28 
     # {action_respond_info("HOME = "+HOME)}
     # {{ HOME }}
     #{% if params.HOME|default(False) == True %} 
  {% endif %}
  _Mag_Probe_Debug msg="TEST_BOOLEAN - exiting"
