# THERMAL_PROFILING
[gcode_macro thermal_profiling]
gcode:
    {% set X_MID = printer.configfile.config["stepper_x"]["position_max"]|float / 2.0 %}
    {% set X_PROBEOFFSET = printer.configfile.config["probe"]["x_offset"]|float %}
    {% set Y_MID = printer.configfile.config["stepper_y"]["position_max"]|float / 2.0 %}
    {% set Y_PROBEOFFSET = printer.configfile.config["probe"]["y_offset"]|float %}
    Attach_Probe_Lock
    {% for i in range(3) %}
        G28 Z
    {% endfor %}
    _general_entry_point function=thermal_profiling
    G0 X{(X_MID - X_PROBEOFFSET)} Y{(Y_MID - Y_PROBEOFFSET)} Z10 F12000
    _general_exit_point function=thermal_profiling
    PROBE_ACCURACY PROBE_SPEED=40 SAMPLES=5