############### Config options ##################
## URL: https://voronregistry.com/mods/ellis-bedfans
##      https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#.................................................................................................................
# _TURN_OFF_HEATERS - No additional options / Usage:_TURN_OFF_HEATERS
#  Replace TURN_OFF_HEATERS.  It does what TURN_OFF_HEATERS does but also turns off the bed fans

############ Command overrides ############

# Replace TURN_OFF_HEATERS
[gcode_macro TURN_OFF_HEATERS]
rename_existing: _TURN_OFF_HEATERS
gcode:
    _general_Debug msg="TURN_OFF_HEATERS- entering"
	_BedFansOff
	_TURN_OFF_HEATERS
    _general_Debug msg="TURN_OFF_HEATERS- exiting"
