#.................................................................................................................
# VENT - No additional options / Usage: VENT
#              
#   Toggle Chamber fan
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_peripheral.vent.on_val
#
# [temperature_fan chamber] must be in printer.cfg file
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _VENT_INFO
# M141
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/fan.cfg#L140
#      
#.................................................................................................................

##  Chamber Ventilation Control in Mainsail

[gcode_macro VENT]
description: Helper: Toggle Chamber fan
gcode:
  _general_Debug msg="VENT - entering"
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% if printer['temperature_fan chamber'].target|float > 0 and 
          printer['temperature_fan chamber'].target|float <= user.peripheral.vent.on_val|float %}
        M141
    {% else %}
        M141 S{user.peripheral.vent.on_val}
    {% endif %}
    _VENT_INFO
  _general_Debug msg="VENT - exiting"
