[delayed_gcode WAIT_Delayed]
gcode:
    _general_Debug msg="WAIT_Delayed- entering"
    {% set count = printer["gcode_macro _WAIT_Variable"].count|int %}
    {% set duration = printer["gcode_macro _WAIT_Variable"].duration|int %}
    M117 Pre-Print Heatsoaking... {((duration * count) / 60)|round(1)} minutes left.
    SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=count VALUE={count-1}
    {% if count > 0 %} _WAIT_Loop  {% endif %}
    {% if count == 0 %} 
        # FINAL ACION
        SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=waiting VALUE=False
        _PRINT_START2
    {% endif %}
    _general_Debug msg="WAIT_Delayed- exiting"
    