[gcode_macro WLED_OFF]
# USE: WLED_OFF STRIP=Chamber_Lights 
# USE2: WLED_OFF STRIP=Bottom_Lights
description: Turn WLED strip off
gcode:
  _general_Debug msg="WLED_OFF- entering"
  {% set strip = params.STRIP|string %}

  {action_call_remote_method("set_wled_state",
                             strip=strip,
                             state=False)}
  _general_Debug msg="WLED_OFF- exiting" 
