#.................................................................................................................
# _ENTRY_POINT - No additional options / Usage: _ENTRY_POINT
#
#  This macro is used to reduce repeating couple of statement:
#     it waits for motor movement, saves the gcode state, sets the Z offset to zero,
#     changes to absolute positioning and sets the Acceleration to a sane value.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_klicky.move_accel
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

[gcode_macro _entry_point]
description: Helper: Klicky Probe macro that saves the G-CODE STATE
gcode:
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set function  = 'pre_' ~ params.FUNCTION %}
    {% set move_accel = user.klicky.move_accel|default(1000) %}
    # mandatory to save the new safe position
    M400
    SAVE_GCODE_STATE NAME={function}
    # removes the Z offset for better bed based docking
    SET_GCODE_OFFSET Z=0
    # all the macros initially assume absolute positioning
    G90
    # set a safe(sane) Acceleration
    SET_VELOCITY_LIMIT ACCEL={move_accel}
    