#.................................................................................................................
# _EXIT_POINT - required parameters: MOVE{0,1} / Usage: _EXIT_POINT or _EXIT_POINT MOVE=1
#
#  This macro is used to reduce repeating couple of statement:
#     it waits for motor movement, resets the printer's velocity limits and
#     restores the gcode state from the pre_ saved gcode state and if MOVE=1 is
#     specified then a toolhead move will be issued to move back to the previous XYZ position
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_klicky.travel_speed
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

[gcode_macro _exit_point]
description: Helper: Klicky Probe macro that restores the printer's max_accel and max_accel_to_decel values and restores the g-code state to its original state before a call was made to a Klicky Probe macro
gcode:
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set function  = 'pre_' ~ params.FUNCTION %}
    {% set move  = params.MOVE|default(0) %}
    {% set speed = user.klicky.travel_speed %}

    # mandatory to save the new safe position
    M400
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}
    SET_VELOCITY_LIMIT ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    RESTORE_GCODE_STATE NAME={function} MOVE={move} MOVE_SPEED={speed}
    
    