#.................................................................................................................
# _KLICKY_CHECK_VARIABLES_VERSION - No additional options / Usage: _KLICKY_CHECK_VARIABLES_VERSION
#
#  checks if the variable definitions are up to date
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_klicky.version
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

#checks if the variable definitions are up to date
[gcode_macro _klicky_check_variables_version]
description: Helper: Klicy Probe, checks if the variable definitions are up to date
gcode:
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set version = user.klicky.version|default(0) %}

    {% if version != 1 %}
        { action_raise_error("Please update your klicky variables, there are some functionality changes") }
    {% endif %}