#.................................................................................................................
# BOOT_BEDFANS - No additional options / Usage: NONE
#   This macro set the initial value of two variables used by the bedfanvars macro
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro bedfanvars]
#  variable_fast
#  variable_lastemp
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# BEDFANVARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://voronregistry.com/mods/ellis-bedfans
##      https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Ellis/Bed_Fans/Klipper_Macros
#.................................................................................................................
[delayed_gcode boot_bedfans]
initial_duration: 0.5
gcode:
    _general_Debug msg=" boot_bedfans- entering"
    SET_GCODE_VARIABLE MACRO=bedfanvars VARIABLE=flag VALUE=0
    SET_GCODE_VARIABLE MACRO=bedfanvars VARIABLE=lasttemp VALUE={0.0}
    _general_Debug msg=" boot_bedfans- exiting"

#The bedfanloop runs every 8 seconds to check the chamber temperature after the heated bed has reached its target temperature, 
#otherwise the bedfanloop is off
#[delayed_gcode bedfanloop]
#
