#.................................................................................................................
#  _CURRENT_STATE - No additional options/ Usage: NONE
#
#    This macro holds the current state of leds in a dictionary format for this printer
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
# variable_state_fan_leds
# variable_state_logo_leds
# variable_state_bar_leds
# variable_state_nozzle_leds
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources:
#
#.................................................................................................................

[gcode_macro _CURRENT_STATE]
description: Helper: Current state of leds in a dictionary format

variable_current_led_state                  : {}                                  ;current state of leds
variable_run                                : False                               ;used internal to detect that the _CURRENT_STATE was executed
gcode:
  _general_Debug msg="_CURRENT_STATE - entering"
  {% set text = ["CONFIG: ERROR"] %}
  {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
  {% if not global.run %}
    {% set _dummy = text.append("_GLOBAL_VARS macro not executed") %}
  {% endif %}
  {% if text|length > 1 %}
    {action_respond_info(text|join("\n"))}
  {% endif %}
  
  # prepare dictonaries
 {% set current_led_state_dic = {
                                'fan_leds'     : global.state_fan_leds,
                                'logo_leds'    : global.state_logo_leds,
                                'bar_leds'     : global.state_bar_leds,
                                'nozzle_leds'  : global.state_nozzle_leds
                            }
  %}
  # store results in variable
  SET_GCODE_VARIABLE MACRO=_CURRENT_STATE VARIABLE=current_led_state              VALUE="{current_led_state_dic}"
  SET_GCODE_VARIABLE MACRO=_CURRENT_STATE VARIABLE=run                            VALUE=True
  _general_Debug msg="_CURRENT_STATE - exiting"