#.................................................................................................................
# INFO__GLOBAL_VARS - required parameters: VAR{string} / Usage: INFO__GLOBAL_VARS VAR='string'
#
# print out all values in [gcode_macro _GLOBAL_VARS] space
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _GLOBAL_VARS]
# variable_bedfanvars   
# variable_fancheckvars  
# variable_sb_vars     
# variable_wait_variable  
# variable_progressbar_enabled
# variable_tmacro                              
# variable_bucket_pos  
# variable_probe_variables               
# variable_bed_mesh                   
# variable_current_led_state            
# variable__probe_action               
# variable__mag_probe
# variable__check_state     
# variable_query_probe  
# variable_bed_mesh_store  
# variable__home_z        
# variable__set_z_current    
# variable__set_acc      
# variable_run                  
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#      
#.................................................................................................................
[gcode_macro INFO__GLOBAL_VARS]
description: Helper: print out all values in [gcode_macro _GLOBAL_VARS] space or the speciifed parameter
gcode:
    _general_Debug msg="INFO__GLOBAL_VARSL - entering"
    
    {% set ns = namespace( flag = 0 ) %}
    {% set ns2 = namespace(flag = 0, loop_flag = 0 ) %}
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    
    {% set search_vars_search = True if params.VAR else False %}
    {% set search = params.VAR|default('')|string|lower %} 
    
    #{ action_respond_info("VAR = %s" % (params.VAR) ) }
    
    {% if '.' is in params.VAR %}
      {% set ns.flag = 1 %}
      {% set ns.search = search.split('.') %}
      {% set ns.length = (ns.search|length) - 1 %}
      #{ action_respond_info("ns.search[ns.length] = %s" % (ns.search[ns.length]) ) }
      {% set search = ns.search[ns.length] %}
      # {% if ns.length == 1 %} 
           # #_mag_probe.state : unknown
           # {% set search_more = [ ns.search[ns.length-1], ns.search[ns.length] ] %}
      # {% elif ns.length == 2 %}
           # #sb_vars.colors.blue : value
           # {% set search_more = [ ns.search[ns.length-2], ns.search[ns.length-1], ns.search[ns.length] ] %}
      # {% elif ns.length == 3 %} 
           # #sb_vars.colors.yellow.r : 1.0
           # {% set search_more = [ ns.search[ns.length-3], ns.search[ns.length-2], ns.search[ns.length-1], ns.search[ns.length] ]  %}
      # {% endif %}
    {% endif %}

    {% if search_vars_search == False %}
        # none of the params have been defined so print out all parameters 
        {% set print_printer_parameters = True %}
    {% else %}    
        {% set print_printer_parameters = False %}
    {% endif %}    
    
    {% if print_printer_parameters %}
        {% set ns.path = ["INFO__GLOBAL_VARS <+++++++++++++++++", ''] %}
        { action_respond_info(ns.path|join) }
    {% endif %}
    
    {% for item in global|sort %}
        #{ action_respond_info("item = %s" % (item|string) ) }
        
        {% if ns.flag == 0 %}
            {% if ' ' in item %}
                {% set ns.path = ['global', "['%s']" % (item), ''] %}
            {% else %}
                {% set ns.path = ['global.', item, ''] %}   
            {% endif %} 
        

            {% if search in ns.path|lower %}
                {% set ns2.flag = 1%}
                { action_respond_info(ns.path|join) }
            {% endif %}
    
        
            {% set ns2.loop_flag = 0 %}
        
            {% 
                if (global[item] is not boolean)  
               and (global[item] is not float) 
               and (global[item] is not integer)  
               and (global[item] is not none)     
               and (global[item] is not undefined)
               and (global[item] is not callable) 
            %}
               {% set ns2.loop_flag = 1 %}
            {% endif %}
        
        
            {% if ns2.loop_flag %}
                {% if global[item].items()|sort %}
                    {% for childkey, child in global[item].items() recursive %}
                        {% set ns.path = ns.path[:loop.depth|int + 1] %}

                        {% if ' ' in childkey %}
                            {% set null = ns.path.append("['%s']" % (childkey)) %}
                        {% else %}
                            {% set null = ns.path.append(".%s" % (childkey)) %}
                        {% endif %} 
                  
                        {% if child is mapping  %}
                            { loop(child.items()|sort) }
                        {% else %}
                            {% if search in ns.path|lower %}
                                {% set ns2.flag = 1%}
                                { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                            {% endif %}
                        {% endif %} 
                    {% endfor %}
                {% endif %} 
            {% else %}
                {% if search in ns.path|lower %}
                    {% set ns2.flag = 1%}
                    { action_respond_info("%s : %s" % (ns.path|join, (global[item])|string)) }   
                {% endif %}
            {% endif %}
            
        {% else %} ## ns.flag == 1 =====================================
        
            #{% if item == search_more[(ns.length-ns.length)] %}
            {% if item ==  ns.search[(ns.length-ns.length)] %}
            
                {% if ' ' in item %}
                    {% set ns.path = ['global', "['%s']" % (item), ''] %}
                {% else %}
                    {% set ns.path = ['global.', item, ''] %}   
                {% endif %} 
        
                {% if search in ns.path|lower %}
                    {% set ns2.flag = 1%}
                    { action_respond_info(ns.path|join) }
                {% endif %}            
    
        
                {% set ns2.loop_flag = 0 %}
        
                {% 
                    if (global[item] is not boolean)  
                   and (global[item] is not float) 
                   and (global[item] is not integer)  
                   and (global[item] is not none)     
                   and (global[item] is not undefined)
                   and (global[item] is not callable) 
                %}
                   {% set ns2.loop_flag = 1 %}
                {% endif %}
        
        
                {% if ns2.loop_flag %}
                    {% if global[item].items()|sort %}
                        {% for childkey, child in global[item].items() recursive %}
                            {% set ns.path = ns.path[:loop.depth|int + 1] %}

                            {% if ' ' in childkey %}
                                 {% set null = ns.path.append("['%s']" % (childkey)) %}
                            {% else %}
                                {% set null = ns.path.append(".%s" % (childkey)) %}
                            {% endif %} 
                  
                            {% if child is mapping  %}
                                { loop(child.items()|sort) }
                            {% else %}
                                {% if search in ns.path|lower %}
                                    {% set ns2.flag = 1%}
                                    { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                                {% endif %}
                            {% endif %} 
                        {% endfor %}
                    {% endif %} 
                {% else %}
                    {% if search in ns.path|lower %}
                        {% set ns2.flag = 1%}
                        { action_respond_info("%s : %s" % (ns.path|join, (global[item])|string)) }   
                    {% endif %}
                {% endif %}
            {% else %}
               #do nothing
            {% endif %}
        {% endif %} 
    {% endfor %}   
    
    {% if print_printer_parameters %}    
        {% set ns.path = ["End of INFO__GLOBAL_VARS +++++++++++++++++>", ''] %}
        { action_respond_info(ns.path|join) }
    {% endif %}
    
    {% if ns2.flag == 0 and not print_printer_parameters %}
         {action_respond_info("Nothing found for \"INFO__GLOBAL_VARS %s\"" % rawparams)} 
    {% endif %}    
    
    _general_Debug msg="INFO__GLOBAL_VARS - exiting"
