#.................................................................................................................
# _CHECK_CONSITENT - No additional options/ Usage: NONE
#
#    This macro runs upon klipper startup / restart
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_run
#
# [gcode_macro _GLOBAL_VARS]
#  variable_run
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
# _GLOBAL_VARS
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/printer.cfg#L147
##
#.................................................................................................................

[gcode_macro _CHECK_CONSITENT]
description: Helper: Check that some criteria are meet in the printer.cfg
gcode:
  _general_Debug msg="_CHECK_CONSITENT - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
  {% set text = ["CONFIG: ERROR"] %}
  {% if user.run is not defined %}
    {% set _dummy = text.append("_USER_VARIABLE macro missing") %}
  {% elif not user.run %}
    {% set _dummy = text.append("_USER_VARIABLE macro not executed") %}
  {% endif %}
  {% if global.run is not defined %}
    {% set _dummy = text.append("_GLOBAL_VARS macro missing") %}
  {% elif not global.run %}
    {% set _dummy = text.append("_GLOBAL_VARS macro not executed") %}
  {% endif %}
  {% if 'save_variables' not in printer %}
    {% set _dummy = text.append("[save_variables] missing") %}
  {% endif %}
  {% if 'virtual_sdcard' not in printer %}
    {% set _dummy = text.append("[virtual_sdcard] missing") %}
  {% endif %}
  {% if text|length > 1 %}
    {action_respond_info(text|join("\n"))}
  {% endif %}
  
    # {action_respond_info("user.status_presets.items() = ")}
    # {% for key, value in user.status_presets.items() %}
        # {action_respond_info("%s = %s;" % (key|string, value|string))}
    # {% endfor %}
  
    # {action_respond_info("user.park.mid.x = ")}
    # {action_respond_info("%s;" % (user.park.mid.x|string) ) }
    # {action_respond_info("user.park.mid.y = ")}
    # {action_respond_info("%s;" % (user.park.mid.y|string) ) }
  
    # {action_respond_info("global.sb_vars.items() = ")}
    # {% for key, value in global.sb_vars.items() %}
        # {action_respond_info("%s = %s;" % (key|string, value|string))}
    # {% endfor %}
    
    # {action_respond_info("global.sb_vars.current_state.fan_leds = ")}
    # {action_respond_info("%s;" % (global.sb_vars.current_state.fan_leds|string) ) }
    
    # {action_respond_info("global.sb_vars.colors.off = ")}
    # {action_respond_info("%s;" % (global.sb_vars.colors.off|string) ) }
  
  _general_Debug msg="_CHECK_CONSITENT - exiting"