#.................................................................................................................
# delayed_park_dict - No additional options / Usage: NONE
#
#   Parks nozzle at x y z using a feedrate of f ater 10 seconds that Klipper reaches the ready state
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# LIGHTS_OFF
# PROGRESS_BAR_LEDS_OFF
# _CASELIGHT_OFF
# STATUS_OFF
# _WAIT_Start
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/park_macro.cfg#L1
#                 https://github.com/droans/klipper_extras/tree/v0.2/extended_macro     
#.................................................................................................................

[delayed_j2filter delayed_park_dict]
## in this example I am not using a custom jinj2 filter but I wanted to prove that the code works on a timer also
## you could just use [delayed_gcode delayed_park_dict] in this case since a custom python fuction call is not being used or
## a custom jinja2 filter call is not being used
gcode:
    _general_Debug msg="delayed_park_dict - entering"
   # turn off all the lights
   LIGHTS_OFF                                          ;turn off WLED lights - lights controlled by WLED servers (ESP32 chips)
   PROGRESS_BAR_LEDS_OFF                               ;turn off progress bar lights - lights controlled by Octopus Pro board's RGB port
   _CASELIGHT_OFF                                      ;turn off 24V White lights - lights controlled by Octopus Pro board's HE1 port
   STATUS_OFF                                          ;turn off Stealthburner LEDs - lights controlled by EBB36 board
   # The WAIT_Delayed macro is called by _WAIT_Start macro
   _WAIT_Start MINUTES=5.7 BOOT=1                      ;wait 5.7 minutes for TinyFan MCU to start sending data  
   _general_Debug msg="delayed_park_dict - exiting"
 