#.................................................................................................................
# EXTENDED_PARK_DICT - optional parameters: DICT{'string_in_pyhon_dict_format'} LIT{'string_in_pyhon_dict_format'}
#
#   / Usage:
#
#   EXTENDED_PARK_DICT DICT='{"x": 150.0, "y": 20.0, "z": 50.0, "f": 4000.0}'  ---> this is typed in at the Mainsail UI console window
#   EXTENDED_PARK_DICT DICT='{"x": 250.0, "y": 50.0, "z": 70.0, "f": 4000.0}'  
#   EXTENDED_PARK_DICT DICT="{'x': 150.0, 'y': 20.0, 'z': 50.0, 'f': 4000.0}"  
#   EXTENDED_PARK_DICT DICT='{"x": 250, "y": 50, "z": 70, "f": 4000}'  
#   EXTENDED_PARK_DICT DICT="{'x': 150, 'y': 20, 'z': 50, 'f': 4000}"        
#   EXTENDED_PARK_DICT LIT='{"x": 150.0, "y": 20.0, "z": 50.0, "f": 4000.0}'  ---> this is a string passed to the rountine 
#   EXTENDED_PARK_DICT LIT='{"x": 250.0, "y": 50.0, "z": 70.0, "f": 4000.0}'  
#   EXTENDED_PARK_DICT LIT="{'x': 150.0, 'y': 20.0, 'z': 50.0, 'f': 4000.0}"  
#   EXTENDED_PARK_DICT LIT='{"x": 250, "y": 50, "z": 70, "f": 4000}'  
#   EXTENDED_PARK_DICT LIT="{'x': 150, 'y': 20, 'z': 50, 'f': 4000}"                                              
#
#   Parks nozzle at x y z using a feedrate of f
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _CG28
# G0
# str_to_dict a call to the python function string_to_dict()
# QUAD_GANTRY_LEVEL
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/park_macro.cfg#L1
#                 https://github.com/droans/klipper_extras/tree/v0.2/extended_macro
##      
#.................................................................................................................
#EXTENDED
[extended_macro EXTENDED_PARK_DICT]
description: Helper: Park head depending on variable DICT parameter which is a python dictionary variable 
gcode:
   _general_Debug msg="EXTENDED_PARK_DICT - entering"
   {% set user = printer['gcode_macro _USER_VARIABLE'] %}
   {% if params.DICT %}
       {% set position = params.DICT %}
       {% if user.respond.perform_G28_and_qgl_at_boot %}
           _CG28                 ; home if not already homed
           # determin if a QGL needs to be perfomed
           {% if printer.quad_gantry_level.applied in ['false', '0', 'False', false, 0, False] %} QUAD_GANTRY_LEVEL PARK=false HOME=false {% endif %}  
           G90                   ; absolute positioning
           # the next line shows how to user your python code as a Klipper custom function
           G0 X{(fc_str_to_dict(position)).x} Y{(fc_str_to_dict(position)).y} Z{(fc_str_to_dict(position)).z} F{(fc_str_to_dict(position)).f}
           {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
       {% endif %} 
   {% elif params.LIT %}
        {% set position = params.LIT %}
        {% set position = position|fr_str_to_dict %}        ## used as a custom JINJA2 Filter
        {% if user.respond.perform_G28_and_qgl_at_boot %}
           _CG28                 ; home if not already homed
           # determin if a QGL needs to be perfomed
           {% if printer.quad_gantry_level.applied in ['false', '0', 'False', false, 0, False] %} QUAD_GANTRY_LEVEL PARK=false HOME=false {% endif %}
           G90                   ; absolute positioning
           G0 X{position.x} Y{position.y} Z{position.z} F{position.f}
           {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
        {% endif %}
   {% endif %}
   _general_Debug msg="EXTENDED_PARK_DICT - exiting"
 