#.................................................................................................................
# PARK_UpperRight - No Optional parameters / Usage: PARK_UpperRight
#   Parks nozzle at top (at least 75% or Z max or Z + 10) front-right but allow room for hotend fan to pull air
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
#[gcode_macro globalvariables]
#variable_ParkHeightPercentage: 0.50    # The percentage of Z height to park the nozzle, expressed as 0.2 to 1.0
                                        # If the printed object is taller then the expressed Z-axis percent height,
                                        # the toolhead will then park 10mm above the object.  
#gcode:
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
#.................................................................................................................

[gcode_macro PARK_UpperRight]
description: Parks the toolhead in the upper-right position
gcode:
    _general_Debug msg="PARK_UpperRight - entering"
    {% set Z_MAX = printer.configfile.config["stepper_z"]["position_max"]|float -1 %}  
    {% set X_MAX = printer.configfile.config["stepper_x"]["position_max"]|float -1 %}
    {% set Z_POS = printer.toolhead.position.z + 10 %}
    {% set defaultParkHeight = printer["gcode_macro globalvariables"].parkheightpercentage|float %}
    {% set ParkHeight = params.PARK_HEIGHT_PERCENT|default(defaultParkHeight)|float %}
    {% if ParkHeight < 0.2  %}
        {% set ParkHeight = 0.2 %}
    {% endif %}
    _general_entry_point function=PARK_UpperRight
    #SAVE_GCODE_STATE NAME=PARKCORNER_state
    _CG28
    G0 X{X_MAX} Y20 Z{ [(Z_MAX*ParkHeight), [Z_POS, Z_MAX]|min]|max } F4000
    _general_exit_point function=PARK_UpperRight
    #RESTORE_GCODE_STATE NAME=PARKCORNER_state
    _general_Debug msg="PARK_UpperRight - exiting"
