#.................................................................................................................
# PARK_DICT - No additional options / Usage: PARK_DICT                                                           
#
#   Parks nozzle at {'x': 150, 'y': 20, 'z': 50, 'f': 4000}
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _CG28
# G0
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/park_macro.cfg#L1
##      
#.................................................................................................................

# You can specify the park_pos variable manually if you do not want 
# to use a _USER_VARIABLE macro, The set statement would look like:
# {% set park_pos = {'x': val, 'y': val, 'z': val 'f': feed_rate_mm_min} %}
# e.g.
# {% set park_pos = {'x': 175.0, 'y': 25.0, 'z': 30.0 } %}

[gcode_macro PARK_DICT]
description: Helper: Park head depending on variable park_pos that is local to macro
gcode:
   _general_Debug msg="PARK_DICT - entering"
  {% set park_pos = {'x': 150.0, 'y': 20.0, 'z': 50.0, 'f': 4000} %}
  _CG28                 ; home if not already homed
  G90                   ; absolute positioning
  G0 X{park_pos.x} Y{park_pos.y} Z{park_pos.z} F{park_pos.f}
  {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
   _general_Debug msg="PARK_DICT - exiting"
 