#.................................................................................................................
# PARK_Center - Optional parameters: Z / Usage: PARK_Center, PARK_Center Z=50
#   Parks nozzle at the center of bed to the specified Z height, if not Z is provided Z=40 will be used.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _general_entry_point
# _general_exit_point
# _CG28
#.................................................................................................................
[gcode_macro PARK_Center]
description: Parks the toolhead in the center position
gcode:
    _general_Debug msg="PARK_Center - entering"
    {% set Z = params.Z|default(40)|float %}
    _general_entry_point function=PARK_Center
    #SAVE_GCODE_STATE NAME=PARK_Center_state
    {% set X_MID = printer.configfile.config["stepper_x"]["position_max"]|float / 2.0 %}
    {% set Y_MID = printer.configfile.config["stepper_y"]["position_max"]|float / 2.0 %}
    _CG28
    G0 X{X_MID} Y{Y_MID} Z{Z} F4000
    _general_exit_point function=PARK_Center
    #RESTORE_GCODE_STATE NAME=PARK_Center_state
    _general_Debug msg="PARK_Center - exiting"
 