#.................................................................................................................
# PARK_UpperRight - required parameters: PARK_HEIGHT_PERCENT{%} / Usage: PARK_UpperRight; PARK_UpperRight PARK_HEIGHT_PERCENT=0.5
#
#   Parks nozzle at top (at least 75% or Z max or Z + 10) front-right but allow room for hotend fan to pull air
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_park
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _general_entry_point
# _CG28
# _general_exit_point
# _USER_VARIABLE
#
#.................................................................................................................

[gcode_macro PARK_UpperRight]
description: Helper: Parks the toolhead in the upper-right position
gcode:
    _general_Debug msg="PARK_UpperRight - entering"
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set Z_MAX = printer.configfile.config.stepper_z.position_max|float -1 %}  
    {% set X_MAX = printer.configfile.config.stepper_x.position_max|float -1 %}
    {% set Z_POS = printer.toolhead.position.z + 10 %}
    {% set defaultParkHeight = user.park.ParkHeightPercentage|float %}
    {% set ParkHeight = params.PARK_HEIGHT_PERCENT|default(defaultParkHeight)|float %}
    {% if ParkHeight < 0.2  %}
        {% set ParkHeight = 0.2 %}
    {% endif %}
    _general_entry_point function=PARK_UpperRight
    _CG28
    G0 X{X_MAX} Y20 Z{ [(Z_MAX*ParkHeight), [Z_POS, Z_MAX]|min]|max } F4000
    _general_exit_point function=PARK_UpperRight
    _general_Debug msg="PARK_UpperRight - exiting"
