#.................................................................................................................
# PARK - Optional parameters: P{'bed','center','front','frontlow','rear'} 
#
#  / Usage: 
#    PARK, 
#    PARK P='bed'
#    PARK P='center'
#    PARK P='front'
#    PARK P='frontlow'
#    PARK P='rear'
#
#   Parks nozzle in the bed area as defined by _USER_VARIABLE global variable park['bed'].x, park['bed'].y and park['bed'].z
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_park.bed.x
# variable_park.bed.y
# variable_park.bed.z
# variable_park.center.x
# variable_park.center.y
# variable_park.center.z
# variable_park.front.x
# variable_park.front.y
# variable_park.front.z
# variable_park.frontlow.x
# variable_park.frontlow.y
# variable_park.frontlow.z
# variable_park.rear.x
# variable_park.rear.y
# variable_park.rear.z
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# _CG28
# _USER_VARIABLE
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/park_macro.cfg#L1
##      
#.................................................................................................................

# You can specify the park_pos variable manually if you do not want 
# to use a _USER_VARIABLE macro, The set statement would look like:
# {% set park_pos = {'x': val, 'y': val, 'z': val} %}
# e.g.
# {% set park_pos = {'x': 175.0, 'y': 25.0, 'z': 30.0 } %}

[gcode_macro PARK]
description: Helper: Park head depending on parameter P
gcode:
   _general_Debug msg="PARK - entering"
  {% if params.P and params.P|lower is not in ['bed','center','front','frontlow','rear'] %}
      {action_respond_info("\"PARK P=%s\" not valid use P=[BED,CENTER,FRONT,FRONTLOW,REAR]
                          Default position BED will be used" % params.P|upper)}
  {% else %}
      {% set user = printer['gcode_macro _USER_VARIABLE'] %}
      {% set pos = params.P|default('bed')|lower %}
      _CG28                 ; home if not already homed
      G90                   ; absolute positioning
      G0 X{user.park[pos].x} Y{user.park[pos].y} Z{user.park[pos].z} F{user.speed.travel}
      {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set back to relative
  {% endif %}
   _general_Debug msg="PARK - exiting"
 