#.................................................................................................................
# TEST_CALL_EXTENDED_PARK_DICT - No additional options / Usage: TEST_CALL_EXTENDED_PARK_DICT
#
#   Parks the nozzle
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
# PARK_DICT
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/park_macro.cfg#L1
#                 https://github.com/droans/klipper_extras/tree/v0.2/extended_macro     
#      
#.................................................................................................................

[gcode_macro TEST_CALL_EXTENDED_PARK_DICT]
description: Helper: Park head depending on variable DICT parameter which is a python dictionary variable 
gcode:
   _general_Debug msg="TEST_CALL_EXTENDED_PARK_DICT - entering"
    {% set dict_string = '{"x": 150.0, "y": 20.0, "z": 50.0, "f": 4000.0}' %}
    EXTENDED_PARK_DICT DICT='{dict_string}'

    EXTENDED_PARK_DICT DICT='{{"x": 250, "y": 50, "z": 70, "f": 4000.0}}'
    
    {% set dict_string = "{'x': 150.0, 'y': 20.0, 'z': 50.0, 'f': 4000.0}" %}
    EXTENDED_PARK_DICT DICT="{dict_string}"

    EXTENDED_PARK_DICT DICT="{{'x': 250, 'y': 50, 'z': 70, 'f': 4000.0}}"
    
#==================

    {% set dict_string = '{"x": 150.0, "y": 20.0, "z": 50.0, "f": 4000.0}' %}
    EXTENDED_PARK_DICT LIT='{dict_string}'

    EXTENDED_PARK_DICT LIT='{{"x": 250, "y": 50, "z": 70, "f": 4000.0}}'   
    
    {% set dict_string = "{'x': 150.0, 'y': 20.0, 'z': 50.0, 'f': 4000.0}" %}
    EXTENDED_PARK_DICT LIT="{dict_string}"

    EXTENDED_PARK_DICT LIT="{{'x': 250, 'y': 50, 'z': 70, 'f': 4000.0}}"    
   _general_Debug msg="TEST_CALL_EXTENDED_PARK_DICT - exiting"
 