#.................................................................................................................
#PRESSURE_ADVANCE_ADD - required parameters: FILAMENT{'filament_name'}; 
#                       optional additional parameters: NOZZLE{nozzle_size_float}
#                       optional additional parameters: PRESSURE_ADVANCE{float_value}
#                       optional additional parameters: SMOOTH_TIME{float_value}
#
#   / Usage: 
#           PRESSURE_ADVANCE_ADD FILAMENT=ABS
#           PRESSURE_ADVANCE_ADD FILAMENT=ABS NOZZLE=0.8
#           PRESSURE_ADVANCE_ADD FILAMENT=ABS NOZZLE=0.8 PRESSURE_ADVANCE=1.0
#           PRESSURE_ADVANCE_ADD FILAMENT=ABS NOZZLE=0.8 PRESSURE_ADVANCE=1.0 SMOOTH_TIME=0.040
#              
#   Add or change pressure advance settings
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# the file: /home/pi/klipper_config/.variables.stb via the [save_variables] function
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/pressure_advance.cfg#L65
#      
#.................................................................................................................

#####################################################################
#  Preperation 
#####################################################################
# copy this file in the same directory as your printer.cfg
# add 
#    [include pressure_advance.cfg]
# to your printer.cfg
#
# A [save_variables] block is needed since a printer save variable needs to be used to have it available after power up.
# You can skip this if you already have an [save_variables] config block
# e.g: 
#    [save_variables]
#    filename: /home/pi/klipper_config/.variables.stb
# I like to hide that file as there is nothing in that should be modified by the user.
# Do a klipper restart after adding the stuff above
#
# After klipper is back you need define your first filament id e.g.
#   PRESSURE_ADVANCE_ADD FILAMENT=ABS
#
#####################################################################
#  Macro for the print start or filament gcode section of your slicer 
#####################################################################
# PRESSURE_ADVANCE_SELECT [FILAMENT=<id>] [NOZZLE=<value>] : Set pressure advanve and smooth 
# time for the different filaments and nozzles combinations. If no combo is found 
# the cfg values are used.
# 
# For SuperSlicer/PrusaSlicer this could look like
#    PRESSURE_ADVANCE_SELECT NOZZLE=[nozzle_diameter] FILAMENT=[filament_settings_id]
#
#####################################################################
#  Console ussage
#####################################################################
# PRESSURE_ADVANCE_LIST: List all pressure advanve and smooth 
# time for the different filaments and nozzles
# 
# PRESSURE_ADVANCE_ADD FILAMENT=<id> [NOZZLE=<value>] [PRESSURE_ADVANCE=<value>] [SMOOTH_TIME=<value>]:
# Add new filaments, or nozzle to an existing filament or change pa settings for
# for an existing filament nozzle combination.
# Nozzle is defaulted to 0.4 and preasure advance/smoth time to the cfg values if not defined at the call
# !!! Caution do not use special characters like äüö or anything else in the name !!!
#
# PRESSURE_ADVANCE_REMOVE FILAMENT=<id> [NOZZLE=<value>]: Remove a definition
# If FILAMENT/NOZZLE is defined then only the coresponding nozzle setup will removed otherwise the complete
# filament.
#
#####################################################################

[gcode_macro PRESSURE_ADVANCE_ADD]
description: Helper: Add or change pressure advance settings
gcode:
  _general_Debug msg="PRESSURE_ADVANCE_ADD - entering"
  {% if 'FILAMENT' not in params|upper %}
    {action_respond_info("PRESSURE ADVANCE: FILAMENT must be defined use \"PRESSURE_ADVANCE_ADD FILAMENT=id\" as a minimum")}
  {% else %}
    {% set cfg = printer.configfile.settings.extruder %}
    {% set id = params.FILAMENT|string %}
    {% set nozzle = params.NOZZLE|default(0.40)|float|round(2) %}
    {% if not printer.save_variables.variables.pressure_advance %} # add first entry
      {action_respond_info("PRESSURE ADVANCE: Initialize with Filament %s" % (id))}
      {% set pa_dic = [{'id' : id, 
                        'val': [{'nozzle': nozzle, 
                        'pa'    : params.PRESSURE_ADVANCE|default(cfg.pressure_advance)|float|round(3), 
                        'st'    : params.SMOOTH_TIME|default(cfg.pressure_advance_smooth_time)|float|round(3)}]}] %}
    {% else %}
      {% set pa_dic = printer.save_variables.variables.pressure_advance %}
      {% for filament in pa_dic %}
        {% if id == filament.id %}
          {% set id_index = loop.index0 %}
          {% for setup in filament.val %}
            {% if nozzle == setup.nozzle %} # change value of an existing nozzle st an existing filament
              {% set change_txt = [] %}
              {% if 'PRESSURE_ADVANCE' in params|upper %}
                {% set _dummy = change_txt.append("PRESSURE ADVANCE") %}
                {% set _dummy = pa_dic[id_index].val[loop.index0].update({'pa': params.PRESSURE_ADVANCE|float|round(3)}) %}
              {% endif %}
              {% if 'SMOOTH_TIME' in params|upper %}
                {% set _dummy = change_txt.append("SMOOTH TIME") %}
                {% set _dummy = pa_dic[id_index].val[loop.index0].update({'st': params.SMOOTH_TIME|float|round(3)}) %}
              {% endif %}
              {% if change_txt|length > 0 %}
                {action_respond_info("PRESSURE ADVANCE: Changed %s at Filament %s Nozzle %s" % (change_txt|join(" and "),id,nozzle))}
              {% else %}
                {action_respond_info("PRESSURE ADVANCE: Nothing changed at Filament %s Nozzle %s" % (id,nozzle))}
              {% endif %}
            {% elif loop.last %} # add a new nozzle to an existing filament
              {action_respond_info("PRESSURE ADVANCE: Add setup for Nozzle %s at Filament %s" % (nozzle,id))}
              {% set _dummy = pa_dic[id_index].val.append({'nozzle': nozzle, 
                                                           'pa'    : params.PRESSURE_ADVANCE|default(cfg.pressure_advance)|float|round(3), 
                                                           'st'    : params.SMOOTH_TIME|default(cfg.pressure_advance_smooth_time)|float|round(3)}) %}
            {% endif%}
          {% endfor %}
        {% elif loop.last %} # add a new filament
          {action_respond_info("PRESSURE ADVANCE: Add setup for Filament %s" % (id))}
          {% set _dummy = pa_dic.append({'id' : id, 
                                         'val': [{'nozzle': nozzle, 
                                         'pa'    : params.PRESSURE_ADVANCE|default(cfg.pressure_advance)|float|round(3), 
                                         'st'    : params.SMOOTH_TIME|default(cfg.pressure_advance_smooth_time)|float|round(3)}]}) %}
        {% endif %}
      {% endfor %}
    {% endif %}
    SAVE_VARIABLE VARIABLE=pressure_advance VALUE="{pa_dic}"
  {% endif %}
  _general_Debug msg="PRESSURE_ADVANCE_ADD - exiting"
