#.................................................................................................................
#PRESSURE_ADVANCE_REMOVE - required parameters: FILAMENT{'filament_name'}; optional additional parameters: NOZZLE{nozzle_size_float}
#
#   / Usage: 
#           PRESSURE_ADVANCE_REMOVE FILAMENT=ABS
#           PRESSURE_ADVANCE_REMOVE FILAMENT=ABS NOZZLE=0.8
#              
#   Remove a filament or a nezzle setup
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# the file: /home/pi/klipper_config/.variables.stb via the [save_variables] function
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/pressure_advance.cfg#L120
#      
#.................................................................................................................

#####################################################################
#  Preperation 
#####################################################################
# copy this file in the same directory as your printer.cfg
# add 
#    [include pressure_advance.cfg]
# to your printer.cfg
#
# A [save_variables] block is needed since a printer save variable needs to be used to have it available after power up.
# You can skip this if you already have an [save_variables] config block
# e.g: 
#    [save_variables]
#    filename: /home/pi/klipper_config/.variables.stb
# I like to hide that file as there is nothing in that should be modified by the user.
# Do a klipper restart after adding the stuff above
#
# After klipper is back you need define your first filament id e.g.
#   PRESSURE_ADVANCE_ADD FILAMENT=ABS
#
#####################################################################
#  Macro for the print start or filament gcode section of your slicer 
#####################################################################
# PRESSURE_ADVANCE_SELECT [FILAMENT=<id>] [NOZZLE=<value>] : Set pressure advanve and smooth 
# time for the different filaments and nozzles combinations. If no combo is found 
# the cfg values are used.
# 
# For SuperSlicer/PrusaSlicer this could look like
#    PRESSURE_ADVANCE_SELECT NOZZLE=[nozzle_diameter] FILAMENT=[filament_settings_id]
#
#####################################################################
#  Console ussage
#####################################################################
# PRESSURE_ADVANCE_LIST: List all pressure advanve and smooth 
# time for the different filaments and nozzles
# 
# PRESSURE_ADVANCE_ADD FILAMENT=<id> [NOZZLE=<value>] [PRESSURE_ADVANCE=<value>] [SMOOTH_TIME=<value>]:
# Add new filaments, or nozzle to an existing filament or change pa settings for
# for an existing filament nozzle combination.
# Nozzle is defaulted to 0.4 and preasure advance/smoth time to the cfg values if not defined at the call
# !!! Caution do not use special characters like äüö or anything else in the name !!!
#
# PRESSURE_ADVANCE_REMOVE FILAMENT=<id> [NOZZLE=<value>]: Remove a definition
# If FILAMENT/NOZZLE is defined then only the coresponding nozzle setup will removed otherwise the complete
# filament.
#
#####################################################################

[gcode_macro PRESSURE_ADVANCE_REMOVE]
description: Helper: Remove a filament or a nezzle setup
gcode:
  _general_Debug msg="PRESSURE_ADVANCE_REMOVE - entering"
  {% if 'FILAMENT' not in params|upper %}
    {action_respond_info("PRESSURE ADVANCE: FILAMENT must be defined use \"PRESSURE_ADVANCE_REMOVE FILAMENT=id\" as a minimum")}
  {% else %}
    {% if not printer.save_variables.variables.pressure_advance %} # nothing setup'ed yet
      {action_respond_info("PRESSURE ADVANCE: Nothing to remove, no save_variable defined yet")}
    {% else %}
      {% set id = params.FILAMENT|string %}
      {% set pa_dic = printer.save_variables.variables.pressure_advance %}
      {% for filament in pa_dic %}
        {% if id == filament.id %}
          {% if 'NOZZLE' in params|upper %}
            {% set nozzle = params.NOZZLE|float|round(2) %}
            {% set id_index = loop.index0 %}
            {% for setup in filament.val %}
              {% if nozzle == setup.nozzle %} # remove nozzle
                {action_respond_info("PRESSURE ADVANCE: Remove Nozzle %s at Filament %s" % (nozzle,id))}
                {% set _dummy = pa_dic[id_index].val.pop(loop.index0) %}
              {% elif loop.last %} # nozzle not found
                {action_respond_info("PRESSURE ADVANCE: Nothing to remove, Nozzle %s at Filament %s not defined" % (nozzle,id))}
              {% endif%}
            {% endfor %}
          {% else %} # remove filament
            {action_respond_info("PRESSURE ADVANCE: Remove Filament %s" % id)}
            {% set _dummy = pa_dic.pop(loop.index0) %}
          {% endif %}
        {% elif loop.last %} # filament not found
          {action_respond_info("PRESSURE ADVANCE: Nothing to remove, Filament %s not defined" % id)}
        {% endif %}
      {% endfor %}
    {% endif %}
    SAVE_VARIABLE VARIABLE=pressure_advance VALUE="{pa_dic}"
  {% endif %}
  _general_Debug msg="PRESSURE_ADVANCE_REMOVE - exiting"
