#.................................................................................................................
# _WAIT_Start - required parameters: MINUTES / Usage: _WAIT_Start MINUTES=25
#   Total wait minutes is (MINUTES * 60) / duration
#   This is a non blocking wait to be used before printing starts (for example for use in heat soak)
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _WAIT_Variable]
# variable_duration
#.................................................................................................................
# Required external macro(s) used by this macro.
#
#  _general_Debug
#  WAIT_Delayed
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-WAITING_PREPRINT_NONBLOCKING.cfg
#      
#.................................................................................................................
[gcode_macro _WAIT_Start]
gcode:
     _general_Debug msg="_WAIT_Start - entering"
    {% set MINUTES = params.MINUTES|default(15)|int %}
    {% set duration = printer["gcode_macro _WAIT_Variable"].duration|int %}
    {% set count = (MINUTES * 60) / duration %}
    SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=waiting VALUE=True
    SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=count VALUE={count}
    UPDATE_DELAYED_GCODE ID=WAIT_Delayed DURATION={duration}
    PAUSE_BASE
    _general_Debug msg="_WAIT_Start - exiting"
     
