#.................................................................................................................
# PRERUN - No Optional parameters / Usage: None
#
#   This macro runs upon klipper startup / restart 1 second after Klipper enters the READY state.
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_speed.NPLimitAccel
# variable_speed.NPLimitDecel
#
# [gcode_macro _GLOBAL_VARS]
# variable_current_led_state
# variable_current_led_state.bar_leds
# variable_current_led_state.nozzle_leds
# variable_progressbar_enabled
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# TURN_OFF_HEATERS
# M117
# _CheckProbe
# FILAMENT_ABOUT
# IS_PROBE_ATTACHED_AT_BOOT
# STOP_LED_EFFECTS
# SET_FAN_LEDS_ON
# SET_LOGO_LEDS_ON
# CHECK_PRINTER_STATE
# _USER_VARIABLE
# SET_BAR_LEDS_ON
# SET_NOZZLE_LEDS_ON
# _GLOBAL_VARS
#
#.................................................................................................................

[delayed_gcode prerun]
#initial_duration: 1
gcode:
    _general_Debug msg=" prerun- entering"
    {% set user = printer['gcode_macro _USER_VARIABLE'] %}
    {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
    {% set current_led_state = global.current_led_state %}
    {% set z_offset = printer.configfile.config.probe.z_offset|float %}
    {% set nozzle_diameter = printer.configfile.config.extruder.nozzle_diameter|float %}
    {% set pressure_advance = printer.extruder.pressure_advance|float %}
    {% set pressure_advance_smooth_time = printer.configfile.config.extruder.pressure_advance_smooth_time|float %}
    M117 Printer online.
    #start LED effects on boot
    TURN_OFF_HEATERS
    STOP_LED_EFFECTS
    SET_FAN_LEDS_ON
    SET_LOGO_LEDS_ON
    CHECK_PRINTER_STATE
    {% set progressbar_enabled = global.progressbar_enabled|int %} 
    {% if progressbar_enabled == 0 %}
        {% set _dummy = current_led_state.update({'bar_leds':'set_bar_leds_rainbow'}) %}
        SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=current_led_state VALUE="{current_led_state}"
        SET_BAR_LEDS_ON
    {% endif %}
    {% for s in range(0, 30) %}
        SET_LED LED=sb_leds INDEX=17 RED=1 GREEN=0 BLUE=1
        SET_LED LED=sb_leds INDEX=18 RED=.5 GREEN=.5 BLUE=.5
        G4 P100
        SET_LED LED=sb_leds INDEX=17 RED=.5 GREEN=.5 BLUE=.5
        SET_LED LED=sb_leds INDEX=18 RED=1 GREEN=0 BLUE=1
        G4 P50
    {% endfor %}
    _CheckProbe action=query
    IS_PROBE_ATTACHED_AT_BOOT
    SET_VELOCITY_LIMIT ACCEL={user.speed.NPLimitAccel|float} ACCEL_TO_DECEL={user.speed.NPLimitDecel|float}
    M118 Z-Offset is set at {z_offset}mm.
    M118 Nozzle diameter is set at {nozzle_diameter}mm.
    M118 Pressure Advance is set at {pressure_advance}.
    M118 Pressure advance Smooth Time is set at {pressure_advance_smooth_time}.
    FILAMENT_ABOUT
    {% set _dummy = current_led_state.update({'nozzle_leds':'set_nozzle_leds_white'}) %}
    SET_GCODE_VARIABLE MACRO=_GLOBAL_VARS VARIABLE=current_led_state VALUE="{current_led_state}"
    SET_NOZZLE_LEDS_ON
    _general_Debug msg=" prerun- exiting"
