#.................................................................................................................
# _Probe_Variables - No additional options / Usage: NONE
#
# This macro defines variables for the Klicky Probe Macros
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
## ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
## ---NONE---
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/jlas1/Klicky-Probe/tree/main/Klipper_macros
#      
#.................................................................................................................

[gcode_macro _Probe_Variables]
variable_probe_attached:            False
variable_probe_state:               False
variable_probe_lock:                False
variable_z_endstop_x:               0
variable_z_endstop_y:               0
gcode:
