#
#
# this is a place holder file to remind me that the following macros are located in the ~/klipper_config/FILAMENTS/filament_file.cfg
# the following filament_file.cfg are available:
#      ABS04.cfg
#      PETG04.cfg
#
# each filament_file.cfg contains the following gcode macros:
#[gcode_macro filament_about] -> Reports the loaded filament profile 
#[gcode_macro _FILAMENT_READY] -> Performs filament specific purgeline and readies for print
#
# each filament file also contains parts of sections that pertain to different filaments
#  look for parts of the followning sections:
# [probe] -> z_offset
# [extruder] -> nozzle_diameter, pressure_advance, min_extrude_temp, pid tune parameters
# [firmware_retraction] -> retract_length, retract_speed, unretract_extra_length, unretract_speed
# [heater_bed] -> max_temp, pid tune parameters
#
# part of the global variable definition is also stored in the filament_file.cfg
# [gcode_macro globalvariables]
#