#.................................................................................................................
# _RESTORE_FILAMENT_SENSOR - No additional options / Usage: _RESTORE_FILAMENT_SENSOR 
#
#    Restore the filament sensor on/off state at klipper start
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [filament_motion_sensor runout] - must be defined
#
# the file: /home/pi/klipper_config/.variables.stb via the [save_variables] function
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
#  _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/runout.cfg#L83
#      
#.................................................................................................................

[gcode_macro _RESTORE_FILAMENT_SENSOR]
description: Helper: Restore the filament sensor on/off state at klipper start
gcode:
  _general_Debug msg="_RESTORE_FILAMENT_SENSOR - entering"
  {% if printer.save_variables.variables.filament_sensor is defined %}
    {% for sensor in printer.save_variables.variables.filament_sensor %}
       SET_FILAMENT_SENSOR_BASE SENSOR={sensor} ENABLE={printer.save_variables.variables.filament_sensor[sensor]}
    {% endfor %}
  {% endif %}
  _general_Debug msg="_RESTORE_FILAMENT_SENSOR - exiting"
    