#.................................................................................................................
# _WIPE - No additional options / Usage: _WIPE
#
#  Wipe nozzle at bucket
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_purge.wipe
# variable_speed.wipe      
# variable_purge.wipe.start.x 
# variable_purge.wipe.start.y
# variable_purge.wipe.start.z
# variable_purge.wipe.cnt
# variable_purge.wipe.end.x
# variable_purge.wipe.offset
# variable_purge.wipe.end.x
# variable_purge.wipe.end.y
# variable_purge.wipe.end.z
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
# G0
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/filament.cfg#L118
#      
#.................................................................................................................

[gcode_macro _WIPE]
description: Helper: Wipe nozzle at bucket
gcode: 
   _general_Debug msg="_WIPE - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% set wipe     = user.purge.wipe %}
  G90 ; absolute positioning
  G0 X{wipe.start.x} Y{wipe.start.y} Z{wipe.start.z} F{user.speed.wipe}
  {% for moves in range(0, wipe.cnt) %} ; move head diagonal to brush
    {% for coordinate in [wipe.start.x, wipe.end.x] %}
      G0 X{coordinate} Y{wipe.start.y + wipe.offset * moves}
    {% endfor %}
  {% endfor %}
  G0 X{wipe.end.x} Y{wipe.end.y} Z{wipe.end.z}
   _general_Debug msg="_WIPE - exiting"

