#.................................................................................................................
# _WIPE - No additional options / Usage: _WIPE
#
#  Wipe nozzle at bucket
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
# variable_speed.z_hop
# variable_speed.wipe   
# variable_purge.wipe
# variable_purge.wipe.start.x[] 
# variable_purge.wipe.start.y
# variable_purge.wipe.start.z
# variable_purge.wipe.cnt
# variable_purge.wipe.end.x[]
# variable_purge.wipe.end.y
# variable_purge.wipe.end.z
# variable_purge.wipe.offset
# variable_purge.wipe.travel.z
#
# [gcode_macro _GLOBAL_VARS] 
#  variable_bucket_pos
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
# _USER_VARIABLE
# _GLOBAL_VARS
# G0
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/filament.cfg#L118
#      
#.................................................................................................................

[gcode_macro _WIPE]
description: Helper: Wipe nozzle at bucket
gcode: 
   _general_Debug msg="_WIPE - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% set global = printer['gcode_macro _GLOBAL_VARS'] %}
  
  ### Randomly select left or right bin for purge. 0 = left, 1 = right
  {% set bucket_pos = global.bucket_pos %}
  
  {% set wipe     = user.purge.wipe %}
  
  G90 ; absolute positioning
  ## Position for wipe. Either left or right of brush based off bucket_pos to avoid unnecessary travel.
  G0 Z{wipe.travel.z} F{user.speed.z_hop}
  G0 X{wipe.end.x[bucket_pos]} F{user.speed.wipe}
  G0 Y{wipe.end.y}
  
  ## Move nozzle down into brush.
  G0 Z{wipe.start.z} F{user.speed.z_hop}
  
  # G0 X{wipe.start.x} Y{wipe.start.y} Z{wipe.start.z} F{user.speed.wipe}
  
  ## Perform wipe. Wipe direction based off bucket_pos for cool random scrubby routine.
  {% for moves in range(0, wipe.cnt) %} ; move head diagonal to brush
    # {% for coordinate in [wipe.start.x, wipe.end.x] %}
    {% for coordinate in [wipe.start.x[bucket_pos], wipe.end.x[bucket_pos]] %}
      G0 X{coordinate} Y{wipe.start.y + wipe.offset * moves}   
    {% endfor %}
  {% endfor %}
  G0 X{wipe.end.x[bucket_pos]} Y{wipe.end.y} Z{wipe.end.z}
  # G0 X{wipe.end.x} Y{wipe.end.y} Z{wipe.end.z}
   _general_Debug msg="_WIPE - exiting"

  

