#.................................................................................................................
# ENABLEFILAMENTSENSOR - No additional options / Usage: ENABLEFILAMENTSENSOR
#
# This macro enables the Filament sensor named "runout"
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [filament_motion_sensor runout] - must be defined
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
#  _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/pause_resume_filament.html#pauseresume--filament-sensors
#      
#.................................................................................................................

[gcode_macro ENABLEFILAMENTSENSOR]   
description: Helper: Enables the Filament sensor named "runout"
gcode:
    _general_Debug msg="ENABLEFILAMENTSENSOR - entering"
    SET_FILAMENT_SENSOR SENSOR=runout ENABLE=1              ; enable the filament sensor
    _general_Debug msg="ENABLEFILAMENTSENSOR - exiting"
    