#.................................................................................................................
# FILAMENT_LOAD - Optional parameters: TEMP 
#
#  / Usage: 
#          FILAMENT_LOAD
#          FILAMENT_LOAD TEMP=245
#
#    Load filament and disable rounout while running
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_purge.purge
#  variable_purge.purge.x
#  variable_purge.purge.y
#  variable_purge.purge.z
#  variable_z_hop
#  variable_hw.runout.type
#  variable_speed.z_hop
#  variable_speed.travel
#  variable_hw.display.ena
#  variable_filament.load_distance
#  variable_speed.load
#  variable_filament.load_extrude
#  variable_speed.retract
#  variable_filament.retract.pause
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
# 
# _general_Debug
# _CG28
# G1
# _PRINT_AR
# _WIPE
# _USER_VARIABLE
# _LCD_KNOB
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/filament.cfg#L24
#      
#.................................................................................................................

[gcode_macro FILAMENT_LOAD]
description: Helper: Load filament and disable rounout while running
gcode:
    _general_Debug msg="FILAMENT_LOAD - entering"
  {% set user   = printer['gcode_macro _USER_VARIABLE'] %}
  {% set pos    = user.purge.purge %}
  {% set move_z = [user.z_hop,printer.toolhead.position.z]|max %}                     ; calc movement high
  {% set defaultTN = user.filament.profile.defaultTempNozzle|float %}
  {% set TEMP = params.TEMP|default(defaultTN)|float %}
  {% if printer.idle_timeout.state != "Printing" or printer.pause_resume.is_paused|lower == "true" %}
    {% if user.hw.runout.type == 'motion' %} SET_FILAMENT_SENSOR SENSOR=runout ENABLE=0 {% endif %}
    _CG28                                     ; home if not already homed
    G90                                       ; absolute positioning
    G1 Z{move_z} F{user.speed.z_hop}          ; move head to minimum
    G1 X{pos.x} Y{pos.y} F{user.speed.travel} ; move to purge bucket location 
    {% if user.hw.display.ena %} _LCD_KNOB COLOR=BLUE {% endif %}
    {% if not printer.extruder.can_extrude %}
      {action_respond_info("Extruder Temp to low, heating to %3.1fC" % printer.configfile.settings.extruder.min_extrude_temp)}
      M109 S{printer.configfile.settings.extruder.min_extrude_temp}
    {% endif %}
    {% if user.hw.display.ena %} _LCD_KNOB {% endif %}
    G1 Z{pos.z} F{user.speed.z_hop} 
    M83                                                   ; set extruder to relative
    G1 E{user.filament.load_distance} F{user.speed.load}  ; quickly load filament
    {% if user.hw.runout.type == 'motion' %}
      _PRINT_AR T="RUNOUT Motion Sensor Enable: True"
      SET_FILAMENT_SENSOR SENSOR=runout ENABLE=1
    {% endif %}
    G1 E{user.filament.load_extrude} F{user.speed.retract} ; slower load filament
    G1 E-{user.filament.retract.pause}
    _WIPE ; clean nozzle
    G1 Z{move_z} F{user.speed.z_hop}        
    G1 X{pos.x} Y{pos.y} F{user.speed.travel}              ; move to purge bucket location
    M109 S{TEMP}                                           ; restore old extruder temperature
    _PRINT_AR T="Filament loaded"
    SAVE_VARIABLE VARIABLE=filament_loaded VALUE=True
    {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %} ; set it back to relativ
    {% if printer.gcode_move.absolute_extrude %}         M82 {% endif %} ; set it back to absolute
  {% else %}
    _PRINT_AR T="Filament loading disabled while printing!"
  {% endif %}
    _general_Debug msg="FILAMENT_LOAD - exiting"
