#.................................................................................................................
# FILAMENT_UNLOAD - Optional parameters: TEMP / Usage: FILAMENT_UNLOAD
#
#  Unload filament and disable rounout while running
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _USER_VARIABLE]
#  variable_hw.runout.type
#  variable_hw.display.ena
#  variable_filament.unload_distance
#  variable_speed.load
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
# 
# _general_Debug
# _USER_VARIABLE
# _PRINT_AR
# SET_FILAMENT_SENSOR
# _FILAMENT_BALL
# _LCD_KNOB
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/filament.cfg#L63
#      
#.................................................................................................................

#.................................................................................................................
[gcode_macro FILAMENT_UNLOAD]
description: Helper: Unload filament and disable rounout while running
gcode:
   _general_Debug msg="FILAMENT_UNLOAD - entering"
  {% set user = printer['gcode_macro _USER_VARIABLE'] %}
  {% if printer.idle_timeout.state != "Printing" or printer.pause_resume.is_paused in ['true', '1', 'True', true, 1, True] %}
    {% if user.hw.runout.type == 'motion' %}
      _PRINT_AR T="RUNOUT Motion Sensor Enable: False"
      SET_FILAMENT_SENSOR SENSOR=runout ENABLE=0
    {% endif %}
    {% if user.hw.display.ena %} _LCD_KNOB COLOR=BLUE {% endif %}
    {% if not printer.extruder.can_extrude %}
      {action_respond_info("Extruder Temp to low heat to %3.1fC" % printer.configfile.settings.extruder.min_extrude_temp)}
      M109 S{printer.configfile.settings.extruder.min_extrude_temp}
    {% endif %}
    {% if user.hw.display.ena %} _LCD_KNOB {% endif %}
    _FILAMENT_BALL WAIT=3 ; ball up the filament tip and retract out past the extruder gears
    G1 E-{user.filament.unload_distance} F{user.speed.load}
    M109 S{printer.extruder.target} ; restore old extruder temperature
    _PRINT_AR T="Filament unloaded"
    SAVE_VARIABLE VARIABLE=filament_loaded VALUE=False
    {% if printer.gcode_move.absolute_extrude %} M82 {% endif %} ; set it back to absolute
  {% else %}
    _PRINT_AR T="Filament unloading disabled while printing!"
  {% endif %}
  _general_Debug msg="FILAMENT_UNLOAD - exiting"

