#.................................................................................................................
# SET_FILAMENT_SENSOR - required parameters: SENSOR{'string'} ENABLE{0,1} 
#
#   / Usage: 
#           SET_FILAMENT_SENSOR SENSOR='string' ENABLE=0
#           SET_FILAMENT_SENSOR SENSOR='string' ENABLE=1
#
#    Sets the filament sensor on/off and save value to file
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [filament_motion_sensor runout] - must be defined
#
# the file: /home/pi/klipper_config/.variables.stb via the [save_variables] function
#
#.................................................................................................................
# Required external macro(s) used by this macro.
#
#  _general_Debug
#
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/zellneralex/klipper_config/blob/master/runout.cfg#L70
#      
#.................................................................................................................

[gcode_macro SET_FILAMENT_SENSOR]
description: Helper: Sets the filament sensor on/off and save value to file
rename_existing: SET_FILAMENT_SENSOR_BASE
gcode:
   _general_Debug msg="SET_FILAMENT_SENSOR - entering"
  {% if printer.save_variables.variables.filament_sensor is not defined %}
    {% set filament_sensor = {params.SENSOR|string: params.ENABLE|int} %}
  {% else %}
    {% set filament_sensor = printer.save_variables.variables.filament_sensor %}
    {% set _dummy = filament_sensor.update({params.SENSOR|string: params.ENABLE|int}) %}
  {% endif %}
  SET_FILAMENT_SENSOR_BASE SENSOR={params.SENSOR} ENABLE={params.ENABLE}
  SAVE_VARIABLE VARIABLE=filament_sensor VALUE="{filament_sensor}"
  _general_Debug msg="SET_FILAMENT_SENSOR - exiting"
    