#.................................................................................................................
# UNLOAD_FILAMENT - Optional parameters: TEMP / Usage: UNLOAD_FILAMENT, UNLOAD_FILAMENT TEMP=245
#   It brings the toolhead to the front, heats up (if not already hot), and retracts 200mm of filament.
#   If no TEMP is specified, [defaultTempNozzle] will be used.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro globalvariables]
# variable_defaultTempNozzle: 245        # The default Nozzle Extruding temperature if none is specified
#
#.................................................................................................................
# Required external macro(s) used by this macro set.
# 
# STATUS_HOMING
# PARK_UpperRight
# STATUS_BUSY
# STATUS_READY
# M117
# M109
# GLOBALVARIABLES
#
#.................................................................................................................

#...................................................................................................
#[delayed_gcode DISABLEFILAMENTSENSOR]
# <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MOVED to MACRO-PRERUN.cfg
#initial_duration: 1
#gcode:
#    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0

#.................................................................................................................
[gcode_macro UNLOAD_FILAMENT]
description: UNloads filament
gcode:
    _general_Debug msg="UNLOAD_FILAMENT- entering"
    {% set X_MID = printer.configfile.config["stepper_x"]["position_max"]|float / 2.0 %}
    {% if printer.idle_timeout.state == "Printing" or printer.pause_resume.is_paused %}
        {% if printer.idle_timeout.state == "Printing" and printer.pause_resume.is_paused %}
            SAVE_GCODE_STATE NAME=HUF_state
            M83                       ; relative positioning on extruder    
            G0 X{X_MID} Y20 F4000     ; move to area where can easily load filament  
            G0 E-50 F1000             ; retract additional filament to move out of melt zone
            G0 E-50 F1000             ; retract additional filament to move out of melt zone
            G0 E-50 F1000             ; retract additional filament to move out of melt zone
            G0 E-50 F1000             ; retract additional filament to move out of melt zone
            G92 E0                    ; reset extruder
            M400                      ; Wait for current moves to finish
            RESTORE_GCODE_STATE NAME=HUF_state
          {% else %}
            {action_respond_info("Pause print first.")}
        {% endif %}
      {% else %}
        {% if printer.toolhead.homed_axes != "xyz" %}
            M117 Performing required homing.
			STATUS_HOMING          ; SB LED status
            G28                    ; home all axes
			STATUS_BUSY            ; SB LED status
        {% endif %}
        {% set defaultTN = printer["gcode_macro globalvariables"].defaulttempnozzle|float %}
        {% set TEMP = params.TEMP|default(defaultTN)|float %}
        M117 Heating nozzle to UNLOAD filamnet.
        G90                       ; absolute positioning
        G0 X{X_MID} Y20 F4000     ; move to area where can easily load filament    
        M109 S{TEMP}              ; set hotend temperature and wait    
        M83                       ; relative positioning on extruder
        G0 E-50 F1000             ; retract additional filament to move out of melt zone
        G0 E-50 F1000             ; retract additional filament to move out of melt zone
        G0 E-50 F1000             ; retract additional filament to move out of melt zone
        G0 E-50 F1000             ; retract additional filament to move out of melt zone
        G92 E0                    ; reset extruder
        M400                      ; Wait for current moves to finish
        PARK_UpperRight           ; Parks nozzle at top front-right
        M18 X Y E                 ; Disable Stepper motors
        TURN_OFF_HEATERS          ; Turn off all heaters
        M117 Finished filament unload.
		STATUS_READY              ; SB LED status
    {% endif %}
    _general_Debug msg="UNLOAD_FILAMENT- exiting"

