#.................................................................................................................
# _WAIT_Loops - No additional options 
#   Total wait minutes is (duration * count) / 60 
#   This is a non blocking wait to be used before printing starts (for example for use in heat soak)
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# [gcode_macro _WAIT_Variable]
# variable_count
# variable_duration
#.................................................................................................................
# Required external macro(s) used by this macro.
#
#  _general_Debug
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: https://github.com/rkolbi/voron2.4/blob/main/MY_V24-350/ACTIVE/MACRO-WAITING_PREPRINT_NONBLOCKING.cfg
#      
#.................................................................................................................
# MACRO-WAITING_PREPRINT_NONBLOCKING
# Total wait minutes is (duration * count) / 60 
[gcode_macro _WAIT_Loop]
gcode:
     _general_Debug msg="_WAIT_Loop - entering"
    {% set count = printer["gcode_macro _WAIT_Variable"].count|int %}
    {% set duration = printer["gcode_macro _WAIT_Variable"].duration|int %}
    UPDATE_DELAYED_GCODE ID=WAIT_Delayed DURATION={duration}
    {% if  count % 2 == 0 %}
        SET_LED LED=sb_leds INDEX=17 RED=.5 GREEN=0 BLUE=0
        SET_LED LED=sb_leds INDEX=18 RED=0 GREEN=0 BLUE=.5
      {% else %}
        SET_LED LED=sb_leds INDEX=17 RED=0 GREEN=0 BLUE=.5
        SET_LED LED=sb_leds INDEX=18 RED=.5 GREEN=0 BLUE=0
    {% endif %}
     _general_Debug msg="_WAIT_Loop - exiting"
