#.................................................................................................................
# QUERY_THERMISTOR - No additional options / Usage: QUERY_THERMISTOR
#   get resistance value from ADC for two different thermistors hooked up to the heat block
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
# ---NONE---
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# _general_Debug
#.................................................................................................................

#.................................................................................................................
#
## URL Resources: 
#      
#.................................................................................................................
[gcode_macro query_thermistors]
description: get resistance value from ADC for two different thermistors
gcode:
   _general_Debug msg="QUERY_THERMISTOR - entering"
  QUERY_ADC NAME=extruder PULLUP=4700
  QUERY_ADC NAME=z_thermal_adjust pullup=4700
  _general_Debug msg="QUERY_THERMISTOR -exiting"